[2018-04-02 16:55] nsheff opened #424 "Claim package looper"
Now that [PEP 541](https://www.python.org/dev/peps/pep-0541/#id25) has been accepted, there is a formal process for package index name reassignments. However, I couldn't find any information about where to submit these requests. I've seen lots of package-claim requests here, so I am adding this here, but if this is not the right place, can you please direct me to it?

I would like to claim the nam

[2018-04-23 16:44] aaronkaplan opened #1 "request for transfer of ownership of a pypi account/project `pycryptopan`"
As discussed in pypa/warehouse#1506 , I'd like to ask you to transfer the ownership of https://pypi.org/project/pycryptopan/ to me. As written in pypa/warehouse#1506 the co-author of the code behind pycryptopan is unfortunately deceased. I have git admin and commit privs to the underlying gitub repo (https://github.com/FFM/pycryptopan) but not access to the pypi account. Hence I can't update the p

[2019-02-01 15:18] jpscaletti opened #2 "PEP 541: Invalid package: texteditor"
I believe the https://pypi.org/project/texteditor/ is an invalid project:

- The content is a copy-pasted Python exercise with an absolute minimal setup.py, no README and a misspelled license.
- It was uploaded a year and a half ago (September 2017) and hasn't been touch since.
- The linked homepage returns a 404.
- The repo is a mix of other copy-pasted Python exercises.
- Nobody answer at the li

[2019-02-14 19:12] anadon opened #3 "Package 'grpc' is squatting and is too broken to install."
Harking back to pypa/warehouse#5196, there is a package which appears to be squatting and it too broken to install named 'grpc' registered at https://pypi.org/project/grpc/ .  It hold the name the 'grpcio' package should hold.

[2019-02-21 17:58] nsheff opened #4 "Claim package looper"
I originally made this claim request almost a year ago in pypi-legacy: https://github.com/pypa/pypi-legacy/issues/789 -- That claim was never resolved and has since been archived, and now that PEP 541 is official, I wanted to give this another try.

I would like to claim the name `looper` for my project. The current [looper package on pypi](https://pypi.python.org/pypi/looper/1.1) has only one rel

[2019-02-23 19:33] osvenskan opened #55 "Can't delete badly-versioned release"
**Describe the bug**
I'm the author & maintainer of sysv_ipc. Ten years ago I accidentally uploaded a release  that contained the description in the version field, so instead of a standard version string like this --
[code]

the version is this --
[code]

Apparently this mess I created causes problems for some automated tools and I would like to delete this one release. (The `sysv_ipc` package as

[2019-03-05 19:15] grizz opened #5 "claim package confu"
I would like to claim the project name `confu` on PyPI our package https://github.com/20c/confu.

The current package looks like an abandoned alpha and hasn't been updated in 4 years:

https://pypi.org/project/confu/
https://github.com/neithere/confu

I emailed the author @neithere about 9 months ago and still haven't heard a response.

Thanks

[2019-03-11 15:25] StephanSiemen opened #6 "Add maintainer to eccodes - maintainer not reachable PEP 541"
Hi,
The eccodes PyPi repo (https://pypi.org/project/eccodes/) is limited, out-of-date and the documentation is missing. We tried to contact user "hcsoftcn" - but there are no contact details and we failed to make contact.

ECMWF develops the ecCodes software and we maintain successfully other PyPi repos. We already receive bug/feature reports for this repo, but are not able to fix these. If we cou

[2019-03-13 22:48] chuck1 opened #7 "claim project otter (PEP 541)"
I would like to claim the project name `otter` on PyPI. My project is [here](https://github.com/otterweb/otter), I'm just starting development.

[the pypi page](https://pypi.org/project/otter/) gives 404 but I believe there is an existing project with no uploads. I am unable to upload to upload.pypi.org but I am able to upload to test.pypi.org. Similar to pypa/warehouse#5503

Thanks

[2019-03-16 18:12] nvictus opened #8 "PEP 541: transfer ownership of unmaintained `cooltools`"
We @nvictus and @golobor would like to transfer the name of the abandoned project `cooltools` to both of us.

There is no email associated with the author on the Package Index, no documentation on the Index, and the listed Home Page (GitHub repo) has either been deleted or is publicly inaccessible. The source distribution and Github account do list a single gmail address (rtansf@gmail.com). We hav

[2019-03-18 10:52] pathtofile opened #9 "Claim abandoned name: dockenv (PEP 541)"
I'd like to apply to take ownership of the project name "dockenv", for use as a different tool. Following the pep:
 - The project hasn't had an update since 2017
 - The owner left no email in any of the releases or account
 - The homepage url goes to a page that 404s
 - The owner has had no activity since 2017 on pypi
 - Download status appear to be around 44 for the last month.

The tool I mainta

[2019-03-23 23:55] Chris7 opened #10 "PEP 541: transfer ownership of name-squatting 'pyquant' package"
The existing pyquant package (https://pypi.org/project/pyquant/) is completely devoid of functionality (has no python code), nor any email to contact the existing owner. It has been like this since 2015.

I am the developer of a scientific python package named PyQuant (https://www.ncbi.nlm.nih.gov/pubmed/27231314 and https://github.com/Chris7/pyquant), I would like to distribute under `pyquant` in

[2019-03-27 10:01] sgratzl opened #11 "Claim abandoned name: slack-cleaner (PEP 541)"
I'd like to apply to take ownership of the project name "slack-cleaner" https://pypi.org/project/slack-cleaner/

## Reachability

I tried to reach the original author via email (kfei@kfei.net) twice or by filing a issue on the repos github repository (https://github.com/kfei/slack-cleaner/issues/51). However, no response to either of it.

## Abandoned projects

A project is considered abandoned wh

[2019-04-11 08:23] bpabel opened #12 "PEP 541: Transfer ownership of rocketchat package"
I've had a PEP 541 transfer request open on the old issue tracker for over a year.

https://sourceforge.net/p/pypi/support-requests/801/

I'd like to take ownership of the pypi rocketchat package

https://pypi.python.org/pypi/rocketchat/0.1

I believe this project is both abandoned and invalid. The links in the pypi project are broken, but I believe this is the project page.

github - https://gith

[2019-04-19 11:53] jynolen opened #13 "Claim of keyring-vault-backend"
Hello,

I would like to claim the following package:
https://pypi.org/project/keyring-vault-backend/

I opened a PR long time ago with no answer
I tried to contact @pschmitt by email specify in the setup.py with no success

For reference:
Owner Pypi package: keyring-vault-backend
Owner Pypi username: pschmitt
My Pypi username: jynolen

Thank you

[2019-04-25 00:26] pyfit opened #14 "PEP 541: Transfer ownership of unmaintained `pyfit`"
I am unable to reach the maintainer for PyFIT, as the email (pypi@jhrothjr.com) bounced back stating it doesn't exist. The package was last updated over 10 years ago. There does not appear to be a GitHub repository associated with the project. Therefore, it can be considered abandoned according to the guidelines. Can someone please transfer ownership to me for use in my project?

https://pypi.org/

[2019-05-19 00:03] inducer opened #15 "PEP 541: transfer ownership of unmaintained `loopy`"
Hi, I, @inducer, would like to transfer ownership of the name "loopy" to myself. The current PyPI package is a package that was first released in 2007 and had two more releases in 2009. It is an abstraction over various main loops (libevent etc). It does not declare a web page, and I was not able to locate a repo. It describes itself as "alpha", and I was not able to find evidence of further devel

[2019-05-31 14:50] Schamper opened #16 "PEP 541: Transfer ownership of unmaintained `dissect`"
I'd like to request ownership of the `dissect` package name to be transferred to the PyPI user [fox-it](https://pypi.org/user/fox-it/). I can provide proof of ownership of this user if necessary.

The last release on PyPI for `dissect` was on Jul 5, 2015, with the last activity on the GitHub repository on Mar 6, 2017. I've tried contacting the owner multiple times on various e-mail addresses and p

[2019-06-12 09:59] spacemanspiff2007 opened #17 "PEP 541: Transfer ownership of name-squatting package `easyconfig`"
I am unable to reach the maintainer for easyconfig who basically is name-squatting easyconfig.

Referencing issue https://github.com/pypa/warehouse/issues/1506

Abandonment/name-squatting criteria met:
- owner not reachable: tried to contact via pypi mail and github mail
- no releases within the past twelve months - there is only **one** release from 2014
- project's home page does not exist
- the

[2019-06-19 12:16] jktjkt opened #18 "PEP541: Transfer ownership of `gnpy` to a new maintainer"
Hi, I work for the @TelecomInfraProject organization as a maintainer of the [oopt-gnpy](https://github.com/Telecominfraproject/oopt-gnpy) software. Previously, this stuff was done by James Powell (@dutc) who also created the [`gnpy` package at pypi](https://pypi.org/project/gnpy/). James is no longer with @TelecomInfraProject, unfortunately, meaning that the maintainer address listed in PyPI's Met

[2019-06-25 19:04] ecordell opened #56 "Can't delete release named `.`"
**Describe the bug**

I have a release named `.` that I can't view or delete.

This may or may not be a dupe of pypa/pypi-support#55

**Expected behavior**

I'm not sure how it got there in the first place, but there's a release named `.` for one of my projects. I'd like to delete it but I can't. When I try to delete it, I see a 404. When I try to view it, it redirects to the project home page.

*

[2019-06-26 09:00] ulfworsoe opened #19 "PEP 541: Transfer of abandoned project Mosek to Mosek ApS"
I would like to request a transfer of the Mosek project to `https://pypi.org/user/mosek/`.

I have not found a way to contact the listed maintainer, and the project have only a single release from 2014 (which is a repackaging of the official MOSEK release from back then).

I am currently the official maintainer if the Python interface for Mosek at https://mosek.com (and at github: https://github.c

[2019-06-30 17:41] kynan opened #20 "PEP 541: transfer ownership of unmaintained `dokuwikixmlrpc`"
I would like to request transfer of ownership of the project `dokuwikixmlrpc` to myself as per pypa/warehouse#1506.

I took over maintenance of this project in 2014 and the original author / previous maintainer @chimeric transferred the GitHub repository chimeric/dokuwikixmlrpc over to me in 2016. When you follow the "Homepage" link at https://pypi.org/project/dokuwikixmlrpc/ you will be redirecte

[2019-07-05 15:51] revmischa opened #21 "PEP 541: transfer ownership of Flask-CRUD"
Module: https://pypi.org/project/Flask-Crud
Last release: 2014
Project description: UNKNOWN

I have opened a ticket on GitHub asking if I can take it over and sent an email to the author at plummer574@gmail.com

Thanks!

[2019-07-14 17:44] eric-wieser opened #22 "PEP541: Add a maintainer to `sphinxcontrib-domaintools`"
The [`sphinxcontrib-domaintools`](https://pypi.org/project/sphinxcontrib-domaintools/) package on PyPI is backed by https://github.com/sphinx-contrib/domaintools, for which @klorenz and @tk0miya have commit rights.

The package no longer works with recent python3 or pip, and while there are PRs to fix those problems, the only PyPI maintainer, @klorenz, is unfortunately not responsive. @tk0miya [po

[2019-07-29 23:36] M-J-Murray opened #43 "Increase file size limit of MAMEToolkit"
I would like to increase the size of my pypi repository from 60MB to 120MB (https://pypi.org/project/MAMEToolkit/#files). I have already filed a issue, and was told to make the relevant changes: https://github.com/pypa/warehouse/issues/6197.

I have now made the changes, so I would like to request the file size limit to be increased.

[2019-07-30 05:03] quozl opened #23 "PEP 541: transfer ownership of unmaintained 'gwebsockets' package"
I'm proposing myself as a candidate to continue maintenance on the abandoned project '[gwebsockets](https://pypi.org/project/gwebsockets/)'.  The original repository is [here](https://github.com/dnarvaez/gwebsockets).

I've tried to contact Daniel Narvaez at last known mail address for several years since 2014, but there has been no answer.

I've supervised porting of the project to Python 3 as re

[2019-08-05 17:36] gregschmit opened #24 "Claim abandoned project django-rest-scaffold"
Hi, my understanding is that if we believe that a project is abandoned by the rules of PEP 541, the current process is to post an issue here, since there is no other process at pypi.org. If that's wrong, please let me know and I'll close this.

I believe that [django-rest-scaffold](https://pypi.org/project/django-rest-scaffold/) is abandoned and I would like to use that name for a project. The pac

[2019-08-08 15:31] wyfo opened #25 "PEP 541: transfer ownership of abandonned `apischema`"
Hi,

I would like to ask for the transfer of the name `apischema`. I don't know what is this project as I can not find it on PyPi (so I'm not able to reach the owner), and it cannot be installed with Pip.

Thank you,
Joseph

[2019-08-09 06:18] myhub opened #44 "Limit Request: tr - 200MB"
Hi all
My project is tr (https://pypi.org/project/tr/)
it is a deep learning based OCR system which include many .so files and big deep learning model parameter files(for text line detection and text recognition),
I want a size around 200Mb to store so many files, Thanks

[2019-08-09 07:29] myhub opened #45 "libtorch limit increase request"
Hi all
My project depends on pytorch C++ so file,
I tried some ways to reduce the size needed by cut my project to several small sub-project

But one pytorch .so file is more than 200MB, and is more than 60MB after compress.
Although it is possible to cut one .so file into parts, and then join parts of the .so file to the original,
But this will be cause many trouble

So I need increase the space

[2019-08-12 02:02] verhovsky opened #26 "PEP 541: transfer ownership of unmaintained `PyTeaser` package"
I tried emailing @xiaoxu193 back in January (7 months ago) and got no response. My Python 3 support pull request has been open since that time as well and there's no activity on Github. Last release on PyPI was in 2015.

I'd like to take over maintenance of this package.

[2019-08-14 22:20] gogasca opened #46 "Limit Request: tensorflow-gcp - 200MB"
**What's the problem this feature will solve?**
[code]

**Describe the solution you'd like**
We need the limit to be increased to 200 MB

[code]

Projects:

[code]

[2019-08-15 17:13] tallero opened #27 "PEP 541: transfer ownership of unmaintained `phantomjs-binary` package"
Hi, my understanding is that if we believe that a project is abandoned by the rules of PEP 541, the current process is to post an issue here, since there is no other process at pypi.org. If that's wrong, please let me know and I'll close this.

The package has a merge request to fix linux executable since april

https://github.com/jayjiahua/phantomjs-bin-pip/pull/2

[2019-08-23 16:54] jmunroe opened #58 "Manage account: change of email to user jmunroe"
I have an account "jmunroe" that is associated with the now non-existent email address "jmunroe@ualberta.ca". Could the email be changed to "jmunroe@mun.ca" so that I can reset the password and regain access to this account? Thank you.

[2019-09-02 18:30] feastFounder opened #57 "Can't access https://pypi.org on windows 10 pc"
## My Platform

## Network telemetry
Sorry, but I am not sure what info to put here.  The issue remains whether I attempt via wifi or ethernet, but I don't think that is what this is asking about.

### DNS Resolution

2601:240:4b00:3046:5aef:68ff:febf:423c

[code]

[code]

[code]

[code]

### Traceroutes

#### IPv4

[code]

[code]

#### IPv6 (If available)

[code]

[code]

### HTTPS Requests

####

[2019-09-07 08:57] felix-hilden opened #28 "PEP 541: transfer ownership of unmaintained `spotipy` package"
### Request
I'd like to transfer the ownership of the abandoned `spotipy` package ([PyPI package](https://pypi.org/project/spotipy/) and [GitHub repository](https://github.com/plamere/spotipy)) to myself ([PyPI account](https://pypi.org/user/felix-hilden/) and [GitHub repository](https://github.com/felix-hilden/spotipy)).

### Rationale
#### The package is abandoned
There is no description on the

[2019-09-13 05:41] slurps-mad-rips opened #29 "PEP 541: transfer, release, or claim project 'dirs'"
Hi!

Seems I'm not the only one to run into this.  pypa/pypi-support#7 and pypa/warehouse#5503 had the same issue. I was able to successfully upload my project [`dirs`][1] to TestPyPI. I had selected the name based on it returning a 404 on PyPI proper. Turns out there must have been a project with that name in the past, as I can't upload my initial release.

This also blocks me from uploading a fe

[2019-09-14 15:51] castleguarders opened #47 "Limit Request: CamAi - 500MB"
Hi. I'm requesting a size limit increase of the PyPI package CamAi's wheels to 300MiB. The most trimmed down version stands at 260MiB right now, and once a few features are enabled in the near future, it will go to 450MB. Ideally it would be good to have the limit at 500MiB to avoid another request in the next few months.

The CamAi package uses deep learned models to do security and event monitor

[2019-09-16 20:46] schelleg opened #30 "PEP 541: transfer ownership of unmaintained `pynq` package"
### Request

I'd like to transfer the ownership of the abandoned `pynq` package ([PyPI](https://pypi.org/project/pynq/)) to myself ([PyPI account](https://pypi.org/user/schelleg/) and [GitHub repository](https://github.com/Xilinx/PYNQ)).  The last release of the current PYPI project was 10 years ago in 2009.  The current PYPI pynq-package's [project homepage](http://www.pynq.org/) is now owned by

[2019-09-18 21:52] verhovsky opened #31 "PEP 541: transfer "PIL" to "Pillow" maintainers"
[Pillow](https://pypi.org/project/Pillow/) is a fork of the Python Imaging Library, [PIL](https://pypi.org/project/PIL/).

Pillow is installed as `pip install pillow` but imported as `from PIL import Image`. This mismatch causes confusion for users, [this Stack Overflow question](https://stackoverflow.com/questions/8863917/importerror-no-module-named-pil) and [this Stack Overflow question](https:/

[2019-09-23 03:57] njsmith opened #32 "PEP 541: requesting transfer of namesquatted package "hip""
I'd like to request that the `hip` project on PyPI be transferred to PyPI user `njs`.

The `hip` project was registered in 2013 by user "jgors", and has never had a release or any description: https://pypi.org/project/hip/

According to PEP 541, this is "name squatting", and automatically eligible for a transfer. In addition, I've tried to contact jgors via their gmail address on 2019-09-07 and 20

[2019-09-23 20:57] bconstanzo opened #33 "PEP 541: requesting transfer of namesquatted package "phantom""
I'd like to request that the phantom project on PyPI be transferred to PyPI user bconstanzo.

The phantom project was registered in 9 Sep 2019 by user "eaybek ", along with other ~30 projects that are namesquatting. In particular, I was waiting to upload to PyPI my own phantom project, and I found today that 14 days ago the name was taken and the repo it links to is barely a skeleton of a project

[2019-09-28 05:11] Miserlou opened #34 "PEP541: Squatter on `fashion`"
Hey all!

I'd like to use the package name 'fashion' for a new FaaS library I'm working on, but it looks like it is squatted (registered by a user who's email doesn't work, no other packages, no code submitted), can you please make it available so that I can register a package there?

This is my PyPI: https://pypi.org/user/miserlou/
This is the name I'd like to use: https://pypi.org/project/fashio

[2019-09-30 17:24] isidentical opened #35 "PEP541: Empty and inactive package `it`"
I'd like to take ownership over the PyPI project name `it` so that i can publish my [`IT`](https://github.com/thg-consulting/inspectortiger) (InspectorTiger) project under that name. It is inactive for years and there is no given homepage / github repo.

I believe this falls under the "Invalid project" case described in PEP541.
![image](https://user-images.githubusercontent.com/47358913/65901034-f

[2019-09-30 18:58] stevennic opened #36 "PEP541: Whoosh transfer to whoosh-community/whoosh"
Hello,

As documented in [Whoosh pypa/warehouse#544](https://github.com/whoosh-community/whoosh/issues/544), the original author of Whoosh, @mchaput, appears to have abandoned the project.

1. The last PyPI release was in [April 2016](https://pypi.org/project/Whoosh/#history).
1. Last commit by @mchaput on his [Github repo](https://github.com/mchaput/whoosh/commits/master) was in 2015.
1. Last edi

[2019-10-02 19:11] iotamudelta opened #48 "Limit Request: torch-rocm - 300MB"
In order to publish the ROCm-enabled PyTorch wheel, we need a file size limit bump (current wheel size is 231 MB, so 300 MB would be good. ROCm is AMD's open source heterogeneous computing stack.

Link to project: [PyTorch for ROCm](https://github.com/ROCmSoftwarePlatform/pytorch)

This request would apply to both testpypi and regular pypi.

No prior upload of the wheel.

Thanks!

[2019-10-03 15:26] AnalogJ opened #63 "Transfer ownership of `pip-analogj-test` test.pypi.org project to AnalogJ"
Hi,
I'm testing package uploading to test.pypi.org using [pip-analogj-test](https://test.pypi.org/project/pip-analogj-test/) and it looks like I have previously created that project with another email address. When I attempted to reset the password for that email, test.pypi.org told me that the user or email address was not found.

Can you help me get that package transferred to the AnalogJ user o

[2019-10-03 22:59] parallelo opened #49 "Limit Request: tensorflow-rocm-enhanced - 200MB"
Hi,

We would like to host the ROCm-enhanced version of TensorFlow on PyPI.

However, we hit the 60MB limit when trying to upload to test.pypi.org. In the meantime, we have created placeholder 0.0.1-versioned projects for tensorflow-rocm-enhanced on both Test PyPI and PyPI.

Details:

- Project name: tensorflow-rocm-enhanced
- PyPI links:
   - https://pypi.org/project/tensorflow-rocm-enhanced
   -

[2019-10-04 22:23] szha opened #50 "Limit Request: mxnet-* - 800MB"
The name of the project: mxnet, mxnet-mkl, mxnet-cu92, mxnet-cu92mkl, mxnet-cu101, mxnet-cu101mkl, mxnet-cu102, mxnet-cu102mkl
The size of your release, in megabytes: 800mb
Which index/indexes you need the increase for (PyPI, Test PyPI, or both): both

Please help me increase the upload limit, thank you!

[2019-10-05 19:37] sjskdas opened #51 "Limit Request: aText - 300MB"
https://pypi.org/project/atext

It needs to be extended to 300MB because I'm uploading a jar file on which I have developed a python wrapper. Thanks, Subrata

[2019-10-06 03:10] david-waterworth opened #37 "PEP541: Copy of official repo"
Does PEP541 cover the case where a fork is taken of a project and then published to pypi with a different name but not additional contributions?

i.e. https://github.com/prateek3211/statsmodels is a fork from https://github.com/statsmodels/statsmodels, user prateek3211 has made no changes other than modifying the setup.py to change the url and maintainer and then published to pypi as 'statsmodels_

[2019-10-07 11:29] lnielsen opened #59 "No "Destroy documentation" button"
I'm the maintainer of the pypi project https://pypi.org/project/invenio/. We have some very outdated documentation on https://pythonhosted.org/invenio/ that we would like to remove (because our users, unfortunately, finds it via Google insted of updated version on https://invenio.readthedocs.io/en/latest/).

Similar to [#5641](https://github.com/pypa/warehouse/issues/5641#issuecomment-478095714),

[2019-10-07 12:04] stnava opened #52 "Limit Request: ANTsPy - 300MB"
Hi -

https://github.com/ANTsX/ANTsPy this project uses a bunch of templated C++ to generate 2, 3 and 4-dimensional processing routines for medical imaging and related types of data.   it wraps the (large) C++ project https://github.com/ANTsX/ANTs using pybind11.   As such, the project installation files are rather large:

* OSX 10.14.5    -  224M for *tar.gz  and 219M for *whl
* Ubuntu 18.04 -  2

[2019-10-07 20:12] felipesanches opened #53 "Limit Request: opentype-sanitizer - 72.7MB"
* link to project on pypi: https://pypi.org/project/opentype-sanitizer/
* size of v8.0.0 release: 72.7M
* index we need the increase for: PyPI

## Brief description of the project, including the reason for the additional size

Python wheels for the OpenType Sanitizer

This creates a python package including a binary build of the Opentype Sanitizer (which is written in C) directly from its upstream

[2019-10-17 15:03] Marco-Sulla opened #38 "Request for maintainership of `frozendict` package"
Hello. I contacted the original author of `frozendict`, @slezica. He said to me there's no problem to transfer to me the ownership of the project. What we have to do?

[2019-10-17 17:56] thatch45 opened #39 "PEP541: Squatter on `idem`"
I have a project called `idem` that I would like to upload to pypi but the name is being squatted - https://pypi.org/project/idem/ .

The current owner has not published any code and has no contact information. Can I please take over ownership of the `idem` name on pypi as user `thatch45`?

Thank you all again for your work!

[2019-10-18 23:12] jojonas opened #40 "PEP 541: Transfer of ownership of namesquatted package "age""
Hello,

I would like to request that the `age` project (https://pypi.org/project/age/) on PyPI is transferred to PyPI user `jojonas` (me).

The `age` project on PyPI has been registered (and released once) in May 2015. This one existing release with version number 0.0 seems to be empty. There has not been any activity afterwards.
Furthermore, I could not find any contact details for current owner

[2019-10-21 14:34] rscottbailey opened #41 "PEP541: squatter on `dryice`"
I have a project called dryice that I would like to upload to pypi but the name is being squatted - https://pypi.org/project/dryice/ .

The current owner has not published any code and has no contact information. Can I please take over ownership of the dryice name on pypi as user rscottbailey?

Thank you all again for your work!

[2019-10-22 09:30] yguenduez opened #42 "PEP541: Take ownership of abandoned package `nxlib`"
I have a project called nxlib that I would like to upload to PyPi. But another [project](https://pypi.org/project/nxlib/) with the same name does already exist and is abandoned (after PEP541) and the owner is not contactable.

I tried contacting the owner, but his mail does not exist anymore.
So I would like to take over ownership of the nxlib name, if that is possible? My PyPi user name is ensens

[2019-10-25 14:42] belovrv opened #54 "Limit Request: kotlin-jupiter-kernel - 100MB"
link: https://test.pypi.org/project/kotlin-jupiter-kernel/0.6.0/
size: 100 Mb
both: PyPI and Test PyPI
It's Kotlin Jupiter Kernel and it bundles the whole kotlin compiler obviously. Please increase the upload limit

[2019-10-25 20:53] di commented on #57
Hi @feastFounder, are you still having this issue?

[2019-10-25 20:56] di commented on #58
Hi @jmunroe, sorry for the delay. Do you have any way to verify that you're the original owner of this account or of the `igwtools` project?

[2019-10-25 20:57] di commented on #59
Assigning to @ewdurbin for the manual step here.

[2019-10-25 21:12] osvenskan commented on #55
If I can help (other than "don't do this again!"), please LMK.

[2019-10-25 22:20] jmunroe commented on #58
Hi @di . This igwtools package was written by me during my time as a PhD student at University of Alberta (my PhD thesis: https://era.library.ualberta.ca/items/ed6eceed-20ec-47a2-af5c-67e459c7281c ).  The software was developed 2006-2008 to analyze "internal gravity waves" for my PhD work.  I moved to Memorial University of Newfoundland ( faculty web page: https://www.mun.ca/physics/our_people/fac

[2019-10-25 22:55] feastFounder commented on #57
Sorry.  My issue was resolved and like a jerk, I forgot to go back and
close my request.  It ended up being a Microsoft driver issue.  Took
several days and hours of tedious work to figure things out.  I will log
back in tomorrow and try to fill in what worked.

Sorry again.  I didn't want to be that guy.

On Fri, Oct 25, 2019, 3:53 PM Dustin Ingram <notifications@github.com>
wrote:

[2019-10-26 22:40] felix-hilden commented on #28
Thanks a bunch, @di! Is there anything you need from me during the process?

[2019-10-27 02:04] evilmrhenry opened #61 "Need manual password/email reset"
I no longer have access to my PyPI account, and need a manual fix.
Username: evilmrhenry
PyPI email evilmrhenry@emhsoft.net

I no longer have access to the email address on file. New email address is the same, but at emhsoft.com instead.

Let me know what proof you need; a quick look at those two websites should make things obvious, though.

[2019-10-27 10:44] yeraydiazdiaz commented on #3
Hi @anadon, as @jamadden mentions the `grpc` is still being actively installed from pip, 7.5K installs in the last 31 days, and the package is in fact installable in Python 2.7 and there's a non trivial amount of code so it's perfectly possible these are legitimate users of the package.

That being said you are right in pointing out it's confusing for users trying to install GRPC but if the packag

[2019-10-27 11:06] yeraydiazdiaz commented on #4
Hello @nsheff, I've emailed @CryptoPunk regarding this issue, hopefully he will answer soon and we can move forwards with your claim.

Thank you for your patience.

[2019-10-27 11:13] yeraydiazdiaz commented on #5
Hello @grizz, I've emailed @neithere in order to clarify his position regarding the package. Hopefully we will hear from him soon and move forward with your claim.

[2019-10-27 11:30] yeraydiazdiaz commented on #6
Hello @StephanSiemen, I've emailed PyPI user `hcsoftcn` to clarify the situation. Hopefully we will get an answer soon and move forwards with your claim.

[2019-10-27 11:33] yeraydiazdiaz commented on #7
Hello @chuck1, I can confirm the `otter` project in PyPI has no releases and can therefore be considered name squatting.

Could you confirm your PyPI username, please?

[2019-10-27 11:38] yeraydiazdiaz commented on #8
Given the lack of response from @rtansf I've contacted an admin to perform this transfer ourselves.

[2019-10-27 11:52] yeraydiazdiaz commented on #10
Hi @Chris7, I can confirm the `pyquant` project has no valid releases and is therefore considered to be name squatting. I've contacted an admin to proceed with the transfer of ownership to you.

[2019-10-27 13:24] jamadden commented on #38
Great! If @slezica is also [the owner](https://pypi.org/user/slezica/) of the [frozendict](https://pypi.org/project/frozendict/) project on PyPI, then the preferred action would be for @slezica to login to PyPI and directly add your own PyPI account as a new owner on the project. You could then remove the existing owner, or you could continue to share ownership. There's nothing for pypi-support to

[2019-10-27 13:36] jamadden commented on #31
I've attempted more contacts, most recently when the address for this issue was updated. I've yet to receive a response.

(Cross-linking back to the pillow issue where the pillow maintainers indicated they would be interested: https://github.com/python-pillow/Pillow/issues/1535#issuecomment-535548342)

[2019-10-27 23:41] Chris7 commented on #10
Thank you very much!

[2019-10-28 02:24] myhub commented on #44
@jamadden I have some trouble to make tr many-linux compatible because I use libtorch which is not many-linux compatible. But I now make tr run on windows https://github.com/myhub/tr/tree/windows

[2019-10-28 14:19] ewdurbin commented on #8
transfer complete.

[2019-10-28 14:19] #8 closed

[2019-10-28 14:20] ewdurbin commented on #10
transfer complete.

[2019-10-28 14:20] #10 closed

[2019-10-28 14:26] nvictus commented on #8
@jamadden @yeraydiazdiaz @ewdurbin Thank you!!!

[2019-10-28 14:37] ewdurbin commented on #59
I've confirmed that the project `invenio` does not have a "has_docs" flag set as expected in the database, though it's not clear why. The documentation for this project has been removed manually.

[2019-10-28 14:37] #59 closed

[2019-10-28 14:42] ewdurbin commented on #56
release removed.

[2019-10-28 14:42] #56 closed

[2019-10-28 14:45] ewdurbin commented on #55
completed.

[2019-10-28 14:45] #55 closed

[2019-10-28 16:15] di commented on #63
Done!

[2019-10-28 16:15] #63 closed

[2019-10-28 19:33] yeraydiazdiaz commented on #9
Hello @pathtofile, I'm closing this issue since [`dockenv` has a recent release](https://pypi.org/project/dockenv/#history) and we can see recent activity from its owner.

As mentioned by @njsmith I suggest finding another name for your project.

Good luck.

[2019-10-28 19:33] #9 closed

[2019-10-28 19:59] chuck1 commented on #7
My PyPI username is chuck

On Sun, Oct 27, 2019, 04:33 Yeray Diaz Diaz <notifications@github.com>
wrote:

[2019-10-29 00:25] osvenskan commented on #55
Thank you so much @ewdurbin!

[2019-10-29 14:03] carmenbianca opened #64 "PEP 541: Transfer ownership of unused `reuse`"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/reuse

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/carmenbianca

**Reasons for the request**

The `reuse` package is not used by anybody at all, but I am unable to use the package namespace myself:

[code]

I use [fsfe-reuse](https://pypi.org/project/fsfe-reuse) instead, but I'd ideally be able to use `reuse`.

**Co

[2019-10-30 02:32] RivinduM opened #65 "Limit Request: adl-recognition - 120MB"
Hi,

adl-recognition is a python package which can recognize activities of daily living using depth and audio data. This package includes a couple of machine learning models which cause to exceed the current upload file size limit of 60 MB. The current compressed packages are about 120 MB. Is it possible to increase the limit for the adl-recognition to 120MB in both PyPI, Test PyPI indexes?

Follo

[2019-10-31 23:13] lidizheng commented on #3
@yeraydiazdiaz From the `grpcio` maintainer's view, we concerned about the misleading `grpc` package for a while. We would be appreciated, and less users would got confused, if we can take ownership of that name :)

[2019-11-02 15:34] lintool opened #72 "Limit Request: pyserini - 150MB"
Per [How do I get a file size limit exemption or increase for my project?](https://pypi.org/help/#file-size-limit)

I am filing a size limit increase request for both: [PyPI pyserini](https://pypi.org/project/pyserini/) and [Test PyPI pyserini](https://test.pypi.org/project/pyserini/).

Rationale is that my package needs to include Java (fat) jar dependencies, which currently total ~100 MB. A limi

[2019-11-04 10:59] MRXLT opened #66 "Limit Request: bert-serving - 300MB"
Project link: https://pypi.org/project/bert-serving/
We need 300M for this project in both PypPI& Test PyPI
This project will provide the service of remotely calling the bert model for semantic understanding, but the exe is too large to upload the whole whl

[2019-11-04 14:44] pidugusundeep opened #67 "Recover account: sundeep55555"
It has been a long time since I logged in with my account, I lost my access to the 'Google authenticator' app. Please help me recover my account.

[2019-11-04 18:34] ewdurbin commented on #67
Account recovery has been completed.

[2019-11-04 18:34] #67 closed

[2019-11-05 02:16] David-OConnor opened #68 "PEP 541 Request: pyflow"
**Project to be claimed**

`PyFlow`: https://pypi.org/project/PyFlow/

**Your PyPI username**

`DavidOConnor`: https://pypi.org/user/DavidOConnor/

**Reasons for the request**

Project has had no activity since 2008.

**Contact and additional research**

I've contacted the original author, Scott Graham @sgraham, who is Ok with this.

[2019-11-05 19:32] di commented on #68
@sgraham, can you confirm?

[2019-11-05 19:35] sgraham commented on #68
Yup, that's fine.

I see on https://libraries.io/pypi/PyFlow there's one dependent repo, so if there's some easy way to rename my PyFlow to something else that might be nice, but if not, not a big deal.

[2019-11-06 17:46] dbakshee opened #69 "Limit Request: catboost, catboost-dev - 80MB"
**Please increase the file size limit from 60MB to 80MB.**

For project [catboost-dev](https://pypi.org/project/catboost-dev) we have hit the size limit in a recent upload, and I suspect we'll hit it for the production project [catboost](https://pypi.org/project/catboost) in a coming release.

Typical size of catboost release is about 550MB, Release contains whl files for 3 OSes times python versi

[2019-11-06 19:25] klorenz commented on #22
Hi Eric, Just reviewed my mails. What can I do to help you resolving this
issue. I do not have the time to take care for the package on s regular
base.

Best regards, Kiwi

Eric Wieser <notifications@github.com> schrieb am Fr., 25. Okt. 2019, 22:38:

[2019-11-06 21:39] jamadden commented on #22
Hi @klorenz,

If @tk0miya provides you with their PyPI username, you could add that account as an additional maintainer for the sphinxcontrib-domaintools project by logging into pypi.org.

[2019-11-07 09:47] dbakshee commented on #69
Hi @di, as an update to the ticket, catboost team asks for a more generous file size limit and possibly no limit at all. Thanks,
Dima.

[2019-11-07 12:38] ewdurbin commented on #61
@evilmrhenry as both releases for the only project associated with your account (Endgame-Singularity) have URLs pointing to emhsoft.com, I've added evilmrhenry@emhsoft.com as an address on your account. You can now proceed with a password reset to regain access.

[2019-11-07 12:38] #61 closed

[2019-11-07 12:45] beng-toast opened #70 "Manual Reset of 2FA"
username: beng
email: ben.gordon@toasttab.com

Request: a reset of the 2FA for the above account info.
Reason: Upgraded iPhone and GA (Google Authenticator) lost my key

This it the primary account where we will be publishing our open source python artifacts, and we need to add documentation and github links.

[2019-11-07 12:47] ewdurbin commented on #58
@jmunroe thank you for those references. I've added your requested email address to the account, and you can now complete a password reset to regain access.

[2019-11-07 12:47] #58 closed

[2019-11-07 13:47] tk0miya commented on #22
Hi @klorenz , this is my account: https://pypi.org/user/tk0miya/
Could you add me to co-maintainer list?
Thanks,

[2019-11-07 17:55] sunway513 commented on #49
Hi @di , gentle ping -- any updates?

[2019-11-07 19:28] apeforest commented on #50
Would it be possible to have an ETA for this request?

[2019-11-08 06:19] MRXLT commented on #66
This project will be a subproject of paddle serving, which is flexible, high-performance serving system for machine learning models using paddlepaddle.
github link for paddlepadlle & paddle serving
https://github.com/PaddlePaddle/Serving
https://github.com/PaddlePaddle/Paddle

[2019-11-08 11:11] klorenz commented on #22
Hi Takeshi,

I have added you.

Best regards,

Kiwi

Takeshi KOMIYA <notifications@github.com> schrieb am Do., 7. Nov. 2019,
14:47:

[2019-11-08 20:45] zacchiro opened #71 "Limit Request: swh.graph - 100MB"
Heya, the [swh.graph PyPI package](https://pypi.org/project/swh.graph/) includes a front-end for the [WebGraph framework](http://webgraph.di.unimi.it/), which is developed in Java and accessed via Py4J (also available via PyPI). A so-called "fat JAR" with all Java dependencies is included to make deployment possible with a simple "pip install" and currently weights ~100 MB.

Would it be possible t

[2019-11-09 10:48] yeraydiazdiaz commented on #11
Hello @sgratzl thanks for the detailed report. I have emailed @kfei myself as a moderator. Hopefully we will hear back soon and move your request forward.

[2019-11-09 10:55] yeraydiazdiaz commented on #12
Hello @bpabel, I've emailed @SKantar and asked him to clarify his position in regards to this package. Hopefully we'll hear back soon and proceed with your request.

[2019-11-09 10:59] yeraydiazdiaz commented on #13
I'm closing this issue since the author has requested changes to [the mentioned PR](https://github.com/pschmitt/keyring-vault-backend/pull/5) and got no reply. Nothing suggests this project is not being actively maintained.

[2019-11-09 10:59] #13 closed

[2019-11-09 11:01] yeraydiazdiaz commented on #14
@pyfit are you still interested in moving forward with this request?

[2019-11-09 11:16] yeraydiazdiaz commented on #15
Hello @inducer, I've emailed the author myself and hopefully we will hear back soon.

I've found someone on GitHub under the same name I'll temptatively tag @arielmakestuff. Apologies if you have no relation to this PyPI project.

[2019-11-09 11:40] yeraydiazdiaz commented on #17
Hello @spacemanspiff2007, I can confirm the project has no functionality and therefore is name-squatting. I've asked an admin to proceed with the transfer.

[2019-11-09 11:41] yeraydiazdiaz commented on #7
Thanks, I've contacted an admin to proceed with the transfer.

[2019-11-09 11:44] yeraydiazdiaz commented on #18
Hello @jktjkt, we would need confirmation from @dutc to proceed with the transfer. Replying to this issue is enough.

[2019-11-09 17:08] spacemanspiff2007 commented on #17
Thank you very much for your time and effort!

[2019-11-09 19:33] inducer commented on #15
Thanks! Please let me know if I can help somehow.

[2019-11-09 22:02] ewdurbin commented on #17
transfer complete.

[2019-11-09 22:02] #17 closed

[2019-11-09 22:03] ewdurbin commented on #7
transfer complete.

[2019-11-09 22:03] #7 closed

[2019-11-10 15:52] jamadden commented on #22
This seems to be resolved so I'm closing the issue.

[2019-11-10 15:52] #22 closed

[2019-11-13 11:52] annaveronika commented on #69
Hi @di, could you please increase the limit? We want to publish the next release of CatBoost, and are blocked by this issue.

[2019-11-13 16:19] di commented on #43
Closing due to inactivity.

[2019-11-13 16:19] #43 closed

[2019-11-13 16:20] di commented on #44
Hi @myhub, do you still need the limit increase, or can this issue be closed?

[2019-11-13 16:21] di commented on #45
Closing due to inactivity.

[2019-11-13 16:21] #45 closed

[2019-11-13 16:43] di commented on #53
I've set the upload limit for `opentype-sanitizer` to 100 MB on PyPI.

[2019-11-13 16:43] #53 closed

[2019-11-13 16:44] di commented on #54
I've set the upload limit for `kotlin-jupiter-kernel` to 100 MB on TestPyPI. The project doesn't exist on PyPI, you'll need to create a project there before I can increase the limit.

[2019-11-13 16:47] di commented on #69
I've set the upload limit for `catboost` and `catboost-dev` to 100 MB on PyPI and TestPyPI.

As a warning: it looks like you're making nightly releases of `catboost-dev`. This is fine for now, but we'd be unlikely to increase the limit much more for this project due to the frequency of releases.

[2019-11-13 16:47] #69 closed

[2019-11-13 16:48] di commented on #69
(Sorry, just on PyPI)

[2019-11-13 16:49] di commented on #71
I've set the upload limit for `swh.graph` to 100 MB on PyPI.

This project does not exist on TestPyPI, you'll need to create it there before I can increase the limit.

[2019-11-13 16:49] #71 closed

[2019-11-13 16:50] #54 closed

[2019-11-13 16:51] dbakshee commented on #69
Thank you very much, this helped us a lot.

[2019-11-13 16:57] zacchiro commented on #71
On Wed, Nov 13, 2019 at 08:49:44AM -0800, Dustin Ingram wrote:

Thanks a lot !

[2019-11-13 16:58] di commented on #69
Actually, looking at https://pypi.org/stats/, the `catboost-dev` project is the 7th largest project on PyPI by total file size, with 149.5 GB in release files. Please consider switching to a less frequent release cycle for this project if possible.

[2019-11-13 17:03] di commented on #50
Hi folks, this is a really big ask. The mxnet-* projects already represent a huge portion of PyPI's total size on disk and in terms of bandwidth. Per https://pypi.org/stats/, the mxnet-* projects total more than 1.5TB of PyPI's 6.5TB total size.

Is there anything that can be done to reduce either the size of these releases, or the frequency of them?

[2019-11-13 17:05] dbakshee commented on #69
Temporarily switched catboost_dev to once a week. Perhaps we'll move it to testpypi.

[2019-11-13 17:59] di commented on #69
We have a long-term plan to shut down TestPyPI (https://github.com/pypa/warehouse/issues/726, https://github.com/pypa/warehouse/issues/918) so it probably makes the most sense to leave it on PyPI and keep the weekly cadence. (It's roughly the same cost to us regardless of where it's uploaded).

[2019-11-13 23:07] myhub commented on #44
Yes, I want a limit increase to 200MB.

[2019-11-14 11:49] hallazzang opened #73 "Change username"
My current username is [**HallaZzang**](https://pypi.org/user/HallaZzang/).
I'd like to change my username to **hallazzang**(all lowercase letters).
Is it possible?

[2019-11-14 13:43] revmischa commented on #21
What condition needs to be met to continue the process here?

[2019-11-14 13:51] szha commented on #50
We have done a couple of things so far:
- we cleaned up the nightly release artifacts and kept one artifact per week for artifacts with longer age.
- we discontinued the versions for older cuda variants such as cuda 7.5, cuda 8.0.
- we started exploring binary compression with upx.

We plan to:
- clean up all nightly builds for discontinued packages and keep only the release versions.
- discuss in

[2019-11-14 14:06] jamadden commented on #21
I've attempted another contact using the verified PyPI email address for the owner; that account has recently been active. There's also very recent GitHub activity for that account and I've attempted contact that way. I don't have any records of previous contact attempts by PyPI moderators so in a strict interpretation of PEP 541 I'm afraid this would start the reachability countdown.

[2019-11-14 14:34] jamadden commented on #21
The owner has responded in plumdog/flask_crud#2. That means this project meets the PEP 541 definition of an *active* project (nor is it an *invalid* project). The owner indicated unwillingness to transfer the name, and the PEP [specifically removes PyPI from conflict arbitration for active projects](https://www.python.org/dev/peps/pep-0541/#name-conflict-resolution-for-active-projects), so I don't

[2019-11-14 14:34] #21 closed

[2019-11-15 08:34] dschaller opened #74 "PEP 541: Transfer ownership of unmaintained `rip`"
**Project to be claimed**

`rip`: https://pypi.org/project/rip

**Your PyPI username**

`dschaller`: https://pypi.org/user/dschaller

**Reasons for the request**

This package has been abandoned. It has only had a single release 5 years ago and the source code for the project is no longer maintained as the last commit was over 2 years ago.

**Contact and additional research**

I contacted the proj

[2019-11-15 12:36] jamadden commented on #74
We do not have a verified email address for the project owner, https://pypi.org/user/Girish.Redekar/, but we do have an address on file. It differs from the one listed at https://pypi.org/project/rip. I've emailed them both.

I've also opened https://github.com/Aplopio/django_rip/issues/54 (note that the PyPI page links to  https://github.com/Aplopio/rip but that redirects to  https://github.com/A

[2019-11-15 15:22] jamadden commented on #74
I received a response from the email address published on the PyPI page:

[2019-11-15 16:12] WGH- opened #75 "Path MTU Discovery is broken on pypi.python.org"
Consider your host is connected through a network with reduced MTU, e.g. `HOST <--1500--> ROUTER_A <--1000--> ROUTER_B <--1500--> INTERNET`.
Your host will connect advertising MSS as if MTU was 1500. However, when the remote hosts send large TCP segments, the router on the "MTU boundary" will reply with ICMP Destination Unreachable message with proper MTU attached, and the remote host will resend

[2019-11-15 16:29] WGH- commented on #75
It seems that broken PMTUD is relatively common on the global internet, and the workaround for the "criminally braindead ISPs or servers" (quoting `man iptables-extensions`) is to fix value MSS on router. The hack is known under names `mssfix`, `-j TCPMSS --clamp-mss-to-pmtu`.

[2019-11-15 17:38] dschaller commented on #74
Thanks for looking into this @jamadden! Let me know if I can help.

[2019-11-16 03:57] jamadden commented on #74
After a series of inexplicably private emails, it appears that @dschaller has been named an owner of this project.

[2019-11-16 03:57] #74 closed

[2019-11-16 13:36] gpotter2 opened #77 "PEP 541: Transfer ownership of scapy-python3"
**Project to be claimed**
`PROJECT_NAME`: https://pypi.org/project/scapy-python3/

**Your PyPI username**
`USER_NAME`: https://pypi.org/user/gpotter2/

**Reasons for the request**
- **Reachability:** The maintainer is not reachable: email is invalid (see **Contact and additional research**)
- **Abandoned project:**
  - owner not reachable (see below)
  - no releases within the past twelve months (

[2019-11-16 14:09] Kieran-Bacon opened #78 "PEP 541: Request of package name 'better'"
**Project**
`PROJECT_NAME`: https://pypi.org/project/better/
Github: https://github.com/CodyKochmann/better

**Username**
`USER_NAME`: https://pypi.org/user/Kieran-Bacon/

**Reasons for the request**
I believe that the project has been abandoned as no new commits have been made to the package in over 2 years. The package name doesn't property reflex its contents and it doesn't seem to be set up to

[2019-11-16 14:20] jamadden commented on #77
If the name is transferred, what do you intend to do with it?

We have a verified email address on file for the project owner and I've sent an email to it.

[2019-11-16 14:27] jamadden commented on #78
Could you please provide the repository for your replacement project?

We have a verified email on file for the pypi user which matches the email address on the github profile. I've sent an email.

[2019-11-16 15:50] phaethon commented on #77
Well, I have blocked gpotter2 on github, thus it creates problems for him to reach me, but those reachability problems are unique to gpotter2 and he knows why I blocked him.
The way package is organized at this point was agreed with initial author of scapy (Philippe Biondi). It is not just a dummy, but it explains to users 2 options that exist to use scapy (or I should say scapy-like as kamene is

[2019-11-16 15:55] CodyKochmann commented on #78
Hi. I apologize for not seeing the email you sent. I normally just keep an eye on the issues of all of my projects for stuff like this.

I dooo believe if this project's maintenance was a concern, it should have been raised in an issue. Other than the negative feedback I've gotten from many for even letting this repo exist, the only reason why I haven't committed to it is because helpful code snip

[2019-11-16 17:42] jamadden commented on #77
Thanks for the reply. I don't see anything more for pypi-support to do here.

[2019-11-16 17:42] #77 closed

[2019-11-16 17:44] jamadden commented on #78
Thanks for the reply. Since contact has been made, I don't see anything more for pypi-support to do here.

[2019-11-16 17:44] #78 closed

[2019-11-16 18:02] gpotter2 commented on #77
Thanks for the reply & sorry for the note.
@phaethon is there a way we could discuss this ?

[2019-11-17 00:00] gregschmit commented on #24
Any update on this?

[2019-11-17 06:55] tk0miya commented on #22
@klorenz @eric-wieser  Confirmed. Thank you for your time. I'll try to keep it maintained as possible.
@jamadden Thank you for support!

Thank you all!

[2019-11-18 13:13] iMitro opened #79 "Manual Reset of 2FA"
Hi,
username: iMitro
email: mitro20@hotmail.com

Request: a reset of the 2FA for the above account info.
Reason: I lost my keys because I handed over the phone for repair

I used test.pypi.org for my project.

[2019-11-19 05:01] Ben-Epstein opened #104 "PyPI package size limit for splice-beakerx (150MB)"
Hello,

I'm requesting a size increase for splice-beakerx
https://pypi.org/project/splice-beakerx/
https://test.pypi.org/project/splice-beakerx/

The file size is about 112MB, so 150MB or 200MB should do.

Thank you!

[2019-11-19 08:56] David-OConnor commented on #68
@di Any words on this?

[2019-11-19 13:51] jamadden commented on #68
@David-OConnor The best way forward would be for @sgraham to complete the transfer if at all possible. This way it keeps the PyPI volunteer admins from being a bottleneck, and the audit logs are clear that that this was a voluntary transfer. To do this, login to PyPI. On the page for the project, click 'Manage Project', and then 'Collaborators'.  At the bottom of the page, add `DavidOConnor` as a

[2019-11-19 18:08] sgraham commented on #68
Done. Don't worry about the old versions.

[2019-11-19 19:41] #68 closed

[2019-11-20 10:36] dvitsios opened #80 "[mantis-ml-1.5.0]: update size limit to 75MB"
**Project**
mantis-ml 1.5.0
[https://pypi.org/project/mantis-ml/1.5.0](https://pypi.org/project/mantis-ml/1.5.0)

**Size of release**
75MB

**Which indexes**
PyPI

**Reasons for the request**
This is a software tool used for research purposes, specifically for prioritising genes across various diseases with machine learning. That requires a rich feature set embedded in the tool for training the mo

[2019-11-20 11:59] scailer opened #82 "Recover access"
Hello,

I lost access to my account https://pypi.org/user/scailer/
Then I confused in new UI and create new account https://pypi.org/user/Dmitry.Vlasov/

Can you help me - merge them or reassign projects to new account or setup email as in github account (it public).

As proof, all projects link with my projects on github.

Thank you,
Dmitrii Vlasov.

[2019-11-20 13:27] Bulbashful opened #81 "detection-va - 200MB"
**Project**

**Size of release**

**Which indexes**

**Reasons for the request**

[2019-11-20 18:02] jebyrne opened #83 "PEP 541: Transfer ownership of unused `vipy`"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/vipy/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/jebyrne/

**Reasons for the request**

Abandoned

**Maintenance or replacement?**

Replacement

**Contact and additional research**

I attempted to contact the owner at:

victor.ng@monkeybeanonline.com

and view the project homepage at:

http://poli-cms.googlecode.c

[2019-11-20 19:26] David-OConnor commented on #68
Much appreciated @sgraham . I'll upload the wheels shortly.

[2019-11-21 03:16] #44 closed

[2019-11-21 06:49] Bulbashful opened #84 "recognition-va - 200MB"
**Project**

**Size of release**

**Which indexes**

**Reasons for the request**

[2019-11-21 07:41] njsmith commented on #32
This is starting to become a blocker for us... can I nudge someone to take a look?

[2019-11-21 09:06] #84 closed

[2019-11-21 09:06] #81 closed

[2019-11-21 09:18] yeraydiazdiaz commented on #32
Hi @njsmith I can confirm the package has a single empty release, I've contacted an admin to perform the transfer to you. Sorry for the delay in processing this request.

[2019-11-21 15:26] kesmit13 opened #85 "Issue: Limit Request: SWAT - 90MB"
**Project**
https://pypi.org/project/swat/

**Size of release**
90MB

**Which indexes**
Both

**Reasons for the request**
This package includes a subsystem that is shared between all of our software products.
The PPC version of the files are a bit larger than the other platforms and it puts us
over the limit for those particular packages.  We are hoping to reduce the size of the
packages over the

[2019-11-21 19:47] yeraydiazdiaz commented on #64
Hello @carmenbianca, I can confirm the project has no releases and is therefore name squatting. I've contacted an admin to perform the transfer.

[2019-11-21 20:01] yeraydiazdiaz commented on #19
Hi @ulfworsoe, we haven't received a reply to our emails so we consider this project abandoned. Could you confirm you PyPI username so we can proceed with the transfer?

[2019-11-21 20:09] yeraydiazdiaz commented on #20
Hi @kynan, we'd need confirmation from Michael that this is the case.

If he's interested in recovering his PyPI account we could certainly help so he can perform the transfer. Alternatively you can email me his email address at yeraydiazdiaz@gmail.com and I can try contacting him directly for confirmation.

[2019-11-21 20:10] yeraydiazdiaz commented on #20
CC'ing @chimeric in case he still recieves GH emails.

[2019-11-21 20:11] yeraydiazdiaz commented on #2
I have not received a response to any of my emails hence this project can be considered abandoned. I will now ask an admin to perform the transfer to you.

[2019-11-21 22:33] tbsexton opened #86 "PEP 541: Transfer ownership of unused `nestor`"
**Project to be claimed**

`nestor`: https://pypi.org/project/nestor

**Your PyPI username**

`tbsexton`: https://pypi.org/user/tbsexton

**Reasons for the request**

The `nestor` package has not been used since initial commit in 2012, as a "Head First Python" exercise. Attempts to contact user `drbetts` as the listed maintainer have been unsuccessful.

Currently making use of [`nist-nestor`](http

[2019-11-22 00:21] ben-bay opened #87 "PEP 541 Request: transfer ownership of unused `merlin`"
**Project to be claimed**

`PROJECT_NAME`: Merlin
`LINK`: https://pypi.org/project/merlin

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/ben-bay

**Reasons for the request**

The latest release for this package was in 2008. Its homepage link is broken, and its description is empty. We believe it is abandoned.

**Maintenance or replacement?**

We intend to publish a different package u

[2019-11-22 05:45] njsmith commented on #32
@yeraydiazdiaz Thanks, much appreciated!

[2019-11-22 06:30] szha commented on #50
@di would that address your concern? Could you unblock us?

[2019-11-22 12:55] pilarbachiller opened #88 "Limit Request: LearnBlock - 90 MB"
### Project
https://pypi.org/project/learnblock/

### Size of release

90MB

### Which indexes

PyPI

### Reasons for request

LearnBlock is an educational programming tool for learning to program through robotics. It includes a wide functionality to create interactive programs that can run on several robots endowed with certain types of devices, such as cameras. Part of that functionality is impl

[2019-11-22 15:58] kesmit13 commented on #85
Bumped size limit to 90MB just to be safe.  We're currently at 79.5MB.  I'd like to leave a little breathing room.

[2019-11-22 16:58] di commented on #50
Cleaning up the releases after they're made doesn't really change much here: the biggest cost for PyPI from these distributions is the bandwidth consumed when several hundred mirrors attempt to mirror each release immediately after it's published.

We need to either reduce either the size of these releases, or the frequency of them.

For example, most of these projects are releasing several hundre

[2019-11-22 17:57] szha commented on #50
@di I will suggest that to the community. Realistically, we may want to keep at minimum one variant that releases nightly. This is to make sure that the ecosystem projects can expose problems at a faster pace. I hope that's understandable.

[2019-11-22 18:19] szha commented on #50
On a side note, Google's Tensorflow has the tf-nightly* packages which total more than 1.65TB. Do you happen to know what the plan is there @di ?

[2019-11-22 18:23] di commented on #50
That project currently has a upload limit of 500MB. We don't currently plan to increase it (or any of the other top-100 projects) without asking them to do the same.

[2019-11-22 19:38] blink1073 opened #89 "Manual Reset of 2FA"
Hi,
username: blink1073
email: steven.silvester@gmail.com

Request: a reset of the 2FA for the above account info.
Reason: Changed phones and lost my key

[2019-11-23 12:32] yeraydiazdiaz commented on #23
Hello @quozl, I've sent @dnarvaez an email myself, sometimes we have more luck as moderators. Hopefully we will hear back from him soon.

[2019-11-23 12:41] yeraydiazdiaz commented on #24
Hello @gregschmit, I have emailed @regisec myself to clarify his position in regards to this project. Hopefully we will hear back soon and move forwards with your request.

[2019-11-23 12:50] yeraydiazdiaz commented on #26
@xiaoxu193 @verhovsky I'm closing this issue as contact has been made.

[2019-11-23 12:50] #26 closed

[2019-11-23 13:06] yeraydiazdiaz commented on #29
Hello @slurps-mad-rips, I can confirm the `dirs` project has no releases and can be considered name squatting. Could you confirm your PyPI username, please?

[2019-11-23 22:09] gregschmit commented on #24
@yeraydiazdiaz Much appreciated!

[2019-11-24 08:53] quozl commented on #23
Thanks.

[2019-11-24 23:18] pspeter opened #90 "PEP 541: Transfer ownership of empty 'pen' package"
**Package Name**

`Pen`: https://pypi.org/project/pen

**Your PyPI username**

`pspeter`: https://pypi.org/user/pspeter

**Reasons for the request**

The project seems to be completely empty. The link to the project page just shows a 404.
pip also doesn't find the package. This might be a case of name squatting.

I have been working on my own app for a while now and was going to publish an alpha v

[2019-11-25 10:19] ulfworsoe commented on #19
I would like to use the "mosekadmin" account (with email info@mosek.com).

And thank you  for helping out.

[2019-11-25 12:20] ewdurbin commented on #32
transfer complete.

[2019-11-25 12:20] #32 closed

[2019-11-25 12:21] ewdurbin commented on #64
transfer complete.

[2019-11-25 12:21] #64 closed

[2019-11-25 12:22] ewdurbin commented on #2
transfer complete.

[2019-11-25 12:22] #2 closed

[2019-11-25 12:24] ewdurbin commented on #25
as project owner is unreachable per #2, this transfer has been completed.

[2019-11-25 12:24] #25 closed

[2019-11-25 12:28] ewdurbin commented on #28
transfer complete.

[2019-11-25 12:28] #28 closed

[2019-11-25 13:17] jamadden commented on #90
The project had one distribution added and immediately removed on 2016-10-20. I believe this qualifies it as an [invalid project](https://www.python.org/dev/peps/pep-0541/#invalid-projects) under the clause "project is name squatting (package has no functionality or is empty)". I will ask the admins to perfom a transfer.

[2019-11-25 13:22] ewdurbin commented on #90
transfer complete.

[2019-11-25 13:22] #90 closed

[2019-11-25 13:29] jamadden commented on #88
The limit for learnblock has been set to 100MB on pypi.org

[2019-11-25 13:29] #88 closed

[2019-11-25 13:31] jamadden commented on #85
The upload limit for swat has been set to 100MB on pypi.org and test.pypi.org

[2019-11-25 13:31] #85 closed

[2019-11-25 13:33] jamadden commented on #80
The upload limit for mantis-ml has been set to 100MB on pypi.org

[2019-11-25 13:33] #80 closed

[2019-11-25 13:42] yeraydiazdiaz commented on #19
Thanks @ulfworsoe I will now ask an admin to perform the transfer.

[2019-11-25 13:47] pspeter commented on #90
Thanks guys!

[2019-11-25 13:54] ewdurbin commented on #19
transfer complete.

[2019-11-25 13:54] #19 closed

[2019-11-25 17:08] schelleg commented on #30
hi @di - thank you for the move.  I appreciate your help here and assume this is a volunteer effort.

Do we have an ETA when I can get the repo?

[2019-11-25 18:33] bpesquet commented on #14
Hi all,

First of all, my apologies for hijacking this issue. Since it seems idle, I thought it would be more efficient than creating a new one.

I, too, would like to get ownership of the unmaintained `pyfit` package name, and tried unsuccessfully to get in touch with its current owner.

I hope my request can meet the remaining criteria:

The [pyfit](https://github.com/bpesquet/pyfit) project is

[2019-11-25 20:00] njsmith commented on #32
:tada: hooray, thank you!

[2019-11-25 21:40] jamadden commented on #30
I have reached out to @heynemann as a PyPI moderator. I have [opened an issue](https://github.com/pypa/pypi-support/issues/30) in what appears to be the github repository, and I have also emailed the verified address that PyPI has on file for the owner.

I don't see any indication that a PyPI moderator has attempted this before, so unfortunately the next step is to wait until contact is establishe

[2019-11-25 21:43] schelleg commented on #30
hi @jamadden - thank you for starting that process.  I'll set a reminder to ping here after the six weeks.  Hopefully we hear back sooner, otherwise thank you again.

[2019-11-27 00:58] kensoh opened #91 "PEP 541: Transfer ownership of unused `rpa`"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/rpa

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/kensoh

**Reasons for the request**

Above package name and URL is not in use (thus no contact information of owner). However when I try `twine upload` I'm denied access. I have read through PyPI and Python FAQ before raising this issue, and I believe that if this pac

[2019-11-30 00:07] CarlKCarlK opened #92 "Issue: Limit Request: fastlmm - 250MB"
**Project**
fastlmm
https://pypi.org/project/fastlmm/
https://test.pypi.org/project/fastlmm/

**Size of release**
250 MB

**Which indexes**
Both indexes

**Reasons for the request**

We need to include a non-standard MKL static library file (libmkl_intel_ilp64.a) to get around a matrix limitation in the default MKL (namely, it silently fails on SVD operations larger than about 14K x 14K). That lib

[2019-11-30 09:16] bpesquet commented on #14
@jamadden and @yeraydiazdiaz: is there anything else I should do to help with the reviewing process? Any information missing?

By the way, my PyPI profile is https://pypi.org/user/bpesquet/

Thanks for your time.

[2019-12-01 07:08] slurps-mad-rips commented on #29
@yeraydiazdiaz Hi! Sorry for the delay. I've been taking some time off. My username on PyPI is the same as it is here. `slurps-mad-rips`

[2019-12-01 13:45] kynan commented on #20
Thanks for following up. I've emailed @chimeric, hope he'll read it and comment here to confirm.

[2019-12-01 17:28] flashcode opened #93 "PEP 541: Transfer of ownership of namesquatted package "gitchart""
**Project to be claimed**

`gitchart`: https://pypi.org/project/gitchart

**Your PyPI username**

`flashcode`: https://pypi.org/user/flashcode

**Reasons for the request**

The project on PyPI is a fork of my program `gitchart`. The author uses the same project name (which is a GPL violation), with a different version (0.0.3 while my current version is 1.4).

I contacted Thomas Grainger 2.5 years

[2019-12-01 18:07] yeraydiazdiaz commented on #93
Hello @flashcode, since you have made contact with @graingert and I believe he's been active in this and other repositories that I know of he should be able to weigh in on this issue.

That being said and based on the conversation on https://github.com/flashcode/gitchart/issues/5 it seems this boils down to a disagreement between the two of you. We encourage PyPI users to have a dialog amongst the

[2019-12-01 18:43] flashcode commented on #93
@yeraydiazdiaz: thanks for the reply, I've already read the PEP 541, but unfortunately, as you can see in the issue mentioned, the dialog was not really possible with Thomas.

As I'm the author of the software I thought this was somewhat logical I could take the ownership of the PyPI project (in addition it seems to be abandoned, while I'm myself maintaining actively the software).

I understand t

[2019-12-02 05:47] leezu commented on #50
I started a discussion on the MXNet developer list to stop releasing nightly version to Pypi and just publish them on a MXNet project-owned S3 bucket: https://lists.apache.org/thread.html/cba5e34a59af5e3ce99bbad912341efef32fb409c022d9239aa2994a@%3Cdev.mxnet.apache.org%3E

@di If there are no objections from the MXNet community, we would only release releases and release candidates to Pypi, which s

[2019-12-02 08:46] MichaelKlier commented on #20
Hi everyone,

I can confirm that I'm okay with transferring ownership of dokuvimki to Florian (@kynan). Not sure if commenting from this account is enough for everyone to validate my identity. If you need a 3rd person to confirm, I guess you can ask the author of DokuWiki, @splitbrain here on gibthub :).

Cheers and have a great week,
Michael

[2019-12-02 13:14] splitbrain commented on #20
for what it's worth, I can confirm @MichaelKlier is @chimeric :+1:

[2019-12-02 16:47] di commented on #50
Yes, I think that would be acceptable. Thanks for being accommodating.

[2019-12-02 23:47] crankycoder commented on #83
vipy is a long dead project - I still own the monkeybeanonline.com domain, but I don't have email setup on there anymore.  Is there something I need to do other than respond to this issue?

I'm totally ok with transferring the ownership of this package.

[2019-12-03 00:33] jebyrne commented on #83
This has been resolved.  Thanks!

[2019-12-03 00:33] #83 closed

[2019-12-03 21:55] M-J-Murray commented on #43
Hello, sorry for such a late response, I've only just gotten round to sorting this out over the last few days. Btw, the MAMEToolkit github repo doesn't contain a copy of a mame executable because it was too large to upload to github; it is currently 231MB in size.

@jamadden I've worked a lot the last few days to resolve the `linux_x86_64` issue.
I setup a manylinux2010 centos 6 docker container u

[2019-12-03 22:31] jamadden commented on #43
That's awesome!

The limit on pypi.org has been raised to 100MB.

[2019-12-03 23:09] bitprophet opened #94 "test.pypi.org - paramiko being squatted"
This doesn't feel 100% PEP-541 accurate, since it's the test index. Please advise if that's wrong and I'll use the template in future!

I am `bitprophet` on both PyPI instances, but some of my projects that exist on production PyPI have been squatted by other users on `test.pypi.org`. The one that I bumped into today is `paramiko`:

- Prod: https://pypi.org/project/paramiko/
- Test: https://test.p

[2019-12-04 02:35] ewdurbin commented on #94
Transfer complete. For test.pypi.org, 541 doesn't itself apply... but yeah we need the same information. It's not super common we get test.pypi.org requests... but I suppose a separate template could be created.

[2019-12-04 02:35] #94 closed

[2019-12-04 10:00] Schamper commented on #16
Hi, just pinging again.

[2019-12-04 15:58] mentalisttraceur opened #95 "PEP 541 Request: Transfer ownership of empty 'compose' package"
**Project to be claimed**
`compose`: https://pypi.org/project/compose

**Your PyPI username**
`mentalisttraceur`: https://pypi.org/user/mentalisttraceur

**Reasons for the request**
The project link leads to a 404.
`pip install compose` does not find it either.

But trying to upload causes a permissions error saying my user does not have permissions for that project, as if it does exist.

It appea

[2019-12-04 15:59] mentalisttraceur commented on #95
Apologies, I accidentally clicked submit early (I blame mobile devices and touch screens in general) - I will finish editing the issue momentarily.

[2019-12-04 16:13] pradyunsg opened #96 "Account Recovery: pradyunsg"
My previous phone has died a sad death, and I lost access to my 2FA application with it. I've switched to a new device, and setup my new 2FA authenticator application on it.

I'd like to request a 2FA reset on my account, so that I can switch to my newer 2FA setup.

PyPI Username: pradyunsg

Context: https://mobile.twitter.com/pradyunsg/status/1200343878353580032

[2019-12-05 06:26] mentalisttraceur commented on #95
I have [contacted](https://github.com/FeatureLabs/compose/issues/91) the maintainer listed on the test.pypi.org `compose` package, in order to learn

1. if they have anything to do with the `compose` on pypi.org, or if they hit the same issue I did, and

2. if they still wanted the `compose` pip name for their project or if they were fine with me having it since they already released under `compos

[2019-12-05 10:26] pradyunsg commented on #96
A gentle nudge on this @ewdurbin

[2019-12-05 12:27] jamadden commented on #95
The test.pypi.org `compose` package appears to be unrelated to the empty package on pypi.org.

I confirm that https://pypi.org/project/compose is empty (its sole distribution has been removed). It was uploaded at version 0.0 and then immediately marked hidden. It appears to be name squatting.

I'll ask the PyPI admins to initiate a transfer.

[2019-12-05 14:33] ewdurbin commented on #96
@pradyunsg thanks for verifying this request out of band. TOTP has been reset for your user.

[2019-12-05 14:33] #96 closed

[2019-12-05 14:34] ewdurbin commented on #95
transfer complete.

[2019-12-05 14:34] #95 closed

[2019-12-05 15:29] pradyunsg commented on #96
Hurray! Many thanks @ewdurbin!

[2019-12-06 03:31] leezu commented on #50
We reached consensus on the mailinglist to stop uploading nightly releases to Pypi. https://lists.apache.org/thread.html/d424380b145d7c2329e4bb3039595cc6ae4dcb99381522fd6c1a0383%40%3Cdev.mxnet.apache.org%3E

@di when do you expect to be able to process the limit increase?

[2019-12-06 15:22] EvenSol opened #97 "Limit Request: neqsim- 100MB"
I get an error because the size of the neqsim package is larger than 60 MB.

**Project**
The project is neqsim
https://pypi.org/project/neqsim/

**Size of release**
100 MB

Please update the size from "60MB" in the issue title as well.
-->

**Which indexes**
both

**Reasons for the request**
The neqsim project is used by students in thermodynamics. and it the size can not be reduced.

[2019-12-06 15:34] jamadden commented on #97
The limit for neqsim has been set to 100mb on pypi.org

[2019-12-06 15:34] #97 closed

[2019-12-06 17:30] ewdurbin commented on #89
Hello @blink1073, please email ernest@python.org from the primary email address associated with your PyPI account to proceed with recovery.

[2019-12-06 17:30] ewdurbin commented on #82
Hello @scailer, please email ernest@python.org from the primary email address associated with your PyPI account to proceed with recovery.

[2019-12-06 17:31] ewdurbin commented on #70
Hello @beng-toast, please email ernest@python.org from the primary email address associated with your PyPI account to proceed with recovery.

[2019-12-07 04:08] pradyunsg commented on #50
I just increased the limits as detailed below. Please be mindful of how frequently you make releases with such a high limit -- each release will have a not-insignificant impact on how much traffic PyPI has to serve.

---

Raised to 800 MB, on both PyPI and TestPyPI:
- mxnet

Raised to 800 MB on PyPI, does not exist on TestPyPI:
- mxnet-mkl
- mxnet-cu92
- mxnet-cu92mkl
- mxnet-cu101
- mxnet-cu101mk

[2019-12-07 10:02] yeraydiazdiaz commented on #16
Hi @Schamper as you can see in https://github.com/vivisect/dissect/issues/7 we've attempted contact with @invisig0th but got no answer, I will try contacting via email, if unsucessful we can assume the project is abandoned and proceed with the transfer.

[2019-12-07 10:16] yeraydiazdiaz commented on #3
Since I have received no response from the author I searched for the email and found a likely GitHub account @seewind.

There's not a lot of activity though but I hope this last means of contact is successful before declaring the package abandoned and proceed with the transfer.

Apologies to @seewind if the GitHub account is not related to the project.

[2019-12-07 10:23] yeraydiazdiaz commented on #4
Hello @nsheff, I have received no response from the author after several attempts so this project is now considered abandoned.

Could you confirm your PyPI username so we can proceed with the transfer, please?

[2019-12-07 10:25] yeraydiazdiaz commented on #20
Thanks @MichaelKlier and @splitbrain for confirming.

@kynan could you confirm your PyPI username so we can proceed with the transfer, please?

[2019-12-07 10:31] yeraydiazdiaz commented on #14
Hello @bpesquet, given @pyfit does not seem to be interested in the transfer and the project under his organization seems fairly empty we will move forward with your claim.

I will try emailing the author myself and hopefully we will get a response soon.

[2019-12-07 10:42] yeraydiazdiaz commented on #5
Hello @grizz, I have received no response from the author so the project can now be considered abandoned.

Could you please confirm your PyPI username so we can proceed with the transfer?

[2019-12-07 12:18] nicoddemus opened #98 "Request reset of 2FA access for my account"
username: nicoddemus
email: nicoddemus@toasttab.com

Request: reset of the 2FA for the above account
Reason: Had to format my android phone and lost my auth app

Unfortunately I need to access the account to create tokens to upload my open source projects.

[2019-12-07 16:29] pyfit commented on #14
@yeraydiazdiaz @bpesquet I'm actually still interested but was figuring out how to respond. I am creating an AutoML tool for Python and hence the name pyfit is most suitable for me. I already created a GitHub with the same handle, contributing to the notability requirement.

I cannot fork the original repo, as it is a testing framework unrelated to the AutoML tool I am developing.

[2019-12-07 21:42] grizz commented on #5
Awesome, thank you. Username on pypi is `20c`

[2019-12-07 22:31] bpesquet commented on #14
@pyfit I decided to request `pyfit` for my project because you didn't respond to @jamadden's questions in April and @yeraydiazdiaz's reminder a month ago, and because your GitHub repo is still empty months after its creation. I find a bit strange that you reappear just now, immediatly after the decision to move forward with my claim is announced, talking about a project of yours that is nowhere to

[2019-12-09 04:10] A-Tsolov opened #99 "Issue: Limit Request: python-terrier - 120MB"
**Project**
python-terrier
https://pypi.org/project/python-terrier/

**Size of release**
120 MB

**Which indexes**
PyPI

**Reasons for the request**
Terrier is an open source search engine developed in Java.
Python-terrier is a python wrapper for it but the jar file is around 100MB, which is why I am requesting the file limit increase. Thanks.

[2019-12-09 04:48] scailer commented on #82
Hello @ewdurbin. I'm sended email from scailer@veles.biz (my primary address) and scailer@yandex.ru.
I'm tried restore "scailer"-account with all my email addresses, and received "No user found with that username or email". I think, It created without email.

[2019-12-09 16:30] di commented on #50
Thanks @pradyunsg

[2019-12-09 16:30] #50 closed

[2019-12-09 19:26] StephanSiemen commented on #6
Hi @yeraydiazdiaz,
thanks for following this up. Any news from "hcsoftcn"?
Cheers

[2019-12-10 03:43] krateng opened #100 "PEP 541: Transfer of abandoned `maloja`"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/maloja

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/Krateng

**Reasons for the request**

The package has not been updated since 2016 and seems to be abandoned.

**Maintenance or replacement?**

I would like to use the name for a different project: https://github.com/krateng/maloja
It has existed for over a year and

[2019-12-10 10:37] rlouf opened #101 "PEP 541: transfer ownership of unmaintained `nlp`"
**Project to be claimed**

`nlp`: https://pypi.org/project/nlp

**Your PyPI username**

`rlouf`: https://pypi.org/user/rlouf

**Reasons for the request**

The project is unmaintained and has been so since 2015. The associated [homepage](nlpy.org) does not exist.

**Maintenance or replacement?**

I intend to replace it with a different one: https://github.com/huggingface/transformers

**Contact and

[2019-12-10 10:55] havakv opened #102 "PEP 541 Request: Transfer ownership of empty 'pycox' package"
**Project to be claimed**

`pycox`: https://pypi.org/project/pycox

**Your PyPI username**

`havakv`: https://pypi.org/user/havakv

**Reasons for the request**

The project seems to be abandoned (since 2015) as there is no information on the site and `pip install pycox` does not work.

It appears this is an empty project, which seems to make it [an invalid project according to PEP-541](https://www

[2019-12-10 13:37] krateng commented on #100
I received a response from the maintainer, closing issue.

[2019-12-10 13:37] #100 closed

[2019-12-10 23:17] Erotemic opened #103 "PEP 541 Request: Transfer ownership of empty 'line_profiler' package"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/line_profiler

**Your PyPI username**

I typically release packages under my personal username:
`USER_NAME`:  https://pypi.org/user/pyutils/

For this project, I created a github organization called pyutils so the project can have multiple maintainers (to prevent an issue like this from happening again). I created a corresponding

[2019-12-11 17:43] sunway513 commented on #49
Hi @di , gentle ping -- any updates? Please help let us know if you need any further information to proceed with the request.

[2019-12-12 11:25] jobingeo opened #105 "Transfer ownership of vapi-runtime, vapi-common-client, vapi-client-bindings"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/vapi-runtime/
`PROJECT_NAME`: https://pypi.org/project/vapi-common-client/
`PROJECT_NAME`:  https://pypi.org/project/vapi-client-bindings/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/jobingeorge/

**Reasons for the request**
We believe these packages are uploaded by a user who is not maintaining it and it is curren

[2019-12-12 11:56] jamadden commented on #105
Based on https://github.com/vmware/vsphere-automation-sdk-python/commits?author=jobingeo it does appear that user @jobingeo is associated with https://github.com/vmware

I've emailed the address PyPI has on file for the owner account. I was unable to locate any other potential means of contact with any degree of certainty. Since the request is under PEP 541's abandoned clause, the owner has up to

[2019-12-12 13:44] tianhao64 commented on #105
@jamadden Thanks for looking into this and appreciate your help. The user who uploaded the package was not from VMware and was not the author of this package. We(VMware eng team) would like to reclaim the ownership of these packages and the pypi repos.
Since the package was wrongly uploaded by a non-author, does that violate the copyright? Could you please advise what are the steps to follow if it

[2019-12-12 14:39] jamadden commented on #105
All I know is that the PEP 541 section I linked to outlines the policy on IP violations, but since I'm not a lawyer I don't want to try to interpret it. Specifically, I don't know if any copyright violation has been committed; that would be up to lawyers.

[2019-12-12 21:22] mariolenz commented on #105
I get a "404 Page Not Found" for these at the moment. Did Claire.Deng already deleted these projects in order for you to take ownership / create them again?

[2019-12-13 02:35] jamadden commented on #105
Uh, yes, it seems that those projects have been deleted. There was a password reset for the owner today after I emailed that account, and a login for the first time. AFAICS those projects are now gone.

[2019-12-13 06:44] tianhao64 commented on #105
Ah. Great news! Thanks a lot for the quick help!

[2019-12-13 06:45] jobingeo commented on #105
Thanks.
As the user deleted the project, is there any further cooling/waiting period (under PEP 541 abandoned clause)? Can we re-use these packages?

[2019-12-13 11:56] jamadden commented on #105
I think they're up for grabs.

[2019-12-13 14:15] ileasile opened #106 "Limit Request: KOTLIN JUPYTER KERNEL - 100MB"
**Project**. Kotlin Jupyter Kernel.
https://pypi.org/project/kotlin-jupyter-kernel/0.7.11/
https://test.pypi.org/project/kotlin-jupyter-kernel/0.7.11/

**Size of release**: 100Mb

**Which indexes**: both

**Reasons for the request**. It's Kotlin Jupiter Kernel and it bundles the whole kotlin compiler obviously. Please increase the upload limit

[2019-12-13 18:47] EclipzzeX commented on #105
@tianhao64 Are these going to reposted to pypi, or the github updated?  Currently the "pip install git+https://github.com/vmware/vsphere-automation-sdk-python.git" results in "HTTPError: 404 Client Error: Not Found for url: https://pypi.org/simple/vapi-runtime/"
Thanks

[2019-12-13 22:02] RosiePy opened #107 "can't access my old pypi account"
I no longer have access to the email address I used when I originally set up my PyPi account. How can I access my account?

[2019-12-13 23:40] slurps-mad-rips commented on #29
@yeraydiazdiaz Just wanted to ping you briefly to see if anything else is needed from me!

[2019-12-14 03:06] jobingeo commented on #105
@EclipzzeX  This could be related to https://github.com/vmware/vsphere-automation-sdk-python/issues/195 . Please see your pip version, upgrade if required.  If still facing issue, please open up a issue in https://github.com/vmware/vsphere-automation-sdk-python/issues

@jamadden Thanks for your help. Closing the issue.

[2019-12-14 03:06] #105 closed

[2019-12-14 17:07] yeraydiazdiaz commented on #3
@anadon @lidizheng I have not received response from the owner of `grpc` so we can mover forward with your claim.

Could you confirm the PyPI user that the ownership should be transferred to? Presumably it would be the same as `grpc` but I'd need confirmation.

[2019-12-14 17:23] yeraydiazdiaz commented on #14
@pyfit even though you are the original author of the claim the PEP does state that in order to transfer a project for a different use the target project should meet "notability requirements".

While I admit this is a fairly vague definition I cannot ignore that at this point in time [your repository is effectively empty](https://github.com/pyfit/pyfit):

<img width="993" alt="Screenshot 2019-12-1

[2019-12-14 17:27] yeraydiazdiaz commented on #6
Hello @StephanSiemen I have not received any reply from `hcsoftcn` so we will proceed with the transfer.

Could you confirm your PyPI username please?

[2019-12-14 17:43] yeraydiazdiaz commented on #35
Hello @isidentical, I can confirm that the project `it` is namesquatting and thus can be considered invalid.

Could you confirm your PyPI username, please?

[2019-12-14 17:47] yeraydiazdiaz commented on #34
Hello @Miserlou, I can confirm at this point in time the project `fashion` has a single release with no files and can thus be considered invalid.

Can you confirm your PyPI username, please?

[2019-12-14 17:51] yeraydiazdiaz commented on #33
Hello @bconstanzo, I can confirm that the project `phantom` has no functionality and thus is considered invalid.

Could you confirm your PyPI username, please?

[2019-12-14 17:56] yeraydiazdiaz commented on #36
According to https://github.com/whoosh-community/whoosh/issues/544 this issue has been resolved.

[2019-12-14 17:56] #36 closed

[2019-12-14 18:00] yeraydiazdiaz commented on #37
I am closing this issue as it's not directly related to PEP 541.

[2019-12-14 18:00] #37 closed

[2019-12-14 18:04] yeraydiazdiaz commented on #38
@Marco-Sulla I am now closing this issue as contact has been made between you and @slezica.

As @jamadden suggests @slezica simply needs to log in to PyPI and add you as an owner of the project.

[2019-12-14 18:04] #38 closed

[2019-12-14 18:06] yeraydiazdiaz commented on #39
Hello @thatch45, I can confirm the project `idem` has a single empty release and therefore it can be considered invalid.

I will now ask an admin to perform the transfer to you.

[2019-12-14 18:07] isidentical commented on #35
Hi @yeraydiazdiaz, thanks. My PyPI username is [`btaskaya`](https://pypi.org/user/BTaskaya/).

[2019-12-14 18:09] yeraydiazdiaz commented on #40
Hello @jojonas, I can confirm the `age` project has a single empty release and therefore can be considered invalid.

I will now ask an admin to perform the transfer.

[2019-12-14 18:12] yeraydiazdiaz commented on #41
Hello @rscottbailey, I can confirm the project `dryice` has no functionality and is therefore considered invalid.

I will now ask an admin to perform the transfer.

[2019-12-14 18:23] anadon commented on #3
I would assume the same owner as the grpcio package owner, so

https://pypi.org/user/google_opensource/
And
https://pypi.org/user/grpc-packages/

On Sat, Dec 14, 2019, 12:07 Yeray Diaz Diaz <notifications@github.com>
wrote:

[2019-12-14 18:58] StephanSiemen commented on #6
Thanks @yeraydiazdiaz . My account name for PyPi is "StephanSiemen" (https://pypi.org/user/StephanSiemen/).

[2019-12-14 19:18] davidism opened #108 "Transfer ownership of Flask and Jinja2 on Test PyPI"
I'm a core maintainer of the Pallets projects (@pallets), including Flask and Jinja (Jinja2). I would like to use **Test PyPI** to test out some packaging issues I'm working on, but these packages are owned by random users, not any of the maintainers. Please transfer ownership of these two projects to me. Thank you.

`PROJECT_NAME`: https://test.pypi.org/project/Flask
`PROJECT_NAME`: https://test.

[2019-12-15 16:38] mitya57 opened #138 "Please add classifiers for Basque, Irish and Nepali"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Natural Language :: Basque`
* `Natural Language :: Irish`
* `Natural Language :: Nepali`

## Why do you want to add this classifier?

In https://pypi.org/project/snowballstemmer/, we ship stemming algorithms for various natural languages. We have a code that auto-generates classifiers for them, but curr

[2019-12-16 04:08] chrahunt opened #109 "PEP 541: Transfer ownership of project "packages""
Attempting to publish to project "packages" fails. I am requesting transfer of ownership in case this is because the project is taken but with no releases.

**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/packages

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/chrahunt

**Reasons for the request**

Publish a new project.

**Maintenance or replacement?**

Replacemen

[2019-12-16 07:40] lcx366 opened #110 "Issue: Limit Request: ggtools 1.5 - 80.8MB"
**Project**

ggtools 1.5, https://pypi.org/project/ggtools/

**Size of release**

80.8MB

**Which indexes**

PyPI

**Reasons for the request**

The ggtools package is an archive of scientific routines that can be used to handle the GRACE(Gravity Recovery and Climate Experiment) and GRACE-FO(Follow-on) GSM data(RL06 Level-2 monthly solutions) and GLDAS grid data. For more details, please refer to G

[2019-12-16 12:55] jamadden commented on #109
The `packages` project on PyPI was registered on 2019-09-13 by uploading a file that was deleted within hours (the account that did the upload was created immediately before uploading and hasn't been used since). That qualifies under the PEP definition of an invalid project. I'll ask the admins to initiate the transfer.

[2019-12-16 13:04] jamadden commented on #110
The limit for ggtools has been set to 100MB on pypi.org

[2019-12-16 13:04] #110 closed

[2019-12-16 13:07] jamadden commented on #106
The limit for kotlin-jupyter-kernel has been set to 100MB on pypi.org and test.pypi.org

[2019-12-16 13:07] #106 closed

[2019-12-16 13:16] jamadden commented on #104
The limit for `splice-beakerx` has been set to 150MB on pypi.org and test.pypi.org

[2019-12-16 13:16] #104 closed

[2019-12-16 13:20] jamadden commented on #99
It seems that the "Homepage" link on the project page, https://github.com/A-Tsolov/Pyterrier , is not valid. Could you please share an updated repository URL?

[2019-12-16 13:24] jamadden commented on #72
The limit has been set to 150MB on pypi.org and test.pypi.org

[2019-12-16 13:24] #72 closed

[2019-12-16 13:26] jamadden commented on #65
The "Homepage" link from the projects, https://github.com/RivinduM/AssistedLivingSystem , does not appear to be valid. Could you please share an updated repository URL?

[2019-12-16 18:54] lidizheng commented on #3
@yeraydiazdiaz Thanks for the update. Finally, we can get the `grpc` direct to the gRPC Python repo. As a maintainer, I confirm the gRPC packages are owned by the PyPI account `grpc-packages`.

[2019-12-16 20:43] thatch45 commented on #39
Wooohoo! Thanks!

[2019-12-17 03:00] RivinduM commented on #65
Hi Jason,

Sorry for the inconvenience. Please use this URL
<https://github.com/RivinduM/AdlRecognition> to access the repository.

Regards,

On Mon, 16 Dec 2019 at 18:56, Jason Madden <notifications@github.com> wrote:

--
*Rivindu Madushan*
Final Year Undergraduate,
Department of Computer Science & Engineering,
University of Moratuwa.

[2019-12-17 08:18] abht opened #111 "pypi.org/user/deleted-user/ is name squatting or creating bad faith packages"
pypi.org/user/deleted-user/ has packages that are clearly not created in good faith. Aside from the questionable package names, each package is either empty or is nothing more than an empty template uploaded.

The large number of packages listed suggests this is an attempt to grab names of interest for now. Currently, not an active security issue, but could be later on if some packages (e.g. rapid

[2019-12-17 09:43] yeraydiazdiaz commented on #111
Hello @abht, thank you for noticing and raising this issue.

I believe `deleted-user` is a fake user under the control of the administrators that is made owner of all dubious projects.

I will close this issue now but feel free to comment if you have any further questions.

[2019-12-17 09:44] #111 closed

[2019-12-17 11:23] jamadden commented on #65
Thanks. The limit has been set to 150MB on pypi.org and test.pypi.org.

[2019-12-17 11:23] #65 closed

[2019-12-17 11:28] havakv commented on #102
The author got back to me and deleted the package.

[2019-12-17 11:28] #102 closed

[2019-12-17 14:15] bconstanzo commented on #33
Hi! My PyPI username is bconstanzo. Sorry about the slow answer, been under a lot lately.

[2019-12-17 14:27] cybiere opened #112 "Lost 2FA"
Hi !
My phone with my authenticator was stolen, so I have no way to access my account back... Of course I don't have backup codes because that would be too easy... I've read in https://github.com/pypa/warehouse/issues/5758 that I had to create a new issue, so here it is :)
Thanks !

[2019-12-19 11:45] A-Tsolov commented on #99
Sorry about that. The repository was private until now. You should be able to view it now.

[2019-12-19 14:07] MysteryBlokHed opened #113 "2FA Reset"
Username: MysteryBlokHed
Email: adamthompsonsharpe@gmail.com

I got a new phone and lost my 2FA codes because Google Authenticator doesn't back up codes. I accidentally released a broken package through twine (which didn't require a 2FA code to upload), but to delete it I need to log into PyPI, which does require a 2FA code.
Can 2FA be disabled on my account?

[2019-12-19 14:12] jamadden commented on #99
The limit for python-terrier has ben set to 150MB on pypi.org.

[2019-12-19 14:12] #99 closed

[2019-12-19 15:19] grizz commented on #5
@yeraydiazdiaz any update on when this will happen? No rush, was just about to do a release :)

[2019-12-19 16:48] ewdurbin commented on #109
transfer complete.

[2019-12-19 16:48] #109 closed

[2019-12-19 16:51] ewdurbin commented on #3
transfer complete.

[2019-12-19 16:51] #3 closed

[2019-12-19 16:53] ewdurbin commented on #41
transfer complete.

[2019-12-19 16:53] #41 closed

[2019-12-19 16:54] ewdurbin commented on #40
transfer complete.

[2019-12-19 16:55] ewdurbin commented on #39
transfer complete.

[2019-12-19 16:55] #39 closed

[2019-12-19 16:57] ewdurbin commented on #14
transfer complete.

[2019-12-19 16:57] #14 closed

[2019-12-19 16:58] ewdurbin commented on #29
transfer complete.

[2019-12-19 16:58] #29 closed

[2019-12-19 16:58] ewdurbin commented on #5
transfer complete.

[2019-12-19 16:58] #5 closed

[2019-12-19 17:01] ewdurbin commented on #24
transfer complete.

[2019-12-19 17:01] #24 closed

[2019-12-19 17:23] thatch45 commented on #39
Thanks!!!

[2019-12-19 18:14] chrahunt commented on #109
Thank you both for your help!

[2019-12-19 20:18] grizz commented on #5
@ewdurbin thanks!

[2019-12-20 02:42] suttisak-ponsri opened #114 "Recover The Pypi account"
Hi

I no longer have access to the email associated with my pypi account (Username: suttisak).
Could you please help me to recover my account.

Thank you

[2019-12-21 10:45] bpesquet commented on #14
Thanks to all of you.

[2019-12-21 22:04] jheld opened #115 "django-disposable-email-checker ownership transfer"
**Project to be claimed**

`django-disposable-email-checker`: https://pypi.org/project/django-disposable-email-checker/

**Your PyPI username**

`snoopy1497`: https://pypi.org/user/snoopy1497/

**Reasons for the request**

The software is nearly naturally compatible with django 2.x (django 3.x potentially). However, there has not been a new release in years despite general compatibility with djang

[2019-12-22 02:30] MysteryBlokHed commented on #113
@ewdurbin I saw you on a couple of other similar issues about 2FA. Can you check this out when you get a chance?

[2019-12-22 06:03] wgzhao opened #116 "Lost my 2FA Application"
Hi !

My authenticator was lost , so I have no way to access my account(wgzhao@gmail.com) back, I don't have recovery code , recording to [pypa/warehouse#5758](pypa/warehouse#5758) , I create a new issue, I hope to access my account as soon as possible .

Thanks !

[2019-12-23 10:37] letuananh opened #122 "2FA beta user needs account recovery"
Dear PyPI team,

I'm a package maintainer on PyPI and I have opted to use 2FA method for my account. Recently when I tried to access my account via the web interface the 2FA code stopped working suddenly.

The generator app on my phone is still running fine and generating new codes, but the website keeps prompting `Invalid TOTP code`. This seems to affect only the web interface. It seems that I ca

[2019-12-23 14:37] Baekalfen opened #117 "PEP 541 Request: PyBoy"
**Project to be claimed**

`pyboy`: https://pypi.org/project/pyboy

**Your PyPI username**

`baekalfen`: https://pypi.org/user/baekalfen

**Reasons for the request**

Abandoned Project:

    * Owner not reachable (see Reachability above);
        I've tried to contact the owner on "xdwork2015@gmail.com", which is the only contact information in the project.
        I sent emails in May and August

[2019-12-29 11:00] apollo13 opened #118 "Removal request of Django42 from PyPi"
Hi there,

I'd like to request the removal of Django42 from PyPI. It currently lists third when searching for Django (a few days ago it was the first result, not sure what the search algorithm does :)) and might trick users into downloading an old release of Django if they do not look closely. Personally I do not think that the package contains malicious code, but I didn't look very closely either

[2019-12-29 14:55] jamadden commented on #118
The PyPI owner of that project is https://pypi.org/user/tgates42/. That account also owns a number of other projects, many of which appear to be forks of existing projects with "42" added to their name.

Based on following the links and other public information, it appears that PyPI user `tgates42` may be github user @timgates42 (some projects link to that account, and that account has many reposi

[2019-12-29 20:04] timgates42 commented on #118
Well its an interesting problem actually and I'd be open to an alternative solution since I seem to have attracted some attention (sorry about that). If a library has an open or even closed pull request adding python 3.9 support (generally the collections.abc deprecation) and I want to use a patched version I publish a new one with the 42 suffix, along with patching any libraries that use those li

[2019-12-29 20:25] timgates42 commented on #118
Actually perhaps an even easier solution is for me to just change the description being published with an explanation of the purpose behind what I am doing and then google won't index it so highly and anyone stumbling on it will understand my intentions. When I get back to work I'll fix all my published libraries descriptions to reduce their google rankings. Unless of course I am missing a better

[2019-12-29 20:26] apollo13 commented on #118
Generally people in your situation use custom PyPI registries/mirrors. One example would be https://devpi.net/ -- though there are probably more (and simpler? solutions). The obvious benefit of using a custom server is that you do not have to patch the whole dependency chain, which could easily result in a rather big number of packages (especially if the package is Django or even more low-level li

[2019-12-29 20:56] timgates42 commented on #118
Interestingly looks like Google might have already fixed the indexing issue, I can't see my package any more which is for the best. Thanks for the information @apollo13 sounds like if I include a minus sign it and fix the author it will be more like a django library. I had a quick look at the alternative PyPI registries and it didn't look super appealing but will see what I can do.

[2019-12-29 21:01] apollo13 commented on #118
Just to clarify, I never ment Google search but the search box on pypi itself. Thank you for your help in resolving this Tim, much appreciated!

On Sun, Dec 29, 2019, at 21:56, Tim Gates wrote:

[2019-12-30 10:07] vigsterkr opened #119 "Claim package shogun"
I'm one of the maintainers of the shogun project (https://github.com/shogun-toolbox/shogun). From the very beginning we support python bindings,  but the name 'shogun' is claimed so we were forced to take 'shogun-ml'. For our users it would be much easier if we could say 'pip install shogun' instead of 'pip install shogun-ml'.

I'd like to claim 'shogun' under PEP 541, since I was not able to cont

[2019-12-30 11:26] jamadden commented on #119
https://pypi.org/project/shogun/ links to https://www.portantier.com which links to the github profile https://github.com/fportantier @fportanier can you please comment on this discussion?

[2019-12-30 12:32] marioortizmanero opened #120 "Question: How to rename spotify-videos to vidify"
Hello. I'm the creator and maintainer of [spotify-videos](https://pypi.org/project/spotify-videos/). This package is going to change its name in the next release and I wanted to know how this can be done on PyPi. GitHub for example lets you rename it and will redirect any users going to the old URL to the new one. Something similar (and probably better suited for this case) happens with the [AUR](

[2019-12-30 13:23] jamadden commented on #120
[Removing the PEP541 label and title because this doesn't seem to be about claiming an existing but abandoned distribution name.]

If you want to change a distribution's name, then usually one would upload the new distribution, followed by uploading one last version of the old distribution which does nothing but contain a dependency on the *new* distribution (with no version constraints). In this

[2019-12-30 13:29] marioortizmanero commented on #120
That's a very good solution, thanks!

You can close the issue if you want.

[2019-12-30 13:35] #120 closed

[2019-12-30 20:20] Mogost commented on #103
@rkern please finish transferring.
https://github.com/pyutils/line_profiler/ is ready.

[2019-12-31 12:50] michaelbukachi opened #121 "Manual Reset of 2FA"
Hi,
username: michaelbukachi
email: michaelbukachi@gmail.com

Request: a reset of the 2FA for the above account info.
Reason: Lost phone so lost my key

[2019-12-31 16:41] davidism commented on #108
I'm seeing other issues posted since this one get responses. Is there something else I need to provide to get this addressed?

[2019-12-31 17:08] jamadden commented on #108
I'm not finding anywhere that guarantees anything about TestPyPI having the same packages and ownerships as production PyPI. I *do* see warnings about it [*not* having the same packages](https://packaging.python.org/tutorials/packaging-projects/#installing-your-newly-uploaded-package), and that [the database may be purged](https://packaging.python.org/guides/using-testpypi/#registering-your-accoun

[2019-12-31 17:50] davidism commented on #108
There's precedent within the last month: #94 paramiko. cc @di

[2019-12-31 17:52] davidism commented on #108
And given that the current versions from the Flask squatter are from 2016, I don't think a database purge affected that any time recently.

[2019-12-31 18:40] yeraydiazdiaz commented on #118
@timgates42 publishing forks of projects in PyPI generates quite a bit of confusion and unnecessary overhead on your part as you need to remember to pull, amend and publish the project under your name on each update.

I suggest using [pip's git feature](https://pip.pypa.io/en/stable/reference/pip_install/#git) to install projects directly from the branches with support for Python 3.9, note you can

[2019-12-31 18:43] ewdurbin commented on #108
Hi! Thanks for the mention.

If the maintainer of a project on pypi.org requests the project on test.pypi.org, it's certainly a valid request. The simplest criteria that we could have for verification is that the username and verified email addresses match across the instances.

I've verified the above and issued this transfer.

[2019-12-31 18:43] #108 closed

[2019-12-31 18:50] davidism commented on #108
Thanks for the help, happy new year! :-)

[2019-12-31 19:47] timgates42 commented on #118
Oh nice one! Thanks @yeraydiazdiaz will look into that - it sounds perfect.

[2020-01-01 20:43] rmorshea opened #123 "Lost 2FA Application"
I'm unable to access https://pypi.org/user/rmorshea/ because I lost my 2 factor authentication application after my phone died. I saw in pypa/warehouse#5758 that I had to create a new issue until there are better options for account recovery. Just let me know what's required in order to get back in. Thanks!

*In the future I'll be sure to set up recovery codes (not sure if that was available at th

[2020-01-01 22:26] luminoctum opened #124 "PEP541: Transfer ownership of empty "pyharp" package"
**Project to be claimed**

`pyHarp`: https://pypi.org/project/pyHarp

**Your PyPI username**

`cli`: https://pypi.org/user/cli

**Reasons for the request**

The project has remained empty since 2013. I would like to use the name for packaging my software, whose description is detailed in my published journal article: https://www.sciencedirect.com/science/article/abs/pii/S0022407318300554

**Mainte

[2020-01-02 00:20] timgates42 commented on #118
Thanks a lot @yeraydiazdiaz this works great even in the much maligned https://github.com/pypa/pipenv/ - I've removed Django42 and I'll work on fixing my other crimes against PyPi.

[2020-01-02 05:46] bpabel commented on #12
Hello @yeraydiazdiaz, have you heard back from @SKantar yet?  I saw that he closed some issues on Github recently, but I haven't heard from him.

[2020-01-02 17:22] yeraydiazdiaz commented on #118
That's great news @timgates42, thanks!

[2020-01-02 17:22] #118 closed

[2020-01-02 18:04] ewdurbin commented on #35
Transfer is complete.

[2020-01-02 18:04] #35 closed

[2020-01-02 18:05] ewdurbin commented on #6
Transfer complete.

[2020-01-02 18:05] #6 closed

[2020-01-02 18:06] ewdurbin commented on #33
Transfer complete.

[2020-01-02 18:06] #33 closed

[2020-01-02 18:47] yeraydiazdiaz commented on #27
Hi @tallero, seems this project just a means of distributing PhantomJS and has no actual Python code which I believe makes it an invalid project in PyPI.

I will close this issue now as I don't think allowing further releases to be published is the right thing to do.

cc'ing @pypa/pypi-moderators in case I'm wrong in my interpretation or if there's any additional action to be taken.

[2020-01-02 18:47] #27 closed

[2020-01-02 18:57] btskinner opened #125 "Account recovery: btskinner"
Hi team,

I have an application, [grm](https://pypi.org/project/grm/0.2.2/), that I've not updated in a while, but am looking to get back into. Unfortunately, I've changed institutions since I last updated it and no longer have access to the original contact email necessary to update my password (which I also no longer have). You can see that I maintain the [project's GitHub repo](https://github.c

[2020-01-02 19:17] yeraydiazdiaz commented on #86
Hi @tbsexton , I can confirm the `nestor` project has no functional code and can be considered invalid.

I will now ask an admin to perform the transfer to you.

[2020-01-02 19:17] yeraydiazdiaz commented on #42
Hi @yguenduez, I can confirm the `nxlib` project has no functional code and can be considered invalid.

I will now ask an admin to perform the transfer to you.

[2020-01-03 00:53] MysteryBlokHed commented on #113
I am still waiting for help. I'd like to get back into PyPI sooner rather than later, as I don't want to keep a broken package uploaded.

[2020-01-03 10:43] yeraydiazdiaz commented on #93
It's been four weeks since the last update on this issue with no reply.

Given there has been no relesases or updates on https://github.com/graingert/gitchart since March 2017 and the download stats are quite low (18 in the last 31 days) I'm inclined to allow the transfer to @flashcode.

I will not immediately contact the admins to request a transfer in the hope that @graingert will reply to this

[2020-01-03 10:59] graingert commented on #93
I wasn't aware that gitchart upstream had new changes. Happy to add @flashcode as a maintainer, not happy to add as owner as they have already stated their intention to remove the existing versions breaking current users

[2020-01-03 11:05] yeraydiazdiaz commented on #93
As I mentioned above, the stats for `gitchart` are really low, 18 downloads in the last 31 days, so the argument of breaking current users is probably not that much of a problem and I'm sure they will not mind upgrading. Is there another particular reason you want to stay the owner?

Given he's the original creator of `gitchart` it seems fitting to me he would also be the owner of the project in P

[2020-01-03 13:42] amatos-ihsmarkit opened #126 "PEP541: Transfer ownership of dli package"
**Project to be claimed**

`dli`: https://pypi.org/project/dli/

**Your PyPI username**

`markit-datalake`: https://pypi.org/user/markit-datalake/

**Reasons for the request**

The dli package is implemented and maintained by IHS Markit (https://ihsmarkit.com/index.html).
 The current owner of the project is set to `ashic` (https://pypi.org/user/ashic/) who doesn't work at the company anymore. I w

[2020-01-03 14:38] ewdurbin commented on #31
Transfer complete.

[2020-01-03 14:38] #31 closed

[2020-01-03 14:42] #57 closed

[2020-01-03 14:52] ewdurbin commented on #89
This has been verified and completed.

[2020-01-03 14:52] #89 closed

[2020-01-03 14:53] ewdurbin commented on #107
Hello @RosiePy! What is your PyPI username?

[2020-01-03 14:59] ewdurbin commented on #113
2FA has been reset and a password reset issued, you should now be able to regain access to your account.

[2020-01-03 14:59] #113 closed

[2020-01-03 15:01] ewdurbin commented on #114
Hello @suttisak-ponsri, can you confirm what address was associated with the account?

[2020-01-03 15:13] ewdurbin commented on #98
hello @nicoddemus, can you please email ernest@python.org from the primary email address associated with your PyPI account.

[2020-01-03 15:13] ewdurbin commented on #70
hi @beng-toast, I haven't seen mail from you to complete the request.

[2020-01-03 15:30] beng-toast commented on #70
Ernest-
Thanks for following up. I must have missed the original email. Let me know
what is needed for pw reset.
Thanks-
—bg

On Fri, Jan 3, 2020 at 10:13 AM Ernest W. Durbin III <
notifications@github.com> wrote:

--
*Ben Gordon*
*Chief Architect*
(443) 538-4243
<http://pos.toasttab.com/>www.toasttab.com

[2020-01-03 15:49] nicoddemus commented on #98
Done, thanks!

[2020-01-03 18:13] ewdurbin commented on #70
@beng-toast please email ernest@python.org from the primary email address associated with your PyPI account to proceed.

[2020-01-04 09:20] flashcode commented on #93
@yeraydiazdiaz: I already discussed with @graingert, I'm not a simple maintainer of the project, but the owner and the only developer of gitchart. @graingert is not a gitchart developer, he's squatting the project name on PyPI with no valid reason, therefore I'm OK for a transfer of the project to myself.
Thank you for your action.

[2020-01-04 16:38] pedrofran12 opened #127 "Reset of 2FA on my PyPi account"
username: pedrofran12
email: pedrofran.oliveira@hotmail.com

Request: reset of 2FA on my PyPi.org account.
Reason: I had to format my phone.

Thank you.

[2020-01-05 16:56] kynan commented on #20
@yeraydiazdiaz my PyPI user name is kynan

[2020-01-05 17:34] gallochri opened #128 "Reset of 2FA on my PyPi account"
username: gallochri
email: chri@gallochri.com

Request: reset of 2FA on my PyPi.org account.
Reason: Changing broken phone.

Thank you.

[2020-01-05 17:35] yeraydiazdiaz commented on #11
Hi @sgratzl, I have had no response from the current owner of the project so it is now considered abandoned and will ask an admin to transfer the project to you.

[2020-01-05 17:36] yeraydiazdiaz commented on #12
Hi @bpabel, I have not received response from the owner of the project so it is now considered abandoned. I will now ask an admin to perform the transfer to you.

[2020-01-05 17:37] yeraydiazdiaz commented on #15
Hello @inducer, I have had no response from the owner of the project so it is now considered abandoned. I will ask an admin to transfer the project to you now.

[2020-01-05 17:38] yeraydiazdiaz commented on #16
Hi @Schamper, I have had no response from the current owner of the project so it is now considered abandoned. I will now ask an admin to transfer the project to you.

[2020-01-05 17:38] yeraydiazdiaz commented on #20
Thank you @kynan, I will now ask an admin to perform the transfer.

[2020-01-05 17:38] yeraydiazdiaz commented on #93
@graingert since you've been unable to explain why you refuse @flashcode his right to the PyPI project in separate ocassions I'm going to have to declare the project invalid due to copyright infringement and transfer the project to him. I will now ask an admin to perform the transfer.

FWIW situations like this, while covered by PEP 541, are less than ideal. We as volunteers expect the members of

[2020-01-05 18:06] schelleg commented on #30
hi @jamadden - 6 weeks have elapsed.  Can I have the PyPI entry for pynq?

Thank you for helping.

[2020-01-05 18:21] graingert commented on #93
Copyright infringement is a very serious allegation, I'm legally
distributing the material under licence

On Sun, 5 Jan 2020, 17:38 Yeray Diaz Diaz, <notifications@github.com> wrote:

[2020-01-05 18:48] yeraydiazdiaz commented on #93
I am obviously not a lawyer so it's perfectly possible that you are in your right to distribute the material. That, however, is not a reason for you refuse the original author of the software ownership of the PyPI project.

You're arguing my reasoning but failing to present a valid one for your own behaviour.

[2020-01-05 18:54] graingert commented on #93
package under the name X on the Index. After some time, User A wants to
publish project X on the Index but realizes name is taken. This is true
even if User A's project X gains notability and the User B's project X is
not notable.

On Sun, 5 Jan 2020, 18:48 Yeray Diaz Diaz, <notifications@github.com> wrote:

[2020-01-05 19:13] sgratzl commented on #11
thx!

[2020-01-05 19:29] flashcode commented on #93
@graingert: you're distributing the same software, not a different project with the same name, so that's different. I'm the only owner of the project, if you want to distribute it respecting the GPL license (with or without changes), then please make a fork with a different name.

[2020-01-05 19:38] inducer commented on #15
Fantastic news, thank you very much for letting me know!

[2020-01-05 20:10] SKantar commented on #12
Hi all,

I created this package while I was working for an company called Modoolar. I think they have been using this package actively and also I think it's not cool from your side to take the ownership of this package and change it (only because you like 'naming')...

Thanks.

[2020-01-05 20:31] yeraydiazdiaz commented on #12
Hi @SKantar, thanks for replying. Just to clarify, no-one's "taking ownership" of the project, @bpabel and myself have tried contacting you several times as outlined by [PEP 541](https://www.python.org/dev/peps/pep-0541/) but recieved no response.

I will ask the admin to hold off on the transfer for now, but I encourage you and @bpabel to come to an agreement over the future of the project, ideal

[2020-01-06 04:02] RatanShreshtha opened #129 "Reset of 2FA on my PyPi account"
username: RatanShreshtha
email: ratan.shreshtha@gmail.com

Request: Reset of 2FA on my PyPi.org account.
Reason: Changing broken phone.

Thank you.

[2020-01-06 04:05] ProfFan opened #130 "Limit Request: gtsam - 293MB"
**Project**

Project: gtsam, https://pypi.org/project/gtsam/

**Size of release**

293M

**Which indexes**

both

**Reasons for the request**

Out project is a widely used numerical optimization library in robotics. It is a C++ library, so the binary size is large. We expect a release size of less than 500MB.

[2020-01-06 06:33] suttisak-ponsri commented on #114
Hello @ewdurbin
The email may be suttisak.pon@ascendcorp.com

[2020-01-06 07:30] sorami opened #131 "Limit Request: sudachidict-{core,full} - {75, 160MB}"
**Project**

- sudachidict-core
- sudachidict-full

**Size of release**

- sudachidict-core: 75MB
- sudachidict-full: 160MB

**Which indexes**

Both PyPI and Test PyPI.

- PyPI
  - https://pypi.org/project/SudachiDict-core/
  - https://pypi.org/project/SudachiDict-full/
- Test PyPI
  - https://test.pypi.org/project/SudachiDict-core/
  - https://test.pypi.org/project/SudachiDict-full/

**Reasons fo

[2020-01-06 09:16] helto4real opened #132 "Please reset 2FA on my account"
Hi,

Please reset 2FA on my account. My phone was stolen and I cant get into my account now.

username: helto4real
e-mail: tomas.hellstrom@yahoo.se

I can provide details in a e-mail conversation.

Thanks
Kind regards
Tomas Hellström

[2020-01-06 12:21] agronholm opened #133 "Add classifier for the AnyIO framework"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: AnyIO`

## Why do you want to add this classifier?

There are already several projects on PyPI using the "anyio" library. Since PyPI does not have an option to search by dependencies, it would be good to have a trove classifier added so that AnyIO based projects can identify themselves as s

[2020-01-06 12:23] agronholm commented on #133
Sure, here's a handy list of links: https://libraries.io/pypi/anyio/dependents

[2020-01-06 12:44] jamadden commented on #30
As

- I've been unable to contact @heynemann; and
- the existing pynq package has [extremely few downloads](https://pypistats.org/packages/pynq) (~1 per day); and
- the replacement project is established under the `pynq` name, including domain names and RTD domain

I will ask the admins to transfer `pynq` to `schelleg` for the purposes of a new project.

[2020-01-06 13:28] jamadden commented on #131
Hi @sorami! It appears that the projects you've linked to (and also https://pypi.org/project/SudachiDict-small/) do not include any Python code.  They just package a data file. (Note how `__init__.py` is an empty file.)
[code]

Unfortunately, distributing large data files isn't what PyPI is intended for. In addition, large packages stress PyPI's infrastructure as well as that of its mirrors, and t

[2020-01-06 13:35] heynemann commented on #30
It's ok to transfer the domain to them.

I've only seen this now. The project is dead. Go ahead with the transfer.

Bernardo Heynemann

On Mon, Jan 6, 2020 at 12:44 PM Jason Madden <notifications@github.com>
wrote:

[2020-01-06 13:55] jamadden commented on #133
Thanks for the list! Of the 12 projects shown, there are 4 different owners; 7 are from the same person (one of the maintainers of `anyio` itself) and 1 project has actually dropped its dependency.

PyPI *has* recently added Framework classifiers that have fewer published projects (e.g., BEAT), but there were more project owners that [demonstrated an interest in the classifier](https://github.com/

[2020-01-06 14:57] knmorgan opened #135 "Lost access to email address"
Hey, I am trying to gain access to my pypi account (same as my github username) but I no longer have access to the email address I originally created the account with. I believe it was created with kyle.morgan@mailtrust.com (or possibly kyle.morgan@rackspace.com).

[2020-01-06 15:02] thusoy opened #136 "Add trove classifier for the Hippocratic License"
Request to add a new Trove classifier for the [Hippocratic License](https://firstdonoharm.dev/version/1/2/license.html).

## The name of the classifier you would like to add

* `License :: Hippocratic License`

## Why do you want to add this classifier?

None of the existing licenses prevents use by parties infringing on the declaration of human rights, several projects have started adopting such

[2020-01-06 15:02] michael-k opened #137 "Request trove classifiers for ASGI"
Request to add a new Trove classifier.

## The name of the classifiers you would like to add

* Topic :: Internet :: WWW/HTTP :: ASGI
* Topic :: Internet :: WWW/HTTP :: ASGI :: Application
* Topic :: Internet :: WWW/HTTP :: ASGI :: Middleware
* Topic :: Internet :: WWW/HTTP :: ASGI :: Server

## Why do you want to add these classifiers?

- The same classifiers exist for WSGI.
- async/asyncio gains

[2020-01-06 15:03] fkromer opened #139 "Request trove classifier for scikit-learn"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `scipy :: scikit-learn`
* `scipy :: learn`

## Why do you want to add this classifier?

[scikit-learn](https://scikit-learn.org/stable/) is one of the most popular "general purpose" machine learning frameworks for Python. There are many Python packages extending the functionality of scikit-learn, refer t

[2020-01-06 15:03] sorami commented on #131
Hi @jamadden , thank you very much for your reply!

I see, I understand that the PyPI is not intended for hosting large data files.

Thank you very much for a detailed explanation of how we can distribute the files in other ways. Let us consider these approaches.

[2020-01-06 15:03] #131 closed

[2020-01-06 15:04] NIC-MichalLabedzki opened #140 "Request to add classifier License :: OSI Approved :: Free Public License 1.0.0 (0BSD)"
Request to add a new Trove classifiers.

## The name of the classifier you would like to add
* `License :: OSI Approved :: Free Public License 1.0.0 (0BSD)`
* `License :: OSI Approved :: Zero-Clause BSD (0BSD)`

## Why do you want to add this classifiers?

It is new license approved by OSI. See https://opensource.org/licenses/0BSD

This license is also as simple as possible so in future - almost a

[2020-01-06 15:05] thedrow opened #141 "Request trove classifier: Framework :: Celery"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: Celery`

## Why do you want to add this classifier?
Celery is very widely used in the Python community. Github has many repositories [tagged](https://github.com/topics/celery) with Celery.
It has some projects related to it which are not maintained by the Celery team such as [redbeat](https

[2020-01-06 15:05] Steap opened #142 "Request: more precise license classifiers"
Hello,

Going throught the list of available classifiers at https://pypi.python.org/pypi?%3Aaction=list_classifiers , I feel like some of the license classifiers are not precise enough. For instance, there is a "License :: OSI Approved :: BSD License" that could refer to multiple licenses: BSD-2-Clause, BSD-2-Clause-Patent, BSD-3-Clause. In order to determine the actual license used by a project t

[2020-01-06 15:07] defeo opened #143 "Request to add trove classifier Framework :: SageMath"
Request to add a new Trove classifier.

## The name of the classifier you would like to add

* `Framework :: SageMath`

## Why do you want to add this classifier?

[SageMath](http://www.sagemath.org/) is one of the most popular open source computer algebra software, used for teaching and research in Mathematics, Physics, Computer Science, and more. SageMath's interface language is Python; pip is i

[2020-01-06 16:04] agronholm commented on #133
I would like to clarify that I am the only maintainer of AnyIO, and I am not directly involved with any of the dependent projects. Matthias Urlichs has contributed a few minor fixes and features but is only marked as a maintainer for reasons of bus insurance.

Which project is that?

[2020-01-06 16:07] agronholm commented on #133
Oh, that's `asgi-lifespan`. Not sure why it would need AnyIO in the first place.

[2020-01-07 04:08] Erotemic commented on #103
This has been resolved.

[2020-01-07 04:08] #103 closed

[2020-01-07 06:44] bpabel commented on #12
Hi @yeraydiazdiaz , I don't think @SKantar's 11th-hour reply really changes much about the original request.

The pypi project is still invalid per [PEP 541](https://www.python.org/dev/peps/pep-0541/#invalid-projects) as I believe it meets the following criteria.

The pypi project is mostly empty except for a single release, and while there are python files in that release, it doesn't work and isn

[2020-01-07 09:19] yeraydiazdiaz commented on #12
Hi @bpabel, I've had a deeper look. @SKantar mentioned:

The project is installable but the package is built incorrectly and causes import errors, thus has no functionality. Additionally there's been no releases or commits in the source repo since the very first one three years ago.

In light of that I agree with @bpabel that the project can be considered invalid and abandoned at this point in tim

[2020-01-07 13:35] vigsterkr commented on #119
@jamadden what's the usual waiting time for a reply in these cases?

[2020-01-07 14:38] ewdurbin commented on #11
@sgratzl what PyPI username should the project be transferred to?

[2020-01-07 14:40] ewdurbin commented on #15
Hi @inducer what PyPI username should the project be transferred to?

[2020-01-07 14:44] sgratzl commented on #11
it is the same: `sgratzl`

https://pypi.org/user/sgratzl/

[2020-01-07 15:14] yeraydiazdiaz commented on #15
I believe his username is [`inducer77`](https://pypi.org/user/inducer77/)

[2020-01-07 15:21] inducer commented on #15
Yep, inducer77 confirmed.

[2020-01-07 15:22] ewdurbin commented on #15
Transfer complete.

[2020-01-07 15:22] #15 closed

[2020-01-07 15:24] ewdurbin commented on #11
Transfer complete.

[2020-01-07 15:24] #11 closed

[2020-01-07 15:26] ewdurbin commented on #16
Transfer complete.

[2020-01-07 15:26] #16 closed

[2020-01-07 15:27] ewdurbin commented on #20
Transfer complete.

[2020-01-07 15:27] #20 closed

[2020-01-07 15:29] ewdurbin commented on #30
Transfer complete.

[2020-01-07 15:29] #30 closed

[2020-01-07 15:30] ewdurbin commented on #42
Transfer complete.

[2020-01-07 15:30] #42 closed

[2020-01-07 15:31] ewdurbin commented on #86
Transfer complete.

[2020-01-07 15:31] #86 closed

[2020-01-07 15:36] inducer commented on #15
Thanks!

[2020-01-07 15:41] jamadden commented on #119
Normally PEP 541 specifies a 6 week waiting time for contact to be established. However, this particular project contains no installable files, so it falls under the PEP definition of a name squatting project and can be removed/transferred immediately. (Also, the GitHub repo it points to no longer exists.) I'll get in touch with the admins.

[2020-01-07 16:16] jamadden commented on #119
@vigsterkr Could you confirm your PyPI username please?

[2020-01-07 16:20] vigsterkr commented on #119
@jamadden sure thing! it's `wiking`. ta!

[2020-01-07 16:40] sgratzl commented on #11
thx!

[2020-01-07 17:33] fportantier commented on #119
The name shogun it's used for a project that we're development. But I don't have problem to change it. So, I can free the name.

[2020-01-07 17:35] fportantier commented on #119
Done, the project has been deleted, so, the name will be free. Regards! :)

[2020-01-07 19:17] sashi-coursera opened #144 "Transfer : courseraprogramming to the user : eng-tech-content"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/courseraprogramming/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/eng-tech-content/

**Reasons for the request**

Brennan Saeta (Original author who used to work at Coursera) is no longer at coursera. Since then the courseraprogramming has not been updated. We have some important updates to this project which we nee

[2020-01-07 19:55] jamadden commented on #144
I suspect that the github user @saeta is the current owner of the PyPI project https://pypi.org/project/courseraprogramming/. That account appears to be active, hopefully it will see this ping and reply.

[2020-01-07 20:00] sashi-coursera commented on #144
Thank you Jason. Is @saeta copied in this email?

On Tue, Jan 7, 2020 at 11:55 AM Jason Madden <notifications@github.com>
wrote:

[2020-01-07 20:05] jamadden commented on #144
@saeta should receive a github notification based on their configuration. If we don't get a response in a few days, we have an unverified email in PyPI's records that I will attempt to contact. (I may need to be reminded.)

[2020-01-07 20:07] sashi-coursera commented on #144
Sounds good. Thanks for the help.

Sashi.

On Tue, Jan 7, 2020 at 12:05 PM Jason Madden <notifications@github.com>
wrote:

[2020-01-07 20:07] jamadden commented on #119
@fportantier Thanks!

@vigsterkr I confirm the project has been deleted. It's up to you to upload your new project to secure the name.

[2020-01-07 20:07] #119 closed

[2020-01-07 21:31] zman81988 opened #145 "PEP 541: transfer ownership of unmaintained 'hubspot' package"
**Project to be claimed**

`HubSpot`: https://pypi.org/project/hubspot

**Your PyPI username**

`zwolfson `: https://pypi.org/user/zwolfson

**Reasons for the request**

I believe this project has been abandoned for two reasons.  First is the last release was in June of 2014. The second is that the author of the project has been set to UNKNOWN.

**Maintenance or replacement?**

We (HubSpot) intend

[2020-01-08 08:55] bpabel opened #146 "Reset of 2FA on my PyPi account"
username: bpabel
email: 007brendan@gmail.com
Request: Reset of 2FA on my PyPi.org account.
Reason: Reset phone

Thank you.

[2020-01-08 09:16] SKantar commented on #12
@bpabel don't be so aggressive, it's Christmas time here in Serbia (we celebrate Christmas at January 7th) and I do not work for Christmas and I have a reason why I haven't answered.

I'm no more part of that company as you can see. As I remember, they have been using RocketChat as a internal communication tool and I connected it with git so when someone commit something other related contacts get

[2020-01-08 10:28] Didou09 opened #147 "Asking for package name consistency on Pypi and test-Pypi"
**Project to be claimed**

`tofu`: https://pypi.org/project/tofu/

**Your PyPI username**

`Didou09`: https://pypi.org/user/Didou09

**Reasons for the request**

We already claimed the package name tofu, via private email with a previous owner, it went fine.
Now we would like to use the same name 'tofu' on test-pypi, but it does not seem to work.

We suspect that someone else is already using that

[2020-01-08 11:28] jamadden commented on #147
The project `tofu` on test-PyPI was created and then immediately deleted about a year ago. Thus it appears to be an empty, invalid procjet that's name squatting at this point.

The owner in test-pypi appears to be @shalomb and the repository appears to be https://github.com/shalomb/tofu. I can ask an admin to remove the project from test-pypi, but hopefully @shalomb is the correct owner, gets this

[2020-01-08 11:55] jamadden commented on #145
PyPI has unverified email addresses on file for the two project maintainers. I've emailed them to attempt contact. I have been unable to discover any other means of contact.

I've confirmed that the PyPI account `zwolfson` has a verified `@hubspot.com` email address.

[2020-01-08 12:18] shalomb commented on #147
Hi @jamadden, @Didou09 , @lasofivec - I've deleted `tofu` on test.pypi.org - you may now claim it.

[2020-01-08 13:00] #147 closed

[2020-01-08 16:24] yeraydiazdiaz commented on #12
Hi @SKantar, I don't think @bpabel is trying to be aggressive, he's acting in the spirit of the PEP which establishes guidelines to deal with these situations.

The fact is that when users install `rocketchat` they get a non-functional package. This has been verified by both of us. It's also clear you have not been maintaining the project, do you have plans on doing so? If not, what exactly are yo

[2020-01-08 16:35] bpabel commented on #146
@ewdurbin, I saw you were able to fix this on a few other tickets.  Thanks in advance!

[2020-01-09 10:06] radomsak opened #148 "Reset of 2FA on my PyPi account"
Hello,

My phone was stolen and I lost the ability to log in to pypi with 2FA.

username: radomsak
email: adamradomski4@gmail.com

Request: Reset of 2FA on my PyPi.org account.
Reason: Stolen phone.

Thank you.

[2020-01-09 12:01] mauritsvanrees opened #149 "Claim not yet existing package name for security"
Is there a way to claim or register a package name without using `twine upload`? So with some form on PyPI?
The alternative would be to `twine upload` an almost empty package, and then delete the release. Would that be the recommended way? Small downside is that there is a small time window where PyPI mirrors can pick up the file.

Note: this is **not** about an existing package whose ownership I

[2020-01-09 14:48] nsheff commented on #4
@yeraydiazdiaz My username on pypi is the same: `nsheff`.

thank you!

[2020-01-10 03:54] #130 closed

[2020-01-10 10:21] yeraydiazdiaz commented on #1
Hi @aaronkaplan, are you still interested in transfering the project to yourself?

If so, I think we can move on with the transfer since it's clear you've been maintaining the GitHub repo recently.

[2020-01-10 10:27] aaronkaplan commented on #1
yes! Definitely!

It's really a matter of keeping the  original's author (and my best friend) memory alive via code which should live on and continue to evolve.
What would you need from me in order to complete this?

Thanks!
a.

[2020-01-10 10:29] yeraydiazdiaz commented on #1
Great, we just need you to confirm your PyPI username.

[2020-01-10 10:32] yeraydiazdiaz commented on #91
Hello @kensoh, I can confirm the project is invalid as it's got no releases.

I will now ask an admin to perform this transfer for you.

[2020-01-10 10:35] yeraydiazdiaz commented on #101
Hello @rlouf, I can confirm this project is invalid as it's got a single release with no files associated.

I will now ask an admin to perform this transfer for you.

[2020-01-10 10:38] kensoh commented on #91
Hi @yeraydiazdiaz thank you so so much! This will really help me make open-source, full-featured and free RPA software for Python much more accessible to the Python ecosystem. I appreciate it!

[2020-01-10 10:43] yeraydiazdiaz commented on #115
Hi @jheld, it seems @aaronbassett has been recently active in GitHub so hopefully he will get back to us regarding your request. It does seem like the domain `rawtech.io` is no longer active so the email but his GitHub profile includes an email address. I will try contacting him through that as well.

[2020-01-10 10:53] yeraydiazdiaz commented on #117
Hi @Baekalfen, while I agree the code looks fairly limited I cannot really considered it invalid. I will not try contacting the owner myself, as a moderator we sometimes have more success.

If I receive no response in six weeks time as described in the PEP 541 we will proceed with the transfer.

[2020-01-10 10:54] aaronkaplan commented on #1
That would be "aaronkaplan".

Thanks!
a.

[2020-01-10 11:03] yeraydiazdiaz commented on #124
Hi @luminoctum, thanks for the screenshot of the email

However, there is _some_ functionality in the project so I'll need confirmation from @HarpB to move on with your request. I will email him myself as well.

[2020-01-10 11:15] jamadden commented on #138
The classifiers have been added to pypi.org and test.pypi.org

[2020-01-10 11:15] #138 closed

[2020-01-10 11:17] yeraydiazdiaz commented on #126
Hello @amatos-ihsmarkit, before moving forward I'm required to have confirmation from the owner.

I did some research and found a GitHub profile: @ashic, that could be the owner's, apologies if that is not the case.

[2020-01-10 11:23] yeraydiazdiaz commented on #87
Hello @ben-bay, I've emailed the owner myself on 2nd Jan as sometimes as moderators we have more luck. If I receive no reply we will move forward with your claim.

[2020-01-10 11:25] jamadden commented on #143
Hi! Thanks for the request. Because removing classifiers is very difficult, and the longer the classifier list gets the harder it is to browse, the bar to add new ones is relatively high. Currently, PyPI moderators primarily examine two guidelines for ``Framework`` classifiers:

* New ``Framework`` classifiers should be created if they are "notable;" and
* They will be of immediate use to existing

[2020-01-10 11:33] jamadden commented on #140
Thanks for the request! Currently, adding license classifiers is generally waiting for a resolution to the umbrella issue #142.

[2020-01-10 11:33] jamadden commented on #136
Thanks for the request! Currently, adding license classifiers is generally waiting for a resolution to the umbrella issue #142.

[2020-01-10 11:44] jamadden commented on #137
Hi! Thanks for the well written request. The PyPI moderators have a few guidelines for the creation of new classifiers. Because removing classifiers is very difficult, and the longer the classifier list gets the harder it is to browse, the bar to add new ones is relatively high. Currently, the guidelines state:

* New classifiers should be created if they are "notable;" and
* They will be of immed

[2020-01-10 12:42] yeraydiazdiaz commented on #149
Hi @mauritsvanrees, thanks for the report.

The short answer AFAIK is no, there is no way of doing that in PyPI itself.

Seems to me what you're describing is a mechanism of "project name reservation" which falls somewhere between to name-squatting and blacklisting.

I started a [discussion](https://discuss.python.org/t/pep-541-should-name-squatting-be-actively-discouraged/2407) regarding the firs

[2020-01-10 13:13] jheld commented on #115
Thank you! I appreciate it (one way or the other).

[2020-01-10 15:20] SKantar commented on #12
I gave Owner permissions for rocketchat package to bpbabel.

Best,
Sladjan

[2020-01-10 16:08] ben-bay commented on #87
Thanks for your help.

[2020-01-10 16:52] yeraydiazdiaz commented on #12
Great, thanks @SKantar!

[2020-01-10 16:52] #12 closed

[2020-01-10 16:59] ewdurbin commented on #1
Transfer complete.

[2020-01-10 16:59] #1 closed

[2020-01-10 17:02] ewdurbin commented on #101
Transfer complete.

[2020-01-10 17:02] #101 closed

[2020-01-10 17:03] ewdurbin commented on #91
Transfer complete.

[2020-01-10 17:03] #91 closed

[2020-01-10 17:05] ewdurbin commented on #4
Transfer complete.

[2020-01-10 17:05] #4 closed

[2020-01-10 18:03] aaronkaplan commented on #1
Thanks everyone!

[2020-01-10 18:32] kensoh commented on #91
Thank you so much Ernest @ewdurbin ! 😄

[2020-01-10 18:33] bpabel commented on #12
Thanks @SKantar !! @yeraydiazdiaz , I'm currently locked out of pypi because of a 2FA issue (#146), not sure if you're able to do anything about that as well.  Thanks!

[2020-01-11 01:18] davidism opened #150 "Transfer ownership of Click on Test PyPI"
Follow up to #108 for Click.

I'm a core maintainer of Click. I would like to use **Test PyPI** to test out some packaging issues I'm working on, but it is currently taken with a placeholder by @encukou. Please transfer ownership of this project to me. Thank you.

`PROJECT_NAME`: https://test.pypi.org/project/click
`USER_NAME`: https://test.pypi.org/user/davidism

[2020-01-11 10:20] yeraydiazdiaz commented on #12
No worries @bpabel. 2FA requests are not handled by moderators, sorry. I'm sure an admin will sort it out soon.

[2020-01-11 11:49] Baekalfen commented on #117
Thanks for the response. I understand, your reasons for not invalidation the code. I'm looking forward to see what happens in 6 weeks.

[2020-01-11 14:00] kwloafman opened #151 "Issue: PEP 541 Request: duplicity"
**duplicity**
PROJECT_NAME: https://pypi.org/project/duplicity
USER_NAME: https://pypi.org/user/FirstPrime

**Reasons for the request**
The project has been abandoned, last update was in 2017

**Maintenance or replacement?**
I plan to maintain the project and keep it up to date.  I am the primary maintainer for duplicity.

**Contact and additional research**
I looked for an email address and could

[2020-01-12 07:18] rlouf commented on #101
Great, thank you for your help.

[2020-01-12 21:26] masoudmansoury opened #152 "Limit Request: librec-auto (300 MB, both PyPI and TestPyPI)"
**Project**

librec-auto
https://pypi.org/project/librec-auto/
https://github.com/that-recsys-lab/librec-auto
https://github.com/that-recsys-lab/librec-auto-java

**Size of release**

300MB

**Which indexes**

Both

**Reasons for the request**

The librec-auto project aims to automate recommender system experimens using Librec. The workflow of an experiment involves identifying appropriate data, c

[2020-01-13 10:36] stefandtw opened #154 "Verification e-mail not arriving"
Hello,

I am not receiving any e-mails. My account name is stefandtw.

I resent the verification e-mail.

I checked my spam folder and whitelisted noreply@pypi.org on my e-mail account.

Last week I received e-mails from TestPyPI without any issues.

[2020-01-13 11:18] jamadden commented on #152
Thanks for the report. It doesn't seem to answer the most important question though: Why does the release have to be so big?

[2020-01-13 12:11] masoudmansoury commented on #152
Thanks for your response. This project uses a java project, librec, as an engine for performing experiments. As part of the installation, this .jar file needs to be installed as well. So, the whole project including this .jar file will need 270MB-300MB.

[2020-01-13 12:26] jktjkt commented on #18
Hi @yeraydiazdiaz , it seems that we are not able to reach @dutc. We've been trying to get his explicit approval for 6+ months already, but our efforts were unsuccessful. Can we proceed without James' approval, then?

Look at, e.g., the [commit history of repo's `README.md`](https://github.com/Telecominfraproject/oopt-gnpy/commits/master/README.rst), in particular [this commit](https://github.com/

[2020-01-13 15:12] jamadden commented on #152
Thanks for the reply! Because such large projects place a burden on PyPI and do not provide a good experience for end users, PyPI moderators are encouraged to help find ways to avoid the need to distribute such large packages — this is especially true if the package isn't actually distributing Python code (PyPI is not built to distribute data sets or non-Python code at scale). At 300MB, moderators

[2020-01-13 19:00] bpabel commented on #146
Hi @ewdurbin , just pinging again to see if this can be reset sooner than later. I just finished up a PEP 541 transfer and I'd like to make sure the project is updated and has new releases. Thanks!

[2020-01-14 09:19] poke1024 opened #153 "Email soft bounces due to IP spam classification from gmx.net"
Hello there, I've been trying to reset my password through https://pypi.org/account/request-password-reset/ for like 30 minutes, but I don't seem to receive any email with reset link.

[2020-01-14 09:24] yeraydiazdiaz commented on #153
Hi @poke1024, you seem to be in a similar situation that was [reported yesterday](https://github.com/pypa/pypi-support/issues/154#issuecomment-573606690). The error message is the same so it may be a temporary issue.

cc @ewdurbin

[2020-01-14 09:33] yeraydiazdiaz commented on #154
@alffdtu I assume your issue has been resolved, if not feel free to comment.

I'm closing this issue in favor of the more specific #153.

[2020-01-14 09:33] #154 closed

[2020-01-14 09:50] poke1024 commented on #153
@yeraydiazdiaz Ok, that makes sense, probably an issue with gmx.net.

[2020-01-14 16:23] elgalu opened #155 "PEP 541: transfer ownership of unmaintained 'zflow' package"
**Project to be claimed**
`zflow`: https://pypi.org/project/zflow

**Your PyPI username**
`elgalu`: https://pypi.org/user/elgalu

**Reasons for the request**
I believe this project has been abandoned:
- last release was in 2010.
- the author of the project @jlowery hasn't replied to my contact attempts for a long time.

**Maintenance or replacement?**
We (Zalando SE) intended to publish a differen

[2020-01-14 16:26] fcojersanchez commented on #155
👍

[2020-01-14 16:47] elvinx commented on #155
👍

[2020-01-14 16:48] HCharlie commented on #155
👍

[2020-01-14 16:48] yeraydiazdiaz commented on #155
Thanks @elgalu for the report. Could I please ask other users to not comment with 👍 , it only adds to the noise, there's a button for that in GitHub.

[2020-01-14 16:48] HCharlie commented on #155
👍

[2020-01-14 17:20] fubuloubu opened #156 "PEP 541 Request: page"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/page/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/fubuloubu

**Reasons for the request**

1. This project was never in use, project is merely name squatting using a template project
2. The current maintainer has several projects using the same exact template:
https://pypi.org/user/doublenorth/

**Maintenance or rep

[2020-01-14 18:16] stnava commented on #52
any update?

[2020-01-14 18:28] jamadden commented on #52
The upload limit has been set to 300MB.

At that size, please be mindful of the burden new releases place on PyPI and end users, and be judicious releasing new versions.

[2020-01-14 18:28] #52 closed

[2020-01-14 18:31] ewdurbin commented on #153
Using all of the available data from our SES integration, it seems that many of the IP addresses that our account is associated with have been listed on the "SORBS" and "UCEPROTECT"

[From SES docs](https://docs.aws.amazon.com/ses/latest/DeveloperGuide/blacklists.html#bl-q4):

Based on the domains of all Soft Bounces in the the current record, it seems that the following providers may be using the

[2020-01-14 19:41] btskinner commented on #125
Gentle reminder. If anyone can help, I'd appreciate it.

[2020-01-15 08:20] poke1024 commented on #153
Hm. Interesting. These domains all belong to United Internet (https://en.wikipedia.org/wiki/United_Internet).

[2020-01-15 08:26] poke1024 commented on #153
Since it's still blocking, is this a good place to ask for change of email on my PyPI account?

[2020-01-15 12:05] masoudmansoury commented on #152
Thanks for your suggestions.

[2020-01-15 13:57] nicoddemus commented on #98
@ewdurbin gentle ping. 😁

[2020-01-15 21:48] helto4real commented on #132
Possible to help me out please ?

[2020-01-16 07:27] bpabel commented on #146
@yeraydiazdiaz @jamadden Do you know any other admins besides @ewdurbin ?

What's the plan for these 2FA reset tickets?  I see some that are still open after 2 months?

[2020-01-16 08:36] gizmo84 opened #157 "Reset of 2FA on my PyPi account"
username: stephane.ludwig
email: gitlab@stephane-ludwig.net
Request: Reset of 2FA on my PyPi.org account.
Reason: Reset phone

Thank you.

[2020-01-16 14:13] ewdurbin commented on #70
2FA reset complete.

[2020-01-16 14:13] #70 closed

[2020-01-16 14:16] ewdurbin commented on #79
2FA reset complete for user iMitro on test.pypi.org.

[2020-01-16 14:16] #79 closed

[2020-01-16 14:23] ewdurbin commented on #112
Hello @cybiere, please email ernest@python.org from the primary email address associated with your PyPI user account.

[2020-01-16 14:26] ewdurbin commented on #114
@suttisak-ponsri thanks, can you please email ernest@python.org from the new address you'd like to associate with the account?

[2020-01-16 14:28] ewdurbin commented on #116
Hello @wgzhao, please email ernest@python.org from the primary email address associated with your PyPI account to proceed.

[2020-01-16 14:30] ewdurbin commented on #122
Hello @letuananh, please email ernest@python.org from the primary email address associated with your PyPI account.

[2020-01-16 14:31] ewdurbin commented on #123
Hello @rmorshea, please email ernest@python.org from the primary email address associated with your PyPI account.

[2020-01-16 14:33] ewdurbin commented on #125
Hello @btskinner. There is a second verified email address associated with your user account.

I've updated it to be the primary email address and issued a password reset, which should allow you to regain access to your account.

[2020-01-16 14:33] #125 closed

[2020-01-16 14:33] ewdurbin commented on #127
Hello @pedrofran12, please email ernest@python.org from the primary email address associated with your PyPI account.

[2020-01-16 14:34] michaelbukachi commented on #121
Done.

[2020-01-16 14:36] ewdurbin commented on #98
2FA has been reset and a password reset issued after verifying via repository access.

[2020-01-16 14:36] #98 closed

[2020-01-16 14:38] ewdurbin commented on #121
Thanks for validating. 2FA has been reset and a password reset issued, complete it to regain access to your account.

[2020-01-16 14:38] #121 closed

[2020-01-16 14:42] btskinner commented on #125
That worked. Thanks for your time and help.

[2020-01-16 14:45] ewdurbin commented on #128
Hello @gallochri, please email ernest@python.org from the primary email associated with your account.

[2020-01-16 14:46] ewdurbin commented on #129
Hello @RatanShreshtha, please email ernest@python.org from the primary email associated with your account.

[2020-01-16 14:48] ewdurbin commented on #132
Hello @helto4real, please email ernest@python.org from the primary email address associated with your PyPI account.

[2020-01-16 14:51] ewdurbin commented on #146
Verified request, 2FA reset has been completed and a password reset issued.

[2020-01-16 14:51] #146 closed

[2020-01-16 14:52] ewdurbin commented on #157
Hello @gizmo84, please email ernest@python.org from the primary email address associated with your PyPI account.

[2020-01-16 14:52] ewdurbin commented on #148
Hello @radomsak, please email ernest@python.org from the primary email address associated with your PyPI account.

[2020-01-16 15:28] nicoddemus commented on #98
Confirmed, thanks!

[2020-01-16 16:03] ewdurbin commented on #127
2FA reset and password reset issued.

[2020-01-16 16:03] #127 closed

[2020-01-16 18:00] gallochri commented on #128
Ok, thanks

[2020-01-16 18:10] helto4real commented on #132
Thanks, I realized I had erased the info@joysoftware.org. I had to recreate it.

Can I please ask you to send it again? Sorry for the inconvenience.

Kind Regards
Tomas

[2020-01-16 18:53] ewdurbin commented on #132
2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-16 18:53] #132 closed

[2020-01-16 19:03] ewdurbin commented on #123
2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-16 19:03] #123 closed

[2020-01-16 19:23] helto4real commented on #132
You guys are the best! Thanks!

[2020-01-16 19:45] ewdurbin commented on #128
2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-16 19:45] #128 closed

[2020-01-16 22:22] ewdurbin commented on #157
2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-16 22:22] #157 closed

[2020-01-17 02:33] letuananh commented on #122
Hi @ewdurbin thanks so much for your help. I have sent the email to the mentioned address. Please let me know if there is something else that needs to be done.

[2020-01-17 12:21] jamadden commented on #144
The next step was to escalate to email to attempt to contact @saeta. I've done so using the email address we have on file (which differs from the public email listed for the project).

This is another contact attempt under PEP 541. Hopefully we'll hear back quickly so we don't have to wait for the (just under 5 weeks) waiting period to expire.

[2020-01-17 15:25] alyvix opened #158 "Issue: Limit Request: Alyvix - 92MB"
**Alyvix**

https://pypi.org/project/alyvix/

**92MB**

**PyPI**

**Alyvix can use and test any desktop application using Computer Vision, we now use RNN and we have training data inside our new package**

[2020-01-17 16:20] jamadden commented on #158
The limit for https://pypi.org/project/alyvix/ has been set to 100MB.

[2020-01-17 16:20] #158 closed

[2020-01-17 16:21] ewdurbin commented on #129
2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-17 16:21] #129 closed

[2020-01-17 16:27] RatanShreshtha commented on #129
Thanks @ewdurbin

[2020-01-17 18:35] castleguarders commented on #47
Hello, Could you please take a look at this request? It would be helpful to get a decision either way.

[2020-01-17 20:52] adamghill opened #159 "Issue: PEP 541 Request: wagtail-draftail-snippet"
**Project to be claimed**
`PROJECT_NAME`: https://pypi.org/project/wagtail-draftail-snippet

**Your PyPI username**
`USER_NAME`: https://pypi.org/user/adamghill

**Reasons for the request**
I accidentally uploaded `wagtail-draftail-snippet` under my user account rather than my employer's account (`themotleyfool`). After I deleted the project from my account, it's still locked so I was hoping to re

[2020-01-17 21:07] jamadden commented on #159
The PyPI admin console shows that project name as being available. It was removed from PyPI, and hence made available for anyone to claim, by `adamghill` at 2020-01-17 20:40:06.553164, about three minutes after it was created. All it should be necessary to do is upload *a new version* of the project from the desired account.

[2020-01-17 21:11] adamghill commented on #159
Thank you so much for the information -- I didn't realize that all I needed to do was create a new version, but that worked (https://pypi.org/user/themotleyfool/)! Thanks again for all of your help.

[2020-01-17 21:11] #159 closed

[2020-01-17 22:22] alyvix commented on #158
Thank you very much!

[2020-01-17 23:09] webknjaz opened #160 "PEP 541 Request: Ansible"
**Project to be claimed**

`Ansible`: https://pypi.org/project/ansible-py3/

**Your PyPI username**

`webknjaz`: https://pypi.org/user/webknjaz

**Reasons for the request**

I believe that this project may be used for the name squatting. Even though I haven't confirmed any malicious code added there, the publisher probably shouldn't upload misleading description (it's basically the same as officia

[2020-01-18 12:06] ewdurbin commented on #116
2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-18 12:06] #116 closed

[2020-01-18 15:30] yeraydiazdiaz commented on #23
Hi @quozl, I have not heared back from the owner so the project is now considered abandoned.

Could you confirm your PyPI username, please?

[2020-01-18 15:32] yeraydiazdiaz commented on #34
@Miserlou, are you still interested in this transfer?

[2020-01-18 21:38] Miserlou commented on #34
Yes! I'm miserlou on PyPi

[2020-01-19 10:15] cybiere commented on #112
Just sent it ! I hope it won't end up in your spams ;)

[2020-01-19 14:40] ewdurbin commented on #112
2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-19 14:40] #112 closed

[2020-01-19 17:16] ewdurbin commented on #148
2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-19 17:16] #148 closed

[2020-01-20 00:07] ecejeff opened #162 "PEP 541: Transfer ownership of abandoned `scrivener`"
**Project to be claimed**

`scrivener`: https://pypi.org/project/scrivener

**Your PyPI username**

`jsnichols`: https://pypi.org/user/jsnichols/

**Reasons for the request**

This package has been abandoned. The last commit in the repository was 8 years ago.

**Maintenance or replacement?**

I intend to replace the scrivener project with https://bitbucket.org/suprocktech/scrivener/

My project ha

[2020-01-20 01:34] buck54321 opened #163 "name transfer request for 'decred'"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/Decred

**Your PyPI username**
`USER_NAME`: https://pypi.org/user/tinydecred

**Reasons for the request**

The repo has no functionality. It will be 12 months since the last activity, but it likely doesn't need to meet reachability and abandonment requirements because 1) it has no author information in either PyPI or the placehold

[2020-01-20 14:05] ewdurbin commented on #122
2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-20 14:05] #122 closed

[2020-01-20 15:45] jamadden commented on #160
That project appears to be owned by Github user @mrk-its who [recently contributed a PR to upstream ansible](https://github.com/ansible/ansible/pull/54958). Perhaps @mrk-its can respond here?

[2020-01-20 16:16] jamadden commented on #162
I believe that the PyPI owner `dreid` is GitHub user @dreid; that account is active on GitHub. Hopefully @dreid gets this notification and responds here.

[2020-01-20 16:49] dreid commented on #162
The project is abandoned but it was functional and in use at the time it was abandoned.

It's difficult to know that it's definitely no longer in use, and that replacing it in the global namespace with a completely different piece of software won't cause problems.

I'm personally unwilling to take on the burden of doing such an investigation or the risk of any potential fallout.

This is a fundame

[2020-01-20 16:57] mrk-its commented on #160
@webknjaz @jamadden I've uploaded this package because I was not able to get my PR merged to ansible for 8 months (this package is simply my fork of ansible with changes from that PR) You are right, I definitely should use different name and modify description (will do). I'll remove this package completely after new release of upstream ansible (with my changes).

[2020-01-20 17:26] ecejeff commented on #162
I guess that confirms that the project is abandoned.

Now that Python 2.7 is no longer officially supported is it any easier to justify transferring abandoned Python 2 projects?

[2020-01-20 17:37] amatos-ihsmarkit commented on #126
Hi Yeray,

Thanks. That’s indeed him, but I’ve tried to reach out to him with no avail. Can you please advise on how to proceed?

Artur

From: Yeray Diaz Diaz <notifications@github.com>
Sent: Friday, January 10, 2020 11:17 AM
To: pypa/pypi-support <pypi-support@noreply.github.com>
Cc: Artur Matos <Artur.Matos@ihsmarkit.com>; Mention <mention@noreply.github.com>
Subject: Re: [pypa/pypi-support] PEP

[2020-01-20 17:42] jamadden commented on #162
The PEP defines abandoned projects:

The owner was reachable, so by the PEP's definition the project cannot be considered. I think that ends the role of PyPI moderators; as the PEP says moderators "are not arbiters in disputes around *active* projects." PyPI moderators cannot take away a name from a reachable owner and active projects aren't simply removed. The PEP encourages users in conflict ove

[2020-01-20 17:42] yeraydiazdiaz commented on #126
The next steps are to wait for him to reply either here or to one of my emails in the coming weeks. If he does not we can consider the package abandoned and move forward with the request.

[2020-01-20 17:43] amatos-ihsmarkit commented on #126
Fantastic, thanks.

From: Yeray Diaz Diaz <notifications@github.com>
Sent: Monday, January 20, 2020 5:43 PM
To: pypa/pypi-support <pypi-support@noreply.github.com>
Cc: Artur Matos <Artur.Matos@ihsmarkit.com>; Mention <mention@noreply.github.com>
Subject: Re: [pypa/pypi-support] PEP541: Transfer ownership of dli package (#126)

[CAUTION] EXTERNAL EMAIL ..

The next steps are to wait for him to repl

[2020-01-20 17:51] ecejeff commented on #162
Understood.

[2020-01-20 17:52] #162 closed

[2020-01-20 19:04] webknjaz commented on #160
@mrk-its please do the change and thanks for understanding!

[2020-01-20 19:04] #160 closed

[2020-01-21 00:35] Ayehavgunne opened #164 "Account recovery request"
Request for account recovery.

## PyPI Username

`ayehavgunne`

---

##  Reason for request

Reason:
Got new phone, forgot to set up authenticator.

[2020-01-21 03:19] quozl commented on #23
Username is quozl.  Sorry for the delay, blame https://linux.conf.au :grin:

[2020-01-21 12:19] ewdurbin commented on #114
The primary email address for the account has been updated and a password reset initiated.

Please complete the reset to regain access to your account.

[2020-01-21 12:19] #114 closed

[2020-01-21 13:02] Parakoopa opened #165 "Account recovery request"
Request for account recovery.

## PyPI Username

`Parakoopa`

---

##  Reason for request

Reason:
My Yubikey (security device) broke. It's no longer working, so I can't login.

[2020-01-21 14:59] ewdurbin commented on #164
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-01-21 15:23] ewdurbin commented on #165
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-01-21 15:24] romankoblov opened #166 "Account recovery request"
Request for account recovery.

## PyPI Username

`penpen`

---

##  Reason for request
  - Lost access to email address
  - Password breached

Reason:
So, I’ve tried to login to my account (penpen) to update my very old package and looks like password was breached, so I cannot login to account.
Even more, I’ve removed my google account a long ago, so I cannot restore password for PyPI account. Pro

[2020-01-21 15:29] ewdurbin commented on #166
@romankoblov I've removed that address from the account to prevent unauthorized access you note.

I'll review the status of the account and projects associated with it to determine how to proceed with account recovery.

[2020-01-21 15:31] ewdurbin commented on #166
@romankoblov I also note that the password reset attempts did bounce, so unauthorized access via that address should not be a concern.

[2020-01-21 15:35] romankoblov commented on #166
Great, thanks for fast response!

Didn't know, tried to re-signup email and it was taken. Better to be safe than sorry.

As for review: there is two packages (only first one is usable):
- https://github.com/romankoblov/leaf (https://pypi.org/project/leaf/)
- https://github.com/romankoblov/srq-python (https://pypi.org/project/srq/)
My github username was 'penpen' too, but I've changed it. You can s

[2020-01-21 15:43] ewdurbin commented on #166
@romankoblov yeah, I confirmed that the existing releases for both projects had their homepages set to GitHub projects under the penpen username and both now redirect to the given repositories.

Given that the history of both projects match up to the releases, I think this is sufficient.

Is the public email address associated with your GitHub account and displayed on your user profile OK to use f

[2020-01-21 15:46] romankoblov commented on #166
Yep, would be great. Thanks for help!

[2020-01-21 18:45] ewdurbin commented on #165
Confirmation complete.

2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-21 18:45] #165 closed

[2020-01-21 19:34] sharadmv opened #167 "Unable to upload to non-existent project `oryx`"
I'm interested in uploading a `pypi.org` package called `oryx`, and checked that it doesn't exist (the [url](https://pypi.org/project/oryx/) 404s), but I'm still getting an HTTP 403 error when trying to upload it

[code]
Is there some way of gaining access to this or is it a reserved name?

[2020-01-21 19:39] sharadmv commented on #167
Thanks!

[2020-01-22 10:35] ewdurbin commented on #164
Confirmation complete.

2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-22 10:35] #164 closed

[2020-01-22 22:29] matthew-brett opened #168 "Account recovery request"
Request for account recovery.

## PyPI Username

`matthew.brett`

---

##  Reason for request

Reason:

I forgot the password to decrypt passwords in my 2FA app.  I know, I know ...

[2020-01-23 03:35] scrgiorgio opened #169 "Limit request"
When we try to upload https://github.com/sci-visus/OpenVisus artifacts to PyPi we get the following:

Found artifact 'build\Release\OpenVisus\dist\OpenVisus-1.3.69-cp37-none-win_amd64.zip' matching 'build\Release\OpenVisus\dist*.zip' path
Uploading artifacts...
The maximum allowed artifact storage size of 50000 Mb will be exceeded.

Is it possible to increase the max file size to 100MB?
Thanks.

[2020-01-23 11:09] jamadden commented on #169
Hi @scrgiorgio ! The admin tools indicate the limit is already set to 100MB so I think we're seeing something else.

In https://github.com/pypa/warehouse/issues/7263 it was indicated the error was seen on AppVeyor, and doesn't correspond to an error produced by PyPI. Perhaps this error is coming from Appveyor storing the artifact? (I would try to check the Appveyor logs, but the link in the reposi

[2020-01-23 14:16] scrgiorgio commented on #169
Thanks a lot for your help.
The problem magically solved itself.

On Thu, Jan 23, 2020 at 3:10 AM Jason Madden <notifications@github.com>
wrote:

[2020-01-23 15:19] #169 closed

[2020-01-24 03:27] hishamhm opened #170 "PEP 541 Request: hererocks"
**Project to be claimed**

`hererocks`: https://pypi.org/project/hererocks

**Your PyPI username**

`luarocks`: https://pypi.org/user/luarocks

**Reasons for the request**

The original author of the project, Peter Melnichenko, passed away over a year ago. His Github account was  https://github.com/mpeterv/. The original upstream repository is https://github.com/mpeterv/hererocks. Peter was a memb

[2020-01-24 20:05] ewdurbin commented on #166
Done. You can now proceed with a password reset to recover your account.

[2020-01-24 20:05] #166 closed

[2020-01-24 20:20] ewdurbin commented on #168
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-01-24 20:38] ewdurbin commented on #73
This is done.

Note: Only changes to usernames such as this, where the resulting username is a case insensitive match for the original. To track the status of arbitrary username changes see https://github.com/pypa/warehouse/issues/1190

[2020-01-24 20:38] #73 closed

[2020-01-24 20:43] ewdurbin commented on #75
Thanks for your detailed report @WGH-, looks like this is something that would need to be addressed with our CDN.

Is this impacting your ability to use PyPI?

[2020-01-24 20:45] ewdurbin commented on #82
Hi @scailer, I last sent a message on January 16, and again just now asking for confirmation to complete your account recovery. Please respond there.

[2020-01-24 20:46] ewdurbin commented on #107
Hello @RosiePy, if you let us know your PyPI username we can help you regain access.

[2020-01-24 20:51] ewdurbin commented on #135
Hi @knmorgan. I've emailed the primary email address on this account and will wait a few days for response or bounce before proceeding.

[2020-01-25 05:17] scailer commented on #82
Hi @ewdurbin, I apologize for delay, I have sent email from scailer@yandex.ru.

[2020-01-25 10:02] yeraydiazdiaz commented on #151
Hello @kwloafman, I've emailed the owner regarding your request.

In the meantime, could you add a link to the repository you're maintaining? Also, are you publishing your version of duplicity with another name?

[2020-01-25 10:08] yeraydiazdiaz commented on #156
Hello @fubuloubu, I can confirm that user `doublenorth` is name squatting this and other project names.

I will now contact an admin to perform the transfer.

[2020-01-25 10:10] yeraydiazdiaz commented on #163
Hello @buck54321, the current owner is `deleted-user` which is a fake user admin assign project to when consiered invalid.

I will now ask an admin to perform the transfer to you.

[2020-01-25 10:21] yeraydiazdiaz commented on #155
Hello @elgalu, I have emailed the owner regarding your request. I also realized he owns another project [`stypes`](https://pypi.org/project/stypes/) which has a GitHub repo owned by user @jeremylowery.

Hopefully we'll hear back soon and move forward with the request.

[2020-01-25 10:23] yeraydiazdiaz commented on #167
Hello @sharadmv, could you please confirm your PyPI username to move forward with your request?

[2020-01-25 10:38] yeraydiazdiaz commented on #18
Hi @jktjkt, the owner does have a email address registered in PyPI so I've attempted contact that way. Hopefully we will hear back soon and move forward with your request.

[2020-01-25 11:27] kwloafman commented on #151
Hi Yeray,

Thanks for following up!

I'm not publishing duplicity under another name.

I'm maintaining duplicity on Launchpad duplicity
<https://launchpad.net/duplicity>.  The current repository is 0.8-series
<https://code.launchpad.net/~duplicity-team/duplicity/0.8-series>.  I've
been the maintainer since 2007.

...Ken

On Sat, Jan 25, 2020 at 4:02 AM Yeray Diaz Diaz <notifications@github.com>
wr

[2020-01-25 12:57] ewdurbin commented on #163
Transfer complete.

[2020-01-25 12:57] #163 closed

[2020-01-25 12:58] ewdurbin commented on #150
transfer complete.

[2020-01-25 12:58] #150 closed

[2020-01-25 13:00] ewdurbin commented on #156
transfer complete.

[2020-01-25 13:00] #156 closed

[2020-01-25 13:01] ewdurbin commented on #34
transfer complete.

[2020-01-25 13:01] #34 closed

[2020-01-25 13:02] davidism commented on #150
Thanks for your help once again! :-)

[2020-01-25 13:03] ewdurbin commented on #23
Transfer complete.

[2020-01-25 13:03] #23 closed

[2020-01-25 14:56] fubuloubu commented on #156
Thank you!

[2020-01-25 14:57] yeraydiazdiaz commented on #151
I just heard back from the owner accepting the transfer. I will now ask an admin to perform it for you.

[2020-01-25 15:05] ad-m commented on #151
Owner access rights for FirstPrime granted.  Feel free to remove me as owner & clean up package. I reserved the name with the intention of publishing duplicity on pypi by self, since it is open-source. Energy was not enough to automate the process and actually do it. Look at my comment: https://answers.launchpad.net/duplicity/+question/654243

[2020-01-25 15:58] WGH- commented on #75
Initially, it did. But after some research I figured out the workaround, and that this brokeness is unfortunately very common on the public Internet.

[2020-01-25 17:04] yeraydiazdiaz commented on #170
Hi @hishamhm, I've asked an admin to perform the transfer for you.

[2020-01-25 17:08] yeraydiazdiaz commented on #151
Excellent, thanks @ad-m!

[2020-01-25 17:08] #151 closed

[2020-01-25 20:10] thinkjrs opened #175 "Connection reset by peer on pip install during Google Cloud Build process"
Though this seems to occur randomly, and is just occurring for me today, it appears that I am experiencing something related to issue pypa/warehouse#3826, wherein @di  suggests to file a new issue.

This is not happening with extreme frequency (three times today out of 30 or so builds), but 10% is enough to suggest something's possibly awry.

My build seems to fail when downloading the `SQLAlchemy

[2020-01-26 00:34] sharadmv commented on #167
Yes, my username is `sharadmv`.

[2020-01-26 00:45] harpb commented on #124
I approve the transfer. Do you need anything else fro me?

[2020-01-26 02:42] hishamhm commented on #170
Thank you <3

[2020-01-26 06:00] diekhans opened #171 "Claim project sonlib"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/sonLib

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/diekhans

**Reasons for the request**

This  pypi package was created by a former student (arand) without consulting with the authors of the code and is now abandoned.  The pypi package It is out of data, ss no longer maintained.

The pypi package does point to the

[2020-01-26 09:47] yeraydiazdiaz commented on #124
Hi @harpb thanks for confirming.

We'd appreciate it if you could perform the transfer yourself to reduce the load on our admins. You can do that by logging into PyPI and navigating to [`pyHarp`'s collaboration settings](https://pypi.org/manage/project/pyHarp/collaboration/), then fill in the "Add collaborator" form at the bottom with `cli` as the username and "Owner" as the role.

[2020-01-26 09:48] yeraydiazdiaz commented on #167
Thanks for confirming, I will now ask an admin to perform the transfer.

[2020-01-26 11:50] danhey opened #172 "PEP 541 request: maelstrom"
**Project to be claimed**

`maelstrom`: https://pypi.org/project/maelstrom

**Your PyPI username**

`danhey`: https://pypi.org/user/danhey

**Reasons for the request**

The project has not been updated since 2013, and there is no documentation or available source code on github under the users profile (@mlavin).

**Maintenance or replacement?**

replacement: I will publish a [different package](ht

[2020-01-26 17:12] kwloafman commented on #151
Thank you very much!  I'll get on it.

...Ken

On Sat, Jan 25, 2020 at 11:08 AM Yeray Diaz Diaz <notifications@github.com>
wrote:

[2020-01-26 17:13] ewdurbin commented on #75
I'm not sure this is actionable for us, the network issue is between the end user and the CDN edge servers. If we see further reports of MTU issues we can reopen and investigate with our CDN provider.

[2020-01-26 17:13] #75 closed

[2020-01-26 17:17] ewdurbin commented on #82
Account primary email has been updated and a password reset initiated. You should be able to recover access to your account after completing the password reset.

Email was updated to a previously referenced email in multiple uploads.

[2020-01-26 17:17] #82 closed

[2020-01-26 17:39] mlavin commented on #172
Sorry I don't regularly check Keybase for messages. I've added you as an owner to the project on PyPI. You're welcome to the name and best of luck with your project.

[2020-01-26 22:40] danhey commented on #172
Cool, thanks Mark! I really appreciate this

[2020-01-26 22:40] #172 closed

[2020-01-26 22:52] carpediemmlf opened #173 "Account recovery request"
Request for account recovery.

## PyPI Username

carpediemmlf

---

##  Reason for request

Reason:

- Lost 2FA authentication app or security token

[2020-01-26 23:21] ewdurbin commented on #173
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-01-27 00:34] carpediemmlf commented on #173
Thank you for tha fast response.

Responded via primary email.

[2020-01-27 16:03] dbogdanov opened #174 "Limit Request: essentia-tensorflow - 381MB"
**Project**
essentia-tensorflow
https://pypi.org/project/essentia-tensorflow

**Size of release**
381MB each wheel. Currently, only Linux ```manylinux2014``` wheels are supplied (`cp35-cp35m-manylinux2014_x86_64`, `cp36-cp36m-manylinux2014_x86_64`, `cp37-cp37m-manylinux2014_x86_64`).

**Which indexes**
PyPI and Test PyPI

**Reasons for the request**
This is a request to expand the upload limits fo

[2020-01-27 17:53] gdb opened #176 "PEP 541 Request: openai"
**Project to be claimed**
`openai`: https://pypi.org/project/openai

**Your PyPI username**
`gdb`: https://pypi.org/user/gdb

**Reasons for the request**
I'm the CTO of OpenAI (openai.com). I would like to create an official `openai` PyPI package, and want to avoid user confusion!

**Maintenance or replacement?**
Replacement.

**Contact and additional research**
The current `openai` PyPI project a

[2020-01-27 18:18] jamadden commented on #176
The project appears to be empty and offer no functionality. (Moreover, the same owner uploaded many additional projects on the same day that are generated from the same template.) Thus, it appears to fall under the 'name squatting' provisions of PEP 541. I will raise this to the admins to initiate a transfer.

[2020-01-27 18:51] peterldowns commented on #176
Great, thank you. Just writing here to confirm everything Greg wrote in the initial email. Let me know if there's anything else you need.

Peter

On Mon, Jan 27, 2020, at 10:18, Jason Madden wrote:

[2020-01-28 09:39] masa-su opened #177 "Account recovery request"
Request for account recovery.

## PyPI Username

`masa-su`

---

##  Reason for request

- Lost 2FA authentication app or security token

[2020-01-28 11:51] ocefpaf commented on #122
Sorry for commenting on a closed issue but it seems that I have the same issue as @letuananh. What can I do to recover my account.

PS: somehow I can reset the password, but the code still does not verify.

[2020-01-28 12:02] ewdurbin commented on #122
@ocefpaf please [open a new issue](https://github.com/pypa/pypi-support/issues/new/choose) and select the Account Recovery type.

[2020-01-28 12:09] ocefpaf opened #178 "Account recovery request"
Hi there, this is similar to https://github.com/pypa/pypi-support/issues/122. I can reset my password but I cannot log in

The generator app on my phone runs fine but the website prompts "Invalid TOTP code."

[2020-01-28 12:13] ewdurbin commented on #178
Hi @ocefpaf, please supply the requested information from the [account recovery template](https://github.com/pypa/pypi-support/blob/master/.github/ISSUE_TEMPLATE/account-recovery.md)

[2020-01-28 12:17] ocefpaf commented on #178
Ouch! Sorry, deleted it without even reading :flushed:

Here it goes:

---
name: Account Recovery
about: Initiate an account recovery due to lost 2FA or inability to access email address
title: Account recovery request
labels: account-recovery

---

Request for account recovery.

## PyPI Username

`ocefpaf`

---

##  Reason for request

Reason:

- Lost 2FA authentication app provides the numbers b

[2020-01-28 18:24] ewdurbin commented on #173
Confirmed, 2FA has been disabled for this account. You should be able to recover access by completing a password reset.

[2020-01-28 18:25] #173 closed

[2020-01-29 06:41] scailer commented on #82
Thanks a lot!

[2020-01-29 13:54] LuciferMonao opened #179 "Not receiving Test PyPi verification emails"
I am not receiving and emails for my verification, after I created my account.
I tried with making a new account, but it still didn't work.
The name of my account is LuciferMonao

[2020-01-29 14:08] ewdurbin commented on #153
@poke1024 sorry for missing that request, can you open a new issue here with the Account Recovery template?

[2020-01-29 14:18] LuciferMonao commented on #179
Sadly not, and as i don't want to enter an phone number, i cant use any other email than gmx.

[2020-01-29 14:25] LuciferMonao commented on #179
Ok, now it worked with proton mail. Good!

[2020-01-29 14:25] #179 closed

[2020-01-29 14:28] yguenduez commented on #42
thanks!

[2020-01-29 21:07] sharadmv commented on #167
Thank you!

[2020-01-29 23:11] ewdurbin commented on #135
Okay, apparently got a bounce. @knmorgan is the public email address associated with your GitHub account OK to use for the PyPI user?

[2020-01-29 23:15] ewdurbin commented on #177
Contacted via the primary email address on the PyPI account. Please read the instructions in the email and respond.

[2020-01-29 23:20] ewdurbin commented on #178
Contacted via primary email address on the user account. Please respond there to proceed.

[2020-01-30 14:03] ewdurbin commented on #177
Confirmation complete.

2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-30 14:03] #177 closed

[2020-01-30 16:28] jeremylowery commented on #155
Yes, that is me, as well as the owner of the zflow package. You are correct in that I currently no long maintain the package (as various other people asked for my blessing to fork the project and roll it into their own which I approved). I would be perfectly fine relinquishing the package name.

[2020-01-30 23:06] jwon opened #180 "PEP 541 Request: iris"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/iris/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/jwon

**Reasons for the request**

This package has been abandoned. The last release was 3 years ago.

**Maintenance or replacement?**

I intended to replace the "iris" project with: https://github.com/linkedin/iris

My project has been around for over 3 years -- th

[2020-01-30 23:23] quozl commented on #23
Thanks.  Tested.

[2020-01-31 12:09] ocefpaf commented on #178
Done. Please let me know if you need anything else. (And thanks for the quick response!)

[2020-01-31 15:21] carpediemmlf commented on #173
Thank you very much indeed.

[2020-01-31 16:53] pabloEntropia commented on #174
Any updates on this request?

[2020-01-31 21:03] ewdurbin commented on #178
Confirmation complete.

2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-01-31 21:03] #178 closed

[2020-01-31 21:23] ocefpaf commented on #178
Thanks. I can login again. I still get the same error if I try to enable 2FA though :-(

[2020-01-31 21:24] ewdurbin commented on #178
Sorry to hear you're having trouble. Are you sure you're using the new TOTP secret and not the one you previously generated?

[2020-01-31 21:28] ocefpaf commented on #178
Yep. Removed the old one and re-scanned. I'll try again in a little bit.

[2020-02-01 04:04] C3NZ opened #181 "Account recovery request"
Request for account recovery.

## PyPI Username

`C3NZ`

---

##  Reason for request

Reason:
My previous phone is broken beyond repair and I didn't have a backup that contained the account data in my authentication app.

[2020-02-03 15:50] ewdurbin commented on #181
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-02-03 16:22] ewdurbin commented on #168
Confirmation complete.

2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

[2020-02-03 16:22] #168 closed

[2020-02-03 20:02] zman81988 commented on #145
Hi @jamadden I wanted to follow up and see if you had heard from the previous two contributors on this.  Is there a set time we are waiting to hear back from them?  No rush on my end, I just don't want to follow up in 30 days if we are waiting for 90 days or something like that.

[2020-02-03 21:34] jamadden commented on #145
PEP 541 specifies a six-week timeout.

[2020-02-04 07:47] lawschlosser opened #182 "Issue: PEP 541 Request: conductor"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/conductor

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/conductor

**Reasons for the request**

- **Project is invalid** - The current `conductor` pypi project is one of 114 projects authored by [_deleted user_](https://pypi.org/user/deleted-user/), all of which are blatant namesquatting infractions.
The sole `conduc

[2020-02-04 12:42] jamadden commented on #180
I've emailed the address listed for the project page and confirm that it immediately was returned ("The email account that you tried to reach does not exist. Please try double-checking the recipient's email address for typos or unnecessary spaces. Learn more at https://support.google.com/mail/?p=NoSuchUser"). (The domain illumon.com is still registered, even though www.illumon.com isn't in DNS; a

[2020-02-04 12:57] jamadden commented on #155
Hi @jeremylowery, and thanks for responding! It requires superuser privileges for a PyPI admin to transfer a project (and there are very few of those and they're all overworked), plus it results in an unclear audit trail when they do so. To solve both issues, the preferred way to move forward would be for you to log in to PyPI and add `elgalu` as a new owner on the project. Once this is done, `elg

[2020-02-04 13:59] devinrsmith commented on #180
Hi @jwon & @jamadden,

I work at Deephaven. I'll reach out to our team to figure out what our plan is going forward. Sorry for the bounced emails - we'll make sure we update all the relevant contact information so this doesn't happen again.

Thanks,
-Devin

[2020-02-04 17:20] jwon commented on #180
@jamadden , you are correct. Assuming Deephaven does not need this package anymore, it will replace https://pypi.org/project/irisapi/

[2020-02-04 20:36] elgalu commented on #155
Thank you so much guys, it all worked out!
https://pypi.org/project/zflow/

[2020-02-04 20:36] #155 closed

[2020-02-04 20:49] devinrsmith commented on #180
My company originally published our packages under the iris PyPi repository. We received a request to help disambiguate the project amongst the other "iris" projects, and so we moved our real package to the illumon-iris repository, and served up a RuntimeError for the iris repository directing users as appropriate. Even though the project hasn't been updated in a long time, it still comes in handy

[2020-02-04 22:30] jwon commented on #180
Thank you for the explanation! I appreciate the context.

I would like to propose that this might meet the definition of an "Invalid Project" in [PEP 541](https://www.python.org/dev/peps/pep-0541/#invalid-projects).  According to the PEP, it says that one of the reasons a package is considered invalid is when a:

I feel like using the package to redirect users rather than providing packaged code i

[2020-02-04 23:01] devinrsmith commented on #180
No offense taken. I'd argue that the package doesn't match the definition of an "Invalid Project", as it's not empty, and provides some functionality (IMO). The crux being how you define "functionality". Assuming we'll need official PyPi input.

[2020-02-04 23:45] jamadden commented on #180
In the past, when a project has needed to change names, we've explicitly encouraged the maintainers to leave behind a forwarding project under the old name. Sometimes they print an error, but it's preferred if they actually have a dependency on the new project so that installing by the old name actually winds up installing the new project too (that works best, of course, if the imports can be made

[2020-02-04 23:47] jamadden commented on #180
That said, according to https://pypistats.org/packages/iris, daily downloads are pretty low (<5) for `iris`, so perhaps not many people are benefitting from it. (zodb3 still gets a few hundred, but that may be older versions too; pypistats doesn't break it down by version.)

[2020-02-04 23:54] jwon commented on #180
Okay, this all makes sense to me.

I won't pursue claiming ownership of the iris package anymore as it looks like it meets the criteria for a valid project!

@devinrsmith it would be great if you could help me get irisapi listed as part of the iris repository.

Thank you all.

[2020-02-05 00:10] jamadden commented on #180
Thanks everyone. I'm going to close this issue now.

[2020-02-05 00:10] #180 closed

[2020-02-06 14:01] Danielhiversen opened #183 "Account recovery request"
Request for account recovery.

## PyPI Username

`dahoiv`

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:

Lost my phone

[2020-02-06 14:56] ewdurbin commented on #181
Confirmation complete, 2FA has been disabled and a password reset initiated. After completing the password reset you should regain access to your account.

[2020-02-06 14:56] #181 closed

[2020-02-07 02:23] cjng96 opened #184 "Account recovery request"
Request for account recovery.

## PyPI Username

`cjng96`

---

##  Reason for request

Reason:
Lost 2FA authentication app. :(

[2020-02-07 05:51] urielmann opened #185 "Lost 2FA Access"
Hello,

My name is Uri Mann and I'm the account holder of srcsrv package. My user name is urimann and the email address associated with it is [email redacted].
Last month traded my phone back to t-mobile for an updated device. I made a mistake and didn't realized that I had to disable 2FA before switching. My recovery codes were also on the phone I reset and traded back and I'm locked out of the a

[2020-02-07 08:52] kszucs opened #186 "Issue: Limit Request: PyArrow - 100MB"
**Project**
PyArrow https://pypi.org/project/pyarrow/

**Size of release**

[code]

**Which indexes**

Both please.

**Reasons for the request**

I'm stuck in the middle of the wheel uploading procedure for our current release.

[2020-02-07 09:23] kszucs commented on #186
cc @jamadden

[2020-02-07 14:05] pitrou commented on #186
FTR, it's worth pointing out that part of the reason for our wheel size is the [lack of symbolic link support](https://discuss.python.org/t/symbolic-links-in-wheels/1945) in manylinux wheels.

[2020-02-07 21:22] cmancone opened #187 "No recovery email - cmancone"
I can't get into my account and the password recovery is not working - I'm not receiving my email.  The account name is cmancone.  My current email address is cmancone@gmail.com, but I'm guessing I registered with either cmancone@ufl.edu or cmancone@astro.ufl.edu (neither of which I have access to anymore).  Any chance you can help me recover access?

If it helps, the package I'm trying to update

[2020-02-07 22:01] ewdurbin commented on #185
PyPI Username: `urimann`

[2020-02-07 22:07] ewdurbin commented on #183
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-02-07 22:09] ewdurbin commented on #184
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-02-07 22:15] ewdurbin commented on #185
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-02-08 11:55] ewdurbin commented on #187
Looks like there is another address aside from those listed above associated with the account, I've emailed you at that address and the address you supplied above.

If you've lost access to that address we'll go through another verification process to help you regain access to your account.

[2020-02-08 12:00] ewdurbin commented on #183
Confirmation complete, 2FA has been disabled and a password reset initiated. After completing the password reset you should regain access to your account.

[2020-02-08 12:00] #183 closed

[2020-02-08 18:22] z3ntu opened #188 "Spam packages on PyPI"
Most packages from this user https://pypi.org/user/007gzs/ look like name-squatting known/short names; where the packages don't contain anything except the setup.py file which doesn't do anything nefarious either.

The following packages don't seem to contain any code:
* django-cool
* gdb
* sf
* 007
* nfc
* svg
* bi
* en
* sn
* unionpay

The rest of the packages from that user (basically the ones

[2020-02-09 20:46] BenjaminRueth opened #189 "Account recovery request"
Request for account recovery.

## PyPI Username

`precice`

---

##  Reason for request

Reason:

I tried to reset the password for my account using the [password reset](https://pypi.org/account/request-password-reset/) functionality. I have got access to the recovery email address and I'm able to receive the *Password reset request* email. However, if I try to reset the password using the token,

[2020-02-09 21:43] RalfG opened #190 "Issue: Limit Request: deeplc - 300MB"
**Project**

deeplc - https://pypi.org/project/deeplc/

**Size of release**

300MB

**Which indexes**

PyPI

**Reasons for the request**

DeepLC is a deep learning application that predicts peptide LC retention times. The models, which are required for predictions, exceed the default size limit of 60MB. We might add more models in the future, which will further increase the size of the package.

[2020-02-10 09:05] kmaehashi opened #191 "Limit Request: cupy-cuda102 - 500MB"
**Project**
cupy-cuda102 - https://pypi.org/manage/project/cupy-cuda102/releases/

**Size of release**
500MB

**Which indexes**
PyPI

**Reasons for the request**
I'm a maintainer of [CuPy](https://github.com/cupy/cupy) project, which provides an implementation of NumPy-compatible multi-dimensional array on CUDA. Limit increase is needed to include dependent CUDA libraries (cuDNN, NCCL, etc.) to wh

[2020-02-10 12:24] jojonas commented on #40
Hi @ewdurbin, I can't seem to find the transferred project. Is it supposed to show up at https://pypi.org/manage/projects/ ?

[2020-02-10 13:14] pitrou commented on #186
@ewdurbin, sorry for bothering you, do you know who to cc on this?

[2020-02-10 14:18] jamadden commented on #186
The upload limit for pyarrow has been set to 100MB on pypi.rog and test.pypi.org

[2020-02-10 14:18] #186 closed

[2020-02-10 15:27] jamadden commented on #40
It looks like this may have been closed by mistake. I don't see any evidence in the project journal that this was transferred.

[2020-02-10 18:17] brainwane opened #192 "(possibly) PEP 541 Request: typeshed"
Moving this over from [this tweet](https://twitter.com/okapies/status/1225604759752601600).

**Project to be claimed**

`typeshed`: https://pypi.org/project/typeshed/

**Your PyPI username**

Not sure! Yuta Okamoto requested this via Twitter.

**Reasons for the request**

**Maintenance or replacement?**

I think Yuta Okamoto thinks it should just be taken down.

**Contact and additional research**

[2020-02-10 18:37] steverichey opened #193 "PEP 541 Request: Clippy"
**Project to be claimed**
`Clippy`: https://pypi.org/project/Clippy

**Your PyPI username**
`steverichey`: https://pypi.org/user/steverichey

**Reasons for the request**
This project has clearly been abandoned. The package has no description, the GitHub repo has not been updated in four years, and efforts to contact the maintainer via email have not succeeded.

**Maintenance or replacement?**
I in

[2020-02-10 21:59] di commented on #192
See also: https://github.com/python/typeshed/issues/3001

[2020-02-11 01:01] docyx opened #194 "PEP 541 Request: turf"
**Project to be claimed**

`turf`: https://pypi.org/project/turf

**Your PyPI username**

`docyx`: https://pypi.org/user/docyx

**Reasons for the request**

The project has been abandoned for about 3 years now, and the [Homepage](https://github.com/HurricaneLabs/turf) link returns a 404.

**Maintenance or replacement?**

I plan to replace it with a different package that is still in development, a

[2020-02-11 01:09] docyx commented on #194
Paging @HurricaneLabs and @mcm

[2020-02-11 01:51] mcm commented on #194
This is fine by us. If there’s a way I can facilitate this to make it easier let me know.

[2020-02-11 01:52] docyx commented on #194
@mcm Thank you so much for the reply. I will email you again.

[2020-02-11 03:12] docyx commented on #194
@mcm If you could just simply set me as the maintainer I think it would work, as specified in the [PEP 541](https://www.python.org/dev/peps/pep-0541/)

[2020-02-11 08:07] okapies commented on #192
I'm sorry to cause you an inconvenience. I haven't noticed this repository. Yes, it seems typeshed is unofficial and not maintained. I think typeshed team should take over the privilledges to prevent confusion. Thanks.

[2020-02-11 14:35] mcm commented on #194
Done. Let me know if that's all you need.

[2020-02-11 15:55] docyx commented on #194
That's it! Thank you again.

[2020-02-11 15:55] #194 closed

[2020-02-11 17:25] mauritsvanrees opened #195 "New classifier: Framework :: Plone :: 6.0"
Can we get a new classifier `Framework :: Plone :: 6.0` please? We have started earnest work preparing that version, so we feel it is about time to [start using it in our own `setup.py` files](https://github.com/plone/Products.CMFPlone/pull/3041).

[2020-02-11 17:27] ewdurbin commented on #195
Added on test.pypi.org and pypi.org.

[2020-02-11 17:27] #195 closed

[2020-02-11 17:33] mauritsvanrees commented on #195
Wow, that was fast. Thanks!

[2020-02-11 19:11] cmancone commented on #187
I still have access to that email, have recovered my password, and changed my email address.  Thank you!

[2020-02-11 19:11] #187 closed

[2020-02-11 19:27] ewdurbin commented on #189
Hi @BenjaminRueth, I don't see any outstanding issues that would interfere with the password reset flow. Is it possible something is corrupting or otherwise mishandling the link that is sent in the password reset request email?

You might want to attempt another password reset and compare the HTML and plain text versions, the password reset link should look like:

`https://pypi.org/account/reset-p

[2020-02-11 19:29] ewdurbin commented on #184
Confirmation complete, 2FA has been disabled and a password reset initiated. After completing the password reset you should regain access to your account.

[2020-02-11 19:29] #184 closed

[2020-02-11 19:33] ewdurbin commented on #185
Confirmation complete, 2FA has been disabled and a password reset initiated. After completing the password reset you should regain access to your account.

[2020-02-11 19:33] #185 closed

[2020-02-11 19:34] ewdurbin commented on #135
@knmorgan, checking in once again.

[2020-02-11 19:34] ewdurbin commented on #107
Hi @RosiePy checking once again, we can help you regain access if you can provide your PyPI username.

[2020-02-11 21:09] kmaehashi commented on #191
Thanks for transferring to the correct repository @di! Updated the description to use the template in this repository.

[2020-02-12 10:38] mxdbld opened #196 "Account recovery request"
Request for account recovery.

## PyPI Username

`mxdbld`
---

##  Reason for request

Reason: Lost 2FA authentication app or security token

Thanks for your help

[2020-02-12 16:45] ewdurbin commented on #40
My apologies! Transfer _actually_ complete now.

[2020-02-12 16:45] #40 closed

[2020-02-12 17:14] ocefpaf commented on #178
Still cannot activate two-factor authorization with the Google Authenticator App :-(

Removed it entirely and tried multiple times. Always the same message: "Invalid TOTP code" after I try to validate it with the code I get when scanning the QR code. Not sure how to debug this further.

[2020-02-12 18:40] sabrygad opened #197 "Deleted project by mistake!"
Hi;

We have a new package, pyhma, that is part of our mapped-averaging project:
https://github.com/etomica/mapped-averaging
The Docs are here:
https://pyhmadocs.readthedocs.io/en/latest/index.html

I deleted the whole whole pyhma project on PyPI as I made many changes ... etc (which is BAD!). I did not know that:
"PyPI does not allow for a filename to be reused, even once a project has been delet

[2020-02-13 00:03] di commented on #197
It seems like this was resolved on Distutils-SIG, but if not, please feel free to comment.

[2020-02-13 00:03] #197 closed

[2020-02-13 09:49] BenjaminRueth commented on #189
I finally found out that the way how emails were forwarded to me caused trouble. The token from the mail in my inbox was broken. Accessing the mail directly on the server that takes care of the forwarding worked for me. I still do not really understand what's going wrong, but this is now definitely a problem on my side.

Thanks for your help @ewdurbin!