[2020-08-20 13:35] kyprifog opened #570 "Claim for `mason` pypi package"
**Project to be claimed**
`PROJECT_NAME`: https://pypi.org/project/mason/

**Your PyPI username**
`USER_NAME`: https://pypi.org/user/kprifogle

**Reasons for the request**
I have a mature project called "mason" which I plain on maintaining for a while.  Hope to make it an apache project as well.  The existing project has not been updated for several years:  https://github.com/vail130/mason

**Main

[2020-08-20 18:23] divait opened #571 "Transfer of name FLIP"
**Project to be claimed**

Flip
`PROJECT_NAME`: https://pypi.org/project/FLiP

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/divait

**Reasons for the request**

It looks like the project has been abandoned, last release is around 9 years ago: Released: Jul 7, 2011. and have only 2 releases.
And last commit in the [github repo](<https://github.com/jon-jacky/FLiP>) is on Jul 11, 2011.

[2020-08-20 19:35] MadcowD commented on #492
Just following up here.

[2020-08-21 04:11] #568 closed

[2020-08-24 11:49] jamadden commented on #544
Thanks for the report! Unfortunately, this is not the correct place for it. This tracker is only for issues with the software that runs https://pypi.org itself. It cannot help with software installed from there (for example, using `pip install instabot-py`). You'll need to contact the maintainers of that software instead. This contact information can often be found on the PyPI project page (`https

[2020-08-24 11:49] #544 closed

[2020-08-24 11:51] jamadden commented on #564
Can you please describe why you require such a large release, keeping in mind that large releases are a burden on users and PyPI alike?

[2020-08-24 11:56] jamadden commented on #569
Some libraries address this situation by splitting their data into separate dependencies. The data can be a direct dependency of the project so that it is automatically downloaded and installed. This may have a few benefits, such as:

- infrequently required data (uncommonly used models) can be placed in a separate extra, so that only users that require them are forced to pay the download cost wit

[2020-08-24 11:57] jamadden commented on #570
The owner of `mason` appears to be @vail130. Hopefully @vail130 will see this notification and respond to this issue.

[2020-08-24 11:59] #513 closed

[2020-08-24 12:02] jamadden commented on #571
[PEP 541 states](https://www.python.org/dev/peps/pep-0541/#abandoned-projects):

Since the owner was reached, does not wish to give up the name, and the project is valid, there's nothing more that can be done under this process.

[2020-08-24 12:02] #571 closed

[2020-08-24 12:53] jamadden commented on #484
I haven't been able to make contact. I've updated the status to reflect that fact.

[2020-08-24 13:03] kyprifog commented on #570
Totally agree, I reached out to vail by email, but happy to talk it over with him first.

[2020-08-24 14:47] jamadden commented on #555
It's possible but not likely that PyPI user `pysunny` (the onwer of `llvm-lite`) is github user @pysunny. Hopefully they'll see this notification and respond here, whether they are or are not that user. I've also emailed the verified address PyPI has on file for that user.

It's not clear to me that the `llvm-lite` project would constitute name squatting or otherwise be classified as invalid or ab

[2020-08-24 15:31] jamadden commented on #463
The PyPI moderators are volunteers, sometimes with very limited time and a lot on our plates.

I see previous contact attempts, and in https://github.com/vgrem/Office365-REST-Python-Client/pull/184#pullrequestreview-407608014 I see @kgadek agreeing to provide access, though this never happened.

The email address associated with @kgadek on github is the same as the one associated with user `kgadex

[2020-08-24 15:53] jamadden commented on #539
I have not had a response. I'll update the status to reflect that the transfer should go through.

[2020-08-24 16:10] jamadden commented on #546
I concur that the project meets the definition of an invalid project under PEP 541.

I have emailed the project owner at their verified address on file with PyPI (which matches their public address) with a courtesy notification that this project will be removed or transferred on or after August 31st.

[2020-08-25 04:41] Kushal0189 commented on #564
In my package there is a Model file which contains weights of my model. And it is necessary to run this package. And model file always big in terms of size.

[2020-08-25 06:30] DmitryNeverov opened #572 "leesoar"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/PROJECT_NAME

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/USER_NAME

**Reasons for the request**

**Maintenance or replacement?**

**Contact and additional research**

[2020-08-25 06:31] #572 closed

[2020-08-25 06:33] DmitryNeverov commented on #572
Sorry, misclicked.

[2020-08-25 07:01] mustafaquraish opened #573 "Re: PEP 541 Request: marker"
Hey, I just wanted an update on my previous request #438 (from more than 2 months ago at this point), which was put in the invalid courtesy period but has been stuck in limbo since. I know you all are pretty busy, but is there any chance to get this processed?

Thanks again for the help!

[2020-08-25 10:25] jamadden commented on #573
Please do not open new issues when the original issue is still open. Thank you.

[2020-08-25 10:25] #573 closed

[2020-08-25 10:26] jamadden commented on #438
Assuming that @yeraydiazdiaz did not receive any response, I've flagged this for admin attention and transfer.

[2020-08-25 13:58] divait commented on #571
Thanks @jamadden , I understand.

[2020-08-25 14:41] jamadden commented on #555
The project owner of `llvm-lite` has removed the project.

If you wish to claim that name, one good option is to upload a package to it that has a dependency on your desired package name.

[2020-08-25 14:41] #555 closed

[2020-08-25 15:04] ruut835 commented on #555
Hi Jamadden sorry for inconvenience,
There is no intension to take package ownership, project was just published on pypi to understand pypi operations, I was forget to removed it from pypi that time. It was just learning purpose, project has been removed from pypi.

[2020-08-25 15:05] pooryorick commented on #315
Hi, I'm the maintainer of the pipeline project.  I do have plans for it, and prefer that it remains the name of the project I initiated.  Granted, I haven't touched it in years.

[2020-08-25 16:12] scotthavens commented on #479
I still have not received any contact from the original author of `smrf` after 9 weeks.

[2020-08-25 16:17] alexdlaird opened #574 "PEP541 Request: User `iotserv` Squatting, Transfer `ngrok`"
**Project to be claimed**
`ngrok`: https://pypi.org/project/ngrok/

**Your PyPI username**
`alexdlaird`: https://pypi.org/user/alexdlaird

**Reasons for the request**
The user `iotserv` is squatting on eleven project names, all of which are identical, empty projects not updated since first publishes two years. Specifically as it pertains to `ngrok`, however, I maintain `pyngrok`, which maintains t

[2020-08-25 17:01] bconstanzo commented on #569
I like the idea of splitting into phantom/phantom-models, we'll work in that direction. However, that'd move the size issue from phantom to the phantom-models module. Would it make sense to have more than one -models package? Maybe models-stable and models-dev?

[2020-08-25 18:05] jamadden commented on #569
If the use cases or user groups are at all different, I would suspect it would make sense.

[2020-08-25 22:06] bconstanzo commented on #569
Ok, we'll give some thought as to handle this. Since phantom won't be needing the extra space, I'd say this can be closed until we figure it out and then request for the phantom-models package(s).

[2020-08-26 02:45] tekumara commented on #293
Hiya @di is any more information needed from me? (as the status is still in awaiting response)

[2020-08-26 05:07] alexdlaird commented on #574
The linked GitHub user in all the projects, [nat-cloud](https://github.com/nat-cloud), also 404s, and the domain name for the associated email is a non-existent website.

[2020-08-26 05:20] kmaehashi commented on #553
Recently we implemented a system to download and dynamic-load some of NVIDIA libraries to reduce the distribution size, so I changed the limit request size from 500 MB to 200 MB.

Please let me know if there is anything we can do to proceed with the request.
Thank you always for your support.

[2020-08-26 06:28] tjingrant opened #575 "Account recovery request"
Request for account recovery.

## PyPI Username

`tian_jin`

---

##  Reason for request

- Lost access to email address

Reason:

Lost access to my old email address tian.jin1@ibm.com.

[2020-08-26 13:34] n3011 commented on #396
@jamadden it would be great if the transfer is completed.

[2020-08-26 15:51] di commented on #574
Thanks for filing this. Given that [`ngrok`](https://ngrok.com/) is a trademark, I think we'd prefer to release this particular project name to someone affiliated with that company in order to avoid name disputes in the future. Are you affiliated with them in any way? Would you be opposed to continuing to call your project `pyngrok` instead?

[2020-08-26 15:56] alexdlaird commented on #574
Ah, I hadn't considered that. No, I am not officially affiliated with them, just maintain the only Python package that provides a robust API to their product. So by installing `pyngrok`, you _are_ installing `ngrok` (the package manages their binary as well), but I can understand why you'd want to give it to someone who is actually affiliated with the trademark. My intent was based off [this packa

[2020-08-26 15:59] alexdlaird commented on #574
I don't know if ya'll have a way to lock names in cases like this then, though, because I've accidentally downloaded this package more times than I'd care to admit _trying to download my own package_ 😂. So, it still feels like this `ngrok` package should be deleted and the name locked until the actual trademark owner comes along, assuming you have a way to do that.

[2020-08-26 16:12] di commented on #574
We can definitely do that for all of this users squatted packages.

You might want to consider reaching out to ngrok to see if they'd be interested in "blessing" your project under that name, since it doesn't seem like they publish anything similar.

[2020-08-26 16:14] alexdlaird commented on #574
I'll get back to you and reopen this ticket if that happens, otherwise I'll continue on my merry way with `pyngrok` as-is. Thanks!

[2020-08-27 02:04] kolinwei opened #576 "Limit Request: paddlepaddle_gpu: 600MB"
**Project:**
https://github.com/PaddlePaddle/Paddle
https://pypi.org/project/paddlepaddle-gpu/

**Size of release/project**

600MB

**Which indexes**

PyPI

**Reasons for the request**

We will release a new version for paddlepaddle_gpu recently. Our current size limit is 450M, and the last version is 420M. Because a few new features are enabled in this version, and most of the new feature is new

[2020-08-27 11:12] Fizzadar opened #577 "Account recovery request"
Request for account recovery.

## PyPI Username
`Fizzadar`

---

##  Reason for request
  - Lost 2FA authentication app

Reason:
Unfortunately I lost my phone and recovery codes didn't exist when I first set it up, only discovered they exist now!

[2020-08-27 13:53] Marco-Sulla commented on #530
ping

[2020-08-27 14:38] sk- opened #578 "PEP 541 Request: pythonista"
**Project to be claimed**

`pythonista`: https://pypi.org/project/pythonista/

**Reasons for the request**

This project was created with the sole purpose of reserving the name. In fact the user https://pypi.org/user/leesoar/ has created in bulk 53 projects, many of which are even trademarked names like `adidas`, `bbc`, `dell` and some others which can generate confusion to users.

**Maintenance o

[2020-08-27 15:51] hugovk commented on #578
See also https://github.com/pypa/pypi-support/issues/557

[2020-08-27 16:04] sk- commented on #578
Closing as duplicate of #557.

[2020-08-27 16:26] hugovk commented on #578
Ah sorry, I think you could reopen this as a concrete request for `pythonista`. That issue is more general and for some background info.

[2020-08-27 16:48] sk- commented on #578
Reopening as per @hugovk suggestion.

To give some more context, the package I plan to update is an automatic linter/code transformer which provides a much simpler user interface for `libcst`. Hence the chosen name `pythonista`.

The idea is that instead of dealing with an AST, transformations are written as:

[code]

The package is almost there, but I'm cleaning up the code a little bit more befo

[2020-08-27 17:06] shwetaoj commented on #543
Hi @jamadden and @pradyunsg could you please look into this.? Please let us know if you need any additional information from us.

[2020-08-28 00:28] nishakm opened #579 "Account recovery request"
Request for account recovery.

## PyPI Username

`nishak`

---

##  Reason for request

Reason: Lost 2FA authentication app

[2020-08-28 07:06] szha commented on #243
Pinging on this again as it has been another month... @ewdurbin @di

[2020-08-28 10:03] ewdurbin commented on #243
All old nightlies have been removed, here is full log of what was performed:

https://gist.github.com/ewdurbin/61428c2259057f5e466fa8289ae829f5

[2020-08-28 10:07] ewdurbin commented on #243
Here is the current status of all projects owned by `mxnet` and `mxnet-ci` users.

[code]

[2020-08-28 10:22] ewdurbin commented on #243
Individual file limits have been raised to 1024MB, which is the absolute maximum that we can accommodate at this time.

Current status for all projects owned by `mxnet` or `mxnet-ci` users on PyPI with releases:

[code]

[2020-08-28 15:03] szha commented on #243
Thanks! We are at a pace of about a release every Three months though we want to bring it down to 1 month. The release will only happen to a few of them and we likely won’t be making new releases to the cu75/cu80/cu91 projects or the *mkl projects.

GluonNLP is Python-only so it won’t need adjustments.

[2020-08-28 15:03] matijaaa commented on #315
@ewdurbin @jamadden Since the author's reply falls outside the 6-week waiting period and author hasn't published any new project releases and you already approved the transfer and marked the issue as "Awaiting admin transfer", is the project still eligible for transfer according to PEP 541 proposals?

[2020-08-28 15:05] szha commented on #243
By the way did you raise the limit of mxnet-cu110/111? We registered those packages but they aren’t showing up in the table above (likely due to lack of releases)

[2020-08-28 15:23] jamadden commented on #315
I believe we now have to consider the owner *reachable,* according to the PEP's definition, making it an *active* project.

The PEP says that PyPI moderators "are not arbiters in disputes around active projects," and also says that "Under no circumstances will a name be reassigned against the wishes of a reachable owner."

That said, the only version of pipeline currently published, 0.1, *cannot b

[2020-08-28 15:33] ewdurbin commented on #243
yes, sorry limits for `mxnet-cu110` and `mxnet-cu111` have been raised to 1024 MB as well and were not included for the reason you specified (no releases).

[2020-08-28 15:34] ewdurbin commented on #243
I'm going to bump the total project size limit for all of the MXnet projects with 1024MB upload limits to 24GB. We can discuss again when we approach that limit.

[2020-08-28 15:41] ewdurbin commented on #243
Here is the current status for all the projects:

[code]

[2020-08-28 16:38] szha commented on #243
awesome. thank you for the help @ewdurbin !

[2020-08-28 17:51] TomChavez opened #580 "Account recovery request"
Request for account recovery.

## PyPI Username

`tomchavez`

---

##  Reason for request

Reason:
System won't let me register for username tomchavez after I created and then deleted an account with this username as it had the wrong primary email address. Should have been tom.chavez@comcast.net but accidentally used tom.chavez@splunk.com, which is a hard bounce. My work email is tchavez@splunk.co

[2020-08-28 17:53] pradyunsg commented on #574
Marked as awaiting response, based on @alexdlaird's last comment. :)

[2020-08-28 17:56] #569 closed

[2020-08-28 18:24] #526 closed

[2020-08-28 18:41] bmorris3 commented on #452
Any chance I can ping you for this one again? Thanks!

[2020-08-28 18:57] chinhuang007 opened #581 "PEP 541 Request: onnx-tf ownership transfer"
**Project to be claimed**
`PROJECT_NAME`: https://pypi.org/project/onnx-tf

**Your PyPI username**
`USER_NAME`: https://pypi.org/user/chinhuang007

**Reasons for the request**
The current project owner https://github.com/tjingrant has taken a new job and responsibilities. The transfer of ownership is to ensure the continued development and maintenance of the onnx-tf project. We created and tagged

[2020-08-28 20:41] hugovk commented on #581
If possible, it would be much quicker for @tjingrant to directly add you as a maintainer or owner on PyPI.

[2020-08-28 23:39] Drakovek opened #582 "Account recovery request"
Request for account recovery.

## PyPI Username

`Drakovek`

---

##  Reason for request

Reason: I lost the device that I had used to set up my two factor authentication, and I forgot to create recovery codes for this type of situation.

[2020-08-29 14:09] Mdslino opened #583 "Account recovery request"
Request for account recovery.

## PyPI Username

`Mdslino`

---

##  Reason for request
  - Lost 2FA authentication app or security token

Reason:
I lost my previous phone with my Google Authenticator.

[2020-08-29 14:10] meherett opened #584 "PEP 541 Request: hdwallet"
**Project to be claimed**

`hdwallet`: https://pypi.org/project/hdwallet

**Your PyPI username**

`meherett`: https://pypi.org/user/meherett

**Reasons for the request**

The project has been abandoned as described at https://www.python.org/dev/peps/pep-0541/#id23. The package has no description and efforts to contact the maintainer via email have not succeeded because there is no email address to

[2020-08-29 16:05] tjingrant commented on #581
@hugovk thanks! I consent to this ownership transfer.

[2020-08-29 16:54] kilacoda commented on #450
Any update on the transfer?

[2020-08-29 22:06] Eric-Arellano opened #585 "Account recovery request"
Request for account recovery.

## PyPI Username
`EricArellano`

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:

I wiped my iPhone in an attempt to fix an issue it was having. To my horror, the iCloud backup did not include backups for Microsoft Authenticator. I also realized I had not set up recovery codes for PyPI, as I didn't know it was an option when se

[2020-08-31 06:28] migi-liu opened #586 "Account recovery request"
Request for account recovery.

## PyPI Username

`mg.liu`

---

##  Reason for request

Reason:

[2020-08-31 08:14] Janluak opened #587 "PEP 541 Request: aws-iot"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/aws-iot/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/janluak

**Reasons for the request**

The project seems only to be a one-time commit with blocking the name. It is only very limited code available. Additionally, a further versioned (`v0.1.3`) project from the same author is https://pypi.org/project/awsiot/ (mis

[2020-08-31 12:18] meherett opened #588 "PEP 541 Request: hdwallet"
**Project to be claimed**

`hdwallet`: https://pypi.org/project/hdwallet

**Your PyPI username**

`meherett`: https://pypi.org/user/meherett

**Reasons for the request**

This project has clearly been abandoned. The package has no description, and efforts to contact the maintainer via email have not succeeded because there is no email address to contact the maintainer.

**Maintenance or replacemen

[2020-08-31 12:22] meherett commented on #584
I'm very sorry for my mess (wallet to hdwallet) -> https://github.com/pypa/pypi-support/issues/588

[2020-08-31 12:22] #584 closed

[2020-08-31 13:06] kyprifog commented on #570
@jamadden just curious how long do you guys typically wait on requests like this?

[2020-08-31 13:29] jamadden commented on #570
PEP 541 specifies a six-week period to contact the owner. After that, if the owner isn't contacted, it depends on when the admins can make time to perform transfers.

[2020-08-31 13:30] vail130 commented on #570
Hey, sorry for the delay, it's fine with me. Do I need to do something?

[2020-08-31 13:31] #243 closed

[2020-08-31 13:31] jamadden commented on #570
@vail130 If at all possible, it's best if you were to add the requested user as an owner of the project on PyPI. This keeps a clear audit log of the transfer, and avoids having to wait on the admins (which can take a few months).

[2020-08-31 13:40] kyprifog commented on #570
@vail130 Thanks a ton!   This will make my life alot easier as I try to get this package out the door.   I'll wait to be added as an owner.

[2020-08-31 14:42] pradyunsg commented on #243
@ewdurbin I took the liberty of updating https://github.com/pypa/pypi-support/issues/243#issuecomment-655726037. :)

[2020-08-31 15:09] sk- commented on #578
Closing, as I finally chose a new name.

[2020-08-31 15:09] #578 closed

[2020-08-31 16:16] verhovsky opened #589 "Please remove the `distro-info` project."
https://pypi.org/project/distro-info/#history

`distro-info` is a Python tool used for upgrading Ubuntu. https://packages.ubuntu.com/groovy/distro-info

If you use the standard way of upgrading all pip dependencies (as far [as I can tell](https://github.com/pypa/pip/issues/988), a bash command copy-pasted from stackoverflow https://stackoverflow.com/questions/2720014/how-to-upgrade-all-python-pack

[2020-08-31 16:39] pradyunsg commented on #589
As a pip maintainer, I suggest not using commands like that because they'll certainly break your environment in weird ways. There's a reason pip doesn't have a pip upgrade-all command, and it's due to complexities around doing it properly. None of the answers on that question are robust enough to not break things. :)

---

IIUC, @paulproteus is the owner of that package -- perhaps they might have

[2020-08-31 16:57] supervacuo opened #590 "Account recovery request"
Request for account recovery.

## PyPI Username

`supervacuo`

---

##  Reason for request

Reason:

  - Lost 2FA authentication app (phone stolen)

[2020-08-31 16:59] vail130 commented on #570
done

[2020-08-31 17:03] eraymann opened #591 "Account recovery request"
Request for account recovery.

## PyPI Username
`elias.raymann@gmail.com`

---

##  Reason for request
- Lost 2FA authentication app or security token

Reason:
After reinstalling Microsoft Authenticator on my iPhone, 2FA no longer works. Apparently the iCloud Sync was disabled. Therefore I obviously lost the connection with pypi. Unfortunately I don't have any account recovery codes either.
What I

[2020-08-31 18:04] #570 closed

[2020-08-31 22:43] DoAltPlusF4 commented on #520
@jamadden @ewdurbin

Please can I get some kind of info about if/when this can be transferred?
It has been over a month since this ticket was opened with no information.

[2020-08-31 22:58] TkTech opened #592 "Add redirect to flask-babel pythonhosted documentation"
In the same nature as #203, the flask-babel documentation has moved to https://flask-babel.tkte.ch. However, the old, out of date documentation is still on pythonhosted as the #1 search result, and there are many existing links pointing to it. We used to be able to upload an index.html with a redirect, but this appears to be gone and all we can now do is destroy it.

Flask-Babel issue at https://g

[2020-08-31 22:58] TkTech commented on #592
Apologies for the incorrect issue label.

[2020-08-31 23:03] jamadden commented on #520
PEP 541 specifies a process that begins with PyPI moderators or admins doing research and attempting to contact the project owner. After that, there's a six week waiting period.  Only after that can the project go on the list to be transferred; that list is processed as admins have the opportunity.

I hadn't had the time to do any of the research yet...

[2020-08-31 23:13] jamadden commented on #520
I believe this constitutes an invalid project under the PEP rules. PyPI policy in that case is to contact the owner and provide a one-week courtesy notification before allowing a transfer.

I've emailed the project owner at the email address PyPI has on file to inform them of this. The project can be slotted for transfer after September 7th if it remains invalid.

[2020-09-01 05:36] kartikye opened #593 "Users are creating fake packages to advertise illegal movie streams"
https://pypi.org/project/tenet-2020-full-online-free/ is a fake package that is trying to trick users.

[2020-09-01 08:26] DoAltPlusF4 commented on #520
Cool! I would also recommend looking into their other projects as the majority also seem to fall under the same category.

[2020-09-01 11:58] kgadek commented on #463
Hi. Sorry guys for long hiatus, been offline for a bit. Thanks @jamadden for reaching out to me.

I've added `vgrem` as co-owner for PyPI repo.

[2020-09-01 12:03] jamadden commented on #463
Thank you @kgadek .  @domdinicola , once you've had a chance to confirm, could you please close this issue?

[2020-09-01 16:33] di commented on #593
This has been resolved, thanks for the report.

[2020-09-01 16:33] #593 closed

[2020-09-01 16:53] pradyunsg commented on #450
Not really; PyPI's admins are volunteers. We're basically waiting for one of PyPI's admins to have enough free time to action on the tickets that have been processed.

Given the current... uhm... *gestures at everything*, I imagine there's not been a lot of free time where volunteer work like processing these requests can be done. :)

[2020-09-01 20:07] shwetaoj commented on #543
Hi @pradyunsg please let us know if you need any additional information. Thank you.

[2020-09-01 20:33] schlegelp commented on #490
Hi @jamadden. Just a quick ping regarding the pending transfer. I'd love to get my library out there :)

[2020-09-01 20:48] jamadden commented on #490
Please do not ping individual PyPI moderators at this stage. We're all just volunteers and have no power to complete the transfer. Likewise, the admins are also very short of time and will handle the issues based on their availability.

[2020-09-01 20:52] pradyunsg commented on #539
Closing since I've found a different name, that actually available. Thanks for the help here @jamadden! ^>^

[2020-09-01 20:52] #539 closed

[2020-09-01 21:05] dopplershift commented on #443
We managed to find the appropriate credentials lurking around in a `.pypirc` on a machine somewhere (that really was a security flaw). We have ownership/control of these packages once again.

[2020-09-01 21:05] #443 closed

[2020-09-01 23:10] icemelon9 opened #594 "Issue: Limit Request: tlcpack - 400 MB"
**Project**
tlcpack, https://pypi.org/project/tlcpack

**Size of release/project**
The size of my release is 400 MB. That is above the limit

**Which indexes**
Both

**Reasons for the request**
TLCPack is a Tensor learning compiler binary distribution that compiles and optimizes deep learning models. In order to support the CUDA compilation, we need to include the CUDA libraries and LLVM libraries

[2020-09-01 23:47] icemelon9 opened #595 "Issue: Limit Request: tlcpack-cu100 - 400 MB"
**Project**
tlcpack-cu100, https://pypi.org/project/tlcpack-cu100

**Size of release/project**
The size of my release is 400 MB. That is above the limit

**Which indexes**
Both

**Reasons for the request**
TLCPack is a Tensor learning compiler binary distribution that compiles and optimizes deep learning models. In order to support the CUDA compilation, we need to include the CUDA libraries and LL

[2020-09-01 23:48] icemelon9 opened #596 "Issue: Limit Request: tlcpack-cu101 - 400 MB"
**Project**
tlcpack-cu101, https://pypi.org/project/tlcpack-cu101

**Size of release/project**
The size of my release is 400 MB. That is above the limit

**Which indexes**
Both

**Reasons for the request**
TLCPack is a Tensor learning compiler binary distribution that compiles and optimizes deep learning models. In order to support the CUDA compilation, we need to include the CUDA libraries and LL

[2020-09-01 23:51] icemelon9 opened #597 "Issue: Limit Request: tlcpack-cu102 - 400 MB"
**Project**
tlcpack-cu102, https://pypi.org/project/tlcpack-cu102

**Size of release/project**
The size of my release is 400 MB. That is above the limit

**Which indexes**
Both

**Reasons for the request**
TLCPack is a Tensor learning compiler binary distribution that compiles and optimizes deep learning models. In order to support the CUDA compilation, we need to include the CUDA libraries and LL

[2020-09-02 00:14] MSeal commented on #484
@jamadden What's the next step on this? Anything I should be doing?

[2020-09-02 08:27] domdinicola commented on #463
Yay, confirm!
Thanks @jamadden

[2020-09-02 08:27] #463 closed

[2020-09-02 08:47] brucetony opened #598 "PEP 541 Request: ebel"
**Project to be claimed**

`ebel`: https://pypi.org/project/ebel/

**Your PyPI username**

`bschultz`: https://pypi.org/user/bschultz/

**Reasons for the request**

The project was created on April 17, 2020 as a "placeholder" for their upcoming code release. They blocked both `ebel` as well as `e-bel` for their project and it has now been almost 5 months and there have been no changes on either pr

[2020-09-02 11:49] jamadden commented on #484
No, there's nothing to do but wait for the admins to find time to perform the transfer.

[2020-09-02 15:28] geyang commented on #423
Hi @ryanjulian, is there any update to this issue? Thanks!

[2020-09-02 15:28] pshanbhag commented on #449
@jamadden given the above conversation and lack of response from @blake, can we consider this as an intent of transfer of ownership? Could you please help initiate the transfer of ownership?

[2020-09-02 20:49] sashi-coursera commented on #144
Hi, It has been quite some time now. Wondering if it is a good time to transfer? Appreciate help on this. Thanks.

[2020-09-03 00:22] saeta commented on #144
Sorry, just seeing this now. (Note: I don't have the machine I originally used, and doubt I have the credentials.) That said, if there's anything I can do to help transfer, please do let me know! (This should definitely be transferred. :-) )

[2020-09-03 00:31] jamadden commented on #449
No, the owner has been contacted. This means that PEP 541 does not apply. Please work out any details with the owner.

[2020-09-03 06:33] renefritze commented on #545
Can I do something to improve my request?

[2020-09-03 10:56] muabnesor opened #599 "Account recovery request"
Request for account recovery.

## PyPI Username

`adrosenbaum`

---

##  Reason for request

Reason: Lost access to email address used to create account. account was connected to email from previous employer. I do no longer have access to the email, and forgot my password 🤦

[2020-09-03 16:50] prateekt opened #600 "Account recovery request"
Request for account recovery.

## PyPI Username

`prateekt`

---

##  Reason for request

Reason:
  - Lost 2FA authentication app or security token

[2020-09-04 06:29] Marco-Sulla commented on #530
ping...

[2020-09-04 06:29] Marco-Sulla commented on #530
ping...

[2020-09-04 15:33] JacobCallahan opened #601 "PEP 541 Request: broker"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/broker/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/jacobcallahan/

**Reasons for the request**
The project listed above has not been updated since 2011. Additionally, I cannot find either the source of the repository or the author's profile. However, our team has an identically named project that is actively devel

[2020-09-04 17:35] hugovk commented on #601
Looks like @zacharyvoase is the maintainer, perhaps Zachary would like to comment here?

There's also an email address on his GitHub profile, and possibly older ones at https://pypi.org/project/broker/#data and https://pypi.org/project/URLObject/#data

[2020-09-04 18:34] JacobCallahan commented on #601
@hugovk thanks for finding that! I wasn't able to determine that just from his pypi username.

[2020-09-04 19:36] hdoupe opened #602 "Account recovery request"
Request for account recovery.

## PyPI Username

comp-org

---

##  Reason for request

Reason: I don't recall setting up two factor auth, but when I tried to login today, pypi wouldn't let me sign in. I am the owner of the account and can prove that I have access to the email address associated with it.

[2020-09-05 15:26] davidism commented on #462
@di following up on this, it's been over six weeks now, which I think is the cutoff for a response.

[2020-09-06 09:39] attardi commented on #510
Please proceed to give me the ownership of the wikiextractor project.
Thanks.

[2020-09-07 01:53] kolinwei commented on #576
Any update for this issue? Your help is most appreciated。
We will release a new version on Sep 11，and really need your help

[2020-09-07 07:50] geyang opened #603 "PEP 541 Request: alice"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/alice

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/episodeyang

**Reasons for the request**

The project contains 1 release from 2010 that does not appear to contain actual code. I have an opensource command line tool that is under active development, and will continue to be so for the foreseeable future. You can fi

[2020-09-07 14:54] ianhalpern opened #604 "Account recovery request"
Request for account recovery.

## PyPI Username

payload

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:

Hello, I have lost the device that contained the 2FA authentication app used with our pypi account and am trying to recover access. Thank you for your assistance.

[2020-09-07 14:57] attardi opened #605 "PEP 541 Request: WikiExtractor"
**Project to be claimed**
PROJECT_NAME: https://pypi.org/project/wikiextractor

**Your PyPI username**
`USER_NAME`: https://pypi.org/user/attardi

**Reasons for the request**
I have already created an issue of this (https://github.com/pypa/pypi-support/issues/510), but no action has been taken so far.

This is the original motivation:
I am the developer of the Wikiextractor package (https://github

[2020-09-07 15:21] #605 closed

[2020-09-07 15:22] jamadden commented on #605
Closing as a duplicate of #510. Please do not open duplicate issues.

[2020-09-07 15:29] attardi commented on #605
Can you please take action on https://github.com/pypa/pypi-support/issues/510?
Thanks.

[2020-09-07 16:56] jamadden commented on #605
The administrators are aware of it and will perform the transfer when possible. There is nothing further you or I can do.

[2020-09-07 22:16] DoAltPlusF4 commented on #520
@jamadden
Hey, any response from the owner?

[2020-09-07 22:52] leaguilar commented on #546
@jamadden thank you for your attention to this issue. We are currently waiting for any information on how to proceed.

[2020-09-08 06:03] kevinzakka opened #606 "Account recovery request"
Request for account recovery.

## PyPI Username

`kevinzakka`

---

##  Reason for request

Reason:

2FA not working correctly (getting Invalid TOTP code)

[2020-09-08 10:39] jamadden commented on #520
I have received no response. I will ask the admins to perform the transfer at their convenience.

[2020-09-08 10:40] jamadden commented on #546
As there has been no response, I've asked the admins to perform the transfer at their convenience.

[2020-09-08 13:03] matijaaa commented on #315
@jamadden Since there are still no updates regarding the project validity / functionality, therefore meaning the project is still empty, can I get any estimates or updates regarding the transfer status?

[2020-09-08 13:18] jamadden commented on #315
Sorry, no estimates are possible. Transfers occur as and when the admins can find some time.

[2020-09-08 15:56] matijaaa commented on #315
@jamadden But the current circumstances imply that the project is still eligible for transfer?

[2020-09-08 23:24] hdoupe commented on #602
Hi, I'm checking in here. I've *lost* access to my pypi packages. I can still upload packages but I cannot sign in. Please help.

[2020-09-08 23:38] hdoupe opened #607 "PEP 541 Request: cs-storage and cs-kit"
**Project to be claimed**

`PROJECT_NAME`:
  - `cs-kit`: https://pypi.org/project/cs-kit
  - `cs-storage`: https://pypi.org/project/cs-storage

**Your PyPI username**

`compute-studio`: https://pypi.org/user/compute-studio

**Reasons for the request**

I have lost access to my account. I got a new phone and lost the ability to sign in. See #602. I am good doing ownership transfer or account recove

[2020-09-08 23:39] hdoupe commented on #607
Thank you so much in advance for your help!

[2020-09-09 12:08] yjlch1016 commented on #504
When can I take care of it?

[2020-09-09 17:11] jeanm opened #608 "PEP 541 Request: pytext"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/pytext

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/jeanm

**Reasons for the request**

The project had a single release in 2009, and has seen no activity since. The home page provided is a [blog post](http://dexrow.blogspot.com/2009/06/python-voice-preprocessor.html) that confirms this is an incomplete, experimenta

[2020-09-09 19:05] leofang commented on #553
cc @jamadden

[2020-09-09 20:23] pradyunsg commented on #607
xref: #602

[2020-09-09 22:15] hdoupe commented on #607
Thanks @pradyunsg. When convenient, please let me know what I can do to get this straightened up.

[2020-09-10 00:17] andykee opened #609 "PEP 541 Request: aurora"
**Project to be claimed**

`aurora`: https://pypi.org/project/aurora

**Your PyPI username**

`andykee`: https://pypi.org/user/andykee

**Reasons for the request**
The project doesn't actually appear to exist anywhere.

**Maintenance or replacement?**
I intend to replace the package.

**Contact and additional research**

When I attempt to publish my own package under the `aurora` name, I get a 403

[2020-09-10 09:41] tbetcke opened #610 "Account recovery request"
Request for account recovery.

## PyPI Username

`tbetcke`

---

##  Reason for request

Reason:

A few months ago my telephone broke with 2FA app on it and I just noticed that I did not create recovery keys for PyPI. I would be grateful if you could reenable account access. My e-mail address has not changed.

[2020-09-10 10:48] jamadden commented on #609
The project `aurora` had both of its releases removed in 2015 and has been dormant since then, making it an invalid project subject to removal/transfer.

@ak3n and @wickman appear to be the PyPI owners of that project. The PyPI moderators like to allow a one-week period between informing the owners of an invalid project that it will be removed and the actual removal. Accordingly, unless the projec

[2020-09-10 10:53] ak3n commented on #609
I have deleted the project. Feel free to reuse it.

[2020-09-10 11:24] TheMP commented on #412
Hi @yeraydiazdiaz , any news on this ticket? Is there a chance it is going to be applied in the nearest weeks?

[2020-09-10 14:26] andykee commented on #609
Thanks so much @ak3n!

[2020-09-10 14:26] #609 closed

[2020-09-10 16:41] anoopjangra opened #611 "Account recovery request"
Request for account recovery.

## PyPI Username

`anojangra`

---

##  Reason for request

Reason:
- Lost 2FA authentication due to phone crash

[2020-09-10 20:49] xanderyzwich opened #612 "PEP 541 Request: DATAPY"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/datapy

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/XanderYzWich

**Reasons for the request**

The project listed shows status as planning and has been held since 2014. I believe that this is either abandoned or squatting.

**Maintenance or replacement?**

The existing project does not seem to include any code. I ca

[2020-09-10 20:59] hugovk commented on #612
Clicking to the maintainer's page (https://pypi.org/user/rasbt/), we can see some other projects, including https://pypi.org/project/biopandas/ released last month, indicating the maintainer is also @rasbt on GitHub.

Would @rasbt like to comment here?

---

Are you suggesting you have a replacement?

[2020-09-10 21:06] xanderyzwich commented on #612
I have a light file based db that I would like to replace it with.

[2020-09-10 21:19] jamadden commented on #612
The project `datapy` does not include any releases. That makes it an invalid project under the definition of PEP 541. Invalid projects are subject to removal or transfer at any time.

The PyPI moderators like to give a one-week courtesy period for project maintainers (@rasbt) to correct the issue, or transfer the project themselves. If nothing is done by September 17th, the project will become sub

[2020-09-10 22:43] rasbt commented on #612
Hi all,

whoa, 2014, that seems like ages ago and I can't remember what I was thinking back then / what I had planned for this repo :P. I think it was the original name I had in mind for mlxtend (https://github.com/rasbt/mlxtend) but I don't know.

In any case, I deleted the repo from my PyPI account, @xanderyzwich , please feel free to use the "datapy" handle for your project!

Cheers,
Sebastian

[2020-09-10 23:05] xanderyzwich commented on #612
Thanks @rasbt
I've tried pushing again, but I suspect there may be some maintenance that has to happen overnight. I'll retry tomorrow.

[2020-09-10 23:20] rasbt commented on #612
no problem. It seems deleted on my end, but yeah, maybe that change has to propagate through the different servers. Maybe the problem will solve itself by tomorrow.

[2020-09-11 02:33] shwetaoj commented on #543
@jamadden  can you please help. This is blocking our 2.3 release.
Issues causing large size are not resolved yet:
bazelbuild/bazel#9254 - not resolved in Bazel 3.1.0 but resolved in bazel 3.4.0 which is not used in building TF 2.3 release.

[2020-09-11 04:13] ml394 opened #613 "Account recovery request"
Request for account recovery.

## PyPI Username

`ml394`

---

##  Reason for request

Reason:

The phone with my 2FA authentication app has broken and will not switch on. For some reason I had no recovery codes generated. Is there any way I can verify my identity in order to regain access to my account?

[2020-09-11 12:40] meherett commented on #588
Hi @jamadden, Any updates, or is there any response from the owner? Still, this package did not have any available versions.

[2020-09-11 12:57] xanderyzwich commented on #612
@jamadden is there any other process that needs to happen before I will be allowed to upload my project?

[2020-09-11 15:48] jamadden commented on #612
From the PyPI logs, it seems that the project has not actually been deleted. What happened was that its one release was removed, but that's not the same as actually deleting the project. @rasbt can you try deleting the entire project?

[2020-09-11 16:07] jamadden commented on #612
If it doesn't show up for you at https://pypi.org/manage/projects/, then that seems like its worth a try. (If there's a better way, I'm not sure what it is. This isn't a workflow that I've ever really used.)

[2020-09-11 21:18] TkTech commented on #592
Is this still possible @ewdurbin?

[2020-09-11 23:01] rasbt commented on #612
Sounds good! I just pushed a new release and was then able to delete it. @xanderyzwich Can you give it another try?

![Screen Shot 2020-09-11 at 6 00 11 PM](https://user-images.githubusercontent.com/5618407/92979562-bc334f00-f458-11ea-9245-14caafb7fe96.png)

[2020-09-12 07:00] geyang opened #614 "PEP 541 Request: AWS"
The `aws` package name is currently occupied by https://github.com/eofs/aws. The author @eofs has acknowledged in 2014 that this project is no longer maintained by him, yet no effective step has been taken so far to remove this package from PyPI, despite of various requests from the community.

The goal of this PEP 541 request is to gather people who have made the request under different issues to

[2020-09-12 12:37] yozik04 opened #615 "Account recovery request"
Request for account recovery.

## PyPI Username

yozik04

##  Reason for request

**Reason:** Lost 2FA authentication app or security token.

Actually I do not remember configuring 2FA on PYPI. Did not found any emails regarding that as well.

Thank you in advance.

[2020-09-13 14:08] richard-scott commented on #542
Is there any update on this? All I need is the 2FA removing from my account. I have the password to get in and re-set this up.
@di Any chance you could help out?

[2020-09-14 02:16] tao625 opened #616 "Account recovery request"
Request for account recovery.

## PyPI Username

`username`
RayVision
---

##  Reason for request

Reason:I got a new cell phone and lost it

[2020-09-14 08:48] sarveshbhatnagar opened #617 "Project Name typewriter"
**Project to be claimed**

typewriter: https://pypi.org/project/typewriter/

**Your PyPI username**

sarvesh1214: https://pypi.org/user/sarvesh1214

**Reasons for the request**

Project has been abandoned, its inactive since 2014

**Maintenance or replacement?**

I intend to publish a package with the name typewriter which will have various methods in which one can print to console, the most basic

[2020-09-14 09:06] matijaaa commented on #315
@jamadden But the current circumstances imply that the project is still eligible for transfer?
Do you mind updating the issue label from _Invalid courtesy period_  to  _Awaiting admin transfer_  if so?

[2020-09-14 12:59] xanderyzwich commented on #612
Thanks @rasbt and @jamadden
I have uploaded my first alpha and https://pypi.org/project/datapy/ is showing my project information.

[2020-09-14 13:13] #612 closed

[2020-09-14 13:30] vidstige commented on #425
Monthly ping on this issue. :) Thanks in advance

[2020-09-14 20:27] ewdurbin commented on #592
Yes it is.

@TkTech should the URL be preserved on redirect?

[2020-09-14 21:50] TkTech commented on #592
Awesome! Nope, just the root, since the structure will likely change.

[2020-09-15 03:35] shughes-uk opened #618 "Publishing with Poetry/Twine is giving a 403 "invalid macaroon!r" error"
Trying to publish my package, which worked fine this morning suddenly is giving this error. I did some debugging and got the underlying HTML response body.

I tried using a fresh token with no joy. I'm a little suspicious as it has what looks like an unformatted f string in the response.

## Version info
Poetry 1.0.10
Twine 3.2.0

url `https://upload.pypi.org/legacy/`
[code]

[code]

[2020-09-15 05:52] Ilyushin commented on #426
Guys, why can't you help?

[2020-09-15 08:05] ewdurbin commented on #592
redirect is configured

[2020-09-15 08:05] #592 closed

[2020-09-15 09:28] #617 closed

[2020-09-15 10:20] jamadden commented on #618
Thank you for the report. I believe you were seeing a short-lived bug (pypa/warehouse#8554) that is now fixed. If you try again this should be resolved.

[2020-09-15 10:20] #618 closed

[2020-09-15 10:39] axsk opened #619 "PEP 541 Request: cmdtools"
**Project to be claimed**

`cmdtools`: https://pypi.org/project/cmdtools

**Your PyPI username**

`axsk`: https://pypi.org/user/axsk

**Reasons for the request**

The project is empty. It contains no code besides the setup.py for more then a year.
I believe it to be a deprecated stub for the same authors pacakge [`cmdargs`](https://github.com/Mister7F/cmdargs).

**Maintenance or replacement?**

I

[2020-09-15 11:46] ksdkamesh99 commented on #427
ok, I will definitely try it out @jamadden . Thanks for responding to my issue

[2020-09-15 11:46] #427 closed

[2020-09-15 12:37] countermeasure opened #620 "PEP 541 Request: elemental"
**Project to be claimed**

`elemental`: https://pypi.org/project/elemental

**Your PyPI username**

`countermeasure`: https://pypi.org/user/countermeasure

**Reasons for the request**

- The PyPI page is showing no activity since 2016.
- There is no author email, project description or project homepage visible on the PyPI page.
- There doesn't appear to be any content in the project - at least not

[2020-09-16 00:58] #483 closed

[2020-09-16 00:58] JoshKarpel commented on #483
Managed to recover the 2FA auth state after much messing around.

[2020-09-16 06:52] arigo opened #621 "My project cffi, existing since a long time on pypi.org, was taken and abandoned on test.pypi.org"
**Project to be claimed**

`cffi`: https://test.pypi.org/project/cffi

**Your PyPI username**

`Armin.Rigo`: https://test.pypi.org/user/Armin.Rigo

**Reasons for the request**

I'm the project owner of https://pypi.org/project/cffi.  Now I'm trying to set up a test.pypi.org instance for the future release workflow.  However I find that this name on test.pypi.org is already taken.  It was apparentl

[2020-09-16 07:55] hugovk commented on #621
Looks like @dxiri is the same person on GitHub (same name given at https://test.pypi.org/user/dxiri/ and https://github.com/dxiri/OAT).

There's also the same email at https://github.com/dxiri/OAT/blob/master/setup.py and (https://pypi.org/user/dxiri/ ->) https://pypi.org/project/open-answerx/

@dxiri Would you like to comment here? Thanks!

[2020-09-16 10:41] Kushal0189 commented on #564
Any Updates regrading this issue????

[2020-09-16 12:28] countermeasure commented on #620
We're now in contact with @primalmotion via Twitter (and would have been a few days ago if we hadn't missed their reply to our initial message -- sorry @primalmotion).

We'll do our best to sort this out amongst ourselves and close this ticket once we have. :slightly_smiling_face:

[2020-09-16 20:37] ucarion opened #622 "Account recovery request"
Request for account recovery.

## PyPI Username

`ucarion`

---

##  Reason for request

Lost 2FA Application

Reason:

My phone was stolen.

[2020-09-16 22:31] robertnishihara opened #623 "Limit Request: Ray - 100 GB (total project size)"
Hi! I'd like to request an increase to our total project size limit. We're hitting the project total size limit for [Ray](https://github.com/ray-project/ray). See our [release history](https://pypi.org/project/ray/#history) on PyPI.

**Project**
The project is **Ray**.
https://pypi.org/project/ray

**Size of release/project**
Current size is 10GB, we'd like to request an increase to 100GB.

**Whic

[2020-09-17 08:36] SumoSourabh opened #624 "Account recovery request"
Request for account recovery.

## PyPI Username

`sumosourabh`

---

##  Reason for request
  - Lost 2FA authentication app or security token

Reason:
- Phone stopped working and did not set up the recovery codes.

[2020-09-17 09:42] matijaaa commented on #315
@jamadden But the current circumstances imply that the project is still eligible for transfer?
Do you mind updating the issue label from _Invalid courtesy period_  to  _Awaiting admin transfer_  if so?

[2020-09-17 11:03] jamadden commented on #492
The limit has been set to 350MB on pypi.org.

[2020-09-17 11:03] #492 closed

[2020-09-17 11:07] jamadden commented on #493
The limit has been set to 450MB on pypi.org and test.pypi.org. This is one of the larger limits and files of that size produce a poor experience for end users as well as stressing PyPI, its mirrors and CDNs. Please be aware of this when planning releases.

[2020-09-17 11:07] #493 closed

[2020-09-17 11:11] jamadden commented on #521
In order to set a limit, the project must first exist. You can try uploading a source distribution or other small artifact to create the project.

[2020-09-17 11:12] jamadden commented on #522
In order to set the limit, the project must first exist. You'll need to upload a source distribution or other artifact to create the project.

[2020-09-17 11:15] jamadden commented on #543
The limit has been set to 450MB on pypi.org and test.pypi.org. This is one of the larger limits and files of that size produce a poor experience for end users as well as stressing PyPI, its mirrors and CDNs. Please be aware of this when planning releases.

[2020-09-17 11:15] #543 closed

[2020-09-17 11:17] jamadden commented on #553
The limit has been set to 200MB on pypi.org.

[2020-09-17 11:17] #553 closed

[2020-09-17 11:19] jamadden commented on #547
The limit has been set to 200MB on pypi.org

[2020-09-17 11:19] #547 closed

[2020-09-17 11:22] jamadden commented on #333
The default limit is 100MB. There have been several releases of kukolex since this issue was opened with files larger than the old 60MB default limit. So I think this can be closed as fixed.

[2020-09-17 11:22] #333 closed

[2020-09-17 11:23] jamadden commented on #294
The requested limit is lower than the new default 100MB limit, and there has been a release since this issue was created, so I think this can be closed.

[2020-09-17 11:23] #294 closed

[2020-09-17 11:29] jamadden commented on #564
In order to set limits, the project must first exist. You'll need to upload an artifact, such as the source distribution, to create the project.

[2020-09-17 11:32] jamadden commented on #576
The limit has been set to 600MB on pypi.org. This is one of the larger limits and files of that size produce a poor experience for end users as well as stressing PyPI, its mirrors and CDNs. Please be aware of this when planning releases.

In the future, you may wish to consider splitting the release into separate projects with discrete functionality so as to remain below the limit and provide a be

[2020-09-17 11:32] #576 closed

[2020-09-17 11:34] jamadden commented on #594
In order to set the limit, the project must first exist. You'll need to upload an artifact such as a source distribution to create the project.

[2020-09-17 11:35] jamadden commented on #595
In order to set the limit, the project must first exist. You'll need to upload an artifact such as a source distribution to create the project.

[2020-09-17 11:35] jamadden commented on #596
In order to set the limit, the project must first exist. You'll need to upload an artifact such as a source distribution to create the project.

[2020-09-17 11:35] jamadden commented on #597
In order to set the limit, the project must first exist. You'll need to upload an artifact such as a source distribution to create the project.

[2020-09-17 15:26] dxiri commented on #621
Hi! I have no recollection of doing any of this but that is indeed me listed as a maintainer. Is there something you need me to do to remove myself as a maintainer and add @arigo ?

[2020-09-17 16:03] kentangSJTU opened #625 "PEP 541 Request: torchsparse"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/torchsparse/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/kentang/

**Reasons for the request**

The project is an empty one and I'm maintaining the Github repository [torchsparse](https://github.com/mit-han-lab/torchsparse) that happens to share the same name as this project.

**Maintenance or replacement?**

I'll

[2020-09-17 16:12] hugovk commented on #621
Hi! Yes, it's usually quickest if you add @arigo first, and then remove yourself (or @arigo can remove you). Thank you!

[2020-09-17 16:33] matijaaa commented on #315
@jamadden But the current circumstances imply that the project is still eligible for transfer?
Do you mind updating the issue label from _Invalid courtesy period_  to  _Awaiting admin transfer_  if so?

[2020-09-17 16:53] rsketine commented on #543
Thank you very much.

[2020-09-17 17:01] jamadden commented on #625
Based on matching email addresses, I believe @willbengtson is the owner of the PyPI project `torchsparse`. Hopefully they'll see this notification and respond to this issue.

[2020-09-17 17:07] willbengtson commented on #625
This project is a typosquat protection for torch-sparse.

The project is not empty. Perhaps you namespace the project to something like mit-torch-sparse instead to prevent confusion and collision to an existing project.

[2020-09-17 17:12] di commented on #623
I've set the project size limit for `ray` to 100 GB on PyPI. Please be mindful of the frequency of releases at that size.

[2020-09-17 17:12] #623 closed

[2020-09-17 17:13] yifeif commented on #623
Thank you so much @di :)

[2020-09-17 17:17] jamadden commented on #625
Note that ["PyPI does not permit typosquatting for any purpose"](https://github.com/pypa/pypi-support/issues/526#issuecomment-666661367). As such, this is an invalid project, subject to removal at any time. However, if the danger is considered very great, PyPI may take the additional step of permanently blocking the project name.

[2020-09-17 17:27] pcmoritz commented on #623
Awesome, thanks for increasing the limit @di :)

[2020-09-17 17:33] barakmich commented on #623
@di Thank you! Also, does this apply to `test.pypi.org` as well?

[2020-09-17 17:41] JacobCallahan commented on #601
@zacharyvoase @hugovk I'm still interested in taking over this name :)

[2020-09-17 17:55] di commented on #623
Sorry, it wasn't clear to me if you wanted it increased on TestPyPI or not. I've set the limit to 100 GB there as well.

[2020-09-17 18:07] jamadden commented on #601
@JacobCallahan Were you able to make contact with the project owner via email?

[2020-09-17 18:14] jamadden commented on #601
I've emailed the verified email address PyPI has on file for the owner of the project, as well as the author email listed in the package (which bounced), and I'll again ping @zacharyvoase in hopes they'll get the notification. This starts the official six-week period of reachability attempts before we can determine the project to be abandoned.

[2020-09-17 18:17] zacharyvoase commented on #601
Oh, I’m happy for you to take that project name! Is this GitHub comment sufficient to authorize this?

[2020-09-17 18:25] willbengtson commented on #625
Note Donald and other maintainers are aware of my work and will be transferring the projects from me

[2020-09-17 18:56] jamadden commented on #601
Hi @zacharyvoase! Thanks for the response.

Ideally, you would login to PyPI and add the requested user (`jacobcallahan`) as an owner of the project. At that point, they could then remove your account as an owner. Once that's done, @JacobCallahan could close this issue. In this way the audit log is clear, and it avoids the need to have an admin perform the same steps (which has to wait for an admi

[2020-09-17 19:26] robertnishihara commented on #623
Thanks a lot @di!

[2020-09-17 19:45] dxiri commented on #621
Done @arigo , I just sent you an invite to become owner, feel free to remove me after accepting!

[2020-09-17 20:12] arigo commented on #621
Thank you!

[2020-09-17 20:12] #621 closed

[2020-09-17 20:50] JacobCallahan commented on #601
@zacharyvoase fantastic, thank you!! It is a great name :)

[2020-09-18 05:37] Kushal0189 commented on #564
ok

[2020-09-18 06:19] Kushal0189 commented on #564
Uploaded My Project - FaceMasque 1.0.1
Please quickly update the file limit

[2020-09-18 07:23] #601 closed

[2020-09-18 08:46] ArnoCan commented on #536
Hello Sviatloislav,
this is actually no spam.

I am working on them and if you look into the names, they make sense as for
example apiref is a (successor of epdoc) and the modules names 'apiref-*'
represent additional syntaxes. It takes a bit of time because I need a
complete platform - here for Python3.5+ AND Python2.7 -  I am going to
continue with support for 2.7.

The reason for the names is s

[2020-09-18 09:10] ruimbribeiro opened #626 "PEP 541 Request: herbie (test.pypi)"
**Project to be claimed**

`herbie`: https://test.pypi.org/project/herbie/

**Your PyPI username**

`herbie`: https://test.pypi.org/user/herbie/

**Reasons for the request**

The project seems to be abandoned -  returning 404 (https://github.com/nickpeck/herbie)

We are using the same project name in the live Pypi (https://pypi.org/project/herbie/).

**Maintenance or replacement?**

We'll publish

[2020-09-18 09:17] ArnoCan commented on #536
Hello Sviatloislav,
another remark, I am writing some common frameworks for multiple platforms
which I require for the top-level applications. Thus it is a bit a
recursive adaptation and not a streamlined slim development. So the first
set of packages has to be consistent including their APIs. Thus I am not
publishing this by each package, even though I am already using them, but
in sets of packag

[2020-09-18 10:55] jamadden commented on #564
The limit has been set to 200MB on pypi.org. (There were two contradictory limits mentioned in this issue so I've split the difference.)

[2020-09-18 10:55] #564 closed

[2020-09-18 14:26] vsuorant opened #627 "Limit Request: casatools - 250 MB"
**Project**

https://pypi.org/project/casatools/

**Size of release/project**

**Which indexes**

PyPI
**Reasons for the request**

The original size estimate for this project was based on "linux_x86_64" type wheel. Converting that wheel to "manylinux2010_x86_64" compatible wheel pushed the size to 197M. I would like to have the limit increased to 250MB which hopefully should suffice for the fores

[2020-09-18 15:40] kentangSJTU commented on #625
Hi @jamadden,

Thanks a lot for dealing with this issue and inviting @willbengtson into discussion!

Hi @willbengtson,

I'm not sure who "Donald and other maintainers" refer to, would you mind kindly pointing it out? Also, I failed to find such a repository that is written in Python and has name "torch-sparse" on GitHub. Will it be possible for you to also pointing out the non-empty repo you menti

[2020-09-18 17:40] nickpeck commented on #626
Hi there, project is indeed no longer active - I'm happy for you to claim the name.
I've gone ahead and deleted the project from test.pypi so hopefully it should be free now.
Let me know if you have any trouble.

[2020-09-18 18:38] ruimbribeiro commented on #626
Thanks a lot, closing this issue :+1:

[2020-09-18 18:38] #626 closed

[2020-09-18 18:58] defntvdm opened #628 "Account recovery request"
Request for account recovery.

## PyPI Username

`defntvdm`

---

##  Reason for request
Lost 2FA authentication app and security token

Reason:
I don't know how but I lost PyPi row from my Google Authenticator and then I didn't use keepass for storing my passwords and secret codes

[2020-09-19 17:57] meherett commented on #588
Hi @jamadden @hugovk @yeraydiazdiaz, Any response from the owner? pending...

[2020-09-19 19:03] hugovk commented on #588
There's now a 404 for https://pypi.org/project/hdwallet/. Maybe the original owner deleted it?

[2020-09-19 19:27] meherett commented on #588
Yeah, It's also deleted but name is still under taken by the owner. (403)

<img src="https://raw.githubusercontent.com/meherett/hdwallet/master/hdwallet.png"/>

[2020-09-20 22:01] lhenry15 opened #629 "PEP 541 Request: tods"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/tods

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/lhenry15

**Reasons for the request**
 The name has been abandoned by myself, but I want to reuse the name "tods".

**Maintenance or replacement?**

**Contact and additional research**

I am the owner.

[2020-09-21 11:15] jamadden commented on #629
The project appears to have been deleted by the user `ihenry15` (the user mentioned here). If you upload a new distribution for that project you should be able to (re)claim it.

Note that you won't be able to re-use any version numbers that were previously used. You'll have to use something besides `0.0.1`.

[2020-09-21 11:15] #629 closed

[2020-09-21 14:03] hdoupe commented on #607
Hi @pradyunsg, I just wanted to follow up on this to see if there is anything I can do to help. I'm very motivated to get this account back. If you or anyone else has time to help out, I would greatly appreciate it.

[2020-09-21 14:25] RignonNoel commented on #551
@jamadden Sorry to bother you, but do you have some informations, i just want to know if your team tried to contact the old maintainer with an email in your file or something like that ?

We began some public presentations of the package like in Montreal-Python and some peoples ask us if this transfer will be done or not. I just want to know what to answer.

[2020-09-21 15:03] matijaaa commented on #315
@jamadden But the current circumstances imply that the project is still eligible for transfer?
Do you mind updating the issue label from _Invalid courtesy period_  to  _Awaiting admin transfer_  if so?

[2020-09-21 15:30] jamadden commented on #551
As far as I can see, no one has looked into this yet. If they have, you should see the ticket added to a project in a particular state.

[2020-09-21 15:36] jamadden commented on #315
@matijaa Please stop repeating the same comment over and over. It is not helpful to ping me repeatedly.

As I said before, this is a bit of a gray area as far as I can see. The owner is reachable and has stated that they will continue using the name. But the current distribution cannot actually be installed. I am interpreting the PEP as giving lots of leeway to the existing owner, which is why I h

[2020-09-21 20:36] jpivarski opened #630 "Limit Request: awkward1 - 257 MB"
**Project name:** awkward1

**Project URL:** https://pypi.org/project/awkward1/

**Size of release/project:** 257 MB

**Which indexes:** just PyPI

**Reasons for the request:**

This Python library has a compiled component. It does not statically link against any large libraries—it only has two header-only C++ dependencies—but the library contains a lot of templates that need to be instantiated to

[2020-09-21 21:00] jpivarski commented on #630
Oh, and it's not likely to increase in size much. The biggest change is adding new Python releases (3.9 on Linux, I'll be adding it to MacOS and Windows soon) and new hand-written code, but that's a slow way for a package to grow.

[2020-09-21 22:15] valmar commented on #482
Is there any deadline to get back access? I am asking because otherwise I will consider changing the name of my package

[2020-09-22 03:42] chfl4gs opened #631 "PEP 541 Request: unicorn on test.pypi.org"
**Project to be claimed**

`UNICORN`: https://test.pypi.org/project/unicorn/

**Your PyPI username**

`AQUYNH`: https://test.pypi.org/user/aquynh/

**Reasons for the request**

Unicorn engine owns "unicorn" project on pypi.org and wish to use "unicorn" on test.pypi.org to run test prior to publishing release to pypi.org

**Maintenance or replacement?**

Replacement.

https://github.com/unicorn-eng

[2020-09-22 09:39] LaserPhaser opened #632 "Account recovery request"
Request for account recovery.

## PyPI Username

`Arseniy`

---

##  Reason for request

Reason: - Lost 2FA authentication app or security token

[2020-09-22 09:49] chrisburr opened #633 "PEP 541 Request: DIRAC"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/dirac

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/chrisburr

**Reasons for the request**

[DIRAC](https://github.com/DIRACGrid/DIRAC/#dirac) is a software framework for managing [distributed computing resources](https://en.wikipedia.org/wiki/Grid_computing). It is used many communities including [LHCb](https://lhcb

[2020-09-22 10:33] jamadden commented on #633
That project existed, but all releases were removed in 2018. As such, it is an invalid project subject to transfer. PyPA policy is to attempt to contact the previous owner and allow a one-week courtesy window before transferring such projects. I've emailed the address PyPI has on file and notified them that the project can be transferred after September 29th.

[2020-09-22 10:36] daggaz commented on #531
I don't know if it's bad form to bump this, but it's been significantly more than a week?

[2020-09-22 10:41] jamadden commented on #537
This transfer appears to have been completed.

[2020-09-22 10:41] #537 closed

[2020-09-22 10:46] jamadden commented on #633
The owner of the email address replied directly to me:

[code]

[2020-09-22 10:49] jamadden commented on #479
I confirm that the project has no releases and no way to be installed, thus making it an invalid project under PEP rules. PyPA moderators like to provide a one week notification to owners of such projects before performing a transfer. I've emailed the verified address PyPI has on file for the owner of `smrf` letting them know the project will be subject to transfer after September 29th.

[2020-09-22 11:01] chrisburr commented on #633
Excellent, thanks for handling this promptly (and thanks to David for replying quickly as well).

[2020-09-22 11:21] dw commented on #633
I sent you an owner invite in case it speeds things along. Feel free to remove me after accepting the invite.

[2020-09-22 11:32] chrisburr commented on #633
Thank you very much @dw, I was just in the process of drafting a message for you to save the PyPI admins needing to get involved.

As this is now resolved I'll close.

[2020-09-22 11:32] #633 closed

[2020-09-22 14:57] agrav opened #634 "Issue: PEP 541 Request: pytailor"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/pytailor

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/agrav

**Reasons for the request**

I believe the project has been abandoned. It is not found when searching pypi, and the presumably corresponding github repository is archived.

**Maintenance or replacement?**

I plan to publish a different package. The code re

[2020-09-24 07:54] mryzhov opened #636 "PEP 541 Request: openvino"
**Project to be claimed**

`openvino`: https://pypi.org/project/openvino

**Your PyPI username**

`openvino_pushbot`: https://pypi.org/user/openvino_pushbot

**Reasons for the request**

The requested project is invalid and doesn't contain any real packages. Looks like the project is name squatting.

**Maintenance or replacement?**

I would like to use this project to upload official openvino pack

[2020-09-24 08:46] hugovk commented on #636
Their other projects look a bit squatty too:

![image](https://user-images.githubusercontent.com/1324225/94122670-854b3900-fe5b-11ea-877d-bd91c4728faf.png)

[2020-09-24 13:35] pafonta commented on #523
Hello,
I hope you are doing well.
Would it be an update on my request?
Thank you :)

[2020-09-25 05:19] countermeasure commented on #620
Hmm, I think I spoke too soon. We haven't managed to discuss this on Twitter with the person we think may be the existing owner of https://pypi.org/project/elemental, so it looks like we might need assistance after all.

Given that it seems to meet the criteria of "package has no functionality or is empty", would it be possible to have it declared an "invalid project" to begin clearing the way for

[2020-09-25 10:18] shreyansh-kushwaha opened #637 "403 Forbidden when trying to upload a package"
I want to publish a python package to pypi.org so i created a pypi.org account and when i try to pub lish it and i am getting a error 403 forbidden and then  i search for this error on google i got an result telling to make a new account and then i deleted the previous account.. after that i when i am trying to create a different account (with another email) i am continuously 429 requests error wh

[2020-09-25 11:12] jamadden commented on #620
I concur that the project is invalid under the PEP 541 rules. The PyPI moderators like to give a one-week courtesy period to the owners of invalid projects. The only contact information I was able to come up with was an unverified email address for the project owner. I have emailed it the notification noting that the project may be transferred after October 2nd.

[2020-09-25 11:45] countermeasure commented on #620
@jamadden Very much appreciated. Thank you :slightly_smiling_face:

[2020-09-25 11:48] ewjoachim commented on #637
Hello,

- 403 forbidden can mean a **lot** of things, and there's really not a lot of cases where you have to delete your account.
- HTTP 429 means "Too many requests" and it's likely that you tried to login so many times in a small time window that the system identified you as trying to bruteforce your way through authentication. Please wait a few hours and try again. Also, if you receive a 403,

[2020-09-25 11:52] jamadden commented on #636
I concur that the project is invalid under the PEP 541 rules. I've emailed the owner account's verified email address and informed them of this fact; the PyPI moderators allow one week before removing or transferring invalid projects, so this project will be subject to transfer on or after October 2nd.

[2020-09-25 13:34] shreyansh-kushwaha commented on #637
i was trying to upload the package through twine

[2020-09-25 14:39] holdenweb opened #638 "Account recovery request"
Request for account recovery.

## PyPI Username

`holdenweb`

---

##  Reason for request

Reason: Lost 2FA authentication app or security token

(Username/password combination still available, no recovery codes. Sorry.)

I do appear to have a valid API token, as poetry has published to PyPI.

[2020-09-25 15:22] ewjoachim commented on #637
So at this point, all I know is that:
- you're using twine
- you received an HTTP 403

I hope you understand that it's very hard to help you troubleshoot the issue based on this information only :)
Please state:
- the name of the package you're uploading
- the commands you typed and the full responses you got
- your pypi username
- whether you have tried to reset the password
- whether there was a

[2020-09-25 18:12] tdstein opened #639 "Account recovery request"
Request for account recovery.

## PyPI Username

`tdstein`

##  Reason for request

Lost 2FA authentication app or security token

[2020-09-26 04:14] shreyansh-kushwaha commented on #637
yeah it worked thanks

[2020-09-26 04:14] #637 closed

[2020-09-27 20:32] americanhanko opened #640 "Account recovery request"
Request for account recovery.

## PyPI Username

`erichanko`

---

##  Reason for request

- Lost access to email address

Reason:

I believe I created my PyPI account while I was working at Microsoft, so it should be associated with `v-erhank` at `microsoft.com`. Could we reassociate the account with `eric.hanko1` at `gmail.com`?

[2020-09-28 13:27] tdstein commented on #639
Hi @di and @yeraydiazdiaz -

Do you know who I can contact to assist with recovering my account?

Thanks!

[2020-09-29 11:07] jamadden commented on #634
The `pytailor` project on PyPI was deleted in 2018, and I don't see any other reason it wouldn't be available.

You didn't include the full error you saw, but I wonder if it was the error about [filename reuse](https://pypi.org/help/#file-name-reuse)? The old pytailor project published versions 0.1.0 through 0.1.6; you'll need to choose a different version to use that project name.

[2020-09-29 11:31] agrav commented on #634
@jamadden Thanks for your reply. That makes sense. I was trying to publish the package with a version i that range. So I'll just have to start at 0.1.7 then. I'll give it another try.

[2020-09-29 12:13] agrav commented on #634
Ok, to summarize. I was successful in using the `pytailor` name on pypi by bumping version to 0.1.7. Thanks again for hinting to this. The authorization error I mention arise from test.pypi.org where I was doing dry-runs. I then got: H`TTP Error 403: The user 'agrav' isn't allowed to upload to project 'pytailor'`. Turns out that the old `pytailor` project still exist in test.pypi.org. So I wrongly

[2020-09-29 12:18] jamadden commented on #634
@agrav If your problem is solved can you please close this issue?

[2020-09-29 12:20] #634 closed

[2020-09-30 11:28] mlittlej opened #641 "Account recovery request"
Request for account recovery.

## PyPI Username

`mlj`

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:

Never generated any recovery codes and the phone my authenticator was on got bricked without proper backups configured on it. Please help.

[2020-09-30 14:20] davidism commented on #462
@di following up again, this is well over the time limit now.

[2020-09-30 16:34] di commented on #462
Done, thanks for your patience.

[2020-09-30 16:34] #462 closed

[2020-10-01 00:19] rileyhales opened #642 "PEP 541 Request: tin"
**Project to be claimed**

`tin`: https://pypi.org/project/tin

**Your PyPI username**

`rileyhales`: https://pypi.org/user/rileyhales

**Reasons for the request**

I believe the `tin` project is an invalid project because it is name squatting, based on the definition in https://www.python.org/dev/peps/pep-0541/#invalid-projects

The project has no content and was created 4.5 years ago according t

[2020-10-01 07:04] meherett commented on #588
Hello @hugovk @di @jamadden @yeraydiazdiaz, Any updates? Or how can I contact the owner?

[2020-10-01 09:27] philippjfr opened #643 "PEP 541 Request: Lumen"
**Project to be claimed**
`Lumen`: https://pypi.org/project/lumen/

**Your PyPI username**
`pyviz`: https://pypi.org/user/pyviz

**Reasons for the request**
There was never a projected created under this name, it was created as a placeholder for a project that never seems to have come to fruition.

**Maintenance or replacement?**

We are planning on renaming our monitoring project to Lumen and the

[2020-10-01 16:23] majabojarska opened #644 "Account recovery request"
Request for account recovery.

## PyPI Username

`majabojarska`

---

##  Reason for request
Flashed new firmware on phone with 2FA authentication app, lost access to the authorized app.
Login and password are still valid. I have access to the account's email.
I never generated any recovery codes.

[2020-10-02 07:31] #315 closed

[2020-10-02 10:31] yangwu91 opened #645 "Account recovery request"
Request for account recovery.

## PyPI Username

`yangwu91`

---

##  Reason for request

Reason:
I lost 2FA authentication app since I reset my phone. Although it has been backed up on iCloud, I couldn't recover it somehow. Would you mind to reset 2FA of my PyPI account, as well as my TestPyPI account please? Thanks!

[2020-10-02 18:49] OiCMudkips opened #646 "PEP 541 Request: docker-push-latest-if-changed"
**Project to be claimed**

`docker-push-latest-if-changed`: https://pypi.org/project/docker-push-latest-if-changed

**Your PyPI username**

`OiCMudkips`: https://pypi.org/user/OiCMudkips

If possible please also grant ownership to:
`yelplabs`: https://pypi.org/user/yelplabs

**Reasons for the request**

This project is abandoned and also shares the name of an existing project that my employer (Yel

[2020-10-03 02:06] mao-liu opened #647 "PEP 541 Request: Pylon"
**Project to be claimed**

`pylon`: https://pypi.org/project/pylon

**Your PyPI username**

`ch41rmn`: https://pypi.org/user/ch41rmn/

**Reasons for the request**

- This project has been abandoned, the last release is more than 10 years ago on python2
- The project homepage indicates the project is deprecated in favour of `PYPOWER` (https://pypi.org/project/PYPOWER/)
- The last release of PYPOWER

[2020-10-03 07:29] KritantaDev opened #648 "PEP 541 Request: Dragon"
**Project to be claimed**
`Dragon`: https://pypi.org/project/Dragon

**Your PyPI username**
`krit`: https://pypi.org/user/krit

**Reasons for the request**
The project appears to satisfy all requirements for abandonment or name squatting:

* Attempts to contact the listed email address have been unsuccessful
* The project is not used by any other project. A C++ RPG game and its forks appears to ha

[2020-10-04 01:03] theceebee commented on #378
Pumping this thread to see if we've satisfied the requirements.

[2020-10-05 07:23] mryzhov commented on #636
Hi, do you have any updates? Is it possible to start transferring the project?

[2020-10-05 11:48] rrthomas opened #649 "PEP 541 Request: rpl"
**Project to be claimed**
`PROJECT_NAME`: https://pypi.org/project/rpl

Apologies if I have misunderstood, but having successfully uploaded a test to test.pypi.org, I got the error:

[code]

I read the URL given, and I can't see another project of this name, or a standard Python library, and the name doesn't appear to be confusing/malicious. The project has existed for many years (since 2006), but

[2020-10-05 12:27] hugovk commented on #649
[Searching this repo](https://github.com/pypa/pypi-support/search?q=rpl+is%3Aissue&type=Issues) points to https://github.com/pypa/pypi-support/issues/355, showing `rpl` is a namesquatted Fedora package.

Click "Details" on the first post there to see the full list.

[2020-10-05 12:37] rrthomas commented on #649
Thanks, @hugovk. I am indeed the upstream maintainer of this package, which is under the same name in Debian. So, what do I do?

[2020-10-05 12:41] hugovk commented on #649
@encukou wrote at https://github.com/pypa/pypi-support/issues/355#issuecomment-655738640:

[2020-10-05 12:44] rrthomas commented on #649
OK, so does this issue let the PyPI admins know? Or do I need to contact @encukou specifically?

[2020-10-05 15:41] encukou commented on #649
This issue lets them know but they'll ask me to confirm your connecrion to the project. I'll do that later today when I'm at a computer; sorry for the delay

On October 5, 2020 2:45:06 PM GMT+02:00, Reuben Thomas <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-10-05 21:02] encukou commented on #649
Dear admins, please release the name so @rrthomas can claim it.
The Debian package is indeed @rrthomas' fork, and looks well maintained.

[2020-10-06 03:37] countermeasure commented on #620
@jamadden Just checking in to see if the current project owner replied to the email you sent them a week and a half ago? We still haven't heard anything from our attempts to contact them.

I know handling these tickets is something you do as a volunteer, so thanks very much for your help!

[2020-10-06 20:34] gastrodon opened #650 "PEP 541 Request: z"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/z

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/basswaver

**Reasons for the request**

The pypi project `z` appears to have not been updated since `Jan 20 2015`, which is closing in on 6 years ago

**Maintenance or replacement?**

I would like to occupy the namespace with my own project, which will also go by `z`

h

[2020-10-06 20:53] hugovk commented on #650
By checking the maintainers' other projects and clicking through to GitHub, looks like @pyq-enlnt / @enlnt are the owners. Ping!

[2020-10-06 21:03] gastrodon commented on #650
It looks like @pyq-enlint is an org that has been inactive, so hopefully @enlnt has something to say

[2020-10-06 21:25] MaxHalford opened #651 "PEP 541 Request: river"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/river/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/MaxHalford/

**Reasons for the request**

The project is essentially empty has not been updated since 2013. It seems pretty much dead if I may say so.

**Maintenance or replacement?**

This is a replacement. I expect the new package to have a fair amount of visibil

[2020-10-07 06:45] brucetony commented on #598
It has been a month and none of the admins have addressed this issue. There has been no change to the current PyPI package nor has the user had any other activity. Can the name be released?

[2020-10-07 06:48] meherett commented on #588
I don't know why someone says me nothing? Please @hugovk, Is there any updates? It's also for almost 6 weeks.

[2020-10-07 08:50] hugovk commented on #588
@meherett I'm not an admin or maintainer here, unfortunately they're quite busy but hopefully someone will check it soon.

[2020-10-07 08:51] hugovk commented on #598
@brucetony I'm not an admin or maintainer here, unfortunately they're quite busy but hopefully someone will check it soon.

[2020-10-07 08:56] meherett commented on #588
Okay @hugovk, Thanks!

[2020-10-07 09:20] tamasgal opened #652 "PEP 541 Request: km3flux"
**Project to be claimed**

`km3flux`: https://pypi.org/project/km3flux

**Your PyPI username**

`tamasgal`: https://pypi.org/user/tamasgal

**Reasons for the request**

This is a project which I was working on together with Moritz Lotze in a scientific collaboration (the KM3NeT neutrino telescope project). Moritz left our collaboration more than a year ago and we have no possibility to contact him

[2020-10-07 10:22] ssbarnea opened #653 "PEP 541 Request: Enrich"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/Enrich/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/ssbarnea
**Reasons for the request**

**Maintenance or replacement?**
The purpose is **replament**.

**Contact and additional research**

I already sent an email to DouglasFowler which is registered owner of the package but I was not able to identify if he has a g

[2020-10-07 10:55] hugovk commented on #653
(Should the issue title read: "PEP 541 Request: Enrich"?)

[2020-10-07 10:58] hugovk commented on #653
links to https://depts.washington.edu/sfields/software/enrich/ which has:

which links to:

https://github.com/FowlerLab/Enrich2/releases/tag/v1.3.1

Ping @FowlerLab @fowlerlab1 @afrubin @conorcamplisson

[2020-10-07 15:26] zklaus opened #654 "Account recovery request"
Request for account recovery.

## PyPI Username

`zklaus`

---

##  Reason for request

Reason:
I lost access to the email address. I used the email address of my employer at the time, but have since moved on.
You can verify that this is indeed my account by looking at the [projects I published on pypi](https://pypi.org/user/zklaus/) and comparing that with the corresponding [old repository](https

[2020-10-07 16:51] snoopyjc opened #655 "PEP 541 Request: ssf"
**Project to be claimed**

`ssf`: https://pypi.org/project/ssf

**Your PyPI username**

`snoopyjc`: https://pypi.org/user/snoopyjc

**Reasons for the request**

Their project was never started.  I have a project ready to deploy, which is a port of ssf.js (SpreadSheet Format) to python.  I'd like to please use the same name as is used in the js version.

**Maintenance or replacement?**

Replacement

[2020-10-07 18:37] dougfowler42 commented on #653
We are no longer using the Enrich pypi name.  It can be recycled for a new use.

[2020-10-07 19:18] rrthomas commented on #649
I haven't had any other sort of notification, so I guess I'll hear here when the name has been released?

[2020-10-07 19:19] rrthomas commented on #649
If you'd prefer to tell me privately, or release it directly to my PyPI account, feel free to contact me privately (various options in my GitHub profile).

[2020-10-08 06:02] moslex commented on #636
Hello, @jamadden and @hugovk
Could you please help us with project transferring?

[2020-10-08 06:07] SumoSourabh opened #656 "Account recovery request"
Request for account recovery.

## PyPI Username
`sumosourabh`

---

##  Reason for request
  - Lost 2FA authentication app or security token
Reason: Mobile screen broke and purchased a new device. No recovery codes generated. I Have the Email, Username and password.

Please help

[2020-10-08 08:53] GwendalRaoul opened #657 "Account recovery request"
Request for account recovery.

## PyPI Username

`Wirepas`

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:

It was setup by an employee that left the company and the recovery codes were probably lost at that time.
We still have access to our registered address 'opensource@wirepas.com'

We received the email to reset the password but don't have the authentic

[2020-10-08 10:31] jamadden commented on #636
The project has been marked for transferring. I don't know when the admins will find time to do so; it may take quite awhile.

[2020-10-08 15:30] zklaus commented on #654
Rembered the password :blush:

[2020-10-08 15:30] #654 closed

[2020-10-08 17:04] willingc commented on #484
Thanks @jamadden. If @di, @pradyunsg or @ewdurbin have time in the next couple of weeks to get this in, I would be super grateful 👍  (P.S. I hope all are well and staying safe too.)

[2020-10-09 02:03] meherett commented on #588
Hello @jamadden @di, Could you please help us with project transferring?

[2020-10-09 06:22] meherett commented on #588
Hello @jamadden @di, Is there any updates? It's also for almost six weeks.

[2020-10-09 10:42] jamadden commented on #588
The project appears to be hosted in the archived github repository https://github.com/FelixWeis/python-hdwallet owned by @FelixWeis who also appears to own the project on PyPI. All its releases were removed in December 2018. Perhaps @FelixWeis would consent to transfer the project or delete it to release the name?

[2020-10-09 10:46] jamadden commented on #588
@meherett You write:

But that repository is nearly empty, it contains no source code, no tags or branches besides the default, and no releases.

![Untitled](https://user-images.githubusercontent.com/1256082/95574483-9f0b8500-09f2-11eb-895b-844717f46883.png)

[2020-10-09 11:00] meherett commented on #588
@jamadden,

Yes, The repository is empty. I think it's compulsory, Ok I will release it the source code within hours.

[2020-10-09 12:31] sfdye commented on #447
gentle ping @jamadden @hugovk @yeraydiazdiaz

[2020-10-09 14:59] lingfeiwang opened #658 "Issue: PEP 541 Request: mda"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/mda

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/LingfeiWang

**Reasons for the request**

The project is invalid: project is name squatting (package has no functionality or is empty)

**Maintenance or replacement?**

I would like to replace it with a different package: "Maximal Discriminating Axes" (MDA). It has be

[2020-10-10 14:59] jorgecarleitao opened #659 "Issue: PEP 541 Request: datafusion"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/datafusion

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/jorgecarleitao

**Reasons for the request**

* The only release contains only a dummy `__init__.py` without content
* The user has +500 projects on pypi with the same content, which suggests that it is a bot or otherwise abuse of the system.
* The provided emai

[2020-10-10 19:14] ml394 commented on #613
Anything I can do to help facilitate this account recovery? Thanks

[2020-10-11 07:00] jorgecarleitao commented on #659
The release in test.pypi is available here: https://test.pypi.org/project/datafusion/

[2020-10-11 09:22] anoopjangra opened #660 "Account recovery request"
Request for account recovery.

## PyPI Username

`anojangra`

---

##  Reason for request

Reason: Loast 2FA authentication app due to device crash

[2020-10-11 13:00] tamasgal opened #661 "PEP 541 Request: km3astro"
**Project to be claimed**

`km3astro`: https://pypi.org/project/km3astro

**Your PyPI username**

`tamasgal`: https://pypi.org/user/tamasgal

**Reasons for the request**

This is another project which I was working on together with Moritz Lotze and other developers in a scientific collaboration (the KM3NeT neutrino telescope project). Moritz left our collaboration more than a year ago and we have

[2020-10-11 13:19] ewjoachim commented on #661
On his [website](https://mtzl.gitlab.io/), he has a publicly available email. Is it the one you tried ?

[2020-10-11 13:52] tamasgal commented on #661
Yes of course, I tried many ways to contact him over the past months, we were very good friends back than (tried mobile phone, social networks, multiple email addresses, ...) but the number is not valid anymore and no response via other channels. I have no idea what happened, but from the links I provided you can hopefully see that it's a collaborative project and nothing personal for profit.
Both

[2020-10-12 10:01] marksantcroos opened #662 "Account recovery request"

[2020-10-12 11:24] DDDivano opened #663 "Limit Request: paddlepaddle_gpu: 800MB"
Project:
https://github.com/PaddlePaddle/Paddle
https://pypi.org/project/paddlepaddle-gpu/

Size of release/project

800MB

Which indexes

PyPI

Reasons for the request

We will release a new version for paddlepaddle_gpu recently. Our current size limit is 600M, and the dev version is 660M. Because a few new features are enabled in this version, and most of the new feature is new operate op (200 n

[2020-10-12 18:17] TylerGubala commented on #362
@Chandler It has been a while.

I have successfully made a `manylinux` compatible `wheel` file but it is 185M in size.

I'm not sure of what to do at this point, the bloat is likely due to having to link all the necessary libraries into the installation.

I may just have to stick with Google Drive for now.

[2020-10-12 20:30] mariasoul opened #664 "Account recovery request"
Request for account recovery.

## PyPI Username

`mariasoul`

---

##  Reason for request

Reason:
 - Lost 2FA authentication app and recovery codes

[2020-10-12 22:06] chinhuang007 commented on #581
@hugovk We are stuck for several weeks. I wonder you would be able to help the ownership transfer? Or direct us to someone who has the permissions to help? very much appreciated!

[2020-10-13 00:09] rrthomas commented on #649
Ping? Sorry to ask, I don't really mind how long it takes, I'd just like to know how long to expect, if that's possible! TIA!

[2020-10-13 05:01] hugovk commented on #581
I'm just a passerby trying to help out, the admins are very busy, hopefully one will check this soon.

[2020-10-13 13:04] TimothyClaeys opened #665 "PEP 541 Request: pycose"
**Project to be claimed**

`pycose`: https://pypi.org/project/pycose/

**Your PyPI username**

`Timothy`: https://pypi.org/user/Timothy/

**Reasons for the request**

The project has not been updated for a year. I have reached out multiple times to the current owner of the project, but the owner is not responding to my emails. I am the original author of the code that is stored in https://pypi.org

[2020-10-13 22:08] TylerGubala opened #666 "Limit Request: bpy - 184 MB"
**Project**

`bpy`

**Size of release/project**

184MB

**Which indexes**

Both

**Reasons for the request**

I was just able to get a reproducible build working in the `manylinux2014` Docker image, a.k.a CentOS 7.

After running `audit_wheel` and `repair_wheel` on the `*.whl` file, which to my knowledge statically links dynamically linked libraries and packages them _in_ the `wheel`, the file siz

[2020-10-14 03:20] jorgecarleitao commented on #536
I agree with @webknjaz here: this is the very definition of name squatting under PEP 541 and IMO you (@arnoCan) should have suspended unless you remove these from pypi: an admin should not have to go through 500 projects to decide whether each and every one of them is squatting or not: the fact that you squatted 500(!!) different names IMO already implies that you are abusing the system.

Please f

[2020-10-14 03:28] jorgecarleitao commented on #659
Related to #536 , cc @ArnoCan

[2020-10-14 03:34] jorgecarleitao commented on #198
related: #536

[2020-10-14 03:36] jorgecarleitao commented on #397
related #536

[2020-10-14 18:15] Jens-G opened #667 "PEP 541 Request: Apache Thrift"
**Project to be claimed**
`PROJECT_NAME`: https://pypi.org/project/thrift

**Your PyPI username**
`USER_NAME`: https://pypi.org/user/JensG/

**Reasons for the request**
Very similar to what i wrote [here](https://github.com/pypa/warehouse/issues/5346#issuecomment-511117112), we are now in that exact situation I wanted to avoid. We have again the case that the only active maintainer again became un

[2020-10-14 22:09] theceebee commented on #378
Pumping this thread to see if we've satisfied the requirements.

[2020-10-15 09:13] MrThearMan opened #668 "Account recovery request"
Request for account recovery.

## PyPI Username

MrThearMan

---

##  Reason for request

Reason:

- Lost 2FA information when factory resetting my phone. Same problem with TestPyPi account of the same name.

[2020-10-15 16:35] nushkovg opened #669 "Account recovery request"
Request for account recovery.

## PyPI Username

`nushkovg`

---

##  Reason for request

Reason:
Lost 2FA authentication app or security token.

[2020-10-15 20:23] gastrodon commented on #650
@hugovk What sort of timeline might I look forward to if either of these maintainers do not respond?

[2020-10-15 20:51] hugovk commented on #650
Check the PEP:

https://www.python.org/dev/peps/pep-0541/#abandoned-projects

It specifies a 6 week period over which PyPI maintainers try and make contact. Hopefully a maintainer can take a look soon.

[2020-10-16 04:51] rohitsanj opened #670 "Account recovery request"
Request for account recovery.

## PyPI Username

`rohitsanj`

---

##  Reason for request
- Lost 2FA authentication app or security token

Reason:

I must have deleted the authenticator app on my phone by mistake.

[2020-10-16 07:43] lisael commented on #456
Please, any update on this? I understand it's volunteer work to help light-minded users, and didn't want to push before, but it's been 4 month and I really need this account :/ Thank you.

[2020-10-16 18:09] faxu opened #671 "Limit Request: ort-gpu-nightly"
**Project**
ort-gpu-nightly

**Size of release/project**
Request to double project size limit

**Which indexes**
Test Pypi

**Reasons for the request**
We use test pypi to upload nightly packages. Over time this accumulates and we anticipate hitting the limit about every month. Is there a suggested method to automate this cleanup (any APIs?) other than manual deletion on a regular basis? Alternati

[2020-10-16 20:47] duhaime opened #672 "Limit Request: PixPlot - 200 MB"
**Project**
[PixPlot](https://pypi.org/project/pixplot/)

**Size of release/project**
200MB

**Which indexes**
Both

**Reasons for the request**
Our bundle size recently grew quite a bit because we wished to install a pose detection model with our package. We'd be grateful if you could grant us a slightly larger project size allocation!

[2020-10-17 16:59] bdewilde opened #673 "PEP 541 Request: `metrix`"
**Project to be claimed**

`metrix`: https://pypi.org/project/metrix

**Your PyPI username**

`bjdewilde`: https://pypi.org/user/bjdewilde

**Reasons for the request**

I believe that the project has been abandoned. There was only a single v0.0.1 release back in 2015, and nothing since. The project's homepage is a dead link. And as mentioned below, I've not been able to find the project's source c

[2020-10-17 21:51] eguidotti opened #674 "PEP 541 Request: stc"
**Project to be claimed**

`stc`: https://pypi.org/project/stc/

**Your PyPI username**

`eguidotti`: https://pypi.org/user/eguidotti

**Reasons for the request**

The project seems abandoned. Last update on Jan 2019, version 0.0.1, no description, project links are broken and the github repository has been deleted. Almost no downloads in the last month: https://pypistats.org/packages/stc

**Maint

[2020-10-18 05:09] snoopyjc commented on #655
Sent the author an additional email - no response!

[2020-10-18 15:41] awsjoez commented on #522
Hi @jamadden thank you for your response. What's the best way to create the project when the file size is over the limit? We don't want to upload invalid files since it might be exposed to the public.

[2020-10-18 18:59] altendky opened #675 "Limit Request: pyqt5-tools - 4GB per release / I guess close to 30GB total uploaded"
**Project** pyqt5-tools - https://pypi.org/project/pyqt5-tools/

**Size of release/project** 4GB per release / I guess close to 30GB total uploaded based on hitting the quota

**Which indexes** PyPI

**Reasons for the request**

I would like to get out at least one more release since a few people have been requesting 3.9 support.  After that, I am working through breaking the project up into multi

[2020-10-19 08:28] scjurgen opened #676 "Account recovery request"
Request for account recovery.

## PyPI Username

`scjurgen`

---

##  Reason for request

Reason:
The email (scjurgen@yahoo.com) username (scjurgen) associated with my account seems to be broken (https://pypi.org/user/scjurgen/)

Requesting a "password reset link" sends me an email to reset with the classic token.
I can submit a new password, however the successive login with my username does not

[2020-10-19 08:36] zhouwei25 opened #677 "Limit Request: paddlepaddle_gpu - 800 MB"
**Project**

https://github.com/PaddlePaddle/Paddle
https://pypi.org/project/paddlepaddle-gpu/

**Size of release/project**

800MB

**Which indexes**

PyPI

**Reasons for the request**

We will release a new version for paddlepaddle_gpu recently. Our current size limit is 600M, and the dev version is 660M. Because a few new features are enabled in this version, and most of the new feature is new o

[2020-10-19 09:44] eguidotti commented on #674
Fixed with the author via email. Thanks!

[2020-10-19 09:44] #674 closed

[2020-10-20 00:13] TonyMarkham opened #678 "Account recovery request"
Request for account recovery.

## PyPI Username

TonyMarkham

---

##  Reason for request

Reason:
Lost 2FA authentication app or security token

[2020-10-20 08:20] LaserPhaser opened #679 "Limited admin capacity to handle 2FA account recovery requests"
I've lost my 2FA device about month ago and filled a bug here [#632].
No one helped me to restore my account.
BTW - I've checked the history and there are no solver issues with `account-recovery` tag for the last 6 month.
@di could you please gently push some one who is responsible for such help ?

[2020-10-20 13:03] ewdurbin commented on #679
These issues have thus far been handled by me, are high effort, and high latency.

To be 100% transparent it has simply been a task I have not had the energy to dump into amid the circumstances of a global pandemic, an uprising here in the states, and an upcoming consequential election.

[2020-10-20 13:08] LaserPhaser commented on #679
@ewdurbin Got it, could I help you somehow with these issues?

[2020-10-20 13:14] ewdurbin commented on #679
The task requires administrator access to PyPI to retrieve verifiable information or activity for users of PyPI, as well as to complete the reset.

This is pretty much "super user" access to PyPI as it involves the ability to view sensitive, personal, and private information as well as perform destructive actions. There are currently 6 people with the ability to view admin information and 3 with t

[2020-10-20 13:17] LaserPhaser commented on #679
Ok, if you will have any ideas how I can help you with this - please reach me.
Thanks for your effort.

[2020-10-20 13:28] VivianMonzon opened #680 "Account recovery request"
Request for account recovery.

## PyPI Username

VivianMonzon

---

##  Reason for request

Reason: Loss access to email address

[2020-10-21 23:00] jamadden commented on #653
@dougfowler42 Thank you for your response. The fastest way to enable that to happen would be for an owner of the project on PyPI to either delete it, or grant "owner" access to the PyPI user requested in this issue ("ssbarnea"). Otherwise, an administrator will have to perform the transfer, which can take some time.

[2020-10-22 13:36] Marco-Sulla commented on #530
Any news? There are many people that moved away from that project because is unmaintained, and another one is flying away:
https://github.com/digitalbazaar/pyld/pull/140

[2020-10-22 19:47] brendongo opened #681 "Limit Request: Semgrep - 110 MB"
Hi, we recently hit the 100MB upload limit for our project

**Project**
semgrep https://pypi.org/project/semgrep

**Size of release/project**
110MB

**Which indexes**
Pypi

**Reasons for the request**
Semgrep is a static analysis tool that runs on many languages. We include a statically linked manylinux binary of the core static analysis engine. As we support more languages the size of that binary

[2020-10-22 20:46] sebhrusen opened #682 "Limit Request: h2o - 200 MB"
**Project**

https://pypi.org/project/h2o/

**Size of release**

200 MB

**Which indexes**

PyPI

**Reasons for the request**

H2O is a popular open-source ML platform (https://github.com/h2oai/h2o-3/).
The python package comes with an embedded backend packaged as a jar.
The package size may increase over time but the increase between releases is usually relatively small. The latest release howeve

[2020-10-23 02:08] sfdye commented on #447
gentle bump

[2020-10-23 21:15] mattrose opened #683 "PEP 541 Request: terminator"
**Project Name**

`terrminator`: https://pypi.org/project/terminator

**Your PyPI username**

`mattrose`: https://pypi.org/user/mattrose

**Reasons for the request**

The project which currently occupies the name "terminator" on pypi.org has had one release, and in fact, if you look at the source code repository https://github.com/HunterLarco/terminator it has only ever had one commit.  It looks l

[2020-10-24 06:36] gpotter2 commented on #77
@jamadden Hi and sorry for bothering.
If I consider that this project falls in "Invalid projects" of PEP541 because of

Would you find it justified for me to open another issue and ask for a resolution ?

I'm really sorry this sounds like a childish rant, but this project is still downloaded too much for a legacy placeholder, and should likely raise an error while installing rather than on runtime

[2020-10-25 04:57] kirankotari commented on #679
+1 I am facing the same issue. Phone has been formatted automatically lost all 2FA on device. Help session say to login via recovery codes, but I don't see such an option to click on login page. Is your system stable? on recovery process, Why it's not automated.
username: kkotari

[2020-10-25 04:57] kirankotari commented on #678
+1
I am facing the same issue. Phone has been formatted automatically lost all 2FA on device. Help session say to login via recovery codes, but I don't see such an option to click on login page. Is your system stable? on recovery process, Why it's not automated.

username: kkotari

[2020-10-25 05:17] kirankotari opened #684 "Account recovery request"
Request for account recovery.

## PyPI Username

`kkotari`

---

##  Reason for request

Reason:
`Lost 2FA authentication app or security token`

[2020-10-25 07:36] ssbarnea commented on #653
@dougfowler42 that is very easy, just go to https://pypi.org/project/Enrich/ login, press manage button and add me (ssbarnea) as owner.

And again, thanks for the help. If you no longer have access to your pypi account (like lost password combined with lost access to original email), mention it here, the admins will understand.

[2020-10-25 13:25] ewjoachim commented on #679
@kirankotari this is a different subject, *please open your own issue*. There is a "Login using recovery code" button in the login process, and if you have recovery codes, it's automated.

Again, please open your own issue, this discussion is on an unrelated problem :)

[2020-10-25 16:46] dougfowler42 commented on #653
Hi,

Done.  Sorry for the delay - busy week.

Doug

On Sun, Oct 25, 2020 at 12:36 AM Sorin Sbarnea <notifications@github.com>
wrote:

[2020-10-26 03:30] geometrikal opened #685 "PEP 541 Request: miso"
**Project to be claimed**

`miso`: https://pypi.org/project/miso

**Your PyPI username**

`geometrikal`: https://pypi.org/user/geometrikal

**Reasons for the request**

Name is taken but no project exists

**Maintenance or replacement?**

New package from https://github.com/microfossil/particle-classification

**Contact and additional research**

Cannot find current owner or project

[2020-10-26 09:41] ssbarnea commented on #653
Thanks!

[2020-10-26 09:41] #653 closed

[2020-10-26 13:40] kushaldas opened #686 "PEP 541 Request: OpenPGP"
**OpenPGP**

`OpenPGP`: https://pypi.org/project/OpenPGP

**kushaldas**

`kushaldas`: https://pypi.org/user/kushaldas

**Reasons for the request**

The project was last released (marked as alpha) back in 2005, and the [home page](http://www.aonalu.net/openpgp) says not to use in the real world.

**Maintenance or replacement?**

I will publish a new Python module written in Rust, the current code i

[2020-10-26 19:50] richard-scott commented on #679
Would it be possible to get an option to be emailed a url to remove 2fa from our accounts, similar to the lost password one?

[2020-10-26 21:10] ewjoachim commented on #679
Not sure but if it was the case, without more identity checks, then it wouldn't add more security than just the password itself, would it ?

[2020-10-26 21:16] richard-scott commented on #679
What more identity checks can you make? You only know the accounts designated email address.

From what I’ve seen on closed issues, contacting this email address you have on file seems to be the way theses get resolved.

I’m thinking of a way for the system to automatically email the main account holder to say “someone asked to remove your 2fa, click here to proceed” then ask them to re enter thei

[2020-10-26 21:19] ewdurbin commented on #679
For accounts with no projects, that is precisely what we do. For accounts with projects owned/maintained we verify ownership of the project via public source code repositories, via other maintainers, or by other means available.

Enabling MultiFactor Authentication indicates that a user has made a decision to safeguard their accounts beyond the scope of their password. Utilizing the same mechanism

[2020-10-27 03:21] kirankotari commented on #679
Done #684 waiting for your response. I lost the 2FA due to OnePlus mobile recently an auto format bug recently

[2020-10-27 06:38] LaserPhaser commented on #679
Actually I think we must show security backup codes any time when user enables 2FA and highlight somehow that if user will lost 2FA and security codes he will have a big troubles. It should decrease the numbers of such cases like mine.
Just because when you see the security codes and big logo that informs you about potential problems (including lost all access), you will save these codes.

For all

[2020-10-27 07:00] ewjoachim commented on #684
If I understand correctly what you stated in #679, you still have 2fa recovery codes ?

[2020-10-27 07:46] richard-scott commented on #679
But if we have recovery codes we won’t need help with 2FA. Maybe enforce the downloading of recovery codes for all users with 2FA enabled that haven’t already collected them.

My 2FA stopped working as my phone died before I downloaded the recovery codes hence why I need 2FA removed from my account.

[2020-10-27 08:52] kirankotari commented on #684
@ewjoachim sorry for confusion, I have just realised the 2FA recovery codes I have is GitHub not PyPI. I was looking for it but couldn't able to find them so far.

[2020-10-27 09:15] beerkegromes opened #687 "Account recovery request"
Request for account recovery.

## PyPI Username

`beerkegromes`

---

##  Reason for request

Reason:- Lost access to email address
  - Lost 2FA authentication app or security token

[2020-10-27 11:12] kteague commented on #614
This is, IMO, one of the biggest potential security exploits on PyPI.

This package is likely mistakenly installed instead of 'aws-cli' hundreds or thousands of times per month. The 'aws-cli' package is used to connect to AWS accounts - often with Administrator access.

If this 'aws' package was replaced by a clone of the existing 'aws-cli' project, except with a backdoor that took the AWS credent

[2020-10-27 12:35] pradyunsg commented on #614
https://pepy.tech/project/aws?versions=*

About 2k downloads a day.

[2020-10-27 12:53] pradyunsg commented on #614
I wouldn't go so far, given that legitimate users who have invested significant time and effort  haven't been able to gain access to this package.

---

It is not clear to me under which provision of [PEP 541](https://www.python.org/dev/peps/pep-0541/) this removal request falls under. Could someone please clarify the same?

[2020-10-27 18:32] hoffmang9 opened #688 "test.pypi.org returning 502 Bad Gateway intermittently"
**Describe the bug**
At approximately 11:20AM PDST, twine uploads were receiving - `HTTPError: 502 Bad Gateway from https://test.pypi.org/legacy/`. This URL was also giving a 502 - https://test.pypi.org/help/

**Expected behavior**
Wheels should upload and website should vend pages.

**To Reproduce**
During the time window a twine upload or web request would reproduce this.

**My Platform**
GitHub

[2020-10-27 18:36] ewdurbin commented on #688
our monitoring/alerting is definitely more concerned with pypi.org itself.

not many resources are available to test.pypi.org, and even though we don't have any SLA for pypi.org itself... we _certainly_ do not have one for test.pypi.org.

it looks like test.pypi.org gets random spurts of traffic that overload the single pod that runs it's web interface. I've provisioned some additional capacity an

[2020-10-27 18:42] hoffmang9 commented on #688
I was already leaning toward re-ordering the workflow and making test failures non fatal.

I would add a small enhancement request that there be at least a token amount of monitoring on test.pypi.org added. It was not obvious where to reach out if there are issues with test (hence putting this issue in the wrong place initially.)

[2020-10-27 19:52] kteague commented on #614
I believe PyPI packages themselves are quite secure (never heard of someone hacking anything significant on PyPI), but it is putting trust that the original author of the 'aws' package won't upload a new release that's an 'aws-cli' clone with an exploit (or if their PyPI creds got exploited somehow). The misleading package name is unintentionally giving that author a lot of trust.

Not sure about

[2020-10-27 22:12] stephen-bunn opened #689 "Limit Request: Facelift - 109 MB"
**Project**
https://pypi.org/project/facelift/

**Size of release/project**
109MB

**Which indexes**
PyPi

**Reasons for the request**

Facelift is a wrapper around features provided from dlib and OpenCV to make face feature detection and face recognition very straightforward. As part of making this wrapper easy for developers, we choose to bundle several well defined face feature detection models

[2020-10-28 04:23] kmaehashi opened #690 "Limit Request: cupy-cuda111 - 250MB"
**Project**
cupy-cuda111 - https://pypi.org/manage/project/cupy-cuda111/releases/

**Size of release/project**
250MB

**Which indexes**
PyPI

**Reasons for the request**
We're developing [CuPy](https://github.com/cupy/cupy), which provides an implementation of NumPy-compatible multi-dimensional array accelerated by CUDA. The limit increase is needed to include dependent libraries (NVIDIA NCCL, etc

[2020-10-28 07:22] aprilahijriyan opened #691 "New classifier: Framework :: Zemfrog"
Hi, can I get a new classifier `Framework :: Zemfrog` for my project https://github.com/zemfrog/zemfrog?

[2020-10-28 07:28] pradyunsg commented on #686
I can confirm that the owner is not reachable. All of the user's emails (as available on PyPI or the project pages) are bouncing. http://www.aonalu.net/sourpoi/ links to the repository, but that results in a 404: https://bitbucket.org/sourpoi/python-openpgp-2440. This project easily satisfies all the requirements for being considered "abandoned" (not reachable + no releases in an year + no updates

[2020-10-28 07:36] kushaldas commented on #686
Forwarding those bounced emails to the given address. Thank you.

[2020-10-28 07:38] pradyunsg commented on #686
ACK. Can confirm. :)

[2020-10-28 07:41] kushaldas commented on #686
The readme of the project says:

[code]
Also the home page says it is an *a somewhat acedemic OpenPGP implementation* and also using the old RFC 2440, <http://tools.ietf.org/html/rfc4880> is the newer one.

[2020-10-28 15:41] twang817 opened #692 "Account recovery request"
Request for account recovery.

## PyPI Username

`twang817`

---

##  Reason for request

Reason: I forgot what email address I registered the account with (I may still have access).  I have several projects that need to have updates.

[2020-10-28 21:39] FellowHashbrown opened #693 "Account recovery request"
Request for account recovery.

## PyPI Username

`fellowhashbrown`

---

##  Reason for request

Reason: I moved to a new device and forgot to disable/reenable 2FA on new device

[2020-10-28 22:52] ealemany opened #694 "Cannot run curl -vvv --ipv4 https://files.pythonhosted.org/ - 'Network is Unreachable' error"
## My Platform

    *  OS: Ubuntu 18.04 server - command line
    * command line tool: curl   version 7.58.0
    * No firewall implemented locally on the server. IT NetworkTeam confirmed that ports 443, 80, 8080 etc are open on
      VLAN
     * Others servers on same VLAN running ubuntu 16.04 can connect and access "curl https://files.pythonhosted.org/ "

## Network telemetry

### DNS Resolution

[2020-10-28 23:56] chinhuang007 commented on #581
@ewdurbin I know all admins are extremely busy. Just wonder if you can help to transfer the project ownership? The current owner Tian (tjingrant) lost his account access and the recovery issue #575 has not being addressed. He has agreed with the ownership transfer, as seen in this thread, so we can continue to publish onnx-tf releases to pypi. Thank you very much for your help.

[2020-10-29 01:27] ismdeep opened #695 "Account recovery request"
Request for account recovery.

## PyPI Username

`ismdeep`

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:

I restored my iPhone, but forgot to backup Google Authenticator.

[2020-10-29 09:39] brucetony commented on #598
It has been nearly 2 months, is it possible to get an update?

[2020-10-29 12:39] ianhalpern opened #696 "Account recovery request"
Request for account recovery.

## PyPI Username

`payload`

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:

My phone is lost at sea and didn't have a Google Authenticator backup

[2020-10-29 15:22] bknueven opened #697 "PEP 541 Request: egret"
**Project to be claimed**

egret: https://pypi.org/project/egret

**Your PyPI username**

bknueven: https://pypi.org/user/bknueven

**Reasons for the request**

This project has not had an update in over a year, and only two versions have been released. The homepage points to the author's GitHub homepage, and I can find no repository associated with it. The current project has at most minimal func

[2020-10-29 17:07] jkyeung commented on #655
This would be a great boon to the Python Excel community! I hope the powers that be let your project use this name on PyPI.

[2020-10-29 17:33] jpivarski commented on #630
I found the place where I can count deleted releases. Since the project began (Aug 16, 2019), I've manually deleted 191 releases, leaving 43 (i.e. total without deletion is 191 + 43 = 234).

31 of those 43 were released after the point when this project "went public:" version 0.2.10 was pinned in the first tutorial for users. And they're using it:

![](https://raw.githubusercontent.com/jpivarski-t

[2020-10-29 20:16] refnode opened #698 "Account recovery request"
Request for account recovery.

## PyPI Username

`refnode`

---

##  Reason for request

Reason:

Seems that I accidentially forget to update an email address from a previously owned domain refnode.com
Don't receive password reset emails anymore.

[2020-10-29 21:19] snoopyjc commented on #655
Just heard from him - related issue: https://github.com/pypa/pypi-support/issues/698

[2020-10-30 09:27] schlegelp commented on #490
A quick ping to indicate that I'm still very keen to take on this project name.

[2020-10-30 15:30] skvark opened #699 "Limit Request: opencv-contrib-python-headless - 150 MB"
**Project**

https://pypi.org/project/opencv-contrib-python-headless

**Size of release/project**

150 MB

**Which indexes**

PyPI

**Reasons for the request**

This project provides pre-built wheels as well as a source distribution for certain OpenCV variant. Wheel packages are itself smaller than the default 100 MB limit, but the source distribution reaches currently 142 MB and therefore cannot

[2020-10-30 15:32] skvark opened #700 "Limit Request: opencv-contrib-python - 150 MB"
**Project**

https://pypi.org/project/opencv-contrib-python

**Size of release/project**

150 MB

**Which indexes**

PyPI

**Reasons for the request**

This project provides pre-built wheels as well as a source distribution for certain OpenCV variant. Wheel packages are itself smaller than the default 100 MB limit, but the source distribution reaches currently 142 MB and therefore cannot be upload

[2020-10-30 19:23] spbrogan opened #701 "Account recovery request"
Request for account recovery.

## PyPI Username

`spbrogan`

---

##  Reason for request

Reason: Lost 2FA authentication app or security token

[2020-10-30 22:23] stephen-bunn commented on #689
Closing as we have moved to a different process than attempting to bundle models in the package.

[2020-10-30 22:23] #689 closed

[2020-10-30 22:37] tamasgal commented on #661
How long does this usually take when the original author is not responding?

I still have no luck reaching him...

[2020-11-01 04:15] ArnoCan commented on #659
Dear Jorge,
the project is a separate project providing a common platform for various data description syntaxes - e.g. JSON, XML, YAML, also INI/CFG/CONF, .properties, with additionals like ASN.1. So this is neither a dummy, nor spam. Due to my development approach which includes thorough documentation I required the names early, because simply using sed for working named does not work in any case

[2020-11-01 04:32] ArnoCan commented on #659
Another hint for the number of projects.

The projects related to PyPA or setuptools are e.g.:
    setuplib + setuplibcore + setupdocx + setupjavax + setuptestx + setupbashx

These are logically grouped into the virtual packages - similar to e.g. PyWin:
   ictstacks:   which is the overall framework
   packageit: which groups the installer releated packages - here setuptools / distutils

This resu

[2020-11-01 04:56] ArnoCan commented on #536
@webknjaz + @jorgecarleitao  + @jamadden

This is neither spam, nor name squatting.

Same as #659 - e.g. the project 'datafusion' is a project providing a common platform for various data description syntaxes - e.g. JSON, XML, YAML, also INI/CFG/CONF, .properties, with additionals like ASN.1. So this is neither a dummy, nor spam. Due to my development approach which includes thorough documentation

[2020-11-01 05:12] ArnoCan commented on #536
Just one extension
- setupjavax

or
- ictstacks -> packageit -> setupjavax

is required for Jython  - which supports currently Python-2.7 syntax with Java specifics.
All packages support the full scope of PythonIDs - CPython, IPython(specifics), IronPython, Jython, PyPy, and Stackless, where Jython and IronPython currently support Python-2.7 syntax only - on all platforms supported by PlatformIDs.

[2020-11-01 09:49] webknjaz commented on #536
This still counts as name squatting as defined by PEP 541: https://www.python.org/dev/peps/pep-0541/#invalid-projects

[2020-11-01 10:36] ArnoCan commented on #536
You should in particular be aware, that this is not a spam-account at all! There are probably too much real projects with more than 100k LOC present by this account. The comprehensive documents are available by link e.g. on <project>.sourceforge.io. With more going to follow step-by-step as planned and already allocated on PyPI.

As far as I see it is not the intention of the PEP-541 to declare a

[2020-11-01 12:30] pradyunsg commented on #536
@ArnoCan As it stands, there are many packages under your username (at least the ones that I have inspected) that don't contain any code -- they're empty projects, and don't provide anything beyond declaring the metadata and package name. PEP 541 clearly lists this as an "invalid" project:

In other words, as far as I can tell, nearly all the packages listed under your username are empty and, thus

[2020-11-01 12:55] ArnoCan commented on #536
@pradyunsg

I do not agree to your interpretation, the projects have functionalities. As I listed before, If zou have to write documentation and are developing cross-dependent packages you need a lot of actual references, which should not change.
Though you need reliable names - which require the preparation of the upload, though the creation of the package. A pretty natural and causal process.

1

[2020-11-01 13:03] ArnoCan commented on #659
I do not agree to your interpretation, the project datafusion has functionality. As I listed before, If you have to write documentation and are developing cross-dependent packages you need a lot of actual references, which should not change.
Though you need reliable names - which require the preparation of the upload, though the creation of the package. A pretty natural and causal process.

1.  Th

[2020-11-01 13:13] webknjaz commented on #536
The PEP operates the terms in the context of PyPI. It's not an abstract project, it's what is actually published on PyPI (the dedicated web-page with a name for the package is its project). In the context of PyPI it doesn't matter if the source exists elsewhere, be it on some code hosting site or your local laptop. If `pip install` only downloads garbage to the end-user's computer, it counts as em

[2020-11-01 13:19] ewjoachim commented on #536
I think you misread the "or" in that sentence.

[2020-11-01 13:20] jorgecarleitao commented on #536
Quite honestly, @ArnoCan , I think that you are trolling and you know it:

* This is not a new project with a week old: this behavior has been going on for at least 10 months:
    * #198 - Feb 13th - 10 months ago
    * #397 - May 18th - 7 months ago
    * #536 - Aug 4th -  2 months ago
    * #659 - 22 days ago
* you have 500 squatted names which you have done nothing about for the past 10 months

[2020-11-01 13:21] webknjaz commented on #536
I don't see a point here. TestPyPI is a separate staging deployment that is meant to be used for experiments, in particular by folks who are new to Python packaging.

[2020-11-01 13:24] ArnoCan commented on #536
Astonishing.

Please close the issue and stop claiming my account as a spam account. Which is simply ridiculous.

So I proceed with the deployment as planned today including PyPI and other repositories.

WKR

[2020-11-01 13:25] webknjaz commented on #536
Definitely a troll

[2020-11-01 13:26] ArnoCan commented on #536
@webknjaz
Dear Sviatoslav,
what is your role/task here?

WKR

[2020-11-01 13:29] webknjaz commented on #536
Does calling out for unfair use of PyPI that violates its ToC? I filled a report according to PEP 541 (that knowledgeable folks from the community totally agree with, including PyPI admins). The reason is that nobody wants to see spam in the search. FWIW I'll leave it to the admins to take a reasonable action.

[2020-11-01 13:50] ArnoCan opened #702 "False claim as spam account (acue)"
See also #536:
I am a bit astonished about this story!

So as a long term contributor working on a large framework for which I am going to deploy the first parts it is irritating to be called a spammer or if this obviously not fits a troll, or whatever.

That is bullying - as I guess here in order to actually troll the name datafusion see #659.

So please assure that this thing stops immediately.

[2020-11-01 13:51] ArnoCan opened #703 "Trolling of a projectname - datafusion"
See also #659 and #536:
I am a bit astoinished about this story!

So as a long term contributor working on a large framework for which I am going to deploy the first parts it is irritating to be called a spammer or if this obviously not fits a troll, or whatever.

That is bullying - as I guess here in order to actually troll the name datafusion see #659.

The PEP-541 prohibits it's application on

[2020-11-01 14:07] ArnoCan commented on #536
@ewjoachim
definitely not

@webknjaz
simply astonishing

@webknjaz last comment
See bitbucket for a better solution concerning the search results :*), a limit of the query and search design could not interpreted  by falsely incriminating some one as spammer and trying to troll it's assets. That is actually ridiculous. Definitely not appropriate for an open source foundation against it's comitters.

[2020-11-01 14:12] ArnoCan commented on #536
@webknjaz
Dear Sviatoslav,
still interested in your role/task here?

WKR

[2020-11-01 15:09] ArnoCan opened #704 "Falsely namecalling as a spammer by Sviatoslav Sydorenko"
**S.th. went wrong when storing, so issued twice.**

The issue #536 was falsely changed and transfered to bullying and namebinding after my protest to the false claims.
Sviatoslav Sydorenko tried obviously bully me via search engines as a spammer which is false and may have even legal consequences. This is in most countries an offense / a criminal act.

So I request herein the immediat change and

[2020-11-01 15:14] ArnoCan opened #705 "Falsely namecalling (acue / @ArnoCan) as a spammer by Sviatoslav Sydorenko"
See also #536 and #659 + #702 and #703:

After protesting against the false claim the title was changes by Sviatoslav Sydorenko aka. webknjaz obviously in order to namebinding via search engines.

This is in all countries a criminal offense which will have eventually legal consequences.

**See #536:**

@webknjaz webknjaz changed the title [PEP 541] Spam account detected [PEP 541] Spam account dete

[2020-11-01 15:46] webknjaz commented on #536
@ArnoCan Python and PyPA communities pride themselves as open and considerate which implies a certain behavior to be upheld. Your behavior comes close to violating the PyPA and PSF Code Of Conduct. I'd even argue that you crossed the line here. Many folks pointed out, in a clear manner, what exactly you violate with regard to PEP 541. Treating others with such a disrespect and personal attacks mus

[2020-11-01 15:50] webknjaz commented on #705
Just for the record: this is a shameless lie. I renamed it to identify this spam report among other things because the previous title was too broad and it needed to be more specific specifying what it's about more precisely.

[2020-11-01 15:53] ArnoCan commented on #536
Falsely namecalling (acue / @ArnoCan) as a spammer by Sviatoslav Sydorenko #705

WKR

[2020-11-01 16:01] ArnoCan commented on #705
@xavfernandez: See "Trolling of a projectname - datafusion #342

Which email for an CoC issue?

WKR

[2020-11-01 16:02] ArnoCan commented on #705
@webknjaz
Read your own comments!

WKR

[2020-11-01 16:20] pradyunsg commented on #536
I've gone ahead and locked this issue for now. Let's not escalate this further at this time. I'll suggest that everyone take a step away from this for a little while.

I'll unlock this in a week.

[2020-11-01 16:24] pradyunsg commented on #705
@ArnoCan please don't file multiple issues and make managing the issue tracker more difficult.

Combining with #702.

[2020-11-01 16:24] #705 closed

[2020-11-01 16:26] pradyunsg commented on #705
Please see https://www.python.org/psf/conduct/ for details on the Code of Conduct for this space. You can find contact details there.

[2020-11-01 16:26] pradyunsg commented on #704
Merging into #702.

[2020-11-01 16:26] #704 closed

[2020-11-01 16:27] pradyunsg commented on #703
Merging into #702.

[2020-11-01 16:27] #703 closed

[2020-11-01 16:29] pradyunsg commented on #702
Please raise a concern with PSF's conduct WG if you believe that there has been bullying here (which would be a CoC violation). You can find more information about the Code of Conduct here: https://www.python.org/psf/conduct/

[2020-11-01 16:56] ArnoCan opened #706 "[PEP 541] User squatting 500+ packages (acue) - Incorrect issue still with public account/namebinding"
@pradyunsg

Dear Pradyun,
The change is basically OK, but still contains a name/account. Please drop this to:

- [PEP 541] User squatting 500+ packages #536

Which we can clarify mostly - though resultingly completely - soon.

WKR

[2020-11-01 17:00] xavfernandez commented on #702
Actually since none of the PyPA responder is involved, the first email of https://github.com/pypa/.github/blob/main/CODE_OF_CONDUCT.md would apply IMHO.

[2020-11-01 17:28] pradyunsg commented on #706
I understand your concern, however, I'd prefer to keep the account name in the issue title since it is the PyPI username involved and under discussion.

Please stop filing additional issues for the same topic. If you want to have further discussion, please do so in #702.

[2020-11-01 17:28] #706 closed

[2020-11-01 17:28] pradyunsg commented on #702
Ah, indeed. conduct@pypa.io would be appropriate.

[2020-11-01 17:51] ArnoCan commented on #706
I do not agree, it is enough to link within the issue text. This is the first case I saw such an issue.

So please fix this.

WKR

[2020-11-02 05:38] rtibbles commented on #498
Is there any process in place for these to be dealt with?

@ewdurbin I see you were the last person to respond to a recovery request, what do I need to do to proceed here?

[2020-11-02 08:50] ArnoCan opened #707 "PEP 541 Request: Copyright infringment for non-deleteable package names"
After my recent experiences, your ownership policies of projects and their brands as demonstrated by your staff, I have actually problems in seeing the foundation as trustfull.

See:  #536 +  #659 + #702 + #703 + #704 + #705 + #706

So finally decided to stop publishing new packages on PyPI.
I am going to maintain some older packages for a while.

Apparently I have to see, that I can remove releas

[2020-11-02 08:58] di commented on #707
@ArnoCan Please stop creating new issues in this tracker and other @pypa trackers. We will address this in #https://github.com/pypa/pypi-support/issues/536.

[2020-11-02 08:58] #707 closed

[2020-11-02 09:10] ArnoCan opened #708 "PEP 541 Request: Copyright infringment for non-deleteable package names"
@di - Dustin Ingram

Please read thoroughly before you answer!

It is related to one of your basically "unique features" compared to other repositories.

I am no longer interested in PyPI at all. So remove my intellectual property - copyrighted - packages as listed in #707.

And assure false claims as bullying "False claim as spam account" #702 do not happen.

As soon as this both is completed it

[2020-11-02 09:17] di commented on #708
@ArnoCan Please stop creating new issues in this tracker and other @pypa trackers. We will address this in #https://github.com/pypa/pypi-support/issues/536.

[2020-11-02 09:17] #708 closed

[2020-11-02 09:33] ArnoCan opened #709 "Stop blocking issues related to package removal - PEP-541: copyright infringement - see #707"
@di - Dustin Ingram

Dear Dustin,
as I said, after all I made the decision to finish my collaboration with PyPI as a publishing platform.

So the issue #707 has nothing to do with my issue due to false claims as stated in #702  + #536, in particular the mentioned namebinding and bullying #705. You can decide in this ecosphere whatever, first assure my rights in accordance to PEP-541!

So would you

[2020-11-02 09:38] #709 closed

[2020-11-02 09:41] di commented on #709
OK, since you seem to be unable to listen to my requests, I've now blocked you instead.

Nobody is preventing you from removing your own packages. You can do that at any point.

[2020-11-02 10:00] pradyunsg commented on #709
To be ridiculously clear, this can be done by:

- signing into PyPI
- Navigating to "Your projects" page: https://pypi.org/manage/projects/
- For each project that you wish to delete:
  - Navigate to a project's "Manage" page.
  - Go to "Settings" from the sidebar, and scroll down to the "Delete Project" button.
  - Click that and follow on-screen instructions.

This has to be done on a per-projec

[2020-11-02 10:48] pradyunsg commented on #536
Since locking issues removes cross-linking on GitHub, adding context here:

@ArnoCan has been filing multiple issues in PyPA issue trackers since this was locked. The initial bunch of issues were closed and they were advised to keep the discussion in #702. Despite being told to not file additional issues, they've continued to do so, with each issue being a different title/request/demand. As far as

[2020-11-02 14:33] rluce opened #710 "PEP 541 Request: gurobipy"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/gurobipy/

**Your PyPI username**

`USER_NAME`: robertluce

**Reasons for the request**

I would like to have ownership of the PyPI project `gurobipy` transferred because:

1. The PyPI project `gurobipy` is a clear case of name squatting: [`gurobipy` is the Python interface](https://www.gurobi.com/documentation/9.0/quickstart_linu

[2020-11-02 17:50] rluce commented on #710
@luig1987 Do you happen to be the same person behind PyPI's 'luig1987', and if so, would you be willing to transfer the project?

[2020-11-02 23:58] vincentlam opened #711 "PEP 541 Request: dtb"
**Project to be claimed**
dtb
https://pypi.org/project/dtb

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/vincentlam

**Reasons for the request**

The home page https://github.com/getsentry/dtb leads to 404.

**Maintenance or replacement?**

Replace with https://github.com/vincentlam/dtb

**Contact and additional research**

I did some basic research for contact data of the current "o

[2020-11-03 12:00] rluce commented on #710
@luig1987 Did you have a chance to figure out whether you had any prior ties to this PyPI project?  Please also confirm if this is totally unrelated to you, thanks!

[2020-11-03 12:44] skvark opened #712 "Limit Request: opencv-python-headless - 30 GB"
**Project**

https://pypi.org/project/opencv-python-headless/

**Size of project**

Current size 19,5 GB, requesting increase from 20 GB to 30 GB

**Which indexes**

PyPI

**Reasons for the request**

`opencv-python-headless` is the headless variant of OpenCV. It's used in computer vision applications for example in server environments. Currently there is a 20 GB limit for `opencv-python-headless`

[2020-11-03 16:11] JasonAlt opened #713 "Account recovery request"
Request for account recovery.

## PyPI Username

`jasonalt`

---

##  Reason for request

Reason: Lost 2FA authentication app

[2020-11-03 17:25] MichaelAldrich opened #714 "PEP 541 Request: Nxt"
**Project to be claimed**

`Nxt`: https://pypi.org/project/Nxt/

**Your PyPI username**

`michaelaldrich`: https://pypi.org/user/michaelaldrich/

**Reasons for the request**

I believe the project is abandoned and also is invalid. It is completely empty with no functionality, `setup.py` contains only the minimum to specify package name and version.

**Maintenance or replacement?**

Publish a diffe

[2020-11-04 23:43] Hsins opened #715 "Limit Request: mpl-tc-fonts - 200 MB (File Size Limit)"
Hi! I'd like to request an increase in the total project size limit. I got the error message when uploading project:

[code]

**Project**

The project [`mpl-tc-fonts`](https://github.com/Hsins/mpl-tc-fonts)

**Size of release/project**

The current size is 100MB, I would like to request an increase to 200MB.

**Which indexes**

PyPI

**Reasons for the request**

`mpl-tc-fonts` is a package like [`

[2020-11-05 00:25] jpivarski commented on #630
I just deleted 8 more releases, _hoping_ that nobody needed them. (They're from April 2020, where you can see from the orange line that adoption was low.)

[2020-11-05 06:19] SumoSourabh commented on #656
anything on this?

[2020-11-05 06:34] romainthomas opened #716 "Account recovery request"
Request for account recovery.

## PyPI Username

pyami

---

##  Reason for request
Reason:

- Wrong manipulation

[2020-11-05 08:25] suchak1 opened #717 "🚀 PEP 541 Request: hyperdrive 🚀"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/hyperdrive

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/suchak1

**Reasons for the request**

This project has not had any new releases in over two and a half years, and there are no downloads. I believe this project has been abandoned.

**Maintenance or replacement?**

Replacement with this project: [Github repo](h

[2020-11-05 13:36] bih opened #718 "Account recovery request"
Request for account recovery.

## PyPI Username

`bil`

---

##  Reason for request

Lost 2FA authentication app

Reason: No idea, it's no longer showing in my 2FA authenticator app (Duo Mobile). Never had to me before

[2020-11-05 13:59] rrthomas commented on #649
Ping again? How long does an admin transfer take?

[2020-11-05 15:39] arianesasso opened #719 "PEP 541 Request: pypg"
**Project to be claimed**

I could not find a valid project page, just this reference: https://libraries.io/pypi/pypg
pip search pypg returns nothing.
`PROJECT_NAME`: https://pypi.org/project/pypg

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/asasso

**Reasons for the request**

I think the old project has changed its name: https://pypi.org/project/plpygis/.

**Maintenance or replace

[2020-11-05 20:34] #716 closed

[2020-11-06 17:43] AndreCNF opened #720 "Account recovery request"
Request for account recovery.

## PyPI Username

`AndreCNF`

---

##  Reason for request

Reason:
Lost 2FA authentication app or security token

[2020-11-06 17:50] somesam opened #721 "PEP 541 Request: dune"
**Project to be claimed**

`dune`: https://pypi.org/project/dune/

**Your PyPI username**

`samuel.burbulla`: https://pypi.org/user/samuel.burbulla/

**Reasons for the request**

I have contacted the maintainer. He is willing to transfer this project, but he has no access to its mail address any more.
He requested me to open this issue.

**Maintenance or replacement?**

I want to publish a differe

[2020-11-06 20:24] mwilliammyers commented on #717
@suchak1 you can have the hyperdrive name on pypi 😄
I am not sure what, if anything, needs to be done by me...

[2020-11-06 21:21] suchak1 commented on #717
@mwilliammyers thx, I appreciate it! :) I believe all you have to do is to login to pypi.org > Your projects > hyperdrive > Manage > Settings > Delete project (it says on this page that the project name will then become publicly available).

[2020-11-06 22:02] mustafaquraish commented on #649
@rrthomas I've been waiting since June. There's some pending since May. I don't suspect it will be anytime soon.

[2020-11-06 22:19] rrthomas commented on #649
Thanks, @mustafaquraish. Any ideas on people to prod? This namesquatting by Fedora is fine in principle, but not if it takes 6 months or more to perform transfers.

[2020-11-07 00:04] mustafaquraish commented on #649
@rrthomas You might want to give this thread a look: #679

[2020-11-07 03:21] jacobmontiel commented on #651
Pinging @pradyunsg who has participated in other `PEP 541` issues.

I am part of the team working with @MaxHalford.

[2020-11-07 05:51] marwano commented on #721
This is Marwan Alsabbagh the author of the project to be claimed dune. I just wanted to confirm all the above. Feel free to contact me if you need anything further from my end.

[2020-11-07 09:08] rrthomas commented on #679
You're the Director of Infrastructure, so if you can't make this call, who can? Clearly, the system is not working at the moment. There's work that needs doing (I'm one of several waiting for a RedHat-namesquatted package name to be assigned to me, having been approved by RedHat). You can bet people are already routing around you: using other languages, abandoning PyPI etc. You can delegate, you c

[2020-11-07 15:27] nikochiko opened #724 "Users hoarding package names"
I came across this user (https://pypi.org/user/Collie/) who is hoarding package names without publishing any content under those packages. This includes common words which are very likely candidates for new and real projects. (including "author", "maintainer", "apps", "filter", etc.). It's pretty clear they do not mean to publish any real code (there are 59 empty projects).
This should probably be

[2020-11-07 16:31] kirankotari commented on #684
@ewjoachim Any updates. I saw a lot of similar request for "Account recovery" if you need any help let me know. Happy to help.

[2020-11-07 19:46] mwilliammyers commented on #717
@suchak1 done; good luck on your new project!

[2020-11-07 19:53] suchak1 commented on #717
@mwilliammyers thanks again, same to you w your endeavors!

[2020-11-07 19:53] #717 closed

[2020-11-08 15:48] ivy-seed opened #722 "PEP 541 request: ivy"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/ivy

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/ivyteam

**Reasons for the request**

Trademark Infridgement.
Our trademark is publically listed, and can be found [here](https://trademarks.ipo.gov.uk/ipo-tmcase/page/Results/1/UK00003521605).
Specifically, the name "ivy" is trademarked within class 9: open source so

[2020-11-09 08:32] 983 commented on #722
Am I reading this correctly? You claim trademark infringement on a project which existed 4 years **before** you registered that trademark?

[2020-11-09 09:21] gaborbernat commented on #722
Well, this is a gray area. Feels to me you're using a loophole in our rules to do a (from what it looks like - hostile) takeover of a long-standing project name. Furthermore, the name ``Ivy`` is already a registered trademark per https://ant.apache.org/legal.html inside the USA. I'm not sure how US vs UK trademark priority goes but considering most infrastructure is hosted in the US, I think in th

[2020-11-09 10:48] thedrow opened #723 "Account recovery request"
Request for account recovery.

## PyPI Username

`the_drow`

---

##  Reason for request

Reason:
Lost my phone and can't find recovery code.

[2020-11-09 14:29] di commented on #649
I've removed the project from the blocklist.

@encukou, please @-mention me in the future with regards to these Fedora package names, thanks!

[2020-11-09 14:29] #649 closed

[2020-11-09 14:44] rrthomas commented on #649
Many thanks, @di!

[2020-11-09 15:17] ewdurbin commented on #686
Transfer complete.

[2020-11-09 15:17] #686 closed

[2020-11-09 15:18] ewdurbin commented on #425
Transfer complete.

[2020-11-09 15:18] #425 closed

[2020-11-09 15:21] ewdurbin commented on #318
Has there been any response from @fengsp? Doesn't appear that there has been much/any activity on the repository since May...

I still am hesitant to transfer this project if @fengsp is active, but will do so in 7 days if no response is heard here.

[2020-11-09 15:22] ewdurbin commented on #377
Transfer complete.

[2020-11-09 15:22] #377 closed

[2020-11-09 15:24] ewdurbin commented on #374
Transfer complete.

[2020-11-09 15:24] #374 closed

[2020-11-09 15:25] ewdurbin commented on #392
Transfer complete.

[2020-11-09 15:25] #392 closed

[2020-11-09 15:25] ewdurbin commented on #396
Transfer complete.

[2020-11-09 15:25] #396 closed

[2020-11-09 15:27] ewdurbin commented on #385
Transfer complete.

[2020-11-09 15:27] #385 closed

[2020-11-09 15:27] isidentical commented on #392
Thanks!

[2020-11-09 15:29] ewdurbin commented on #386
Transfer complete.

[2020-11-09 15:29] #386 closed

[2020-11-09 15:30] ewdurbin commented on #409
Transfer complete.

[2020-11-09 15:30] #409 closed

[2020-11-09 15:31] ewdurbin commented on #412
Transfer complete.

[2020-11-09 15:31] #412 closed

[2020-11-09 15:32] ewdurbin commented on #421
Confirmed that vsuorant and ryanraba are marked as owners on the PyPI project.

[2020-11-09 15:32] #421 closed

[2020-11-09 15:33] ewdurbin commented on #352
Transfer complete.

[2020-11-09 15:33] #352 closed

[2020-11-09 15:34] ewdurbin commented on #496
Transfer complete.

[2020-11-09 15:34] #496 closed

[2020-11-09 15:35] ewdurbin commented on #433
Transfer complete.

[2020-11-09 15:35] #433 closed

[2020-11-09 15:36] ewdurbin commented on #490
Transfer complete.

[2020-11-09 15:36] #490 closed

[2020-11-09 15:37] ewdurbin commented on #510
Transfer complete.

[2020-11-09 15:37] #510 closed

[2020-11-09 15:40] ewdurbin commented on #450
The project name has been unprohibited and can now be registered @eulertour. If someone registers it before you are able, I will proceed to transfer.

[2020-11-09 15:41] ewdurbin commented on #484
Transfer complete.

[2020-11-09 15:41] #484 closed

[2020-11-09 15:42] ewdurbin commented on #438
Transfer complete.

[2020-11-09 15:42] #438 closed

[2020-11-09 15:43] ewdurbin commented on #520
Transfer complete.

[2020-11-09 15:43] #520 closed

[2020-11-09 15:45] ewdurbin commented on #546
It appears that the original owner deleted this project and it should be available for registration.

[2020-11-09 15:46] ewdurbin commented on #531
Transfer complete.

[2020-11-09 15:48] ewdurbin commented on #620
Transfer complete.

[2020-11-09 15:48] #620 closed

[2020-11-09 15:49] ewdurbin commented on #636
Transfer complete.

[2020-11-09 15:49] #636 closed

[2020-11-09 15:54] ewdurbin commented on #479
Transer complete.

[2020-11-09 15:54] #479 closed

[2020-11-09 16:23] vidstige commented on #425
:raised_hands: :champagne:

Thanks guys! Let's see if I can find that code I wanted to push three years ago somewhere... :see_no_evil:

[2020-11-09 16:40] willingc commented on #484
Thank you @ewdurbin :sunny:

[2020-11-09 18:02] RomeoDespres commented on #374
Thanks a lot!

[2020-11-09 18:24] dcwatson commented on #386
Thank you both!

[2020-11-09 19:08] pinarda opened #725 "Limit Request ldcpy - 180 MB"
**Project**
https://pypi.org/project/ldcpy

**Size of release/project**

180 MB

**Which indexes**

PyPi

**Reasons for the request**

ldcpy is a utility for gathering and plotting metrics from NetCDF or Zarr files. We have a number of example datasets that are used in the documentation and tutorial, which hare taking up much of the space in the package. These are all necessary to showcase the dif

[2020-11-09 22:29] kevwilde opened #726 "Account recovery request"
Request for account recovery.

## PyPI Username

`kevwilde`

---

##  Reason for request

Reason:
It's a very old account and I've not used it in a while. Forget Password says it does not recognize my email address.
I still use the email address as used as the author on this package: https://pypi.org/project/cmsplugin-twcarousel/

Kind regards,

Kevin

[2020-11-10 06:53] LeoBrider opened #727 "radware-sdk-common project ownership change"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/radware-sdk-common/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/leonidb/

**Reasons for the request**

The previous project owner (https://pypi.org/user/leonmeguira/) left the company and didnt forward ownership on the project
I want to move the project management to myself

**Maintenance or replacement?**

I will

[2020-11-10 06:57] LeoBrider opened #728 "radware-ansible-common-alteon ownership change"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/radware-ansible-common-alteon/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/leonidb

**Reasons for the request**

The previous project owner (https://pypi.org/user/leonmeguira/) left the company and didnt forward ownership on the project
I want to move the project management to myself

**Maintenance or replacement?*

[2020-11-10 07:01] LeoBrider opened #729 "alteon-sdk project ownership change"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/alteon-sdk/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/leonidb

**Reasons for the request**

The previous project owner (https://pypi.org/user/leonmeguira/) left the company and didnt forward ownership on the project
I want to move the project management to myself

**Maintenance or replacement?**

i will continue

[2020-11-10 17:38] TrentDaniel opened #730 "Transfer project from my personal account to my work account"
**Project to be claimed**
solace-pubsubplus or solace_pubsubplus is the name of the project and the top level package is called solace. I am the owner of the project on my personal account but I deleted the project because I thought that I could simply use the same name in my work account. The project was just a test for the real thing at work but I used the official name by accident. Since I dele

[2020-11-10 18:28] mkorpela opened #731 "Account recovery request"
Request for account recovery.

## PyPI Username

`mkorpela`

---

##  Reason for request

  - Lost 2FA authentication app

Reason:
My last phone broke completely and I could not recover any data from there.

[2020-11-10 18:37] jamadden commented on #730
If you deleted the project, then ownership is not the issue; it is now available for anyone to claim by uploading a new distribution. I would guess that you are trying to reuse the same file name (including version) for a new upload, which is never allowed. You’ll need a new name (version; you could use a .post signifier). The twine error message includes a link to more info.

If you haven’t delet

[2020-11-10 18:47] TrentDaniel commented on #730
Thank you for the quick response! Also, should this affect our ability to publish to pypi.org at all? Can we not have the same version published to both test.pypi.org and pypi.org?

[2020-11-10 18:49] jamadden commented on #730
The two sites are completely separate.

[2020-11-10 18:50] TrentDaniel commented on #730
Thank you for clarifying :)

[2020-11-10 18:53] jamadden commented on #730
If this issue is explained/resolved for you, would you please close it? Thank you.

[2020-11-10 18:55] TrentDaniel commented on #730
I'm just testing it right now. As soon as I have proof that it is working again, I will be sure to close it.

[2020-11-10 19:39] #730 closed

[2020-11-10 22:44] jamadden commented on #522
Sorry, I know of no other options than the one I mentioned, uploading a distribution. I think you can then immediately remove that *release* (but not the project).

[2020-11-11 03:17] countermeasure commented on #620
Thanks heaps @ewdurbin!

Our first release has now been published :tada:

[2020-11-11 13:37] jamadden commented on #714
Projects owned by `deleted-user` are that way because of an administrative action taken to remove the project. I don't know why `Nxt` is that way (perhaps a trademark infringement?). @ewdurbin may have more information.

[2020-11-11 18:16] medeiroslucas opened #732 "Issue: Limit Request: gpam-pre-processing-ner - 115 MB"
**Project**

gpam-pre-processing-ner
https://pypi.org/project/gpam-pre-processing-ner/

**Size of release/project**

I'm hitting the upload file size limit with a 115MB file

**Which indexes**

0.0.3a1.dev1, 0.0.3a1.dev2, 0.0.3a1.dev3, 0.0.3a1.dev4, 0.0.3

**Reasons for the request**

This project is a lib to named entity pre-processing to work with NLP. The reason the memory limit has been exceed

[2020-11-12 05:52] meherett commented on #588
Hello @jamadden @ewdurbin, How much day I will be waiting? It's for more than 6 weeks. This project is no longer update. The latest update of this project is 8 years ago. It has clearly been abandoned.

[2020-11-12 10:03] situkangsayur opened #733 "Account recovery request"
Request for account recovery.

## PyPI Username

`situkangsayur`

---

##  Reason for request

  - Lost 2FA authentication app or security token
  - Don't have the recovery codes

Reason:
I reset my phone then lost my google authenticator

[2020-11-12 12:13] patrys opened #734 "PEP 541 Request: Saleor"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/saleor

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/patrys

**Reasons for the request**

I'm the CTO of Saleor Commerce and the Head of Technology at Mirumee Software that created Saleor.

The project was published without our consent. It uses our project's name, our branding, lists our contact information, and cont

[2020-11-12 13:30] ewjoachim commented on #734
That's just a tentative, but @Mosab-Anini, you have the same user name as the person who published the package. Are you the same person ?

[2020-11-12 14:57] jamadden commented on #588
I've sent a final notice to the email associated with the project owner warning them that the project is now considered invalid under PEP 541 and is subject to transfer on or after November 19th.

[2020-11-12 18:39] ewjoachim commented on #734
Disclaimer: I'm frankly not certain at all, and I am not a lawyer and everything. Also, I'm assuming the code published is you code without modifications. Maybe all of this is nonsense.

I'm wondering if the person who published your open source package needed explicit permission to do so, either from PEP 541 or the BSD licence... The Licence says "Redistribution and use in source and binary forms

[2020-11-12 20:29] patrys commented on #734
As I’ve mentioned, my concern here is that the package looks like an official release and sends people to our support. The license also explicitly forbids using our company name for promotion.

[2020-11-12 21:47] ewjoachim commented on #734
But then the license says "Redistribution [...] without modification is permitted [...]". If the project contains trademarks and redistributing the project without modifying the project to remove the trademark is not valid, then... I'm not sure how the license can be used in practice :)
That being said, I guess one could argue that the problem here is the HTML page on PyPI that is derived from the

[2020-11-12 22:22] patrys commented on #734
Fair enough, I'll reach out to legal.

[2020-11-13 10:27] leaguilar commented on #546
@jamadden, @ewdurbin thanks a lot for your attention and time. We have successfully registered the package.

[2020-11-13 10:27] #546 closed

[2020-11-13 17:07] cboling opened #735 "Account recovery request"
Request for account recovery.

## PyPI Username

cboling

---

##  Reason for request

Lost 2FA authentication app or security token

Reason:

Mobile phone change and lost my previous recovery app (google authenticator) and I had not saved off any recovery tokens.   I can still push uploads but cannot log into associated web account.  Existing email (chip@bcsw.net) is still valid for my account

[2020-11-13 18:21] rluce commented on #710
@jamadden Thanks for triaging this issue on the project board!  Since it now resides in the "Pending user input" column, please let me know if there is any missing piece of information that I could provide.

[2020-11-13 21:20] mattrose commented on #683
Any word on this?  Anything more I need to do to get this going?

[2020-11-13 23:05] pradyunsg commented on #683
@HunterLarco seems to be the relevant GitHub user for this.

In case the current owner is able to respond in the next 7 days for this, I'm comfortable saying that we should move ahead with a transfer to OP.

[2020-11-13 23:07] pradyunsg commented on #450
I see there has been a release since the last message, and eulertour is listed as a maintainer. https://pypi.org/project/manim/

Closing, as this is now resolved!

[2020-11-13 23:07] #450 closed

[2020-11-13 23:10] pradyunsg commented on #318
Doesn't look like they're active. I agree that we should be moving forward with a transfer, if there's no more responses in this window (i.e. next 3 days).

[2020-11-14 17:12] drlukeparry opened #736 "PEP 541 request: PySLM"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/pyslm

**lukeparry**

`USER_NAME`: https://pypi.org/user/lukeparry

**Reasons for the request**
The project has been abandoned - there are no packages available or were subsequently removed.

**Maintenance or replacement?**
Replacement - This will provide a replacement or substitution for an opensource project - https://github.com

[2020-11-15 10:24] prstrnn opened #737 "Limit Request: Several projects. Up to 2000MB"
Hello,

I'm from Intel corp. and we are preparing new releases in PyPi.
We are expecting that we will hit project limit size, so we are requesting to extend limits for these projects:

IntelAutomationEngineering - PyPI account we will use to upload packages.

**Size of release/project**
onemkl - 2000 MB
tbb_oneapi - 50 MB
ippcp_oneapi - 50 MB
oneapi_ccl - 50 MB
compiler - 500 MB
onemkl - 500 MB
ip

[2020-11-15 13:40] MaxHalford commented on #651
@ewjoachim friendly ping to see if you can help out :). Note that our [package](https://github.com/online-ml/river/) is ready to be published.

[2020-11-15 13:42] germainlefebvre4 opened #738 "Account recovery request on Test PyPi"
Request for account recovery.

## PyPI Username

`germainlefebvre4`

---

##  Reason for request

Reason: I have access to the main pypi repo `libtado` but the previous maintainer kept the access of the test pyp repo.

[2020-11-15 14:02] ewjoachim commented on #651
Sorry, I do speak from times to times on PEP 541 issues, but I'm quite new as moderator, and not really sure what needs to be done...

[2020-11-15 14:04] MaxHalford commented on #651
No worries! We're pretty sure we have a strong case. We appreciate any time you can put into this whatsoever.

[2020-11-15 15:05] kirankotari commented on #679
@ewdurbin Any updates on the approach?  @ewjoachim do we have any timeframe when these issues will be resolved? I am waiting for access to publish updates as well as new library.

[2020-11-15 15:58] richard-scott commented on #542
I have the same username and email address setup on test.pypi.org if that would help speed up the verification process.

[2020-11-16 02:49] myhub opened #739 "Limit Request: tr - 200MB"
**Project**
tr
PyPI page, i.e. https://pypi.org/project/tr/

**Size of release/project**
200MB

**Which indexes**
both

**Reasons for the request**
tr is a popular OCR SDK which support Windows/Linux,  https://github.com/myhub/tr
it is large because it contains deep learning train models and opencv/onnxruntime libs

[2020-11-16 10:55] AshiqAbdulkhader opened #740 "Account recovery request"
Request for account recovery.

## PyPI Username

`Ashiq_Abdulkhader`

---

##  Reason for request

Reason:
I changed my phone and lost access to my authentication app. Also, I don't have recovery codes

[2020-11-16 13:10] prashanth-up opened #741 "PEP 541 Request: PIE"
**Project to be claimed**

`pie 0.6`: https://pypi.org/project/pie

**Your PyPI username**

`prashanth_up`: https://pypi.org/user/prashanth_up

**Reasons for the request**

The Project has been abandoned since March 26, 2014. There has been no updates or publishes ever since that date.
I would like to publish my project under the name of `PIE`

**Maintenance or replacement?**

Replacement, as ther

[2020-11-16 14:18] pradyunsg commented on #737
Thanks for filing this issue!

I understand that this is a request for raising the per-file limit across these various projects. The projects with 50 MB requests should already be permitted.

2000 MB is definitely one of the larger (if not the largest) limit request I've seen here. Please elaborate further on why these packages need 500 MB or more, and why distributing the various optimised binari

[2020-11-16 14:20] pradyunsg commented on #741
Duplicate of #381

[2020-11-16 14:20] #741 closed

[2020-11-16 14:25] prashanth-up commented on #741
@pradyunsg I acknowledge this is a duplicate of my previous issue.
Since I have no response from the original issue I have recreated it for someone to acknowledge it.

Please check out the old issue as the maintainer @yeraydiazdiaz is not replying.

[2020-11-16 17:01] dhagrow opened #742 "Account recovery request"
Request for account recovery.

## PyPI Username

`dhagrow`

---

##  Reason for request

Reason:

Lost 2FA authentication app after phone upgrade.

[2020-11-16 19:24] jacobmontiel commented on #651
For context, we have a package named [river](https://github.com/online-ml/river/). The first release ready and we would like to use the same name in PIP for consistency.

On our side, there is no much else that we can do. There is no way to contact the owner of the package "frpm". I searched in GitHub but only found [one profile](https://github.com/frpm) (seems abandoned) from 2015, but the packag

[2020-11-16 21:04] HunterLarco commented on #683
Happy to transfer this! Just let me know if I need to do anything.

[2020-11-16 21:10] csmuell opened #743 "Account recovery request"
Request for account recovery.

## PyPI Username

chmuell

---

##  Reason for request

Reason:
    Device used for PyPi 2FA died, and did not have backed up (or generated) recovery codes.  I still have  to associated email, GitHub repo(this one), and PyPi Auth token.

[2020-11-16 22:57] mattrose commented on #683
Thank you so much @HunterLarco, is there a way for you to just transfer the project to me directly? I think you can just add me as a collaborator, according to https://github.com/pypa/warehouse/issues/1745#issuecomment-280370719 My username is mattrose on pypi.org as well.

[2020-11-16 23:24] stanvanrooy opened #744 "Account recovery request"
Request for account recovery.

## PyPI Username

`stanvanrooy`

---

##  Reason for request

Reason: Lost access to email address

[2020-11-17 11:30] LaserPhaser commented on #679
Guys is there any change that you will solve this problems or delegate them? I personally can spend about 3-4 hrs per week on these effort. I think it will be enough to finish with all requests before the New Year.
As one of possible ways to check that account is not stolen:
1) No logins since issue on GH was submitted.
2) Check current commits to the repositories - if there is no activity on GH t

[2020-11-17 11:36] richard-scott commented on #679
I'm in group 3: I can upload to my project but when I upgraded my phone I forgot to move PyPi's 2FA over.
I still have working 2FA on my Github Account, maybe that could be used to help in identification?

[2020-11-17 14:48] kirankotari commented on #679
I am in group 3: I have recently published a library to pypi but web access lost due to 2FA.

We wanted to help and we understand it's sensible info. Create a temporary table and mask unwanted info about the user. Grant a few more people access to this temporary table alone. We will validate and we will give feedback to your team. Now your team act accordingly on the valid or verified users.

Note

[2020-11-17 14:52] LaserPhaser commented on #679
@richard-scott @kirankotari Guys I'm with you in group 3 :) , I'm just suggesting possible ways of solving this problem. And as you are I do not have any privileged access to the pypi internals.
So let's wait for a reply from some one who has an appropriate permissions.

[2020-11-17 14:57] pradyunsg commented on #683
@HunterLarco can invite you to the project, as an "Owner". Once you accept the invitation, you'll have push access.

[2020-11-17 17:13] HunterLarco commented on #683
@mattrose Invitation sent!

[2020-11-17 17:47] mattrose commented on #683
Awesome, thank you so much @HunterLarco! and @pradyunsg

I think we can close this now.

[2020-11-18 00:42] bmg-pcl opened #745 "PEP 541 Request: from (and related packages)"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/from/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/bmg

**Reasons for the request**
Project conflicts with the python keyword *from* and thus will never be importable.

This is one of fifty projects created by user tphp on 10-Aug-2020 (https://pypi.org/user/tphp/) , apparently all in error: it looks like they were c

[2020-11-18 02:59] gastrodon commented on #650
Hi @hugovk, per your last comment it's been about 6 weeks. Any update on this?

[2020-11-18 05:11] kmaehashi commented on #690
@jamadden Could you please take a look?

[2020-11-18 06:31] hugovk commented on #650
Hello, I'm not a maintainer/admin here, just trying to help out by sharing some info.

Hopefully one will check here soon, but they're currently very busy so it may take some time longer. See also https://github.com/pypa/pypi-support/issues/679.

[2020-11-18 07:27] jorgecarleitao commented on #659
This issue seems to have been resolved. Thank you to whoever did it (@pradyunsg ?)

[2020-11-18 07:27] #659 closed

[2020-11-18 09:30] #662 closed

[2020-11-18 14:03] ntessore opened #746 "PEP 541 Request: classy"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/classy

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/ntessore

**Reasons for the request**

The project appears abandoned since 2012. Attempts to contact the author and clarify status/ask for transfer have failed.

**Maintenance or replacement?**

Replacement by the `classy` package which is widely used in the field

[2020-11-18 17:16] pbdeuchler commented on #746
Hello Nicolas, glad you pinged me here... it looks like your email got caught in my spam filter. I've removed my package from pypi, so the name should be free for the taking. Guess this means I also need to remove "Open Source Maintainer" from my resume 😔

[2020-11-18 17:29] ntessore commented on #746
Thanks vv much @pbdeuchler for giving up your package name. I managed to claim the name. No need to change the resume, you will always be honorary maintainer!

[2020-11-18 17:29] #746 closed

[2020-11-18 19:36] gastrodon commented on #650
I see, I had seen that you'd committed to this repo and thought that you were a maintainer. Thanks for the help, I'll wait on a maintainer to get to this.

[2020-11-19 05:53] sfdye commented on #447
Gentle mid-week bump, if anyone can help or direct me to the right place to expedite this request. Thank you!

[2020-11-19 08:02] kimwalisch opened #747 "Account recovery request"
Request for account recovery.

## PyPI Username

`kimwalisch`

---

##  Reason for request

Reason:
Lost 2FA authentication app or security token

[2020-11-19 12:45] lukefx opened #748 "Issue: PEP 541 Request: Stardust"
**Stardust**

`stardust`: https://pypi.org/project/stardust

**Your PyPI username**

`lukefx`: https://pypi.org/user/lukefx

**Reasons for the request**

The project seems abandoned, I tried to contact the maintainer but after several days and tries nothing.

**Maintenance or replacement?**

I intend to publish a new library with this name

**Contact and additional research**

I tried with emails,

[2020-11-19 13:19] pradyunsg commented on #643
I've gone ahead and reached out to the user, over the private email available on PyPI.

As it stands, this project definitely counts as an invalid project, and will be eligible for transfer in 1 week (we try to have a courtesy period after the first contact by PyPI folks, for invalid projects, even though it's not _required_ per se).

If I don't get report back in the next 10 days, @ me and that'l

[2020-11-19 13:29] ewdurbin commented on #399
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-19 13:29] #399 closed

[2020-11-19 13:39] ewdurbin commented on #402
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-19 13:41] ewdurbin commented on #408
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-19 13:44] ewdurbin commented on #415
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-19 13:46] ewdurbin commented on #426
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-19 13:49] ewdurbin commented on #430
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-19 13:50] ewdurbin commented on #435
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-19 13:53] ewdurbin commented on #437
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-19 13:55] ewdurbin commented on #436
To confirm you've lost access to the @gmail.com address associated with the user account?

Also neither of the repositories linked are publicly accessible for verification.

[2020-11-19 13:59] ewdurbin commented on #439
Both addresses associated with the account on PyPI have been added to the account on TestPyPI with a `+testpypi` appended since they are currently associated with another account on test.pypi.org.

You should now be able to process a password reset to regain access to the account.

[2020-11-19 13:59] #439 closed

[2020-11-19 14:02] mastrobirraio commented on #437
@ewdurbin sorry, can u link me something?
pypi login doesn't allow to login via email

[2020-11-19 14:06] ewdurbin commented on #437
@mastrobirraio The message was sent via email.

[2020-11-19 14:21] mastrobirraio commented on #437
@ewdurbin ok, I followed the instructions

[2020-11-19 16:10] di commented on #677
Duplicate of https://github.com/pypa/pypi-support/issues/663.

[2020-11-19 16:10] #677 closed

[2020-11-19 17:56] philippjfr commented on #643
Thanks @pradyunsg, I know this is probably a thankless job, so this is massively appreciated.

[2020-11-19 18:43] LeMuecke opened #749 "Account recovery request"
Request for account recovery.

## PyPI Username

`lemuecke`

---

##  Reason for request

Reason:
Lost 2FA authentication app or security token

[2020-11-19 19:26] fredg0 commented on #436
Hi,

At first, thanks for watching at this.

Then yes, I confirm I have closed my gmail account.
My repositories are now self hosted :
- https://dev.galusik.fr/cgi-bin/gotweb/gotweb?path=ParsePkgtxt.git&action=summary
- https://dev.galusik.fr/cgi-bin/gotweb/gotweb?path=pkgtxt2db.git&action=summary

Best regards.

[2020-11-20 07:10] averagehuman commented on #643
Hi @pradyunsg @philippjfr , I appreciate the courtesy mail.

Yes, I own that pypi username and project. There was actually code written and intended to be 'lumen', but it never came to anything very important. Mea culpa for not releasing it. In any case, I've deleted the project now and you are free to use it.

[2020-11-20 08:52] zhouwei25 commented on #663
@di  can you Deal with the problem, thank you very much!

[2020-11-20 12:08] e-kirkland opened #750 "Account recovery request"
Request for account recovery.

## PyPI Username

`eddie-k`

---

##  Reason for request

Reason:

I never setup two-factor authentication, and now I can't login without a two-factor code. I need to log in to generate those codes, so I'm stuck! Please help!! Thanks.

[2020-11-20 13:17] ewjoachim commented on #750
I'm surprised that you're blocked by 2 factor auth if you never set it up ?
Our logs indicate that it was activated on `2020-10-10 13:39:44.874790` (2 minutes after creating your account) and your received an email titled `[PyPI] Two-factor method added`.

I understand that whether you activated 2FA or not will not solve the problem that you're currently locked out but I just want to make sure the

[2020-11-20 13:39] philippjfr commented on #643
Thanks @averagehuman! Just uploaded a dev release.

[2020-11-20 13:39] #643 closed

[2020-11-20 14:08] ethanhs opened #751 "PEP 541 Request: svg"
**Project to be claimed**

`svg`: https://pypi.org/project/svg

**ethanhs**

`ethanhs`: https://pypi.org/user/ethanhs

**Reasons for the request**

It appears the user/owner has name-squatted several names, including SVG.

**Maintenance or replacement?**

Maintenance, I suppose? There isn't anything in the package right now :)

**Contact and additional research**

I have tried emailing the owner v

[2020-11-20 15:44] axsk commented on #619
I'm soon to publish a paper referencing my package and I would be glad if we could get it registered to pypi until then.
Could someone look into this please :)

The current project is still empty and theres still no answer from the author.

Thanks in advance.

[2020-11-21 07:27] meherett commented on #588
Hi @jamadden, Is there any response from the owner?

[2020-11-21 08:43] ewdurbin commented on #402
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-21 08:43] #402 closed

[2020-11-21 08:45] ewdurbin commented on #415
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-21 08:45] #415 closed

[2020-11-21 08:47] ewdurbin commented on #426
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-21 08:47] #426 closed

[2020-11-21 08:48] ewdurbin commented on #435
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-21 08:48] #435 closed

[2020-11-21 08:50] ewdurbin commented on #437
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-21 08:50] #437 closed

[2020-11-21 08:54] ewdurbin commented on #436
Attempted to contact via primary email address on the account, if it bounces or there is no response in 7 days we will proceed with recovery.

[2020-11-21 09:00] ewdurbin commented on #447
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-21 09:01] ewdurbin commented on #448
2FA is not enabled for this account

[2020-11-21 09:01] #448 closed

[2020-11-21 09:04] ewdurbin commented on #453
transfer complete based on verification of domains of existing users, package contents, and project history.

[2020-11-21 09:04] #453 closed

[2020-11-21 09:08] ewdurbin commented on #456
Contacted via primary email address on the account, if it bounces or no response is heard within 7 days we will proceed with recovery.

[2020-11-21 09:10] ewdurbin commented on #458
Because there are no projects associated with the account, this can proceed.

However the address that you supplied is already associated with another PyPI account and cannot be used for `sergiors`.

How would you like to proceed?

[2020-11-21 09:11] ewdurbin commented on #460
the address is pypi@markhallett.co.uk

[2020-11-21 09:11] #460 closed

[2020-11-21 09:13] ewdurbin commented on #465
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-21 09:14] ewdurbin commented on #471
Because this user has no projects associated with it, 2FA has been reset and a password reset issued.

[2020-11-21 09:14] #471 closed

[2020-11-21 09:17] ewdurbin commented on #474
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-21 09:18] ewdurbin commented on #475
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-21 09:20] ewdurbin commented on #456
The address bounced and the projects do appear to be maintained by your user on GitHub as well.

Unfortunately since you've associated that address with another user on PyPI we cannot use it for the existing account.

How would you like to proceed?

[2020-11-21 09:26] ewdurbin commented on #482
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-21 09:27] ewdurbin commented on #485
Because there are no projects associated with the account, TOTP has been disabled and a password reset issued.

[2020-11-21 09:27] #485 closed

[2020-11-21 09:29] ewdurbin commented on #488
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-21 09:30] ewdurbin commented on #491
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-21 09:32] ewdurbin commented on #494
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-21 09:34] ewdurbin commented on #498
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-11-21 11:32] BharatKalluri commented on #491
@ewdurbin Sent an reply email :+1:

[2020-11-21 22:24] gkze opened #752 "Account recovery request"
Request for account recovery.

## PyPI Username

`gkze`

---

##  Reason for request

Reason:
- Lost 2FA authentication app or security token
- Lost 2FA recovery codes

Sorry and thank you in advance!

[2020-11-21 23:42] valmar commented on #482
Done, and answered the email.

Here are the branches:

https://github.com/omdevteam/omdevteam.github.io/tree/UpyFaAAyzuUBNqh7
https://github.com/omdevteam/om/tree/UpyFaAAyzuUBNqh7

Valerio

[2020-11-22 19:09] ntessore opened #753 "PEP 541 Request: const"
**Project to be claimed**

`const`: https://pypi.org/project/const

**Your PyPI username**

`ntessore`: https://pypi.org/user/ntessore

**Reasons for the request**

The package is empty.

**Maintenance or replacement?**

Replacement by a package for physical constants.

**Contact and additional research**

.

[2020-11-23 07:26] meherett commented on #588
Hi @jamadden, Is there any response from the owner?

[2020-11-23 08:46] LaserPhaser commented on #679
@ewdurbin
Any chance that now we can go ahead with these problems.

2 of 3 problems seems to be almost solved:
1) Elections are ended.
2) Vaccine is invented.

[2020-11-23 09:33] lukefx commented on #748
I was finally able to contact the owner of the repo. All done...

[2020-11-23 09:33] #748 closed

[2020-11-23 11:18] jsoucheiron opened #754 "Account recovery request"
Request for account recovery.

## PyPI Username

`jsoucheiron`

---
##  Reason for request
  - Lost access to email address

Reason:
I created the account a long time ago when I was working for another company. I no longer have access to the email.
I'm fine losing access to any library I might have had access to.

[2020-11-23 11:40] sergiors commented on #458
@ewdurbin I already deleted the account that was using `osergiosiqueira@gmail.com`. Is it possible change now?

[2020-11-23 13:31] ewdurbin commented on #458
This has been completed.

[2020-11-23 13:31] #458 closed

[2020-11-23 13:35] ewdurbin commented on #679
I don't appreciate you deciding for me that I'm "better" all of the sudden. But, I have been using some of my _volunteer_ time to proceed with this backlog. I want to be very clear that your characterization didn't really help anything, and actually hurt.

[2020-11-23 13:46] ewdurbin commented on #447
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-23 13:46] #447 closed

[2020-11-23 13:48] ewdurbin commented on #491
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-23 13:48] #491 closed

[2020-11-23 13:50] ewdurbin commented on #474
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-23 13:50] #474 closed

[2020-11-23 13:51] sfdye commented on #447
Yes, I regain access now, thanks a ton!

[2020-11-23 13:51] ewdurbin commented on #488
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-23 13:51] #488 closed

[2020-11-23 13:53] ewdurbin commented on #482
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-23 13:53] #482 closed

[2020-11-23 13:54] ewdurbin commented on #408
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-23 13:54] #408 closed

[2020-11-23 13:55] ewdurbin commented on #465
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-11-23 13:55] #465 closed

[2020-11-23 14:13] ewdurbin commented on #517
@norcalli if this request is still valid, please open a PEP 541 request using the issue template.

[2020-11-23 14:13] #517 closed

[2020-11-23 14:14] ewdurbin commented on #533
Duplicate of #532

[2020-11-23 14:14] #533 closed

[2020-11-23 14:35] pafonta commented on #523
Thank you very much @ewdurbin for having had a look at it and having it moving forward!

[2020-11-23 15:09] sergiors commented on #458
Thank u @ewdurbin

[2020-11-23 16:34] szha opened #755 "Limit Request: mx-cu* - 1G"
**Project**
mx-cu100, mx-cu102, mx-cu110, mx-cu111, mx-cu120

**Size of release**
1GB

**Which indexes**
PyPI

**Reasons for the request**
Same as #243. For compliance reasons we request the limits for the packages under new name. Thanks.

[2020-11-23 16:55] richard-scott commented on #679
@ewdurbin I'm sorry you feel hurt, I'm sure that was not @LaserPhaser intention.

Can I ask, is your synopsis on [here ](https://www.python.org/psf/records/staff/) still an accurate reflection of your employed duties? If so, what is your involvement with PyPi as a "volunteer". We do greatly appreciate the efforts you put in as a volunteer, but this synopsis makes it sound like supporting the PyPi

[2020-11-23 17:06] ewdurbin commented on #679
That's a fair question, @richard-scott and my responsibilities do include keeping the PyPI infrastructure online and available. I also help to facilitate funded projects that impact PyPI. My volunteerism on the project is basically anything that falls outside of that realm, such as end user support for account issues.

When I have uncommitted time outside of my other responsibilities at the PSF (r

[2020-11-23 17:24] ewdurbin commented on #755
@szha what will become of the old project names?

[2020-11-23 17:27] szha commented on #755
(Tentatively) We keep them as is for now for old releases. Packages will be published to the new name.

[2020-11-23 17:28] ewdurbin commented on #755
To confirm, new individual releases will not be cross published between the old/new name.

If that is correct, we can proceed.

[2020-11-23 17:29] szha commented on #755
confirmed. we won't publish new versions to both packages simultaneously.

[2020-11-23 17:33] ewdurbin commented on #755
limits increased, 1GB file limit, 24GB project limit for each of mx-cu{100,102,110,111,120}

[2020-11-23 17:33] #755 closed

[2020-11-23 17:35] szha commented on #755
thanks for the quick turnaround!

[2020-11-24 02:27] kirankotari commented on #679
@ewdurbin get well soon. Do you have any thoughts on my comment? i.e. `create a temporary table and mask unwanted user info, grant access to temporary table alone`

[2020-11-24 03:12] jbms opened #756 "PEP 541 Request: neuroglancer (on test.pypi.org)"
**Project to be claimed**

`neuroglancer`: https://test.pypi.org/project/neuroglancer

**Your PyPI username**

`jbms`: https://test.pypi.org/user/jbms

**Reasons for the request**
I am the author of the Neuroglancer project (https://github.com/google/neuroglancer), and already own the non-test neuroglancer PyPI account and neuroglancer PyPI package, which are actively used.

This request is for so

[2020-11-24 06:58] RainingComputers commented on #475
Sorry I missed your e-mail on 21 Nov. I followed the instructions for 2FA reset verification.

[2020-11-24 08:01] zhouwei25 commented on #663
@di  can you Deal with the problem, thank you very much!

[2020-11-24 14:19] Cecron opened #757 "PEP 541 Request: canlib"
**Project to be claimed**

`canlib`: https://pypi.org/project/canlib/

**Your PyPI username**

`Krunush`: https://pypi.org/user/Krunush/

**Reasons for the request**

The project does not seem to be updated and I have had no luck in contacting the current owner.
Beside being outdated, the project homepage also has invalid links which has caused some extra support for Kvaser.com, who is the author

[2020-11-24 15:26] munshkr commented on #556
Thanks @ewdurbin for getting into this, I know you have a lot of requests. Let me know if I can do something from my side.

[2020-11-24 16:59] asadoughi opened #758 "Account recovery request"
Request for account recovery.

## PyPI Username

`asadoughi`

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:
Google Authenticator app keeps crashing on my iOS device and unable to find my recovery codes

[2020-11-24 18:39] asadoughi commented on #758
Nevermind, found it elsewhere.

[2020-11-24 18:39] #758 closed

[2020-11-24 19:27] LaserPhaser commented on #679
@ewdurbin Sorry if my words hurts your feelings. Maybe i'm just too straightforward.
We stuck with this problem already for a month long(maybe more but i'm counting from the moment when I submitted the issues).
We suggested possible ways to solve the problem and ourselves as volunteers.
Please give us a hint how could we move this things forward, for me personally it does not look like a big probl

[2020-11-24 23:28] lisael commented on #456
@ewdurbin I've just changed the primary address in the other account and (removed the old address altogether). Can you set this address: `lisael@lisael.org` on the `lisael` account, please?

[2020-11-25 03:55] di commented on #318
Added `rayluo` as owner of `flask_session`.

[2020-11-25 03:55] #318 closed

[2020-11-25 03:58] di commented on #66
Closing due to lack of response.

[2020-11-25 03:58] #66 closed

[2020-11-25 04:00] di commented on #293
I've set the upload limit for `pyspark-cloud` to 300 MB on TestPyPI. The project does not exist on PyPI, you'll need to create it there before I can set the limit.

[2020-11-25 04:00] #293 closed

[2020-11-25 04:01] di commented on #395
Closing due to lack of response.

[2020-11-25 04:01] #395 closed

[2020-11-25 04:01] di commented on #410
Closing due to lack of response.

[2020-11-25 04:01] #410 closed

[2020-11-25 04:01] di commented on #411
Closing due to lack of response.

[2020-11-25 04:01] #411 closed

[2020-11-25 04:02] di commented on #422
I've set the upload limit for `casadata` to 400 MB on PyPI. Please be mindful of the frequency of releases at that size.

[2020-11-25 04:02] #422 closed

[2020-11-25 04:03] di commented on #481
Closed due to lack of response.

[2020-11-25 04:03] #481 closed

[2020-11-25 04:03] di commented on #489
Closed due to lack of response.

[2020-11-25 04:03] #489 closed

[2020-11-25 04:04] di commented on #506
Closed due to lack of response. (Let us know if you were unsuccessful and this needs to be reopened).

[2020-11-25 04:04] #506 closed

[2020-11-25 04:05] di commented on #521
Closed due to lack of response (the project still does not exist).

[2020-11-25 04:05] #521 closed

[2020-11-25 04:06] di commented on #522
Closed due to lack of response. Let us know if you're able to go ahead and create an empty project so we can set the limit for it and we'll reopen.

[2020-11-25 04:09] di commented on #594
Closed due to lack of response.

[2020-11-25 04:09] #594 closed

[2020-11-25 04:10] di commented on #595
Closed due to lack of response.

[2020-11-25 04:10] #595 closed

[2020-11-25 04:10] di commented on #596
Closed due to lack of response.

[2020-11-25 04:10] #596 closed

[2020-11-25 04:10] di commented on #597
Closed due to lack of response.

[2020-11-25 04:10] #597 closed

[2020-11-25 04:12] di commented on #627
I've set the upload limit for `casatools` to 300 MB on PyPI. Please be mindful of the frequency of releases at that size.

And thanks for making manylinux releases! (manylinux2014 is now available, by the way: https://www.python.org/dev/peps/pep-0599/)

[2020-11-25 04:12] #627 closed

[2020-11-25 04:13] di commented on #630
I've set the upload limit for `awkward1` to 300 MB on PyPI. Please be mindful of the frequency of releases at that size.

[2020-11-25 04:13] #630 closed

[2020-11-25 04:19] di commented on #663
I've set the upload limit for `paddlepaddle-gpu` to 800 MB on PyPI.

This project is currently the 9th largest project on PyPI and is approaching it's 180GB total project size limit. It may be time to begin removing old releases if possible or putting some effort into shrinking the distribution size. We are unlikely to be able to raise the limit much higher in the future.

Also, _please_ do not ma

[2020-11-25 04:19] #663 closed

[2020-11-25 04:20] di commented on #666
I've set the upload limit for `bpy` to 200 MB on PyPI and TestPyPI.

[2020-11-25 04:20] #666 closed

[2020-11-25 04:23] di commented on #671
I've set the project limit for `ort-gpu-nightly` to 20 GB on TestPyPI. Thanks for taking care to delete old releases.

Nope, sorry, not yet!

[2020-11-25 04:23] #671 closed

[2020-11-25 04:23] di commented on #671
(You might be interested in chiming in on https://github.com/pypa/warehouse/issues/8792)

[2020-11-25 04:25] di commented on #672
I've set the upload limit for `PixPlot` to 200 MB on PyPI. This project doesn't exist on TestPyPI, you'll need to create it there before we can increase the limit there.

[2020-11-25 04:25] #672 closed

[2020-11-25 04:27] di commented on #675
Hi @altendky, thanks for making an effort to reduce the footprint here.

Looking at the project, it has an upload limit of 100MB and a total project size limit of 30GB and currently uses 29.9GB.

Do you need an additional 30GB for the total size? Or a 4GB upload limit? It's not clear to me from your request.

[2020-11-25 04:28] di commented on #681
I've set the upload limit for `semgrep` to 200 MB on PyPI.

[2020-11-25 04:28] #681 closed

[2020-11-25 04:29] di commented on #682
I've set the upload limit for `h2o` to 200 MB on PyPI.

[2020-11-25 04:29] #682 closed

[2020-11-25 04:30] di commented on #690
I've set the upload limit for `cupy-cuda111` to 300 MB on PyPI and TestPyPI. Please be mindful of the frequency of releases at that size.

Also, please do not make repeated comments or otherwise spam us with notifications on these issues. It does not help in any way whatsoever. If it continues in the future, we will not allow you to comment in this repository, please consider this a warning.

[2020-11-25 04:30] #690 closed

[2020-11-25 04:31] di commented on #699
I've set the upload limit for `opencv-contrib-python-headless` to 200 MB on PyPI. Please be mindful of the frequency of releases at that size.

[2020-11-25 04:31] #699 closed

[2020-11-25 04:34] di commented on #700
I've set the upload limit for `opencv-contrib-python` to 200 MB on PyPI. Please be mindful of the frequency of releases at that size.

[2020-11-25 04:34] #700 closed

[2020-11-25 04:35] di commented on #712
I've set the project size limit for `opencv-python-headless ` to 40 GB on PyPI.

[2020-11-25 04:35] #712 closed

[2020-11-25 04:36] di commented on #715
I've set the upload limit for `mpl-tc-fonts` to 200 MB on PyPI.

[2020-11-25 04:36] #715 closed

[2020-11-25 04:37] di commented on #725
I've set the upload limit for `ldcpy` to 200 MB on PyPI.

[2020-11-25 04:37] #725 closed

[2020-11-25 04:37] di commented on #732
I've set the upload limit for `gpam-pre-processing-ner` to 200 MB on PyPI.

[2020-11-25 04:37] #732 closed

[2020-11-25 04:39] di commented on #739
I've set the upload limit for `tr` to 200 MB on PyPI. This project doesn't exist on TestPyPI, you'll need to create it there first before we can increase the limit there.

[2020-11-25 04:39] #739 closed

[2020-11-25 04:40] di commented on #525
Closing due to lack of response.

[2020-11-25 04:40] #525 closed

[2020-11-25 04:40] #346 closed

[2020-11-25 04:41] tekumara commented on #293
Fantastic, thanks so much @di! 🙇

I've created the [PyPI pyspark-cloud project](https://pypi.org/project/pyspark-cloud/). Would you like me to raise a new issue to increase its limit?

[2020-11-25 04:46] di commented on #737
In addition, it seems like the majority of these packages don't exist yet -- you'll need to create them (with a dummy/empty release) before we can increase the limit.

One of these does already exist, however it doesn't appear that you or Intel are the owner: https://pypi.org/project/compiler/

[2020-11-25 04:53] di commented on #293
I've set the upload limit for `pyspark-cloud` to 300 MB on PyPI as well.

[2020-11-25 05:23] altendky commented on #675
My original request was to have the project limit increased significantly so I could quickly get out a 3.9 supporting release.  That does not matter anymore as I have completed the breakdown of the project.  But, I do still plan to continue releasing under this name so it would be nice to have some space available that isn't just the unknown rounding error between 29.9 and 30.  `:]`  The entire v3

[2020-11-25 05:35] kmaehashi commented on #690
Thank you, and I'm sorry for disturbing you.
We really appreciate your continuous support as always.

[2020-11-25 07:42] Jens-G commented on #667
I'ts only a month so no need to rush, but may I ask how I can help with this?

[2020-11-25 13:10] ewdurbin commented on #456
This is complete. You should be able to recover the account via standard password recovery method now.

[2020-11-25 13:10] #456 closed

[2020-11-25 13:27] skvark commented on #712
@di

I still see the 20 GB limit:

![pypi_limit](https://user-images.githubusercontent.com/695340/100233624-ac44ea80-2f32-11eb-8de2-9d77838f7a89.PNG)

[2020-11-25 13:27] duhaime commented on #672
Thanks so much! 🙏

[2020-11-25 13:46] zhuyang0925 opened #759 "Issue: Limit Request: adme-predict 195 MB"
adme-predict                   https://pypi.org/project/adme-predict

**Does this project already exist?**
yes

**Size of release/project**
adme-predict  195MB

**Which indexes**
PyPI

**Reasons for the request**
Many new models have been added, so I need to upload larger files