[2020-05-13 12:09] #371 closed

[2020-05-13 15:22] prashanth-up opened #381 "PEP 541 Request: PIE"
**Project to be claimed**

`pie 0.6`: https://pypi.org/project/pie

**Your PyPI username**

`prashanth_up`: https://pypi.org/user/prashanth_up

**Reasons for the request**

The Project has been abandoned since March 26, 2014. There has been no updates or publishes ever since that date.
I would like to publish my project under the name of `PIE`

**Maintenance or replacement?**

Replacement, as ther

[2020-05-13 16:26] hugovk commented on #381
Looking at the author's other packages (https://pypi.org/user/jgors/), looks like it's @jgors who has an email address at http://jgors.com.

[2020-05-13 16:42] prashanth-up commented on #381
Thankyou I'll look into it ASAP!

[2020-05-13 21:07] eduardo-rodrigues opened #382 "Limit Request: scikit-hep-testdata - 120MB"
**Project**

Project `scikit-hep-testdata` at https://pypi.org/project/scikit-hep-testdata/.

**Size of release**

Present release (0.3.0), undeployed, is 81.6 MB.

**Which indexes**

Just PyPI.

**Reasons for the request**

This `scikit-hep-testdata` package is part of a relatively large project [Scikit-HEP](https://scikit-hep.org/
) of Python tools for High Energy Physics. Several of the org pac

[2020-05-13 22:56] haney opened #383 "PEP 541 Request: PyIMSL"
**Project to be claimed**

`PyIMSL`: https://pypi.org/project/PyIMSL/

**Your PyPI username**

`haney`: https://pypi.org/user/haney/

**Reasons for the request**

The PyIMSL project was developed and maintained by Rogue Wave Software (note the author email is listed as sales@roguewave.com), however the associated PyPI repository was maintained by a single user, SteveLang, who is no longer with the

[2020-05-14 16:12] heprom opened #384 "PEP 541 request: pymicro"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/pymicro

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/heprom

**Reasons for the request**

I beleive this project can be considered abandoned as there have not been any release or activity from the last 3 years (apart from the issue I opened to reach the owner to request a name transfer), and the owners could not be

[2020-05-14 18:33] m-hoff opened #385 "PEP 541 Request: euler"
**Project to be claimed**

`euler`: https://pypi.org/project/euler/

**Your PyPI username**

`m-hoff`: https://pypi.org/user/m-hoff

**Reasons for the request**

This project was created in September 2016 with no associated code or homepage and has not received any update since.

**Maintenance or replacement?**

I intend to replace this package with one of my own that is actively maintained.

**Co

[2020-05-14 19:12] dcwatson opened #386 "PEP 541 Request: PyUI"
**Project to be claimed**

`PyUI`: https://pypi.org/project/PyUI

**Your PyPI username**

`dcwatson`: https://pypi.org/user/dcwatson

**Reasons for the request**

I think this package could be considered either abandoned or invalid under PEP 541. I don't believe this was name squatting, as http://pyui.sourceforge.net exists, but the package on PyPI was created in 2003 and has no downloadable relea

[2020-05-14 20:21] szborows opened #387 "please help me recover my account"
Hi,
I registered in PyPI in 2016. Back then I used some email address that I don't remember. I'm locked out of my account. Obviously I have tried all of my emails on pypi website without luck.

Is there a way to reset my email address?
username: szborows

https://pypi.org/project/unrtf/ was uploaded from https://github.com/szborows/python-unrtf/
Is it good enough proof that I'm who I tell I am?

[2020-05-14 20:39] di commented on #387
Hi @szborows, looks like this is a `@hotmail.com` address, does that sound familiar?

[2020-05-14 21:15] szborows commented on #387
@di thanks for quick response. It sounds familiar. I was trying to use this email without success. If I remember correctly, pypi was saying that this email doesn't exist. But I'm not sure.

Nevertheless to publish my other package I created another account **zborro** and used the same email address. And it worked? So I assume email addresses for both accounts are the same?

[2020-05-14 23:10] di commented on #387
Ah, looks like you had a typo in your original account's email address, it was actually `@hotmail.om`.

What would you like to do here? You actually can't share an email address between multiple PyPI accounts, so if you'd like me to correct the typo you'll need to change the email associated with the new account.

[2020-05-15 00:19] szborows commented on #387
Is it possible that you

1. Transfer babla project from zborro to szborows
2. Remove zborro account
3. Fix typo in szborows account

Hopefully I'm not asking for too much.

[2020-05-15 01:55] #375 closed

[2020-05-15 01:58] di commented on #387
Done.

[2020-05-15 01:58] #387 closed

[2020-05-15 02:33] szborows commented on #387
Thanks @di  !!

[2020-05-15 03:38] long2ice opened #388 "PEP 541 Request: alice"
**Project to be claimed**

`alice`: https://pypi.org/project/alice

**Your PyPI username**

`long2ice`: https://pypi.org/user/long2ice

**Reasons for the request**

That old project last active year is 2010 and no release to download,so I think this package could be considered either abandoned or invalid under PEP 541.

**Maintenance or replacement?**

I want upload a new package https://github.co

[2020-05-15 07:05] sholong opened #389 "Account recovery request"
Request for account recovery.

## PyPI Username

`chenxiaolong`

---

##  Reason for request

Reason:
phone lose.
TOTP cannot be used。

[2020-05-15 07:06] #389 closed

[2020-05-15 07:07] sholong opened #390 "Account recovery request"
Request for account recovery.

## PyPI Username

`chenxiaolong`

---

##  Reason for request

Reason:
I replaced my old phone through insurance and no longer have access to the 2FA device on it. Unfortunately I had not yet generated a recovery code.

[2020-05-15 07:46] #388 closed

[2020-05-15 15:47] banesullivan commented on #360
@larsoner - do you think you could help us ping the right people to help move this forward?

[2020-05-15 16:04] larsoner commented on #360
@ewdurbin was who helped last time I had a PyPi package problem that needed manual intervention, not sure if they are still right person to ping though (apologies if not!)

[2020-05-15 16:06] banesullivan commented on #360
Thanks for helping!!

[2020-05-15 19:31] wollmich opened #391 "Issue: Limit Request: metas-unclib - 110MB"
**Project**

https://pypi.org/project/metas-unclib/

**Size of release**

110 MB

**Which indexes**

PyPI

**Reasons for the request**

I'm using Intel MKL custom dlls for Win 32-bit, Win 64-bit, Linux 64-bit and macOS 64-bit.
I added additional functions to those dlls. That's why the size has increased.

[2020-05-16 14:05] isidentical opened #392 "PEP 541 Request: Aztec"
**Project to be claimed**

`aztec`: https://pypi.org/project/aztec

**Your PyPI username**

`BTaskaya`: https://pypi.org/user/BTaskaya

**Reasons for the request**

It is been there for 8 years without any real code, or releases. The github page (linked as homepage) is a dead link.

**Maintenance or replacement?**

Replacement with a brand new library for [AST acceleration](https://github.com/isid

[2020-05-16 18:27] tedder opened #393 "PEP 541 Request: requests-aws4auth"
**Project to be claimed**

`requests-aws4auth`: https://pypi.org/project/requests-aws4auth

**Your PyPI username**

`tedder`: https://pypi.org/user/tedder

**Reasons for the request**

The project hasn't been updated in 4 years and I can't contact the author. Their last public activity on github was in early 2016.

**Maintenance or replacement?**

Maintenance; I want to take [the current repo](htt

[2020-05-17 08:49] yeraydiazdiaz commented on #359
Hi @juanbenitopr, I've emailed the author regarding your claim, hopefully we will hear back soon and move forward with your request.

[2020-05-17 08:53] yeraydiazdiaz commented on #373
Hi @M4GNV5, it'd be ideal for @damiafuentes to log in to PyPI and add you as the owner himself in the [collaboration page of the project](https://pypi.org/manage/project/djitellopy/collaboration/) so as to not further burden administrators.

[2020-05-17 08:58] yeraydiazdiaz commented on #374
Hello @RomeoDespres, I can confirm the project has a single release but no files which classifies it as invalid. In these cases we send a notice to the current owner to let them know the removal and a courtesy period of one week, after that we'll proceed with the transfer.

[2020-05-17 09:44] yeraydiazdiaz commented on #376
I think there's a confusion here, I see no project named `protonvpn-gui` in PyPI nor user `wutduk` seems to have removed it recently.

Closing this as there's nothing to transfer but feel free to comment further if I've missed something.

[2020-05-17 09:51] yeraydiazdiaz commented on #377
Hi @deankarlen, I can confirm the project has a single release with no files and is therefore considered invalid.

Our policy is to contact the owner and give a one week courtesy period to raise objections to the transfer. If I receive no reply we will proceed with the transfer.

[2020-05-17 09:55] yeraydiazdiaz commented on #377
Seems both email addresses for the owner have been deactivated, tagging GitHub user @srid as the possible owner of the PyPI package.

[2020-05-17 10:05] yeraydiazdiaz commented on #378
Hi @theceebee, as you mention the domain does not exist and all emails associated with the owner in PyPI are under it so contact via email is not possible.

Tagging GitHub user @KingAizen even though there's little activity hoping for some response, I'll consider this the first reachability attempt.

[2020-05-17 10:21] RomeoDespres commented on #374
Hello @yeraydiazdiaz, thanks for your quick reply! Let's wait and see then.

[2020-05-17 13:57] srid commented on #377
I relinquish ownership of it, but maybe check with activestate https://code.activestate.com/pypm/

[2020-05-17 15:20] calexandru2018 commented on #376
@yeraydiazdiaz he has deleted the project.

https://pepy.tech/project/protonvpn-gui
https://libraries.io/pypi/protonvpn-gui

[2020-05-17 15:42] yeraydiazdiaz commented on #376
No, the project name is available once deleted, however, the project that takes its place cannot upload releases with the same versions as the previous project, i.e. trying to upload new code under protonvpn-gui 1.5.4 will fail.

Closing as there is nothing to transfer. Good luck.

[2020-05-17 15:42] #376 closed

[2020-05-17 15:48] calexandru2018 commented on #376
@yeraydiazdiaz Oh gotcha, appreciate the help!

[2020-05-17 16:24] juanbenitopr commented on #359
Hi @yeraydiazdiaz ,

I have just decided to choose another name for my project, I thought transferred the name would be a simpler process.

Thank a lot for your work here!
Regards

[2020-05-17 16:24] #359 closed

[2020-05-18 10:10] yeraydiazdiaz commented on #318
The owner replied to my email accepting the transfer of the project.

I will now ask an admin to perform.

[2020-05-18 16:16] gnullByte opened #394 "Account recovery request"
Request for account recovery.

## PyPI Username

`gnullbyte`

---

##  Reason for request

Reason:

I broke my phone with the Authenticator app (2FA). I still have access to my email.

[2020-05-18 17:00] rayluo commented on #318
That's an unexpected turn. I noticed his come back and send my greeting (`https://github.com/fengsp/flask-session/pull/114#issuecomment-628441971`), so I thought this PR would be automatically rejected soon. :-)

Let's proceed.

[2020-05-18 17:01] MRossol opened #395 "Issue: Limit Request: NREL-rex - 250 mb"
**Project**

NREL-rex
https://pypi.org/project/NREL-rex/

**Size of release**

250MB

**Which indexes**

PYPI

**Reasons for the request**

This package provides tools to extract data from NREL's high-value resource Datasets [WIND Toolkit](https://www.nrel.gov/grid/wind-toolkit.html) and [NSRDB](nsrdb.nrel.gov). We use scipy.spatial.cKDTree's to map user-defined coordinates to sites in the dataset

[2020-05-18 18:32] ewdurbin commented on #322
transfer complete.

[2020-05-18 18:32] #322 closed

[2020-05-18 18:33] ewdurbin commented on #171
transfer complete.

[2020-05-18 18:33] #171 closed

[2020-05-18 18:34] #306 closed

[2020-05-18 18:36] ewdurbin commented on #249
`kkobayashi` user has been granted owner role on the project

[2020-05-18 18:36] #249 closed

[2020-05-18 18:37] ewdurbin commented on #323
transer complete.

[2020-05-18 18:37] #323 closed

[2020-05-18 18:38] ewdurbin commented on #277
transfer complete.

[2020-05-18 18:38] #277 closed

[2020-05-18 18:38] ewdurbin commented on #317
transfer complete.

[2020-05-18 18:38] #317 closed

[2020-05-18 18:39] ewdurbin commented on #319
transfer complete.

[2020-05-18 18:39] #319 closed

[2020-05-18 18:40] ewdurbin commented on #342
project Owner role transferred to `kosma` user on PyPI.

[2020-05-18 18:40] #342 closed

[2020-05-18 18:44] ewdurbin commented on #318
I'm a little confused here. Is @fengsp also planning to transfer maintainership of the GitHub project as well?

[2020-05-18 18:46] ewdurbin commented on #318
As the intention of the transfer is continued maintenance and @fengsp seems to be active (having cut a new release just a few days ago) and the project has security implications for dependent projects, it seems more prudent for @rayluo to be added as a maintainer of the project both on GitHub and PyPI rather than transfer to release from fork.

[2020-05-18 18:46] ewdurbin commented on #318
#wrongbutton.

[2020-05-18 19:05] ewdurbin commented on #350
@d3vnu1l did you receive the email with steps for recovery?

[2020-05-18 19:07] ewdurbin commented on #361
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-05-18 19:09] ewdurbin commented on #363
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-05-18 19:11] ewdurbin commented on #365
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-05-18 19:12] n3011 opened #396 "PEP 541 Request: Datum"
**Project to be claimed**
`datum`: https://pypi.org/project/datum/

**Your PyPI username**

`USER_NAME`: n3011

**Reasons for the request**
The existing project is dormant, and no actual code release is found.  It is abandoned in July 2014.

**Maintenance or replacement?**
I have developed a new library for tensorflow input pipeline with the same name as this project. I want to publish this packag

[2020-05-18 19:18] ewdurbin commented on #366
PyPI and TestPyPI run as completely independent services, so enabling TOTP on one would not affect the other.

Your PyPI account does have a valid TOTP secret which wouldn't have been generated unless you enabled TOTP, so account recovery is necessary.

I've contacted the primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-05-18 19:19] ewdurbin commented on #369
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-05-18 19:23] ewdurbin commented on #370
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-05-18 19:24] ewdurbin commented on #372
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-05-18 19:41] ewdurbin commented on #379
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-05-18 19:43] d3vnu1l commented on #350
@ewdurbin Thanks, I've received the email and taken corresponding action.

[2020-05-18 19:47] ewdurbin commented on #380
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-05-18 20:03] ewdurbin commented on #390
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-05-18 20:04] ewdurbin commented on #394
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-05-18 20:44] JonathonReinhart commented on #342
Thanks a lot, @yeraydiazdiaz and @ewdurbin.

[2020-05-18 20:47] ldng opened #397 "A lot of "reserved" projects by user acue"
The user acue (https://pypi.org/user/acue/) has reserved a lot of project and that is polluting searches all over the place. Something should probably be done about that.

[2020-05-19 04:06] yuanming-hu opened #398 "Issue: Limit Request: taichi - 100MB"
**Project**

taichi
https://pypi.org/project/taichi/
https://github.com/taichi-dev/taichi

**Size of release**

60.8 MB

**Which indexes**

PyPI

**Reasons for the request**

Taichi is a standalone language and compiler deeply embedded in Python. The package includes compiled shared objects of the core compiler implemented in C++, hence the large size.

We need to upload a new version for several

[2020-05-19 08:57] mauropelucchi opened #399 "Account recovery request"
Request for account recovery.

## PyPI Username

`mauro.pelucchi`

---

##  Reason for request

Reason:
Lost 2FA authentication app

I replaced my old phone through insurance and no longer have access to the 2FA device on it. Unfortunately I had not yet generated a recovery code.

[2020-05-19 13:26] jamadden commented on #360
The upload limit has been set to 200MB on pypi.org and test.pypi.org. Please be mindful of the frequency of releases at that size.

[2020-05-19 13:26] #360 closed

[2020-05-19 13:27] tjcorona commented on #360
Thanks!

[2020-05-19 13:44] mathstuf commented on #360
Thanks!

We're looking at 6 months with possibilities for maybe 1 or (more rarely) 2 point releases for each for fixups. We can look at avoid uploading point releases that don't affect the wheels.

[2020-05-19 15:07] ines opened #400 "Limit Request: spacy-lookups-data - 100MB"
**Project**

https://pypi.org/project/spacy-lookups-data

**Size of release**

78MB currently, but we'd ideally need 100MB

**Which indexes**

PyPI

**Reasons for the request**

[spaCy](https://pypi.org/project/spacy) is a popular Python library for Natural Language Processing. To provide additional language-specific data (mostly static tables) and to keep the main installation small, we use a sep

[2020-05-19 16:03] mononobi commented on #363
Thanks, replied to your email.

[2020-05-19 18:27] adlgrbz commented on #380
I answered the email.

[2020-05-19 20:45] yuanming-hu commented on #398
Update: we have figure out a way to reduce the package size, so we no longer need more space. Thanks!

[2020-05-19 20:45] #398 closed

[2020-05-20 11:55] jamadden commented on #400
Hi! The current distribution published on April 28 is just under 30MB. Can you explain why the jump from 30MB to more than twice that? (I would look for changes in the source, but sadly there's no [link to the repo](https://packaging.python.org/guides/distributing-packages-using-setuptools/?highlight=project_urls#project-urls) on the published page. )

[2020-05-20 15:42] ewdurbin commented on #366
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-05-20 15:42] #366 closed

[2020-05-20 15:45] ewdurbin commented on #350
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-05-20 15:45] #350 closed

[2020-05-20 15:45] ewdurbin commented on #369
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-05-20 15:45] #369 closed

[2020-05-20 15:47] ewdurbin commented on #394
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-05-20 15:47] #394 closed

[2020-05-20 15:49] ewdurbin commented on #363
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-05-20 15:49] #363 closed

[2020-05-20 15:50] ewdurbin commented on #370
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-05-20 15:50] #370 closed

[2020-05-20 15:51] ewdurbin commented on #380
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-05-20 15:51] #380 closed

[2020-05-20 15:52] ewdurbin commented on #390
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-05-20 15:52] #390 closed

[2020-05-20 15:57] adlgrbz commented on #380
Thanks for the support. :tada:

[2020-05-20 15:59] ewdurbin commented on #361
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-05-20 15:59] #361 closed

[2020-05-20 16:01] ewdurbin commented on #372
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-05-20 16:01] #372 closed

[2020-05-20 16:07] ewdurbin commented on #379
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-05-20 16:07] #379 closed

[2020-05-20 16:09] ewdurbin commented on #365
Confirmation complete. 2FA has been reset and a password reset issued, you should be able to regain access to your account after completing the password reset.

PyPI now supports generating 2FA recovery codes, please read more [here](https://pypi.org/help/#recoverycodes) to generate and store recovery codes for your account.

[2020-05-20 16:09] #365 closed

[2020-05-20 16:43] ewdurbin commented on #399
Contacted via primary email address on the account, please read the instructions and reply to proceed with recovery.

[2020-05-20 19:52] hoefling commented on #366
@ewdurbin I've generated and stored recovery codes this time. Thank you for you help!

[2020-05-20 21:24] greentfrapp opened #401 "PEP 541 Request: Lucent"
**Project to be claimed**
`Lucent`:https://pypi.org/project/lucent/

**Your PyPI username**
`greentfrapp`: https://pypi.org/user/greentfrapp/

**Reasons for the request**
I believe this package to have been a test or have been abandoned. The last update to the package was in 2017. Running `pip install lucent` installs a package with a single `__init__.py` file that contains the single line `from l

[2020-05-21 08:47] cjw85 commented on #153
I had  issues receiving verification emails to `@outlook.com` yesterday evening. Verification emails to alternative were received immediately.

[2020-05-21 09:39] poke1024 commented on #153
For me, this has been resolved in the meanwhile. I'm closing this.

[2020-05-21 09:39] #153 closed

[2020-05-21 11:52] jyrgenn opened #402 "Account recovery request"
Request for account recovery.

## PyPI Username

`jyrgenn`

---

##  Reason for request

Reason: Lost 2FA authentication app or security token

[2020-05-21 14:30] greentfrapp commented on #401
The original owner of Lucent replied and said he intends to continue working on the package some time in the future, so I'll be cancelling this transfer request!

[2020-05-21 14:30] #401 closed

[2020-05-21 15:46] NikhilPeri opened #403 "PEP 541 Request: sparky"
**sparky**

`sparky`: https://pypi.org/project/sparky

**Your PyPI username**

`NikhilPeri`: https://pypi.org/user/nikhilperi

**Reasons for the request**

 - The project has one release in 2013 with no updates since
 - the `setup.py` on this package fails
 - the source code has syntax errors

**Maintenance or replacement?**

- publish a new package containing a framework for building applications

[2020-05-21 15:54] di commented on #153
@cjw85 Could you open a new issue w/ and include your PyPI username?

[2020-05-21 23:12] mononobi commented on #363
Thank you, I logged in successfully.

[2020-05-22 01:24] TylerGubala commented on #364
I'll just close this one down; this seems to be an issue people are familiar with even though I had no idea it existed.

Even though I try to stay as close as possible to Blender Application & API version, I think the suggestion provided by @hugovk is sufficient, given the great security considerations that I have read up on since then.

I wish that this was more in my face about how this could re

[2020-05-22 01:24] #364 closed

[2020-05-22 01:34] TylerGubala commented on #362
Hi. Sorry to be a bother, but has anyone looked at this?

Blender 3d, the application that `bpy` is based on, ships at ~130Mb.

The `wheel` that I supply, weighs in at ~110Mb, give or take depending operating system and a number of other factors.

I imagine that `wheel`s of `bpy` that I supply will, in general, be ~90% the size of the full application.
For `bpy-cuda` it will probably be ~95% the s

[2020-05-22 04:40] docyx commented on #403
Your request has been denied.

[2020-05-22 07:29] yeraydiazdiaz commented on #403
@docyx are you associated with the `sparky` project at all? Your name doesn't match the owner or author of the project.

[2020-05-22 08:42] lukin0110 commented on #403
Hey,

*Context*Sparky was a project years ago at the company that I was working
for. Back then decisions were made and the project was abandoned. I was not
even aware I was still on pypi.

I've deleted the project.

Best Regards
Maarten

El vie., 22 may. 2020 a las 9:29, Yeray Diaz Diaz (<notifications@github.com>)
escribió:

[2020-05-22 09:11] yeraydiazdiaz commented on #403
@lukin0110 thanks for your reply!

[2020-05-22 09:11] #403 closed

[2020-05-22 11:40] ines commented on #400
@jamadden Thanks for getting back and sorry, here's the repo: https://github.com/explosion/spacy-lookups-data/

It mostly comes down to a lot of new languages being added, including more complex languages that require more data (e.g. Polish). As I said, shipping the large resources is unideal and we're working on a better system to avoid this alltogether in the future.

[2020-05-22 12:45] pradyunsg commented on #400
Oh hey! A nice round issue number! ^>^

I've gone ahead and set the upload limit on space-lookups-data to 100MB on PyPI. :)

[2020-05-22 12:45] #400 closed

[2020-05-22 22:40] markroth8 opened #404 "Requests via squid proxies are being blocked from some regions of Google Cloud"
## My Platform

We are experiencing timeouts when trying to `https_proxy=http://squid-proxy-host:3128/ curl https://pypi.org/` from a client going through a squid proxy at `squid-proxy-host`. This only affected proxies in some of our Google Cloud regions until yesterday but now all of our proxied requests are timing out.

[code]

Our squid is presently configured as a MITM proxy but the same behav

[2020-05-22 22:41] markroth8 opened #405 "Requests via squid proxies are being blocked from some regions of Google Cloud"
## My Platform

We are experiencing timeouts when trying to `https_proxy=http://squid-proxy-host:3128/ curl https://pypi.org/` from a client going through a squid proxy at `squid-proxy-host`. This only affected proxies in some of our Google Cloud regions until yesterday but now all of our proxied requests are timing out.

[code]

Our squid is presently configured as a MITM proxy but the same behav

[2020-05-22 22:42] markroth8 opened #406 "Requests via squid proxies are being blocked from some regions of Google Cloud"
## My Platform

We are experiencing timeouts when trying to `https_proxy=http://squid-proxy-host:3128/ curl https://pypi.org/` from a client going through a squid proxy at `squid-proxy-host`. This only affected proxies in some of our Google Cloud regions until yesterday but now all of our proxied requests are timing out.

[code]

Our squid is presently configured as a MITM proxy but the same behav

[2020-05-22 22:43] #406 closed

[2020-05-22 22:43] #405 closed

[2020-05-22 22:44] markroth8 commented on #405
Duplicate - github was returning a 500 error and when I resubmitted this issue appeared 3 times.

[2020-05-22 22:44] markroth8 commented on #406
Duplicate - github was returning a 500 error and when I resubmitted this issue appeared 3 times.

[2020-05-23 09:29] rnixx opened #407 "PEP 541 Request: kivy3"
**kivy3**

`PROJECT_NAME`: https://pypi.org/project/kivy3

**rnix**

`USER_NAME`: https://pypi.org/user/rnix

**Reasons for the request**

This package has been developed by several individuals for some years. To avoid further cluttering the project has been forked into kivy organization from the most recent fork.

You can find the related discussion here https://github.com/kivy/kivy/issues/6004

[2020-05-23 10:13] tshirtman commented on #407
As one of the kivy core devs, I can say that sadly KeyWeeUsr seems to have moved to other occupations (open source development was/is a hobby to him as far as i know), we are of course thankful for his help, but sadly while he did this work related to kivy, he apparently forgot to add other contributors to it, as we usually do for other projects, and he has been unresponsive. Hopefully it's possib

[2020-05-23 10:43] stephenmccalman opened #408 "Account recovery request"
Request for account recovery.

## PyPI Username

smccalman
---

##  Reason for request

 Lost 2FA authentication app

Reason:

Accidentially delete the app and I had not generated a recovery code.

[2020-05-23 17:53] KeyWeeUsr commented on #407
Hello there. TL;DR: writing to an unmonitored mailbox.

[kivy3-mail-response.pdf](https://github.com/pypa/pypi-support/files/4672246/kivy3-mail-response.pdf)
[master...kivy master.txt](https://github.com/pypa/pypi-support/files/4672249/master.kivy.master.txt)
[master...JohnSumskas master.txt](https://github.com/pypa/pypi-support/files/4672250/master.JohnSumskas.master.txt)
[kivy3-in-org.pdf](https

[2020-05-23 21:21] AndreMiras commented on #407
Thanks a lot we now have access to it. I think the task can be closed now

[2020-05-23 22:36] #407 closed

[2020-05-24 07:39] yeraydiazdiaz commented on #407
Thank you for your quick reply @KeyWeeUsr

[2020-05-24 09:46] rnixx commented on #407
@KeyWeeUsr

All the new work currently lives in development and housekeeping branches.
https://github.com/kivy/kivy3/tree/development
https://github.com/kivy/kivy3/tree/housekeeping

Anyway, thanks for taking action.

[2020-05-24 10:17] ines commented on #400
Thanks a lot, much appreciated! Keep up the good work 🙌

[2020-05-24 12:23] prashanth-up commented on #381
@hugovk The user @jgors has not responded on any platforms that I've tried contacting him about this. Will the ownership of the Package Index name be transferred ?

[2020-05-24 14:32] hugovk commented on #381
Probably, if there's also no reply when the PyPI maintainers get in touch after 6 weeks, and all the other criteria in PEP 541 are met.

[2020-05-24 16:42] prashanth-up commented on #381
Ok Thanks, I'll wait for 6 weeks and verify the criteria in PEP 541 again.

[2020-05-25 12:00] dioph opened #409 "PEP 541 Request: elegant"
**Project to be claimed**

`elegant`: https://pypi.org/project/elegant

**Your PyPI username**

`dioph`: https://pypi.org/user/dioph

**Reasons for the request**

We believe that, in terms of PEP 541, the current state of `elegant` fits the definition of an invalid project.
It seems like a case of name squatting, with no releases past version 0.0.0 and no functionality whatsoever. All other [proje

[2020-05-25 15:14] NikhilPeri commented on #403
Thanks @lukin0110 :)

[2020-05-26 08:07] qiuxin2012 opened #410 "Limit Request: analytics-zoo - 250MB"
**Project**
https://pypi.org/project/analytics-zoo/

**Size of release**
215MB

**Which indexes**
both

**Reasons for the request**
Perviously, we increase the limit to 200MB by https://github.com/pypa/warehouse/issues/6140, but after one year's development, the size increased to 215MB. So if it is possible to increase the limit of https://pypi.org/project/analytics-zoo/ to 250MB?

Analytics Zoo (

[2020-05-26 11:19] juhuntenburg opened #411 "Issue: Limit Request: Nighres - 163MB"
**Project**
Nighres
https://pypi.org/project/nighres/

**Size of release**
163MB

**Which indexes**
PyPI

**Reasons for the request**
This is a processing toolbox for high-resolution data processing. While we keep all example data separate to be downloaded upon request, there are a few essential atlas files that currently ship with the package.
We plan to change this structure to keep atlas files

[2020-05-26 14:04] RalfG commented on #190
Hi @di, thanks for the reply! As you mention this is not standard procedure, we will opt to host the models on our GitHub repository, so the limit does not need to be raised. Thanks!

[2020-05-26 14:04] #190 closed

[2020-05-26 14:32] TheMP opened #412 "PEP 541 Request: darts"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/darts

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/unit8

**Reasons for the request**

We are working on a timeseries library and would like to publish it open-source. Darts would be a perfect name although uploading the package fails - seems like the name is registered but there is no package currently placed in th

[2020-05-26 14:36] markroth8 commented on #404
Still happening today. I was able to get some more debug information and this gets stranger still...

Two requests, to `curl https://pypi.org/`, one from the client (proxied through squid) and one straight from the squid proxy machine. The first one hangs and the second one works.

I've captured HTTP headers via endpoints.dev. HTTP headers from the first:

[code]

HTTP headers from the second:

[c

[2020-05-26 15:01] markroth8 commented on #404
Another data point: http is not blocked from the client machine through the proxy - I get a 301 to https://pypi.org/ when I request http://pypi.org/ via curl. But https hangs.

[2020-05-26 15:22] alex commented on #404
If I were the one debugging this, my next move would be to pcap squid or strace it, and figure out where in the process it's hanging -- since, as I understand this, you've narrowed it down to something inside squid itself, curl on the same box works.

[2020-05-26 15:33] arunchandarQA opened #413 "PEP 541 Request: build"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/build/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/arunchandar
(I am not the maintainer)

**Reasons for the request**

There was a PyPI package with the same name until 25 May. Our code base relies on that package. Now it has been replaced with another package with the same name.
I think PyPI should check if there

[2020-05-26 15:51] yeraydiazdiaz commented on #413
Hello @arunchandarQA, the project was removed by the author, not replaced via a PEP 541 request.

As you can imagine we cannot prevent owners from deleting their projects, however there are several warnings in place in PyPI advising of the consequences of removing the project. In this case the owner decided to go ahead anyway and another user has taken up the name.

I'm closing your request becaus

[2020-05-26 15:51] #413 closed

[2020-05-26 16:10] markroth8 commented on #404
Thanks, alex. I should be more careful with my description - the squid process itself is not hanging - all other requests going through squid continue to work properly. Squid is timing out waiting for a successful response from pypi.org.

[2020-05-26 16:11] alex commented on #404
Ok, yes. I guess my question is "where in the request/response" cycle is it
hanging: opening a TCP connection? TLS handshake? waiting for an HTTP
response? reading HTTP response body?

On Tue, May 26, 2020 at 12:10 PM Mark Roth <notifications@github.com> wrote:

--
All that is necessary for evil to succeed is for good people to do nothing.

[2020-05-26 16:55] edgchen1 opened #414 "Limit Request: ort-gpu-nightly-training - 120MB"
**Project**

ort-gpu-nightly-training
https://test.pypi.org/project/ort-gpu-nightly-training/

**Size of release**

The size is currently 112 MB. However, it would be nice to have a limit like 120MB to have some extra headroom to allow for minor increases.

**Which indexes**

Test PyPI

**Reasons for the request**

ONNX Runtime is a performance-focused scoring engine for Open Neural Network Exchan

[2020-05-26 18:12] dou-du opened #415 "Account recovery request"
Request for account recovery.

## PyPI Username

`ddu2020`

---

##  Reason for request

Reason:
My cellphone was broken. So I cannot use the google authentication app. I remember my password. Please help me to recovery me account. Thanks.

[2020-05-26 20:43] davidmcnabnz opened #416 "PEP 541 Request: pyweb - resume development into my new PyPI user account"
**pyweb**

`PROJECT_NAME`: https://pypi.org/project/pyweb

**davidmcnabnz**

`USER_NAME`: https://pypi.org/user/davidmcnabnz

I am the original author of this project, which I worked on between 2003 and 2009. At the time, I used the email address david@freenet.org.nz.

However, I mistakenly allowed the registration of domain freenet.org.nz to lapse into the possession of a domain squatter, so am u

[2020-05-26 22:15] pradyunsg opened #417 "PEP 541 Request: pyproject"
**Project to be claimed**

`pyproject`: https://pypi.org/project/pyproject

**Your PyPI username**

`pradyunsg`: https://pypi.org/user/pradyunsg

**Reasons for the request**

Currently, the project is Invalid, and also satisfies the requirements for being Abandoned (other than the reach-ability criterion).

**Maintenance or replacement?**

Replacement, with a (to be written) library for processing

[2020-05-26 22:18] markroth8 commented on #404
Thanks much for your time helping us debug this.

Good suggestion to get more logs. Last week, we were able to turn on increased squid logging and captured the following log. The following two lines lead us to believe there's an issue negotiating TLS. Note that the proxy works for all other sites, and it was working for `pypi.org` until a few of our proxies started exhibiting this behavior last we

[2020-05-26 22:29] alex commented on #404
Ok, so based on my read of this (I don't know anything about squid, but I
know a lot about OpenSSL... because life decisions):

- It sends a TLS client hello.
- It gets back some bytes from the peer
- It doesn't recognize the extension "43" -- this is the "supported
versions" extension that's part of TLS 1.3. This is expected for a TLS 1.2
client
- It wants a little more data from the peer (1 byte

[2020-05-27 00:53] di commented on #404
From the #pypa IRC channel earlier today, seems possibly related:

[2020-05-27 05:08] hugovk commented on #417
Which of the criteria for an invalid project is met?

https://www.python.org/dev/peps/pep-0541/#invalid-projects

[2020-05-27 07:32] yeraydiazdiaz commented on #416
Hi @davidmcnabnz, `pyweb`'s owner is PyPI user `ubuntu` who published the project's only release in 2009. Could you confirm that was not your previous account? If it is we can resolve this via an account recovery request.

Otherwise I can start the reachability process for you.

[2020-05-27 07:45] yeraydiazdiaz commented on #378
Tagging @KingAizen once again as a second attempt of contact.

[2020-05-27 07:50] yeraydiazdiaz commented on #381
I have now emailed the onwer, hopefully we will hear back from him soon and move forwards with your request.

[2020-05-27 07:56] yeraydiazdiaz commented on #383
Hi @haney, unfortunately `SteveLang`'s associated email address is @roguewave.com.

A quick Google search yields what looks like his [LinkedIn profile](https://www.linkedin.com/in/stevelang), could you attempt contact through there?

[2020-05-27 08:06] yeraydiazdiaz commented on #384
Hello @heprom, tagging @GendoIkari in hopes he will get a notification about this issue. I have also sent emails to the addresses in PyPI and in the GitHub public profile.

Hopefully we wil hear back soon.

[2020-05-27 08:11] yeraydiazdiaz commented on #385
Hi @m-hoff, I can confirm the project has a single release with no associated files and is therefore considered invalid.

In these situations we attempt contact with the owner once allowing a one week courtesy period. If we don't hear back we will move forward with your request.

[2020-05-27 08:14] heprom commented on #384
Thanks @yeraydiazdiaz.

[2020-05-27 08:14] yeraydiazdiaz commented on #385
The email bounced immediately. From the other projects related to that PyPI account it seems GitHub user @gregoil might the current owner, tagging as a final means of contact.

[2020-05-27 08:23] yeraydiazdiaz commented on #386
Hi @dcwatson, I can confirm PyUI has a single release with no files and is therefore considered invalid.

In these cases we attempt contact with the owner to give a one week courtesy period before transferring the project, the PyPI owner had a different email address to the one @twistedmatrix so we may hear back, otherwise we can move forwards with the transfer.

[2020-05-27 08:43] yeraydiazdiaz commented on #392
Hi @isidentical, I can confirm `aztec` has a single release with no files and is therefore considered invalid.

In these cases we attempt contact with the owner and allow a one week courtesy period before transferring the project. Looks like GitHub user @lishnih is the owner of the project, I will also attempt contact via email.

[2020-05-27 08:51] yeraydiazdiaz commented on #393
Hello @tedder, I've attempted contact with @sam-washington who I'm tagging here as well.

Hopefully we will hear back soon and move forwards with your request.

[2020-05-27 09:08] yeraydiazdiaz commented on #396
Hi @n3011, I can confirm `datum` has a single release with no associated files and is therefore considered invalid.

In these cases we attempt contact with the owner and allow a one week courtesy period before transferring the project. I've emailed the owner now.

[2020-05-27 09:16] yeraydiazdiaz commented on #409
Hi @dioph, I can confirm `elegant` has no functionality as it consists only of a `setup.py` and an empty `__init__.py`, it is therefore considered invalid.

I will attempt contact with the owner and allow for a one week courtesy period before moving forward with your request.

[2020-05-27 09:19] yeraydiazdiaz commented on #412
Hi @TheMP, I can confirm `darts` has no releases and is therefore considered invalid.

I've contacted the owner and will allow for a one week courtesy period before moving on with the transfer.

[2020-05-27 09:24] GendoIkari commented on #384
Hello, I don't know exactly what's going on, so let me catch up with all the emails and the things happening here, please, and I'll reply something meaningful soon. Thank you.

[2020-05-27 09:27] yeraydiazdiaz commented on #417
Hey @pradyunsg, I don't think `pyproject` can be considered invalid as there's some clear functionality there, it's also worth mentioning the project also has had [roughly 1K downloads in the past 30 days](https://pepy.tech/project/pyproject). That being said it certainly hasn't been updated so it _could_ be considered abandoned but not sure if a complete replacement would be a good idea.

Looks l

[2020-05-27 09:30] yeraydiazdiaz commented on #392
The owner replied accepting the transfer, I will now ask an admin to perform the transfer for you.

[2020-05-27 09:39] vmalloc commented on #417
Wow, I'm fairly surprised this has just been opened as a claim without even talking to me once before opening it. I think it's a bit rude tbh.

I have several projects that are not being made into releases often and some of them are still in production use in all sorts of places. I hate the fact that the moment I don't pay enough attention to my GH inbox some of them can just be yanked like that b

[2020-05-27 09:44] yeraydiazdiaz commented on #417
Just to be clear, nobody's yanking anything. A request was made under PEP 541 which clearly reads the owner is entitled to deny the request, which you have just done. It's all part of the process: creating a dialogue between claimer and owner.

I will now close this issue based on your reply, thanks for getting back to us.

[2020-05-27 09:44] #417 closed

[2020-05-27 09:47] vmalloc commented on #417
@yeraydiazdiaz Yeah, sorry I came off like that. Of course it wasn't directed at you :-)

Thanks!

[2020-05-27 11:20] prashanth-up commented on #381
Thankyou @yeraydiazdiaz I'll be looking forward to your reply.

[2020-05-27 12:35] GendoIkari commented on #384
Sorry for the delay, I don't see any problem in passing the name to the gentlemen here, @heprom :)

[2020-05-27 13:05] yeraydiazdiaz commented on #384
Hi @GendoIkari, thanks for getting back to us.

So, to avoid having to ask an admin to perform the transfer, we'd appreciate it if you could transfer the project yourself by visiting https://pypi.org/manage/project/pymicro/collaboration/ and adding `heprom` as an owner to the project. You won't be able to remove yourself but @heprom can after that if he wishes.

[2020-05-27 13:22] GendoIkari commented on #384
Can't I just delete the project?
[code]

[2020-05-27 13:28] yeraydiazdiaz commented on #384
Yes, but there will be a period of time where the project name will be available for everyone, it's more fair to transfer it directly to @heprom so we are sure he gets it.

[2020-05-27 14:28] yeraydiazdiaz commented on #396
The owner replied accepting the transfer. I will now ask an admin to perform it for you.

[2020-05-27 14:37] n3011 commented on #396
@yeraydiazdiaz thank you

[2020-05-27 16:09] heprom commented on #384
Thank you very much @GendoIkari for accepting this transfer.

[2020-05-27 19:12] davidmcnabnz commented on #416
Hi yeraydiazdiaz,

Thanks for commencing investigations into this. I can confirm that I have never used the user account 'ubuntu'. Please start the reachability process as soon as you can.

My best estimation is that someone using the account name 'ubuntu' has benevolently uploaded the pyweb package to share, because it previously was just sitting on my own private website, which (due to expiry an

[2020-05-27 19:51] markroth8 commented on #404
Thanks, @di, for the issue reference. I'm not sure that a race condition explains what we are seeing, as it happens 100% of the time. But it might be a clue as to some changing server-side behavior because things used to work for us.

@alex glad you made the life decisions you made to help us understand this better. Your read of this sounds correct to me - there seems to be an error in the protoco

[2020-05-27 20:25] stdedos opened #418 "PEP 541 Request: colout"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/colout/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/stdedos

**Reasons for the request**

Author has authorized me to update the package https://github.com/nojhan/colout/pull/108#issuecomment-634754631
Current author https://pypi.org/user/dongweiming/ has no e-mail address listed in his profile.

I can add any or b

[2020-05-27 20:29] stdedos opened #419 "Suggestion: Remove https://pypi.org/project/pprint/"
In accordance to https://test.pypi.org/help/#project-name

I suggest that project https://pypi.org/project/pprint/ is removed. As you can see from the artifact, there is no useful code in any case.

You may or may not choose to _archive_ it, but at least don't satisfy it as a `pip install pprint` package.

[2020-05-27 20:32] di commented on #404
No, I'm not aware of anything that we changed which could explain this. I suppose it's possible something changed with our CDN provider (Fastly) but I'm not sure what that would be.

[2020-05-27 20:39] alex commented on #404
We don't have visibility into when fastly deploys stuff to their edge, but
I'd be willing to bet they're constantly making changes :-)

On Wed, May 27, 2020 at 4:32 PM Dustin Ingram <notifications@github.com>
wrote:

--
All that is necessary for evil to succeed is for good people to do nothing.

[2020-05-28 00:46] haney commented on #383
Thanks @yeraydiazdiaz, I'll attempt to connect with `SteveLang` on linkedin to see if he's willing to transfer the project directly. Assuming I don't hear back from him, how long should I wait before we can look at additional options?

[2020-05-28 04:30] nlpai-lab opened #420 "Limit Request: kukolex - 62MB"
We uploaded kukolex=0.0.0 file.

**Project**
 kukolex=0.0.0

**Size of release**
 We need at least 62MB due to lots of dictionary files for morpheme analyzing.

**Which indexes**
 PyPI

**Reasons for the request**
 We expect size limit of 0.0.1 version of our file to be increased to 62MB, so that we can upload our whole file. Thank you!

[2020-05-28 08:42] GendoIkari commented on #384
```User 'heprom' does not have a verified primary email address and cannot be added as a Owner for project```

[2020-05-28 09:23] yeraydiazdiaz commented on #416
Thanks for confirming that @davidmcnabnz, I've emailed PyPI user `ubuntu`, hopefully we'll hear back soon and move forward with your transfer.

[2020-05-28 12:59] heprom commented on #384
This is weird, my primary email is normally henry.proudhon@gmail.com
I've changed it to henry.proudhon@mines-paristech.fr
They are both verified normally.
Could you try again ?

[2020-05-28 13:09] GendoIkari commented on #384
Same problem. Tried multiple times with ```heprom```.

[2020-05-28 13:18] yeraydiazdiaz commented on #384
@heprom, your associated address in PyPI is the second one, it does not show up as verified and I don't see any record of any emails sent from PyPI to that address. Are you absolutely sure you received verification email? If so we might need to raise a bug in Warehouse.

[2020-05-28 13:23] heprom commented on #384
Sorry my mistake, I got confused with my github emails. I just verified my email with PyPI. Sorry for the inconvenience. It should work now.

[2020-05-28 13:30] GendoIkari commented on #384
Please confirm me that everything is done now, removing me from the owners of the project. Thank you.

[2020-05-28 15:40] heprom commented on #384
It's all good now, I've just removed you from the project owners. Thanks.

[2020-05-28 15:40] #384 closed

[2020-05-28 15:43] yeraydiazdiaz commented on #384
Excellent, thanks @GendoIkari and @heprom 💯

[2020-05-28 16:01] heprom commented on #384
And thanks for your help @yeraydiazdiaz

[2020-05-28 16:56] vsuorant opened #421 "PEP 541: casatools"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/casatools/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/vsuorant

**Reasons for the request**

casatools project was squatted and is causing problems with our private PyPI repository. We had intended to upload the the project to PyPI but had not yet done so. Partly because we will also need to request extra space in

[2020-05-28 20:22] vsuorant opened #422 "Limit Request: casadata - 400MB"
**Project**

https://pypi.org/project/casadata/

**Size of release**

400MB

**Which indexes**

PyPI
**Reasons for the request**

casadata is a minimum data set for CASA (https://casa.nrao.edu/). Even though this is large package, we can remove the old versions whenever a new version is available.
The package size may increase over time but should do so very slowly (perhaps 10s of megabytes per ye

[2020-05-28 21:31] geyang opened #423 "PEP 541 Request: gym-sawyer"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/gym-sawyer

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/episodeyang

**Reasons for the request**

Looking at the files, this package is empty: the original wheel upload is only 1.0 kb in size. At the same time, the standard Sawyer environment we use is about 40 MB in size.

**Maintenance or replacement?**

There is

[2020-05-29 14:14] nojhan commented on #418
OK for letting @stdedos update the package, while being a side maintainer.

[2020-05-29 14:36] yeraydiazdiaz commented on #418
I believe GitHub user @dongweiming is the owner of the `colout` PyPI project, tagging as first attempt of contact.

[2020-05-29 14:44] stdedos commented on #418
Good catch! Maybe I should've tried a bit more to track him down.

However, he doesn't seem to own `colout` _per se_, but rather `colout-ppa` (https://github.com/dongweiming?tab=repositories&q=colout&type=source&language=)

Of course, if this helps resolve it with a out-of-PEP-541 settlement, fine by everyone I guess

[2020-05-30 01:42] di commented on #424
@nsheff, are you still interested in claiming this package?

[2020-05-30 02:45] cvenghaus commented on #346
I'm having this same exact issue.

- CentOS Linux release 8.1.1911 (Core)
- OpenSSL 1.1.1c FIPS  28 May 2019
- pip 9.0.3 from /usr/lib/python3.6/site-packages (python 3.6)
- Python 3.6.8

[2020-05-30 03:34] szha commented on #243
Any update?

[2020-05-30 04:10] hugovk commented on #424
The transfer was done in https://github.com/pypa/pypi-support/issues/4 and nsheff is now a maintainer at https://pypi.org/project/looper/

[2020-05-30 08:09] yeraydiazdiaz commented on #424
I thought that ringed a bell, thanks @hugovk

[2020-05-30 08:09] #424 closed

[2020-05-30 16:46] vidstige opened #425 "PEP 541 Request: ar"
**Project name**

`ar`: https://pypi.org/project/ar

**Your PyPI username**

`vidstige`: https://pypi.org/user/vidstige

**Reasons for the request**
I'm quoting my old claim from over here: https://sourceforge.net/p/pypi/support-requests/754/
Hi,
I've got a small python package for handling the ar file format used in e.g. .a files on linux, etc. The name 'pyar' seems suitable, hower it's used by s

[2020-05-31 07:36] Ilyushin opened #426 "Account recovery request"
Request for account recovery.

## PyPI Username

`ilyushin`

---

##  Reason for request
  - Lost 2FA authentication app or security token

Reason:
Bought a new phone. Didn't generate security tokens.

[2020-05-31 07:42] ksdkamesh99 opened #427 "Limit Request: ling-gender - 250MB"
**Project**
ling-gender 2.0.0

**Size of release**
220MB

**Which indexes**
both

**Reasons for the request**
Sir/Mam
I am deploying a natural language processing model which is of large size which is a project to classify gender of a person based on the first name so please increase my size

[2020-05-31 15:42] yeraydiazdiaz commented on #393
Sam replied to my email and was kind enough to perform the transfer himself.

@tedder is now an owner of `requests-aws4auth`.

Thanks all!

[2020-05-31 15:42] #393 closed

[2020-05-31 17:53] tedder commented on #393
Confirmed- even better, there's dual ownership, so the bus factor should be better on this.

[2020-05-31 23:45] dongweiming commented on #418
@stdedos I'm very sorry that I took this package name, it was indeed created by me. I agree to hand it over. Could you tell me your pypi username?

[2020-06-01 05:55] stdedos commented on #418
No worries! It's just that there are updates available, and the package (nor the PPA) were updated - I thought you were off-the-grid or something.

Same as here, https://pypi.org/user/stdedos/

[2020-06-01 11:21] dongweiming commented on #418
@stdedos I have added the owner role to you, and now you should have all permissions. Please contact me if you have any questions, you are welcome

[2020-06-01 11:22] dongweiming commented on #418
@stdedos  I have added the owner role to you, and now you should have all permissions. Please contact me if you have any problems, you are welcome

[2020-06-01 14:26] ChrisJefferson opened #428 "Account recovery request"
Request for account recovery.

## PyPI Username

ChrisJefferson

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:

Did not use pypi for a long time, and suffered loss of device with 2FA on it.

I mainly want back in because I was recently given access as the maintainer of dtrx (
https://github.com/pypa/warehouse/issues/4279 ). If I cannot get access to my exi

[2020-06-01 16:08] ChrisJefferson commented on #428
Found backup, all fine. Sorry for the message.

[2020-06-01 16:08] #428 closed

[2020-06-01 19:48] zoulasc opened #429 "PEP 541 Request: Claim ownership of magic project"
**Project to be claimed**
`PROJECT_NAME`: https://pypi.org/project/magic

**Your PyPI username**
`USER_NAME`: https://pypi.org/user/zoulasc

**Reasons for the request**
I am the owner/maintainer of the file(1) package for Unix which has python language bindings for libmagic(3). I distribute those bindings at: https://pypi.org/project/file-magic/
The "magic 0.1" package seems abandoned (not updated

[2020-06-01 20:24] jamadden commented on #418
Confirmed the new rights are in place. Closing.

[2020-06-01 20:24] #418 closed

[2020-06-01 20:57] stdedos commented on #418
I have asked (via a different medium this time), for rights to the test.pypi.com project.

I would've closed soon after.

[2020-06-01 21:11] kornicameister opened #430 "Account recovery request"
Request for account recovery.

## PyPI Username

kornicameister

---

##  Reason for request

Reason:

- Lost 2FA authentication app or security token
- Broken phone restored to factory settings.

[2020-06-01 21:22] eli-schwartz commented on #429
See also my original upstream report: https://bugs.astron.com/view.php?id=15

Archived ticket at https://github.com/pypa/pypi-legacy/issues/802

@zoulasc you forgot to replace "PROJECT_NAME" with the name itself. :D

[2020-06-01 22:49] zoulasc commented on #429
fixed :-)

[2020-06-01 22:50] eli-schwartz commented on #429
Can you fix the issue title as well as the issue description? :)

[2020-06-02 10:59] bluebird75 opened #431 "PEP 541 Request: winpdb"
**Project to be claimed**

`winpdb`: https://pypi.org/project/winpdb/

**Your PyPI username**

`bluebird75`: https://pypi.org/user/bluebird75/

**Reasons for the request**

My request is related to the project page of Winpdb, a standalone portable WxPython debugger. It has been developed by Nir Aides, initially on google code. See ( http://www.winpdb.org and https://pypi.python.org/pypi/winpdb ).

[2020-06-02 11:00] bluebird75 commented on #431
Note that even the website of windpb is no longer maintained : http://www.winpdb.org/

[2020-06-02 11:58] stdedos commented on #418
Ping @Code0x58

[2020-06-02 12:20] Code0x58 commented on #418
@stdedos Nice to see a release :D I set you as the owner of the test pypi repo, feel free to remove me

[2020-06-02 17:18] matijaaa commented on #315
@jamadden hello! any updates on this? cheers

[2020-06-02 22:05] GabePoel opened #432 "Limit Request: peak-finder - 130MB"
**Project**

Project Name: peak-finder
PyPI Page: [https://pypi.org/project/peak-finder/](https://pypi.org/project/peak-finder/)

**Size of release**

The new release is just under 130MB. I would like the limit increased to at least that. Ideally, it would be increased more since I suspect the project size to grow in the future as more models are added (see "Reasons for the request").

**Which ind

[2020-06-03 10:56] TheMP commented on #412
Hi @yeraydiazdiaz, any news on the `darts` repo name?

[2020-06-04 01:36] andykee opened #433 "PEP 541 Request: loupe"
**Project to be claimed**
`PROJECT_NAME`: https://pypi.org/project/loupe

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/andykee

**Reasons for the request**
Based on PEP 541 the current state of ``loupe`` is invalid as it has no functionality/is empty. Attempting to install loupe results in the following error:

[code]
**Maintenance or replacement?**
I intend to replace it with my own

[2020-06-04 07:39] GodwinneLorayne opened #434 "PEP 541 Request: odyssey"
**Project to be claimed**

`odyssey`: https://pypi.org/project/odyssey

**Your PyPI username**

`GodwinneLorayne`: https://pypi.org/user/GodwinneLorayne

**Reasons for the request**

- No releases have been published for this name
- Because of this, the owner is unlisted and therefore unreachable
- I cannot tell when the name was reserved

**Maintenance or replacement?**

I intend to publish my ow

[2020-06-04 08:26] illright opened #435 "Account recovery request"
Request for account recovery.

## PyPI Username

`illright`

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:
Reinstalled the firmware on the phone and forgot to run a backup for the authenticator app.

[2020-06-04 10:37] jamadden commented on #433
I agree that https://pypi.org/project/loupe is an invalid project by the PEP definition, making it subject to transfer.

We like to give the current owner a week's notice before doing so. Often the current owner is happy to perform the transfer themself. Based on other projects, I think that the PyPI owner https://pypi.org/user/r.elsmore/ is the github user @rhyselsmore. Tagging that account here

[2020-06-04 11:25] fredg0 opened #436 "Account recovery request"
Request for account recovery.

## PyPI Username

`fredg`

---

##  Reason for request

Reason:
Hello,

I have no longer access to the emails used.

After a break learning Python, I have now time to learn again.
This first little project was a tiny contribution for the slackware linux community 👍 https://pypi.org/project/ParsePkgtxt/
It seems nothing but I would like to update it with some others o

[2020-06-04 15:27] haney commented on #383
I was able to contact `SteveLang` via linkedin, and he was ammenable to migrating control of the project, however when he attempted to log in he found he didn't recall his password, and it looks like his recovery accounts were targeted at the `@roguewave.com` domain (which he no longer has access to). His recommendation was to look at the abandoned project process to migrate the project.

That bri

[2020-06-04 16:50] mastrobirraio opened #437 "Account recovery request"
Request for account recovery.

## PyPI Username

`mastrobirraio`

Reason: I've lost my device with 2FA application and recovery codes.

[2020-06-05 19:53] haney commented on #383
`SteveLang` and I were able to work with Rogue Wave's IT to reset the account and transfer ownership of the project. I think we can consider this issue resolved.

[2020-06-05 19:53] #383 closed

[2020-06-06 08:27] yeraydiazdiaz commented on #385
The courtesy period has now passed. I will now ask an admin to perform the transfer for you.

[2020-06-06 08:30] yeraydiazdiaz commented on #386
The courtesy period has passed, I will now ask an admin to perform the transfer for you.

[2020-06-06 08:31] yeraydiazdiaz commented on #409
I have not received a reply in this courtesy period so I will now ask an admin to perform the transfer for you.

[2020-06-06 08:33] yeraydiazdiaz commented on #412
Hi @TheMP, I have not received any reply from the owner so I will now ask an admin to perform the transfer for you.

There's a bit of a backlog on these, so please bear with us.

[2020-06-06 08:34] yeraydiazdiaz commented on #383
Excellent, glad that worked out. Thanks @haney and Steve.

[2020-06-06 09:28] yeraydiazdiaz commented on #421
Hi @vsuorant, it seems the owner of the project is GitHub user @cowlicks, hopefully we will hear back in regards of this project.

Regarding the reason for squatting in the project's description:

I'm not sure that's correct. I believe when using private PyPI repos the workflow is to use `--index-url` to point to the private PyPI repo combined with `--extra-index-url` to point to PyPI. This will i

[2020-06-06 09:42] yeraydiazdiaz commented on #423
Hi @geyang, I can confirm the project has no functionality and is therefore considered invalid.

Looks like user GitHub user @ryanjulian is the owner of the package, tagging him as a means of contact for the one week courtesy period before proceeding with the transfer.

[2020-06-06 09:54] yeraydiazdiaz commented on #425
Hello @vidstige, I can confirm the `ar` project has no functionality and is thus considered invalid.

I will attempt contact with the owner for a courtesy period of one week before moving forwards with the transfer.

[2020-06-06 12:08] vidstige commented on #425
Thanks for keeping me updated

[2020-06-06 12:23] dioph commented on #409
@yeraydiazdiaz, thank you for the help.

[2020-06-06 13:22] TheMP commented on #412
Hi @yeraydiazdiaz, thanks for the info! Sorry for rushing, we are trying to make it work for our release that's coming soon :).

Are you maybe able to guess if it is approximately going to take a few more days or rather weeks?

[2020-06-06 16:04] geyang commented on #423
@yeraydiazdiaz Ryan has gotten back to be couple of days ago, and this is right before the deadline for one of the major machine learning conferences so he might be super busy :)

[2020-06-06 17:00] ryanjulian commented on #423
@geyang @yeraydiazdiaz Thanks for @'ing me! The project name gym-sawyer is actively maintained, on GitHub but we never finished crafting and uploading our PyPI distribution for it.

Since I'm not personally actively maintaining the project, I'm not categorically opposed to handing off the PyPI name, but I want to make sure I understand the impact on existing users and maintainers first.

There wer

[2020-06-06 17:56] geyang commented on #423
@ryanjulian Just to confirm, the `gym-sawyer` project you mentioned is a private Git project, so it currently bears no relationship to the PyPI project we are talking about here, is this correct?

Yeah, I definite feel that hesitation in releasing my own code :)

In this case, the existing users would be of that private project, as opposed to this PyPI package. There does not seem to be existing u

[2020-06-06 18:31] ryanjulian commented on #423
@geyang it's a public project here https://github.com/rlworkgroup/gym-sawyer

[2020-06-08 04:16] nlpai-lab commented on #333
We uploaded kukolex=0.0.0 file.
Project

kukolex=0.0.0
Size of release

We need at least 62MB due to lots of dictionary files for morpheme analyzing.
Which indexes

PyPI
Reasons for the request

We expect size limit of 0.0.1 version of our file to be increased to 62MB, so that we can upload our whole file. Thank you!

[2020-06-08 05:24] mustafaquraish opened #438 "PEP 541 Request: Marker"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/marker

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/mustafaquraish

**Reasons for the request**

 I have recently developed a package consisting of utilities to automate and assist marking coding exercises. The package name of `marker` would be great for this, and it doesn't seem like there has been anything with th

[2020-06-08 08:09] qiuxin2012 commented on #410
Could some one help?

[2020-06-08 19:44] vsuorant commented on #421
Thank you for your help. I haven't heard anything from @cowlicks for more than a week.

I am pretty sure that the description by @cowlicks is correct. This is even worse with packages that target only a limited number of platforms or python versions. So for example if there is no compatible package in private PyPI but there is a "none-any" wheel in PyPI, the latter will get installed. And of cours

[2020-06-09 00:54] vputz opened #439 "Account recovery request"
Request for account recovery.

## PyPI Username

`qcware on test.pypi.org`

---

##  Reason for request

Reason:
Lost access to the email address for the qcware account on test.pypi.org (we can access the one on pypi.org, and the replacement account `qcwaretest` on test.pypi.org!  The individual with the email address used for the `qcware` account on test.pypi.org has left us and we can no longer

[2020-06-09 03:43] mitch3x3 opened #440 "PEP 541 Request: vilib"
`vilib`: https://pypi.org/project/vilib

**Your PyPI username**
`mitch3x3`: https://pypi.org/user/mitch3x3

**Reasons for the request**
There hasn't been a new release since May 24, 2011. Definitely abandoned. I could pick a new name but I feel that it would be best for me to use this one since my newer code is so similar to this original package in scope, but with a few additions. My first attemp

[2020-06-09 14:03] simleo opened #441 "Issue: Limit Request: pyeddl - 120MB"
**Project**

pyeddl (https://pypi.org/project/pyeddl)

**Size of release**

About 120MB (per file)

**Which indexes**

PyPI

**Reasons for the request**

[PyEDDL](https://github.com/deephealthproject/pyeddl) is a Python wrapper for [EDDL](https://github.com/deephealthproject/eddl), the European Distributed Deep Learning library. EDDL and PyEDDL are being developed as part of the activities of the

[2020-06-09 21:56] seandstewart opened #442 "PEP 541 Request: forge"
**Project to be claimed**
`forge`: https://pypi.org/project/forge/

**Your PyPI username**

`seandstewart`: https://pypi.org/user/seandstewart

**Reasons for the request**

This project was registered over 10 years ago and never received an update or release.

I attempted to contact the original maintainer as listed in the package meta data but never received a response.

At some point it appears

[2020-06-09 23:10] ryanjulian commented on #423
@geyang I think you might be mistaken about the features of our package.

While ROS integration is a feature of our package, the package can be run without ROS at all as a standalone simulation environment, just as yours can. If you look closely, the set of available environments in our package is very similar to yours, including support for multitask learning.

While we never uploaded the package

[2020-06-10 10:06] Ilyushin commented on #426
Guys, help me, please.

[2020-06-10 17:46] dopplershift opened #443 "Request transfer of python-awips and mkdocs-unidata"
**Project to be claimed**

`python-awips`: https://pypi.org/project/python-awips/
`mkdocs-unidata`: https://pypi.org/project/mkdocs-unidata/

**Your PyPI username**

`dopplershift`: https://pypi.org/user/dopplershift/

**Reasons for the request**

Michael James (@mjames-upc), the developer previously responsible for these projects, passed away last June. We are finally in a position where we need

[2020-06-11 01:02] danielunderwood commented on #419
I was just looking at this project and was going to open an issue with the same suggestion. In addition to what you mentioned around not having it as `pip install pprint`, it seems to also be an invalid name according to [PEP-541](https://www.python.org/dev/peps/pep-0541/#invalid-projects):

The [repo for this project](https://github.com/hamadi15/test) seems to not have any content and also doesn'

[2020-06-11 02:04] chuanqi129 opened #444 "Issue: Limit Request: intel-tensorflow - 350MB"
**Project**: intel-tensorflow

**Size of release**: 330M

**Which indexes**: both

**Reasons for the request**:  intel-tensorflow is intel optimized tensorflow, which has better performance on intel platform. We'd like increase the limit to 350MB caused by new component added in this package.

[2020-06-11 05:14] hugovk commented on #419
https://pypistats.org/packages/pprint

Downloads last week: 22,500
Downloads last month: 97,040

[2020-06-11 16:13] prashanth-up commented on #381
@yeraydiazdiaz  Okay Sure. Sorry forgot about that.

[2020-06-11 17:51] cvenghaus commented on #346
After further research and troubleshooting, my issue was determined to be a bug in our Cisco firewall that that affected TLSv1.3 connections to certain websites. After a software upgrade, the issue was resolved.

[2020-06-11 21:31] vsuorant opened #445 "Limit Request: casaviewer - 150MB"
**Project**
https://pypi.org/project/casaviewer/

**Size of release**

150MB
**Which indexes**

PyPI
**Reasons for the request**

Casaviewer is a data visualization tool for CASA: https://casa.nrao.edu/

[2020-06-11 21:34] vsuorant opened #446 "Limit Request: casaplotms - 200MB"
**Project**
https://pypi.org/project/casaplotms/

**Size of release**

200MB
**Which indexes**

PyPI
**Reasons for the request**

CASA PlotMS tool is a plotter/interactive flagger for visibility data. More information about CASA is available here: https://casa.nrao.edu

[2020-06-12 01:46] sfdye opened #447 "Account recovery request - need for making new release"
Request for account recovery.

## PyPI Username

`sfdye`

---

##  Reason for request

Reason:
	- Lost 2FA authentication app

I may have deleted the 2FA token when migrating from Google authenticator to Authy. Now this is blocking me from making a new release for https://github.com/PythonCharmers/python-future, as the owner has given me the maintainer access on PyPI.

![image](https://user-images

[2020-06-12 21:22] cooperlees opened #455 "Increase in xmlrpc API timeouts recently"
**Describe the bug**
bandersnatch's CI has been failing a lot more to the XMLRPC API calling `list_packages_with_serial`

Log:
[code]

Timeout settings is 10 seconds for read timeout, so I think the latency with the call has got real bad? Is there data that shows this? This is call for the full package list, I can't easily get around that.

**Expected behavior**
~1 second return with the response

[2020-06-12 21:45] DzRepo opened #448 "Account recovery request"
Request for account recovery.

## PyPI Username

`SteveDz`

---

##  Reason for request

Reason:

[2020-06-12 21:46] DzRepo commented on #448
- Lost 2FA authentication app (phone decided to factory reset on me...)

[2020-06-13 02:06] pshanbhag opened #449 "PEP 541 Request: pf9-saml-auth"
**Project to be claimed**
`pf9-saml-auth`: https://pypi.org/project/pf9-saml-auth

**Your PyPI username**
`pshanbhag`: https://pypi.org/user/pshanbhag

**Reasons for the request**
The project is a key library used by some users to perform SAML authentication for my company [Platform9](https://github.com/platform9)'s product. The project's GitHub repository is available under Platform9's GitHub acc

[2020-06-13 06:46] eulertour opened #450 "PEP 541 Request: manim"
**Project to be claimed**

`manim`: https://web.archive.org/web/20190502071551/https://pypi.org/project/manim/#files

**Your PyPI username**

`eulertour`: https://pypi.org/user/eulertour

**Reasons for the request**

The project has been abandoned as described at https://www.python.org/dev/peps/pep-0541/#id23, and the current owner hasn't left behind any means of contacting them. It seems that the

[2020-06-13 23:32] FFY00 opened #451 "PEP 541 Request: `install`"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/install

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/FFY00

**Reasons for the request**

Name squatting.

**Maintenance or replacement?**

Replacement.
Upstream: https://github.com/FFY00/python-install

**Contact and additional research**

I contacted the owner, he confirmed he was name squatting. His main argument

[2020-06-13 23:42] FFY00 commented on #451
I acknowledge I might have been a bit adamant in my last reply. I am a bit frustrated, especially since given the owner's comments on how he believes my project is wrong, even after I provided links to discussions which explore the issue I am trying to solve in depth. This is not an excuse, I should have worded it in a more friendly way.

[2020-06-14 00:47] theceebee commented on #378
@yeraydiazdiaz Have you made any further progress in contacting @KingAizen?

[2020-06-14 08:20] yeraydiazdiaz commented on #451
Hi @FFY00, there's a few elements at play here.

Firstly, at the moment of this writing, [`install`](https://pypi.org/project/install/#files) has a new release with _some_ functionality, therefore it cannot be considered invalid or namesquatting. While I appreciate you taking the time to contact the owner us moderators are obliged to make contact ourselves. In that spirit I'm tagging GitHub user @

[2020-06-14 08:24] yeraydiazdiaz commented on #378
Hi @theceebee, unfortunately no. We are, however, obliged to wait 6 weeks from the initial attempt of contact. I'll consider your tag as a final attempt and move forwards in two weeks.

[2020-06-14 08:38] yeraydiazdiaz commented on #421
The courtesy period has passed, I will now ask an admin to perform this transfer for you.

[2020-06-14 08:41] yeraydiazdiaz commented on #423
@ryanjulian thanks for getting back to us on this. I'm going to close this issue for housekeeping and since contact has been made, but feel free to keep commenting if you wish.

[2020-06-14 08:41] #423 closed

[2020-06-14 08:42] yeraydiazdiaz commented on #425
I have not received any response from the owner so I will now ask an admin to perform the transfer for you.

[2020-06-14 08:44] bmorris3 opened #452 "PEP 541 Request: kelp"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/kelp

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/bmmorris

**Reasons for the request**

This project has not been updated since its initial version in 2015.

**Maintenance or replacement?**

I intend to replace the package with a different one, also called [kelp](https://github.com/bmorris3/kelp). This package is t

[2020-06-14 08:57] yeraydiazdiaz commented on #352
I have not received any reply from the current owner so the project is now considered abandoned. I will now ask an admin to perform the transfer for you.

[2020-06-14 08:58] moilerat opened #453 "Account recovery request"
Request for account recovery.

## PyPI Username

`martigan35`
`fotonower`

---
##  Reason for request

Reason:
I am the CEO of Fotonower, my employee Martin Gaspaillard, login martigan35, left one year ago and we have no more contact with him.
Can you transfer the ownership of https://pypi.org/project/fotonower/ package to : `fotonower`.
We already duplicate it in https://pypi.org/project/ftn/ but

[2020-06-14 09:13] #441 closed

[2020-06-14 09:47] yeraydiazdiaz commented on #431
Hello @bluebird75, the project does seem to be in an odd state with the last two releases not having any associated files.

Seems GitHub user @nir might be the current owner of the package, I will also attempt contact via email.

[2020-06-14 09:57] yeraydiazdiaz commented on #434
Hello @GodwinneLorayne, I can confirm the project has no releases and is therefore considered invalid and to be transferred.

I will now send an email to the owner letting them know of this and wait a courtesy period of one week before proceeding.

[2020-06-14 10:10] yeraydiazdiaz commented on #440
Hello @mitch3x3, there seems to be _some_ [download activity](https://pepy.tech/project/vilib) for `vilib`. You mention your project is not technically a fork, does that mean there are API differences? I'm worried there are enough API differences to break end user's code.

I will attempt contact with the owner regardless to get his input on this issue.

[2020-06-14 10:15] yeraydiazdiaz commented on #438
Hello @mustafaquraish, I can confirm the project has no releases and is therefore considered invalid and to be transferred.

I will now contact the owner letting them know of this fact and allow a courtesy period of one week before proceeding.

[2020-06-14 10:34] yeraydiazdiaz commented on #440
The owner replied stating he would like to keep control of the project as it is being actively used. As such I'm closing this issue.

He did reiterate his offer for collaboration, you may want to try and contact him again if you're interested, otherwise I suggest you publish your project with a different name.

[2020-06-14 10:34] #440 closed

[2020-06-14 12:49] FFY00 commented on #451
This change was made *after* I created the request. The owner admitted to namesquatting and refused to collaborate, and as such, I do not believe this change was made in good faith. I have been very patient and cordial when dealing with this, up to the penultimate email, I have explained why the project is needed and why other alternatives are not usable, @eugenekolo simply dismisses it as "I don'

[2020-06-14 13:59] eugenekolo commented on #451
Thanks for reaching out to me @yeraydiazdiaz.

I refuse the transfer. I am okay with either the package name being blocked, or for me to continue maintaining ownership of the package. The current functionality of the package is being used in a few projects of mine and may be useful to others too.

[2020-06-14 14:15] josev814 commented on #352
Thank you so much!!

On Sun, Jun 14, 2020, 4:57 AM Yeray Diaz Diaz <notifications@github.com>
wrote:

[2020-06-14 14:16] yeraydiazdiaz commented on #451
@eugenekolo that doesn't make much sense. If we were place the project name in the blocklist you wouldn't be able to use that code with that name thus breaking your own usage of the project.

Regardless you uploaded some code [_after_ the request was raised](https://pypi.org/project/install/1.0/#history) and now you're claiming you're actively using the code.

PEP 541 does not completely cover eve

[2020-06-14 14:33] FFY00 commented on #451
If I may, I would like to advocate against placing the name on the blocklist. The `install` package had not registered downloads until today, which tells me that the issue with people mistakenly calling `pip install install something` is not that much of an issue. It is still possible though, but if we have a project there worst-case scenario people will install that project. And finally, there *i

[2020-06-14 15:04] eugenekolo commented on #451
@yeraydiazdiaz Sorry for the misunderstanding. The code I've placed into the package is code I am using on other projects. It was added to the install package and will continue to be maintained there. Thanks for looking into this.

[2020-06-14 15:18] yeraydiazdiaz commented on #451
@eugenekolo You registered the project [in 2016](https://pypi.org/project/install/1.0/) with no functionality and then you pushed a release with some code _after_ the request was made in an attempt to keep the project name.

I understand you probably had plans for that project name in 2016 but the fact is you have not used it in four years. By pushing some code now, immediately after the PEP 541 r

[2020-06-14 15:22] theacodes commented on #451
I am in favor of install being on the blocklist.

[2020-06-14 15:27] theacodes commented on #451
Tagging @pypa/warehouse-admins.

[2020-06-14 16:25] ewdurbin commented on #451
As an admin, I'm +1 to adding to prohibited project name list.

[2020-06-14 16:42] nir commented on #431
Hi, I'm the owner of the winpdb pypi package page. I have corresponded with Yeray and Philippe about this request. Philippe has been maintaining his fork of Winpdb over the past decade!

Since I have no plans to resume development of Winpdb I believe it is a good idea to give him control over the pypi package page under the following condition, that the current GPL license remains and that I remai

[2020-06-14 16:48] pganssle commented on #451
What is the argument for putting it onto the blocked list, particularly if Filipe is going to put a legitimate package there?

It's possible someone will typo it and it will accidentally install the extra package, but that's true of many things. That's really only dangerous if something malicious lives there.

I don't really think it matters very much, I think Filipe's package could easily be name

[2020-06-14 16:58] FFY00 commented on #451
It is currently only a wheel installer, but I wanted to keep the possibility of other types in the future. Much like https://github.com/FFY00/python-build. It is not crazy to think that in the future other package types could arise.
Anyway, even though I would really like for it to be called `install`, it is not a big blocker.

Similarly, I don't really understand the argument. I feel like this is

[2020-06-15 04:44] GodwinneLorayne commented on #434
@yeraydiazdiaz Thank you for your help on this! After you sent your email I got into contact with the project owner and they most graciously transferred it to me on their own. Closing this issue.

[2020-06-15 04:44] #434 closed

[2020-06-15 08:23] meherett opened #454 "PEP 541 Request: shuttle"
**Project to be claimed**

`shuttle`: https://pypi.org/project/shuttle

**Your PyPI username**

`meherett`: https://pypi.org/user/meherett

**Reasons for the request**

The project has been abandoned as described at https://www.python.org/dev/peps/pep-0541/#id23, and the current owner hasn't left behind any means of contacting them. It seems that the name is still taken despite the fact that there

[2020-06-15 09:58] hugovk commented on #454
Looks like two of the maintainers are @nyergler and @delainewendling on GitHub, and they have email addresses on their profiles.

[2020-06-15 11:13] ewdurbin commented on #455
Looks like we have a overzealous user/cluster flooding the XMLRPC backends with search requests every hour... I'm gonna track that down and prohibit their IP, which should resolve the issue.

[2020-06-15 12:54] lisael opened #456 "Account recovery request"
Request for account recovery.

## PyPI Username

`lisael`

---

##  Reason for request

  - Lost access to email address

Reason:

I've lost the email account associated with my pypi account. I'm the owner of https://github.com/lisael/fastidious/ that I want to release, now.

Note that because of this situation, I did create the account `lisae1` with my default github email address, too. (fyi, if

[2020-06-15 13:07] cooperlees commented on #455
Thanks for looking into it Ernest! Is it easy to add a data dog alert or something to look for this behavior (lots of slow responses)?

@fridex I would use another API if I could. This API was added to Warehouse / Cheeseshop for the code I maintain, in bandersnatch :)

I have also personally tried to replace the XMLRPC API. I don’t “want” to be using it at all :).

[2020-06-15 13:31] ewdurbin commented on #455
Unfortunately not. We track average, 95th percentile, and max backend response times in DataDog, but there isn't a clear enough signal there to alert on without driving someone (me) batty:

![95th Percentile and Average Pyramid Request Duration xmlrpc](https://user-images.githubusercontent.com/1200832/84663284-f0937f80-aeea-11ea-8932-f0b55a233735.png)

[2020-06-15 15:10] nyergler commented on #454
To the best of my knowledge Shuttle is still deployed and in use by Eventbrite and others. @delainewendling may have more current information; I'll also email `eb-pypi` (a service account used by the IT team at Eventbrite) to see if they have more up to date information.

Please let me know if there's additional information I can provide to assist with resolving this issue.

[2020-06-15 15:33] delaine-eb commented on #454
@nyergler That is correct, Eventbrite is still using this library. I don't recall seeing an email come through but it may have slipped through the cracks. Is there something that needs to be done on our end?

[2020-06-15 15:41] nyergler commented on #454
@delaine-eb Based on the quoted email in the original issue, it appears that I was the only maintainer the petitioner attempted to contact. I am, obviously, _no such user_.

I don't pretend to be completely fluent in PEP-541, but I believe this demonstrates the project does not meet the requirements for _abandoned_ status.

[2020-06-15 16:09] yeraydiazdiaz commented on #454
Thanks for your replies @nyergler and @delaine-eb.

It would be good to update the contact email in the project in the next release so as to avoid confusions.

Closing as the project is not abandoned.

[2020-06-15 16:09] #454 closed

[2020-06-15 18:38] chuanqi129 commented on #444
Hi @jamadden , could you help on it?

[2020-06-16 18:07] jstoecker opened #457 "Issue: Limit Request: tensorflow-directml - 500MB"
**Project**: https://pypi.org/project/tensorflow-directml/

**Size of release**: 500MB

**Which indexes**: PyPI and Test PyPI

**Reasons for the request**:
TensorFlow is an open source machine learning framework created by Google. Microsoft is adding support for cross-vendor hardware acceleration using DirectML in Windows and the Windows Subsystem for Linux.

We've kept our initial release as smal

[2020-06-16 19:57] pradyunsg commented on #451
*puts on pip maintainer hat*

@FFY00 had also discussed this with me (and I'm a PyPA member, but don't represent all of PyPA). We'd talked about his project and https://github.com/pradyunsg/installer. The latter is certainly a project that I will be putting forward for being accepted into PyPA once it's "ready". He also expressed interest in doing so, if `installer` doesn't add a proper CLI for th

[2020-06-16 20:10] pganssle commented on #451
Yeah, I get that it is something you might install accidentally, but I might also mindlessly type *anything* in there. The only problem with "typo squatting" like this is if someone puts something *malicious* there (or has the potential to put something malicious there), and accidental installs lead to harmful outcomes.

This is just a situation where someone might accidentally install more packag

[2020-06-16 20:13] sergiors opened #458 "Account recovery request"
Request for account recovery.

## PyPI Username
`sergiors`

---

##  Reason for request
Hi I did not have access my old email `sergio@inbep.com.br` and I can not reset the password.

Reason:

How Could I change my email to new? osergiosiqueira@gmail.com

[2020-06-16 20:18] theacodes commented on #451
Assuming that `install` never gets compromised, ofc.

On Tue, Jun 16, 2020, 1:10 PM Paul Ganssle <notifications@github.com> wrote:

[2020-06-16 20:29] pganssle commented on #451
Sure, but if the threat model is "package compromise", then it's no different whether it is deliberately installed or accidentally installed. In fact, things that are primarily (or even very frequently) *accidentally* installed are probably a particularly bad target for compromise, because that doesn't happen terribly often compared to deliberate installs and when someone accidentally installs som

[2020-06-17 08:21] geyang commented on #423
@yeraydiazdiaz is there a timeline for resolution, given the current status of this package?

[2020-06-17 09:15] yeraydiazdiaz commented on #423
@geyang once contact with the owner has been established it's a matter of the two parties coming to a resolution. @ryanjulian asked for some time to speak to the other maintainers to decide the next steps.

Us moderators don't intervene beyond that, which is why I closed this issue.

[2020-06-17 12:56] vidstige commented on #425
That's good news. Thank you very much!

[2020-06-17 15:03] chuanqi129 commented on #444
Hi @jamadden and @pradyunsg could you give some help on it? Very appreciated

[2020-06-17 15:48] geyang commented on #423
@yeraydiazdiaz Sound good! In that case I will check back in couple of weeks with @ryanjulian to see if there is any update. Is this issue still going to be here? I noticed that the last issue on PEP541 was sometime in May, so I wonder if these issues are periodically removed.

[2020-06-17 16:25] eugenekolo2 commented on #451
Hello, I'd like to bring up a few facts and statements to this conversation. Unfortunately, FFY00 has blocked me on GitHub, and that means I cannot respond to any threads created by them with my main account, so please excuse this secondary account.

1. I have added legitimate code to the `install` package that I meant to 3 years ago. It seems that I messed up at some point, and the commit never w

[2020-06-17 17:07] FFY00 commented on #451
My bad, this was to prevent you to interact with my personal repositories, as I do not think the way you handled this was correct. I did not think it would prevent you from commenting on this issue. I have temporarily removed it until this gets resolved.

I would really like to believe this but it does not track with our email communication. After I contacted you, you did not pushed anything, that

[2020-06-17 17:55] ewdurbin commented on #451
I think we have enough information from involved parties for the time being, and it looks like things could get unnecessarily heated. I'm going to lock this to maintainers/admins for the time being until we can get a decision made.

[2020-06-17 18:40] tfcollins opened #459 "Package name isn't allowed"
**Describe the bug**
I'm trying to push a new package named 'libiio' but I get the error:
[code]
**Expected behavior**
I was able to push the same package with this name to pypi testing, and I expected the same to work on mainline pypi. I don't think this breaks any of the naming rules. Correct me if I'm wrong.

**To Reproduce**
[code]

**My Platform**
- Python 3.6.9
- Twine 3.1.1

**Additional co

[2020-06-17 18:54] ewdurbin commented on #459
This name was reserved at the request of the Fedora project, as it conflicts with the name of one of their packages (https://src.fedoraproject.org/rpms/libiio).

You can read the background on this request and discussion at https://github.com/pypa/pypi-support/issues/355

[2020-06-17 18:54] #459 closed

[2020-06-18 03:38] di commented on #451
As long as this is a valid and non-malicious project, I'm also not really seeing a reason to put this on the prohibited project name list.

Looking at the source for https://pypi.org/project/install/ (see below) it seems to be both, basically just a thin importable wrapper around `python -m pip install`.

I'm wondering if there's a potential for collaboration here if both parties are willing. Base

[2020-06-18 03:39] di commented on #451
(I'll give this a little more time to cool off and for other admins to add their thoughts before unlocking.)

[2020-06-18 16:04] MarkHallett opened #460 "Account recovery request"
Request for account recovery.

## PyPI Username
---
##  Reason for request

Reason:
I set up the mh package on pypi, I still have access to the account email.
It will be 'somthing'@markhallett.co.uk
Please could you send a test email message to the account, so I can remember the email address
Thank you

[2020-06-19 09:09] bluebird75 commented on #431
I am ok with that. The copyright and readme are already giving proper attribution to both of us for the respective periods.

[2020-06-19 16:07] jamadden commented on #457
The limits have been updated.

A 500MB distribution is a burden on PyPI, its CDN and mirrors, and users. Please be mindful of that and limit release frequency (i.e., please do not upload nightly or frequent dev builds; that has [been a condition for large limits in the past](https://github.com/pypa/pypi-support/issues/50)).

[2020-06-19 16:07] #457 closed

[2020-06-19 16:46] aaugustin commented on #349
If I understand correctly:

- the purpose for which the empty `vision` package was created isn't allowed — and, in fact, should be discouraged;
- after six weeks, no dissenting opinion was expressed.

May I kindly request that you proceed with the transfer to user `chaumond`?

[2020-06-19 19:00] zooba commented on #457
Thanks @jamadden!

[2020-06-19 19:14] crahrig commented on #457
Seconding @zooba, thanks @jamadden greatly appreciated!

[2020-06-20 01:14] sfdye commented on #447
bump

[2020-06-20 09:56] sahinbatmaz opened #461 "PEP 541 Request: pyspace-package"
`PROJECT_NAME`: https://test.pypi.org/simple/pyspace-package

`USER_NAME`: https://test.pypi.org/user/sahinbatmaz/

I had created a different account:
`OLD_USER_NAME`: https://test.pypi.org/user/mavera/
I created pyspace-package with my account.
Then I removed my project and removed my account.

Now I created a new account, and I want to use the same project name.
I will continue to the same proje

[2020-06-20 16:47] mustafaquraish commented on #438
Hey! Any updates from the owner of the repo? If not - any idea how long it would take for the transfer to take place? I see there's a bit of a backlog... are we talking days or weeks?

[2020-06-21 13:31] nir commented on #431
As I agreed with @bluebird75 in private correspondence, I have made him a co-owner of the winpdb pypi package page. Good luck with the project!

[2020-06-21 14:05] davidism opened #462 "PEP 541 Request: WTForms-SQLAlchemy, WTForms-Django"
**Project to be claimed**

`WTForms-SQLAlchemy`: https://pypi.org/project/WTForms-SQLAlchemy
`WTForms-Django`: https://pypi.org/project/WTForms-Django

**Your PyPI username**

`davidism`: https://pypi.org/user/davidism

**Reasons for the request**

I am the owner of WTForms, the previous owners left years ago and are not available. They transferred all the projects to me, but it looks like they on

[2020-06-22 13:21] seandstewart commented on #442
I don’t want to step on anyone’s toes here, but we’re now approaching 2 weeks without triage or updates on this ticket. I notice most issues under this label have gone un-triaged for the last 13 days (except the hot-button `install` request).

@yeraydiazdiaz - apologies for the direct tag, but is there anything I can do to get this ticket moving forward?

[2020-06-22 17:06] jamadden commented on #315
I have updated the status to reflect that I wasn't able to make contact.

[2020-06-22 17:15] vsuorant commented on #421
Thank you @yeraydiazdiaz . How long does the transfer typically take at this point?

[2020-06-22 17:24] domdinicola opened #463 "Office365-REST-Python-Client grant access"
**Office365-REST-Python-Client**
`Office365-REST-Python-Client`: https://pypi.org/project/Office365-REST-Python-Client/

**dom.dinicola - vgrem **
`dom.dinicola`: https://pypi.org/user/dom.dinicola/
`vgrem`: https://pypi.org/user/vgrem

**Reasons for the request**
current pypi maintaner doesn't upload packages on pypi (2.1.8, 2.1.9, 2.10 have been released on github, but package has not been uploa

[2020-06-22 19:05] nicthib opened #464 "Issue: Limit Request: pyanthem - 350MB"
**Project**

pyanthem

**Size of release**

350MB

**Which indexes**

PyPI

**Reasons for the request**

This package include 350 MB of .ogg audio files. Compressed, this takes up a little over 300 MB, so I put the limit at 350MB to be safe.

While my package can operate without these files, it is much more useful with them, since a core functionality of it is creating synthesized audio (Without r

[2020-06-22 20:47] bluebird75 commented on #431
Since we resolved the issue together with Nir about package ownership, this request is no longer useful. I am closing it.

[2020-06-22 20:47] #431 closed

[2020-06-22 21:59] eduardo-rodrigues commented on #382
Dear PyPI support team, could this request be kindly considered as otherwise we will be constrained to find an alternative way to support our organisation? Thank you.

[2020-06-23 06:35] Ilyushin commented on #426
Up

[2020-06-23 08:51] Oftatkofta opened #465 "Account recovery request"
Request for account recovery.

## PyPI Username

oftakofta

---

##  Reason for request

Reason:
Lost 2FA authentication app and never set up security token.

I still have my pypi token, but it does not allow me to access my account settings.

[2020-06-23 10:14] jamadden commented on #362
The limit has been set to 150MB on pypi.org and test.pypi.org. This is one of the larger limits and files of that size produce a poor experience for end users as well as stressing PyPI, its mirrors and CDNs. Please be aware of this when planning releases.

[2020-06-23 10:14] #362 closed

[2020-06-23 10:18] jamadden commented on #367
The limit has been set to 150MB on pypi.org [and test.pypi.org]. This is one of the larger limits and files of that size produce a poor experience for end users as well as stressing PyPI, its mirrors and CDNs. Please be aware of this when planning releases.

[2020-06-23 10:18] #367 closed

[2020-06-23 10:19] jamadden commented on #368
The limit has been set to 150MB on pypi.org [and test.pypi.org]. This is one of the larger limits and files of that size produce a poor experience for end users as well as stressing PyPI, its mirrors and CDNs. Please be aware of this when planning releases.

[2020-06-23 10:19] #368 closed

[2020-06-23 10:22] jamadden commented on #382
The limit has been increased on pypi.org.

[2020-06-23 10:22] #382 closed

[2020-06-23 10:29] jamadden commented on #391
The project https://pypi.org/project/metas-unclib/ seems to be distributing native binary libraries for a multitude of platforms in a single generic wheel file:

[code]

If that was separated into proper platform-specific distributions (`macos` wheels for macOS, `win32` wheels for 32-bit Windows, `manylinux_x86_64` wheels for 64-bit Linux, etc), it seems likely that each artifact would fit within

[2020-06-23 10:33] eduardo-rodrigues commented on #382
Thank you very much @jamadden, that's truly appreciated, and helpful!

[2020-06-23 10:36] jamadden commented on #395
Does the data vary as frequently as the code or is it largely independent? If it's independent, has the possibility of distributing the data in a separate location, even a separate PyPI distribution, been considered? A 250MB file is a large upload and has costs for PyPI and its mirrors and CDN, and this project has created 13 releases since April. If those were all 250MB that would be a lot of ban

[2020-06-23 10:44] jamadden commented on #410
Let me make sure I understand. [The current release](https://pypi.org/project/analytics-zoo/0.8.1/#files) of this project has a maximum wheel size of 186MB, which is below the 200MB limit. You're saying that the next release will grow by at least 215 - 186 = 29MB?

One year ago, the largest wheel in the 0.5 release was 120MB, so there was a growth of over 60MB in a year. Do you expect the project

[2020-06-23 10:50] jamadden commented on #411
Just so I understand, the project publishes a single source distribution (.tar.gz). It is currently 16MB. That source distribution will temporarily increase in size to 163MB, but in the future, new distributions will again be smaller. Is that right?

[2020-06-23 11:17] jamadden commented on #420
The [source repository linked as the homepage](https://github.com/nlpai-lab/KU_KoLex/) of the project currently contains compiled Linux binaries for an executable, [data/kmat/bin/kmat](  https://github.com/nlpai-lab/KU_KoLex/commit/da5928aa3a3eaea79906f08d629478bb4ab6ac52#diff-f5ed059f4585af58525d8aacfb5a483d). The source .py files [attempt to execute this binary](https://github.com/nlpai-lab/KU_K

[2020-06-23 11:24] jamadden commented on #422
Because distributions that large produce a poor installation experience for end-users, and because they place a burden on PyPI, its mirrors and CDN, moderators are encouraged to help packagers find alternate solutions. Some options include:

- break the package into smaller packages that depend on each other as necessary
- side-load large models or datasets via downloads from elsewhere at runtime/

[2020-06-23 11:31] jamadden commented on #427
The project `ling-gender` does not exist on PyPI. You'll need to create it first before a limit can be changed.

That said, moderators are encouraged to help packages find alternatives to distributing such large files on PyPI, especially if they will be updated often. One such alternative is to side-load (e.g., download, possibly from HTTP(S)) the data file. This can be done at installation time,

[2020-06-23 11:38] jamadden commented on #432
In general, PyPI encourages distributing large models/datasets separately (especially if they can change independently of the code). This project is still small enough that PyPI could accommodate it, but if there is already a working data distribution mechanism, it might be better to continue with that. Would that be possible?

[2020-06-23 11:39] jamadden commented on #445
Can you tell us please what makes it so big, how often new releases are expected (and for how many platforms if it's not pure-Python), and if it is likely to grow over time?

[2020-06-23 11:40] jamadden commented on #446
Can you tell us please what makes it so big, how often new releases are expected (and for how many platforms if it's not pure-Python), and if it is likely to grow over time?

[2020-06-23 11:43] jamadden commented on #464
Because distributions that large produce a poor installation experience for end-users, and because they place a burden on PyPI, its mirrors and CDN, moderators are encouraged to help packagers find alternate solutions. Some options include:

- break the package into smaller packages that depend on each other as necessary
- side-load large models or datasets via downloads from elsewhere at runtime/

[2020-06-23 12:48] wollmich commented on #391
Thanks you for  comment.  Can you help how to do that? At the moment the native binary libraries are specified in the `MANIFEST.in` file. Can have multiple manifest files for each platform?

[2020-06-23 13:01] nicthib commented on #464
It is currently how the package works (using GitPython). I was concerned that downloading files to a pip installation was bad practice, especially since they remain even after a pip uninstall.

Increasing the limit is not imperative though, so I could keep things as-is.

[2020-06-23 13:37] genadijrazdorov opened #466 "Account recovery request"
Request for account recovery.

## PyPI Username

`genadijrazdorov`

---

##  Reason for request

Reason:
  - 2FA authentication app codes are not working

[2020-06-23 14:10] jamadden commented on #391
The desired goal is to have platform-specific wheels containing only the platform-specific files. Usually these variant files are named identically (with the exception of platform-specific suffixes, e.g., .dll vs .so vs .dylib). Often this is accomplished by building the binaries on each platform; [cibuildwheel](https://github.com/joerick/cibuildwheel) has some examples of that, and searching the

[2020-06-23 15:23] MRossol commented on #395
@jamadden the 250mb of zipped data is updated much less frequently than the code. Can you provide an example of how we could distribute the data in a separate distribution but then source it in the code-base?
Thanks

[2020-06-23 16:07] jamadden commented on #395
If you were to publish the data on PyPI, you'd simply package it like normal package data. In the project that needs to use it, you'd list that project as a dependency, and then you'd use `pkg_resources` or [importlib.resources](https://importlib-resources.readthedocs.io/en/latest/) to gain access to its data files.

But I'll quote a senior PyPI moderator as saying that "PyPI isn't really intended

[2020-06-23 17:57] n3011 commented on #396
@yeraydiazdiaz any update on this?

[2020-06-23 20:21] lhenry7 opened #467 "Can't install any package in python:3.8 docker image"
https://gist.github.com/lhenry7/c0fab359756e1db64ad0d8aced216c24

## My Platform
AWS us-east centos 7 docker 19.03.4  container python:3.8

## Network telemetry

### DNS Resolution

[code]

[code]

[code]

[code]

### Traceroutes

#### IPv4

[code]

[code]

#### IPv6 (If available)

[code]

[code]

### HTTPS Requests

#### IPv4

[code]

[code]

#### IPv6 (If available)

[code]

[code]

### TLS Deb

[2020-06-23 20:35] vsuorant commented on #445
The size of casaviewer is primarily due to large C++ framework dependencies (Qt,grpc, casacore). Releases are infrequent, perhaps one or two per year. We plan to support 3 platforms (2 Macos variants and manylinux2014) per release. The size is not expected to grow. The Macos variants are somewhat smaller in size (<100MB)  than the Linux variant.

[2020-06-23 20:36] vsuorant commented on #446
The size of casaplotms is primarily due to large C++ framework dependencies (Qt,grpc, casacore). Releases are infrequent, perhaps one or two per year. We plan to support 3 platforms (2 Macos variants and manylinux2014) per release. The size is not expected to grow. The Macos variants are somewhat smaller in size (<100MB) than the Linux variant.

[2020-06-23 21:55] TylerGubala commented on #362
@jamadden I don't want to strain pypi or its resources; and would like users to have the best experience possible.

Maybe I just don't know what I don't know? Are there alternative packaging schemes that would suit a distribution of this size better?

[2020-06-23 22:34] jamadden commented on #362
Common suggestions include:

- depend on platform-specific tags and system libraries instead of bundling binaries
- break the package into smaller packages that depend on each other as necessary
- side-load large models or datasets via downloads from elsewhere at runtime/installtime.

The last two are especially beneficial if the rate of change of the various pieces is very different.

[2020-06-24 03:37] #464 closed

[2020-06-24 12:31] genadijrazdorov commented on #466
Sorry for the issue. It was a time sync problem.

[2020-06-24 12:31] #466 closed

[2020-06-24 15:04] GabePoel commented on #432
It would be _possible_, but would also be somewhat inconvenient. I don't expect the included models to keep changing. So, if PyPI could accommodate, that would definitely be the most preferable option. Thank you!

[2020-06-25 03:59] Nv7-GitHub opened #468 "HTTP 429 Error"
When I am trying to register for PyPi I am getting a 429 Too Many requests error. What do I do? Any help would be appreciated. I have checked my inbox and I have a bunch of verification links but they all just lead to the login page, in which it says that there is no username with which I specified. The page looks like this:

# 429 Too Many Requests

The action could not be performed because there

[2020-06-25 04:34] di commented on #468
Hi @Nv7-GitHub, can you tell me what username you're attempting to register?

[2020-06-25 05:17] jakubhava opened #469 "Limit Request: h2o-pysparkling-3.0 - 200MB"
Hello folks and,
  we have released PySparkling for Spark 3.0, the same library we have for Spark 2.1 up to Spark 2.4, but we are hitting the size issue we had also for the aforementioned libraries. Could I please ask to increase the size limit for the package to the same size, as for example, https://pypi.org/project/h2o-pysparkling-2.4/.

Right now we can't do a release do PiPy because we exceed

[2020-06-25 07:45] Ilyushin commented on #426
@ewdurbin please, recovery access to my account. It blocks us.

[2020-06-25 15:53] Nv7-GitHub commented on #468
I am trying to register an account with a username of "Nv7", and an email of junk4Nv7@gmail.com

[2020-06-25 16:01] di commented on #468
Hmm, I can verify that you've received four email verification emails. However I don't see any `Nv7` user or any user with that email address.

Is it possible that you've tried to add this email to some other existing account? Or are you attempting to register at https://pypi.org/account/register/ each time?

After you submit the form at https://pypi.org/account/register/, what happens?

[2020-06-25 16:39] Nv7-GitHub commented on #468
I get a screen that looks like this:
![Screenshot](https://i.imgur.com/FwBQSCT.png)

[2020-06-25 16:55] di commented on #468
Got it. Have you attempted to create any other accounts or add any other emails recently? This error occurs based on the activity for a given IP address. Can you try registering from a different IP address?

[2020-06-25 17:05] Nv7-GitHub commented on #468
Do you know any way I can change my IP Address? I don't have a VPN.

[2020-06-25 17:11] di commented on #468
Maybe use a mobile device if you have one?

If not, the rate limit is 2 attempts per day. If you wait ~24 hours without attempting to register from your IP, you should be able to after that period.

[2020-06-25 17:51] Nv7-GitHub commented on #468
I tried using a mobile device, but I still got the error. Since I tried it, will I need to wait till tomorrow?

[2020-06-25 19:59] di commented on #468
In https://github.com/pypa/warehouse/pull/8162 I added the rate-limited IP address to this message. Can you confirm that you're seeing different IP addresses included in this message on both web and mobiile? (You might want to make sure your mobile device is not on your local wifi, as that would give it the same IP address).

[2020-06-25 20:52] Nv7-GitHub commented on #468
Oh, I understand. Earlier, I had been on my Local WiFi because I do not have unlimited, but I do not think PyPi will cross this limit. I will try it.

[2020-06-25 22:03] Nv7-GitHub commented on #468
It worked, thank you!

[2020-06-25 23:39] #468 closed

[2020-06-26 08:46] wollmich commented on #391
I've added platform specific wheels, see https://pypi.org/project/metas-unclib/2.3.1.1/

So this issue can be closed.

[2020-06-26 08:46] #391 closed

[2020-06-26 19:08] kornicameister commented on #430
nearly a month and no action?
this is quite low level quality service? sorry for being not exactly polite, but I am waiting and waiting for someone to help out.
I've lost access to account because of the broken phone and would really like to get back on track here.

[2020-06-26 19:12] kornicameister commented on #430
@yeraydiazdiaz sorry for pinging you here, but I really really really would like to get my account back. Is there any way you could ping someone to help me out?

[2020-06-27 10:46] mjuric opened #470 "Limit Request: oif - 150 MB"
**Project**

https://test.pypi.org/project/oif
https://pypi.org/project/oif

**Size of release**

150MB

**Which indexes**

both PyPI and Test PyPI

**Reasons for the request**

This is a simulator for astronomical surveys of solar system objects (asteroids, KBOs, dwarf planets, etc.). To function, it needs large precomputed data (ephemerides) files. For the time being, we don't expect the compres

[2020-06-27 15:45] chuanqi129 commented on #444
Our release processes are blocking on this size limitation, hi @jamadden could you please help us on it? Thank you very much

[2020-06-27 17:22] thisisakashmahajan opened #471 "Account recovery request"
Request for account recovery.

## akashmahajan

`akashmahajan`

---

##  Reason for request

Reason:
Lost 2FA authentication app or security token

[2020-06-29 05:07] jakubhava commented on #469
Hello, any update, please? Our release pipeline is currently blocked by not being able to publish the mentioned project to PiPy.

Thans a lot for your help!

[2020-06-29 11:16] matijaaa commented on #315
@ewdurbin Can I kindly ask you to perform the standard transfer routine? Cheers

[2020-06-29 13:39] colin4124 opened #472 "Limit Request: Scratchip - 150MB"
**Project**
scratchip https://pypi.org/project/scratchip/

**Size of release**

150MB

**Which indexes**

PYPI

**Reasons for the request**

ScratChip is a framework that can help to build your Chisel and Verilog/Systemverilog project easier.

I have kept it as small as possible, but [Chisel3](https://github.com/freechipsproject/chisel3) distributions (22MB) and  [Mill](http://www.lihaoyi.com/mill

[2020-06-29 17:01] ocefpaf commented on #443
@ewdurbin apologies for pinging you directly but maybe you can help here.

hese packages are part of the Met/Ocean stack and are maintained by ucar/unidata. @dopplershift is the best person to keep maintaining them.

[2020-06-30 00:10] jamadden commented on #444
Could you please explain why this release needs to be nearly one third larger than the current release, and how you expect it to grow in the future?

Is there any possibility of separating this new component into a separate distribution to keep the size of individual artifacts down?

[2020-06-30 00:45] di commented on #469
Hi, it doesn't seem like this project currently exists, https://pypi.org/project/h2o-pysparkling-3.0/ is 404.

I can't raise the limit on a project that doesn't exist. You'll need to publish a small pre release or dev release that you can later delete once the limit is added.

[2020-06-30 00:51] di commented on #432
I've set the upload limit for `peak-finder` to 300 MB on PyPI. Please be mindful of the frequency of releases at that size.

[2020-06-30 00:51] #432 closed

[2020-06-30 00:52] di commented on #420
The per-file limit is now 100MB for all of PyPI.

[2020-06-30 00:52] #420 closed

[2020-06-30 00:53] di commented on #445
I've set the upload limit for `casaviewer ` to 300 MB on PyPI. Please be mindful of the frequency of releases at that size.

[2020-06-30 00:53] #445 closed

[2020-06-30 00:54] di commented on #446
I've set the upload limit for `casaplotms` to 400 MB on PyPI. Please be mindful of the frequency of releases at that size.

[2020-06-30 00:54] #446 closed

[2020-06-30 05:20] jakubhava commented on #469
Thank you @di! I just created the dummy project https://pypi.org/project/h2o-pysparkling-3.0/

[2020-06-30 12:47] tulir opened #474 "Account recovery request"
Request for account recovery.

## PyPI Username

`tulir`

---

##  Reason for request

Reason:

Lost 2FA authentication app or security token

[2020-06-30 13:04] di commented on #469
I've set the upload limit for `h2o-pysparkling-3.0` to 200 MB on PyPI. Please be mindful of the frequency of releases at that size.

[2020-06-30 13:04] #469 closed

[2020-06-30 13:59] jakubhava commented on #469
Thank you very much @di!

[2020-06-30 14:12] RainingComputers opened #475 "Account recovery request"
Request for account recovery.

## PyPI Username

`RainingComputers`

---

##  Reason for request

Reason:
Broke my phone and lost access to 2FA authentication app. Still have access to email.

[2020-06-30 19:35] Panmani opened #476 "Issue: Limit Request: extract-sfm 1.0 - 135 MB"
**Project**
https://pypi.org/project/extract-sfm/1.0/

**Size of release/project**
135

**Which indexes**
PyPI

**Reasons for the request**
There are two files for two machine learning models that I'd like to include along with the package

[2020-06-30 20:52] lorengordon opened #477 "Limit Request: watchmaker - 38 MB"
**Project** - watchmaker

**Size of release** - ~38MB
**Size of project** - ~38MB - I've deleted all but one release, and am still getting an error due to the size of the project.

**Which indexes** - Test PyPI

**Reasons for the request**

We have our project configured to push development releases to Test PyPi, and it has been working for years, but just in the last few days it began failing wit

[2020-07-01 02:25] colin4124 commented on #472
I split it to few small pacakges

[2020-07-01 02:25] #472 closed

[2020-07-01 08:22] maloel opened #478 "Removed many release, but still hitting size limit"
**Project**
https://test.pypi.org/project/pyrealsense2/

**Size of release/project**
How can I know?? I have no idea except that I get an error when uploading:
HTTPError: 400 Client Error: Project size too large. Limit for project 'pyrealsense2' total size is 10 GB. See https://test.pypi.org/help/#project-size-limit for url: https://test.pypi.org/legacy/

**Which indexes**
Test PyPI

**Reasons for

[2020-07-01 14:45] chuanqi129 commented on #444
Thanks @jamadden , there are two reasons for this increase in size, one is that we have the problem of component replacement and coexistence in this release, the old component will be removed in the future release. The other possible reason is that the bug https://github.com/bazelbuild/bazel/issues/9254 of bazel build caused us to adopt a workaround with `BAZEL_LINKLIBS=-l%:libstdc++.a` . For this

[2020-07-01 15:00] di commented on #478
Hi @maloel, thanks for filing an issue. We recently implemented a limit on the total size of a project on PyPI/TestPyPI.

Looking at https://test.pypi.org/stats/, `pyrealsense2` is near the top of the list, with a total project size of 53.6 GB.

What's the reason for the large project size on TestPyPI?

[2020-07-01 15:26] scotthavens opened #479 "PEP 541 Request: smrf"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/smrf

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/scotthavens

**Reasons for the request**

- This is also an invalid project for name squatting as the package has no code or functionality and does not show up in the PyPi  search.
- The `smrf` project appears to have been abandoned with the last commit over 4 years

[2020-07-01 15:54] maloel commented on #478
Hi @di
Is it still that high? We went ahead and removed quite a few releases (>500) -- by my calculation we should be below the 10 GB limit, but I'm not sure.

One of the problems is that we have no way of knowing thru the web interface that I can see. There also doesn't seem to be any retention policy that I can easily change (keep only last two weeks' worth, etc.).

[2020-07-01 17:45] snnn opened #480 "Limit Request: ort-gpu-nightly - 20480 MB"
**Project**
ort-gpu-nightly

https://test.pypi.org/project/ort-gpu-nightly/

**Size of release/project**

The [stat](https://test.pypi.org/stats/) shows we have used 17.8 GB, but indeed I've deteted all the old releases, it shoudn't be so large now.

**Which indexes**

Test PyPI

**Reasons for the request**

We can't publish new any package, even after deleting the old ones. I don't know how to pr

[2020-07-01 18:16] lorengordon commented on #478
I am running into a similar issue with not being able to upload to Test PyPi, despite deleting all but one release. See #477

[2020-07-01 18:17] lorengordon commented on #478
#480 is reporting similar problems...

[2020-07-01 19:08] fredcorpuz06 opened #481 "Issue: Limit Request: wmp-face - 35 MB"
**Project**
wmp-face https://test.pypi.org/project/wmp/

wmp-face version 0.1.1 is under the file limit

**Size of release/project**
Exceeding upload file size limit by 35 MB

**Which indexes**
Test PyPI

**Reasons for the request**
`wmp-face` is a Python module for face detection & recognition built on top of dlib's facial recognizer. I'll be needing additional project size limit eventually becau

[2020-07-02 10:11] maloel commented on #478
Hi @di , I just tried again and the stats on this page don't seem to be updated:
https://test.pypi.org/stats/

I don't know if those numbers are the ones used to decide whether an upload can go thru or not, but it certainly seems that way: we still cannot upload, and this is a major problem for us.

[2020-07-02 16:58] valmar opened #482 "Account recovery request"
Request for account recovery.

## PyPI Username

`omdevteam`

---

##  Reason for request

Reason: Lost 2FA authentication app

[2020-07-02 16:59] valmar commented on #482
Sorry I created the account today, turned on 2FA but then deleted the token from my authentication app

[2020-07-02 17:05] JoshKarpel opened #483 "Account recovery request"
Request for account recovery.

## PyPI Username

`maventree`

---

##  Reason for request

Reason: phone broke, lost 2FA authentication app. Still have all emails associated with the account, but didn't generate recovery codes because I assumed the 2FA auth app state would be recoverable (it was not :( ).

[2020-07-02 19:39] jamadden commented on #444
The limit for the individual files has been set to 350MB on both indexes. Please be mindful of the impact such large releases have across the board as you make releases.

[2020-07-02 19:39] #444 closed

[2020-07-02 19:40] jamadden commented on #476
The Homepage links on the project are invalid (it points to a Github repository that does not exist). Could you please provide the correct homepage?

[2020-07-02 20:00] Panmani commented on #476
Sorry, it was pointing to a private repo. I have updated the link, which now should be pointing to a public one.

[2020-07-03 03:32] chuanqi129 commented on #444
Thanks @jamadden for your help. Very very appreciate 😄

[2020-07-03 19:07] MSeal opened #484 "PEP 541 Request: scrapbook"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/scrapbook

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/MSeal

**Reasons for the request**

The project in question has been abandoned for several years with no activity.

**Maintenance or replacement?**

Replacement. The [existing project](https://github.com/odoku/Scrapbook) on the pypi name has a different intended

[2020-07-03 20:20] jamadden commented on #484
The github owner, @odoku, has recently been active on GitHub. Hopefully they will see this notification about someone wanting to officially take over their PyPI project and reply to this issue. This will count as a first contact attempt.

[2020-07-03 20:39] jamadden commented on #484
I've also sent emails to the public contact email, and the private contact email associated with the project owner's account.

[2020-07-03 21:12] dev-11 opened #485 "Account recovery request"
Request for account recovery.

## PyPI Username

`dev-11`

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:
Phone broke and I didn't generate recovery codes unfortunately.

[2020-07-04 07:42] gnarayang opened #486 "PEP 541 Request: nest"
**Project to be claimed**
`PROJECT_NAME`: https://pypi.org/project/nest

**Your PyPI username**
`USER_NAME`: https://pypi.org/user/NeST

**Reasons for the request**
The project has been inactive for a long time i.e, no releases since 2012
and we currently have a project with the same name and would like a
name transfer.

**Maintenance or replacement?**
Replacement
https://gitlab.com/nitk-nest/nest

[2020-07-05 11:42] Dancho80 commented on #478
any update on that? Appears like https://test.pypi.org/stats/ is not updated for several days and we cannot upload any files due to a size limit despite the fact that we deleted almost all releases there: project `pyrealsense2`

[2020-07-05 13:15] tensorfactory opened #487 "Issue: Limit Request: Pifacecam - 150 MB"
**Project**
Pifacecam
https://pypi.org/project/pifacecam

**Size of release/project**
150 MB

**Which indexes**
PyPI

**Reasons for the request**
Need to use a larger model for better facial recognition accuracy.
Future releases sizes may increase in size as larger models are being developed.

[2020-07-06 10:58] jamadden commented on #487
Hi and thanks for the request!

Before proceeding, I have a few questions and suggestions. First, the source distribution (sdist) currently on PyPI ([pifacecam-1.0.3.tar.gz](https://files.pythonhosted.org/packages/82/aa/e10f45bc4594f195746b06cdc715c794af929e023c70b699d80216209ba6/pifacecam-1.0.3.tar.gz)) is only 12k and doesn't include any source files. Likewise, the github repository linked [as t

[2020-07-06 16:01] di commented on #480
Looks like we have a bug (https://github.com/pypa/warehouse/issues/8213). I've temporarily increased the limit to 50GB while we sort this out -- once we do, this limit will be reset to 10GB.

[2020-07-06 16:01] #480 closed

[2020-07-06 16:01] di commented on #478
Hi all, looks like we might have a bug, I filed https://github.com/pypa/warehouse/issues/8213 in case anyone is interested in figuring out why this isn't working as expected.

For now I've increased the limit for `pyrealsense2` to 100GB while we sort this out -- once we do, this limit will be reset to 10GB.

[2020-07-06 16:01] #478 closed

[2020-07-06 16:03] di commented on #477
Looks like we have a bug (https://github.com/pypa/warehouse/issues/8213). I've temporarily increased the limit to 100GB while we sort this out -- once we do, this limit will be reset to 10GB.

[2020-07-06 16:03] #477 closed

[2020-07-06 19:44] vsuorant commented on #421
Any updates on this?

[2020-07-06 19:52] vsuorant commented on #422
Splitting the package doesn't make much sense as the application requires all of the data to start up. We can have most of the versions in our own artifactory  but it would be beneficial to our non-expert users to be able to simply download the data as a dependency directly from PyPI.

[2020-07-06 21:30] snnn commented on #480
Thank you!

[2020-07-07 03:26] tensorfactory commented on #487
Hi Jason,
	Thank you for your thoughtful suggestions and questions.
I am new to these python packaging/distribution processes.
After spending hours Googling about how to tag wheel file, meaning of each tag and what should be the platform tag for Raspberry Pi OS, I managed to create a new wheel file named "pifacecam-1.0.5-cp37-cp37m-linux_armv7l.whl".
Hopefully this is meeting PyPi's requirement. I

[2020-07-07 12:17] jamadden commented on #487
That matches the tags [piwheels uses](https://www.piwheels.org/project/gevent/) and is listed as a [valid tag in warehouse](https://github.com/pypa/warehouse/blob/bfba7ca3d5ac9db11e91f528f45718fa38123ee7/warehouse/forklift/legacy.py#L102-L120) so I think you should be good!

This is just one opinion, but it seems to me that since you list a proprietary license in your README and do not release sou

[2020-07-07 12:17] #487 closed

[2020-07-07 15:36] di commented on #480
FYI, the bug was fixed and the `ort-gpu-nightly` package is now at less than 1 GB, so I've reset the limit to 10GB. Sorry for the hassle!

[2020-07-07 15:37] di commented on #478
FYI, the bug was fixed and the `pyrealsense2 ` package is now at 4.4 GB, so I've reset the limit to 10GB. Sorry for the hassle!

[2020-07-07 15:38] di commented on #477
FYI, the bug was fixed and the `watchmaker` package is now at less than 1 GB, so I've reset the limit to 10GB. Sorry for the hassle!

[2020-07-07 15:41] lorengordon commented on #477
Thanks @di!

[2020-07-08 00:00] snnn commented on #480
Thank you!

[2020-07-08 11:47] encukou commented on #459
The purpose of the reservation is mainly to make sure the Python package name `libiio` is not used for anything else than [libiio](https://github.com/analogdevicesinc/libiio). If you wish to maintain the bindings on PyPI, I don't see a problem with unblocking the name.
@tfcollins, do you want to do that? If so, could you—as a courtesy—ask `libiio` maintainers if they are OK with you maintaining th

[2020-07-08 12:50] tfcollins commented on #459
@encukou We've already uploaded a package with an alternative name pylibiio.

-Travis

[2020-07-08 18:09] Marco-Sulla commented on #38
Well, the last time I contacted @slezica was April 14. I suppose he have not enough time to add me as co-admin.

[2020-07-08 19:56] szha commented on #243
Ping @ewdurbin

[2020-07-08 20:00] ewdurbin commented on #243
Bleh, thank you for the ping @szha! The last month has been wild.

In the meantime, some new updates to how limits are handled were introduced. I need to do the following (and will in the US Eastern morning tomorrow):

- [ ] Remove the agreed releases
- [ ] Calculate current usage based on new project wide limits and share here to decide on an appropriate limit
- [ ] Set new project wide limits fo

[2020-07-08 20:26] encukou commented on #355
These names are reserved mainly to prevent people from accidentally picking a name that is already used in Fedora.

If you maintain a long-standing project whose name was reserved for Fedora, and want to upload it to PyPI, please let me (or the PyPI admins) know so it can be unblocked for you.

[2020-07-09 00:52] mustafaquraish commented on #438
@jamadden tagging you since you seem to be more active here. Any update on this?

[2020-07-09 15:25] harveywi opened #488 "Account recovery request"
Request for account recovery.

## PyPI Username

`drwjharvey`

---

##  Reason for request

Reason:
Never set up 2FA, now account is inaccessible.

[2020-07-10 08:23] Command2017 opened #489 "Issue: Limit Request: code-aster-win - 150MB"
code-aster-win
https://pypi.org/project/code-aster-win/

**Size of release/project**
My current project is around 100 to 150 MB

**Which indexes**
I need PyPI

**Reasons for the request**
Actually my program is small (3 commands), but my dependencies are big. I want to make the FEM simulation program code_aster easy installable and accessible via python. And the simulation program is around that s

[2020-07-11 00:43] pshanbhag commented on #449
It has been almost a month since I raised this request. Can I get some help with this, please? We want to do new release on this project fairly soon.

Thanks

[2020-07-11 14:00] schlegelp opened #490 "PEP 541 Request: skeletor"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/skeletor

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/observing

**Reasons for the request**

The project does not appear to exist and I don't know why that name would be disallowed.

**Maintenance or replacement?**

New package. Repository: https://github.com/schlegelp/skeletonizer

**Contact and additional researc

[2020-07-12 04:58] BharatKalluri opened #491 "Account recovery request"
Request for account recovery.

## PyPI Username

`bharatkalluri`

---

##  Reason for request

Reason:

  - Lost 2FA authentication app or security token

Since the last time I logged in, I have changed my phone and laptop. I have been using andOTP on android and since I have replaced my phone, I have lost the 2FA app. 😭

I do have the username/password and the access to my github account which co

[2020-07-13 09:13] minerllabs opened #492 "Limit Request: minerl - 350 MB"
This is a follow-up size increase request from (https://github.com/pypa/warehouse/issues/6241)

Our project minerl is a reinforcement learning simulator which allows its users to train AI agent in Minecraft. We package several jars along with minerl which the python library communicates with to start the simulator, but we need a size increase to enable our next release. **The size target is 350 MB

[2020-07-13 20:37] prashanth-up commented on #381
@yeraydiazdiaz I believe the period of six weeks have completed. Is there an update on the issue?

[2020-07-13 23:12] dioph commented on #409
Hello there! Any updates on this?

[2020-07-14 10:04] jamadden commented on #409
This has been flagged for the admins to transfer. Please keep in mind that there are a large number of these requests and a very small number of admins. Thank you!

[2020-07-14 10:10] jamadden commented on #490
There was briefly a release of that project back in 2012. I have used the registered email address for the project owner and contacted them with a courtesy notification. Unless the status of the project has changed, the name will be available for transfer after July 21.

[2020-07-14 10:17] jamadden commented on #449
The owner of the project, `blakegc`,  was active on PyPI within the last month, and has a verified email address. I've contacted them there, but was unable to locate any other means of contact. Hopefully we get a response.

[2020-07-14 10:38] schlegelp commented on #490
Brilliant! Anything I need to do now or after July 21?

[2020-07-14 10:50] jamadden commented on #490
Assuming the current owner doesn't object, then after that date someone should move this ticket to the 'awaiting admin transfer' status. If that hasn't happened, then please feel free to ping this ticket as a reminder.

[2020-07-14 12:45] kilacoda commented on #450
*It's been 31 days....* can we get a response on this please?

[2020-07-14 13:40] jamadden commented on #450
Thank you for your patience! All the moderators are volunteers with other jobs. We do the best we can.

The project name `manim` was banned as malware on May 10, 2019 by @dstufft. I'm not aware of any documented policies for reversing malware bans, so I want to surface this to the attention of @pypa/pypi-moderators. It seems fine to to me to unban it for this purpose?

[2020-07-14 14:18] nudles opened #493 "Limit Request: SINGA - 450 MB"
**Project**
Project: Apache SINGA
https://test.pypi.org/project/singa/
https://pypi.org/project/singa/

**Size of release/project**
450 MB

**Which indexes**
Both

**Reasons for the request**

[Apache SINGA](singa.apache.org/) is a library focusing on distributed deep learning.
Our project depends on external C++ libs which are not available in pypi repo; therefore, we bind them into the wheel pac

[2020-07-14 14:27] MinSong2 opened #494 "Account recovery request"
Request for account recovery.

## PyPI Username

`minsong_yonsei`

---

##  Reason for request

Reason:

[2020-07-14 14:29] MinSong2 commented on #494
I do not recall my authentication code. Please help.

[2020-07-14 14:48] pradyunsg commented on #450
Yes, I think we can/should unban this name and transfer this as requested.

[2020-07-14 14:48] jkonecny12 opened #495 "My project name simpleline is rejected"
Hello,

I have a project named simpleline and I wanted to release it on PyPi. However, I've got a message:

[code]

Unfortunately, I don't know why it is not allowed. I can't see the project on PyPi search and I don't think it has a conflict with Python library. Unfortunately, I wasn't able to find a list of prohibited words or how to find out if name was registered if there is no release.

Could

[2020-07-14 14:51] ewdurbin commented on #495
This is due to a conflict with a Fedora distribution name, see #355.

[2020-07-14 14:56] ziima opened #496 "Issue: PEP 541 Request: python-openid"
**Project to be claimed**

`python-openid`: https://pypi.org/project/python-openid/

**Your PyPI username**

`ziima`: https://pypi.org/user/ziima

**Reasons for the request**

I'm currently maintaining the project myself under name python-openid2 https://pypi.org/project/python-openid2/. I was able to get access to the original projects' github repository, but I couldn't found anybody who would st

[2020-07-14 14:58] pradyunsg commented on #481
@fredcorpuz06 What is the exact size being requested for this project? It is currently at 60MB.

[2020-07-14 14:59] jkonecny12 commented on #495
I'm maintainer of the package in Fedora and also upstream developer.

Hi @hroncok, could you please tell me what to do now?

[2020-07-14 15:00] jkonecny12 commented on #495
Also shouldn't I get meaningful message with the link the to issue as proposed on https://github.com/pypa/pypi-support/issues/355#issuecomment-621641055 ?

[2020-07-14 15:01] pradyunsg commented on #492
@minerllabs Please elaborate on why the size on this package has increased, and why distributing the additional files/content as part of the PyPI package would be appropriate.

[2020-07-14 15:09] pradyunsg commented on #489
Thanks for filing this issue @Command2017!

I understand these dependencies are non-Python dependencies that you want to distribute along with your code. Is there a rough estimate of how much more space might be needed in the future? Would it be feasible to have a manual, post-install step (like [NLTK handles their data](https://www.nltk.org/data.html)) for this?

[2020-07-14 15:20] hroncok commented on #495
I can attest that https://src.fedoraproject.org/rpms/python-simpleline is maintained by @jkonecny12.

[2020-07-14 15:25] carltongibson opened #497 "PEP 541 Request: django-filters (with an s)"
**Project to be claimed**

`django-filters`: https://pypi.org/project/django-filters/

**Your PyPI username**

`carltongibson`: https://pypi.org/user/carltongibson

**Reasons for the request**

Both from a long time ago there are two packages: django-filter, which is still going and widely used, and django-filter**s** with the "s", which is long since inactive.

This is the cause of some confusion

[2020-07-14 15:37] jamadden commented on #497
Currently, the only way I know of to to handle a "redirect" from project A to project B is to have project A publish a new release containing nothing but a dependency on project B. That is, publish a new release of `django-filters` that has nothing but a trivial `setup.py` (details about an informative long-description, etc, left out):
[code]

The [ZODB3](https://pypi.org/project/ZODB3/) project i

[2020-07-14 15:42] di commented on #495
(CC @encukou)

[2020-07-14 15:49] encukou commented on #495
That's right! Please make the name available to @jkonecny.

[2020-07-14 15:50] baskoopmans commented on #497
That might bring in more confusion, if you install django-filters==1.0 (depends on django-filter) it doesn't force the latest version of django-filter and that means keeping the django-filter and django-filters releases in sync. Maybe not a viable solution :)

[2020-07-14 15:55] di commented on #495
@jkonecny12 Can you let us know your PyPI username?

[2020-07-14 16:14] jamadden commented on #497
I don't see how it would require that at all. The redirect project would not specify any version pins. Only one release of it would ever be published.

[2020-07-14 16:20] jkonecny12 commented on #495
*jkonecny* is my username. Thanks!

[2020-07-14 16:23] carltongibson commented on #497
I think we might be able to add a warning to the setup.py too (Django does, or used to do, this for Python 2 compatibility IIRC.)

Possibly there's not the an active issue here... 🤔

[2020-07-14 16:30] di commented on #495
@jkonecny12 Should now be available for you to publish.

[2020-07-14 16:36] jkonecny12 commented on #495
Simpleline project is now published on pypi. Thanks a lot for your help!

Feel free to close this issue.

[2020-07-14 17:01] #495 closed

[2020-07-14 19:14] hugovk commented on #496
Looks like @tnarg is the maintainer of https://pypi.org/project/python-openid/ (same username and profile image).

[2020-07-14 19:26] tnarg commented on #496
I do not have a way to recover the @tnarg pypi account as I no longer have access to the employer email address associated with the account.

[2020-07-14 20:30] jamadden commented on #496
I don't see that email listed publicly on either the python-openid project page, or on the `tnarg` user profile page. It is listed in the PyPI user database. @tnarg, can you confirm what that email was? Have you attempted any activity with that account lately? If so, can you confirm what sort of activity and what IP address the activity came from? Feel free to email me directly at the email addres

[2020-07-14 21:23] rtibbles opened #498 "Account recovery request"
Request for account recovery.

## PyPI Username

`rtibbles`

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:

Phone bricked itself, and I had not generated recovery codes. Still have access to my email address if needed for verification.

[2020-07-14 22:27] jamadden commented on #496
After exchanging emails with @tnarg I'm convinced that the two accounts belong to the same person. @tnarg has indicated willingness to vacate the python-openid name. Usually, when we are in contact with the current owner of the name, we ask them to perform the transfer, but @tnarg no longer has access to the PyPI account.  I've verified that @ziima has contributed to the project, so I will ask the

[2020-07-15 15:19] di commented on #462
I've reached out to @crasta and @prencher via email, hopefully they can respond here.

[2020-07-15 15:29] davidism commented on #462
That would be @crast, not crasta

[2020-07-15 16:44] rsketine opened #499 "Limit Request: intel-tensorflow - 400 MB"
Project: intel-tensorflow

Size of release:  386 MB

Which indexes: both

Reasons for the request: intel-tensorflow is intel optimized tensorflow, which has better performance on intel platform. We'd like increase the limit to 400MB caused by new component added in this package. We are trying to release 2.3 intel-tensorflow.

Issues causing this problem are not resolved yet:
https://github.com/ten

[2020-07-15 16:48] EriKWDev opened #500 "Issue: PEP 541 Request: pypen"
PEP 541 https://www.python.org/dev/peps/pep-0541/ describes the workflow for
any project claiming issues and conflict resolution.  Make sure you read and
understand the PEP to set your expectations on the possible outcomes.

**Project to be claimed**
`pypen`: https://pypi.org/project/pypen

**Your PyPI username**
`ErikWDev`: https://pypi.org/user/ErikWDev

**Reasons for the request**
The current o

[2020-07-15 17:02] jamadden commented on #500
Have you tried emailing the address listed at https://pypi.org/project/pypen/?

It seems likely that @nir0s here is the same as https://pypi.org/user/nir0s/, the owner of pypen. Perhaps @nir0s will be good enough to comment on this issue.

[2020-07-15 17:13] EriKWDev commented on #500
Hi! Thanks for pointing out the email. It was hidden under a hyperlinnk that I now found.
I have now mailed him and asked about the state of pypen and linked to this request. I also asked if he could join the discussion here :)
@nir0s

[2020-07-15 19:40] nir0s commented on #500
Heh. By all means. Have fun.

[2020-07-15 20:21] jamadden commented on #500
@nirOs: Would you be willing to transfer the name on PyPI yourself by adding `ErikWDev` as another owner? `ErikWDev` can then remove you as an owner. This is much faster than waiting for an admin to find the time to deal with it, and it leaves a clear audit log showing these actions.

[2020-07-15 20:23] jamadden commented on #500
@Nir0s: Would you be willing to transfer the name on PyPI yourself by adding ErikWDev as another owner? ErikWDev can then remove you as an owner. This is much faster than waiting for an admin to find the time to deal with it, and it leaves a clear audit log showing these actions.

[2020-07-16 03:52] andykee commented on #433
Hi, just wanted to check in on the progress of this request.

Thanks!

[2020-07-16 04:16] prencher commented on #462
Hey friends, I've made @davidism an owner on wtforms-alchemy. I don't have access to wtforms-django, so @crast will have to do that.

Feel free to remove me as an owner as well, I don't appear to have the ability to remove myself.

[2020-07-16 07:14] EriKWDev commented on #500
Thank you for your kindness @nir0s :) My friend and I will both be very happy to get the name we envisioned our project to have.

[2020-07-16 10:33] jamadden commented on #433
Thanks for the prod. No response has been received. This issue has been tagged for the admins to perform the transfer.

[2020-07-16 14:20] davidism commented on #462
Thanks @prencher! Got the new permissions set up for WTForms-SQLAlchemy and we'll make a new release soon.

[2020-07-16 19:28] cowlicks commented on #421
Hi, ryanraba has been added as an owner of "casatools". Sorry for the delay.

On Sat, Jun 6, 2020 at 2:28 AM Yeray Diaz Diaz <notifications@github.com>
wrote:

[2020-07-16 21:36] c24t opened #501 "Account recovery request"
Request for account recovery.

## PyPI Username

`cnk`

---

##  Reason for request

Reason:
  - Lost 2FA authentication app or security token

[2020-07-16 23:16] dev-11 commented on #485
It has been two weeks since I have raised this request. Pretty slow support. As far as I see, no account has been recovered since 18 May.

Could somebody unlock my account please? @di @ewdurbin

[2020-07-17 08:39] EriKWDev commented on #500
@nir0s, could you add me as the owner of pypen on pypi.org?

[2020-07-17 09:03] nir0s commented on #500
Done.

[2020-07-17 09:19] EriKWDev commented on #500
I can confirm that it worked and that I am now the owner of pypen. Thank you @nir0s for you cooperation and @jamadden for your quick response.

[2020-07-17 09:26] #500 closed

[2020-07-17 10:30] mgoerens opened #502 "PEP 541 Request: krake"
**Project to be claimed**

`krake`: https://pypi.org/project/krake

**Your PyPI username**

`mgoerens`: https://pypi.org/user/mgoerens

**Reasons for the request**

The current `krake` package on PyPI is unmaintained since 2017. The referenced code base (https://github.com/lmittmann/krake) does not exist anymore (or is private). The maintainer `lmittmann` did not provide any means to contact him (

[2020-07-17 11:48] mgoerens commented on #502
Actually I just realized I can try to summon @lmittmann here.

@lmittmann: TL;DR: would you be willing to abandon ownership of the name `krake` on PiPY ? I have a project with a similar name and it looks like your project is not existing anymore.

[2020-07-17 13:05] lmittmann commented on #502
@mgoerens There haven't been any new releases in the past years. However, the package is still used by a few projects. I don't want to change the package name.

[2020-07-17 13:22] mgoerens commented on #502
@lmittmann That's too bad.. Please let me know if you change your mind. This would be very helpful for our project. This is causing some confusion as some users already downloaded the wrong package, and we'll now have to come up with a clever name for the python package (different than the project name obviously).

Anyway, thanks for taking the time to answer. Please consider of updating this issu

[2020-07-17 13:26] jamadden commented on #502
Closing since the request has been answered by the project owner.

[2020-07-17 13:26] #502 closed

[2020-07-18 19:51] domdinicola commented on #463
@vgrem @kgadek

[2020-07-20 06:18] michaelhaubenwallner opened #503 "Account recovery request"
Request for account recovery.

## PyPI Username

`d2m`

---

##  Reason for request

Reason:
  - Lost 2FA authentication app or security token

[2020-07-20 09:02] yjlch1016 opened #504 "Account recovery request"
Request for account recovery.

## PyPI Username

yjlch1016

##  Reason for request

Reason: Lost 2FA authentication app or security token

[2020-07-20 16:32] dopplershift commented on #443
Gentle ping?

[2020-07-20 16:47] segevfiner opened #505 "Unable to access PyPI's CDN (files.pythonhosted.org) on macOS with IPv6 connectivity"
Original Issue: https://github.com/pypa/warehouse/issues/8292

I'm unable to use pip to install any packages due to it failing to access PyPI's CDN (files.pythonhosted.org), and sometimes PyPI itself, on macOS with IPv6 connectivity (Enabled & available on the network, this is a true dual-stack network, with both real IPv4 & IPv6 address, I know, right? An actual ISP that does that)

The socket ge

[2020-07-20 17:09] lkagami opened #506 "Acpype - 120 MB"
**Project**

https://pypi.org/project/acpype/
**Size of release/project**

60MB
**Which indexes**

PyPI
**Reasons for the request**

A tool based in Python to use Antechamber to generate topologies for chemical compounds and to interface with others python applications. The Ambertools package absence for pype implies the addition of Antechamber binaries for the script execution. Please increase th

[2020-07-20 17:39] di commented on #505
Do you have any antivirus or firewall enabled?

[2020-07-20 18:11] vsuorant commented on #421
Thanks. I believe this now resolved.

[2020-07-20 18:20] vsuorant opened #507 "Limit Request: casatools - 150 MB"
**Project**

https://pypi.org/project/casatools

**Size of release/project**
150MB

**Which indexes**
PyPI

**Reasons for the request**
Casatools has a lot of compiled C++ backend code. Releases will be provided for Linux, and two recent Macos versions. Current package sizes range from 105MB to 120MB depending on the platform so 150MB should be sufficient for the foreseeable future.

[2020-07-20 19:30] segevfiner commented on #505
macOS builtin firewall, no antivirus.

[2020-07-20 19:50] jamadden commented on #505
I mentioned on the original issue that I have a similar configuration (public IPv6, natted IPv4, macOS 10.15.6, firewall on) that works for me. e.g.,
<details>
<summary>curl —ipv6 output</summary>

[code]

</details>

My curl works, but the original poster got "getpeername() failed with errno 22: Invalid argument". The man page for `getpeername` says `EINVAL` is returned when "socket has been shut

[2020-07-20 19:57] minerllabs commented on #492
Many of our users run MineRL in an environment where Gradle builds (sdist) are not possible. We're trying to distribute wheels with built natives for manylinux, mac-osx, and windows.

[2020-07-21 21:23] vidstige commented on #425
Hi,
Any news on the admin transfer?

[2020-07-21 23:27] segevfiner commented on #505
This is happening against pypi.org intermittently too. Strangely enough it doesn't happen from the browser, at least I didn't see it happen yet. Wireshark is showing that I'm getting back an ICMPv6 hop limit exceeded error back after it tries to send a TCP SYN a few times and doesn't get an answer back. So a routing loop somewhere? Or is the hop limit on macOS too low?

[pypi-ipv6-issue.pcapng.zip

[2020-07-22 07:10] schlegelp commented on #490
Hi @jamadden. Any news on this? :)

[2020-07-22 11:30] jamadden commented on #490
Thanks for the ping. No response was received so I've asked the admins to complete the transfer.

[2020-07-22 12:01] sudheerbandi opened #508 "Account recovery request"
Request for account recovery.

## PyPI Username

venkatakandula
Venkata.Kandula@vertexinc.com

##  Reason for request

 Lost 2FA authentication app or security token

Reason:
My iPhone battery dammaged no replacement and no backup

[2020-07-22 12:02] sudheerbandi opened #509 "Account recovery request"
Request for account recovery.

## PyPI Username

kishore-bhumadi
Kishore.Bhumadi@Vertexinc.Com

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:
phone stopped working and No backup code and no phone backup.

[2020-07-22 17:30] attardi opened #510 "PEP 541 Request: wikiextractor"
**Project to be claimed**
`PROJECT_NAME`: https://pypi.org/project/wikiextractor

**Your PyPI username**
`USER_NAME`: https://pypi.org/user/attardi

**Reasons for the request**
I am the developer of the Wikiextractor package (https://github.com/attardi/wikiextractor) from which mAboshokor created the PyPi project.

**Maintenance or replacement?**
I would like to replace the project with a newest v

[2020-07-22 20:21] hugovk commented on #510
https://pypi.org/project/wikiextractor/ links to https://github.com/MouhamadAboShokor/wikiextractor, so let's ping @MouhamadAboShokor.

I also see a PR of the package files at https://github.com/attardi/wikiextractor/pull/180, so hopefully @MouhamadAboShokor will be happy to give PyPI access too :)

[2020-07-24 13:31] attardi commented on #510
Thanks for the suggestion. I wrote a comment on the PR to @AboShokar.

[2020-07-24 16:31] seandstewart opened #511 "PEP 541 Request: forge"
**Note:** I'm opening a new issue because it appears my original ticket (#442) from 6 weeks ago got lost in the shuffle. Below is the original request:

I understand that this is an open source project and everyone's time is valuable. I do not want to seem pushy or unappreciative of the large amount of work this team does. However, is it possible to get the ball rolling on this request?

[2020-07-24 23:59] busunkim96 opened #512 "PEP 541 Request: google-cloud-functions"
**Project to be claimed**

`google-cloud-functions`: https://pypi.org/project/google-cloud-functions

**Your PyPI username**

`gcloudpypi`: https://pypi.org/user/gcloudpypi/

**Reasons for the request**

This project uses the "Google Cloud" trademark.

**Maintenance or replacement?**

We will publish a different package. https://github.com/googleapis/python-functions

**Contact and additional rese

[2020-07-25 17:13] prashanth-up commented on #381
@yeraydiazdiaz Do I qualify for the Package Name Ownership now or not ?

[2020-07-25 20:28] Marco-Sulla commented on #38
Up

[2020-07-26 15:26] hellock opened #513 "PEP 541 Request: mmdet"
**Project to be claimed**

`mmdet`: https://pypi.org/project/mmdet

**Your PyPI username**

`openmmlab`: https://pypi.org/user/openmmlab

**Reasons for the request**

The user `651juan` published a pypi package using the name mmdet based on our project [mmdetection](https://github.com/open-mmlab/mmdetection), but it has not received updates for 8 months. We would like to maintain it and publish ne

[2020-07-26 22:19] szha commented on #243
@ewdurbin gentle ping on this.

[2020-07-26 23:04] pshanbhag commented on #449
Did we get any response from `blakegc`? What is the typical duration we want to wait before we decide alternate options for handling this?

[2020-07-27 02:31] theceebee commented on #378
Pumping this thread to see if we've satisfied the requirements.

[2020-07-27 07:17] assaftibm opened #514 "PEP 541 Request: sib"
**Project to be claimed**
`PROJECT_NAME`: https://pypi.org/project/sib

**Your PyPI username**
`USER_NAME`: https://pypi.org/user/assaftibm

**Reasons for the request**
The current `sib` project on PyPI was registered in 2016 and has never been used. There were no releases (see https://libraries.io/pypi/sib) and running `pip install sib` fails.

Also, it has been abandoned by the registered mainta

[2020-07-27 07:56] schlegelp commented on #490
Hi @jamadden, thanks for flagging the repo for transfer! Can I ask you for a timeline on this?

[2020-07-27 11:19] jamadden commented on #449
The owner has been reached via email, even though they haven't responded in public yet. I received an email response from the project owner stating that they would look at this issue. That was 7 days ago.

[2020-07-27 12:29] kaldan007 opened #515 "transfer the name"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/PROJECT_NAME

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/USER_NAME

**Reasons for the request**

**Maintenance or replacement?**

**Contact and additional research**

[2020-07-27 12:59] jamadden commented on #515
Seems to have been opened by mistake, the template was not filled out.

[2020-07-27 12:59] #515 closed

[2020-07-27 18:31] rsketine commented on #499
previous request submitted from our team https://github.com/pypa/pypi-support/issues/444. Hoping once the Bazel issue is fixed we might be able to see the size improvements.
Hi @jamadden and @pradyunsg could you please look into this.? Very appreciated

[2020-07-28 06:35] mrkmndz opened #516 "Account recovery request"
Request for account recovery.

## PyPI Username

`markmendoza`

---

##  Reason for request

Reason:
* set up 2 factor before recovery codes were available
* had to replace phone due to damage, lost 2FA app

[2020-07-28 08:37] matijaaa commented on #315
@ewdurbin @jamadden  Any updates?

[2020-07-28 10:24] jamadden commented on #499
The limit has been set to 450MB on pypi.org and test.pypi.org. This is one of the larger limits and files of that size produce a poor experience for end users as well as stressing PyPI, its mirrors and CDNs. Please be aware of this when planning releases.

[2020-07-28 10:24] #499 closed

[2020-07-28 10:27] jamadden commented on #507
Done.

[2020-07-28 10:27] #507 closed

[2020-07-28 10:32] jamadden commented on #470
The limit has been changed on both indexes.

However, if you have a working system to download large data files now, and there is any possibility they could change with a frequency different than the code, it can improve end user experience and reduce load on PyPI and its mirrors if that system remains available. (PyPI isn't designed to distribute data files, especially not those that change frequ

[2020-07-28 10:32] #470 closed

[2020-07-28 10:37] jamadden commented on #414
The limit has been increased on Test PyPI. Keep in mind there is an overall limit for all files in the project as well; removing old files may sometimes be necessary.

[2020-07-28 10:37] #414 closed

[2020-07-28 10:43] jamadden commented on #476
The limit for extract-sfm has been increased on pypi.org

[2020-07-28 10:43] #476 closed

[2020-07-28 11:00] jamadden commented on #293
I don't understand why this project needs to include all of pyspark again. Why can't it just use pyspark as a dependency?

I also don't understand how the "additional cloud libraries" need another 100MB beyond what pyspark itself uses. What makes them so big?

If there was a homepage/git repo or some other information about this fork provided I might be able to answer those questions for myself, b

[2020-07-28 11:08] jamadden commented on #506
Do I understand that Antechamber is a third-party binary (native) program of around 120MB that you wish to distribute via PyPI?

If so, do you plan to compile and distribute wheels for each of your supported platforms? Right now there's a single wheel (acpype-0.1.1-py2.py3-none-any.whl)[https://files.pythonhosted.org/packages/6b/ab/b4c31082ae8f86eb160c8632a320fdac9e29b48ed65d7629d6c99797c987/acpyp

[2020-07-28 12:16] sudheerbandi commented on #509
Created new accounts

[2020-07-28 12:16] #509 closed

[2020-07-28 12:16] sudheerbandi commented on #508
Created new accounts

[2020-07-28 12:16] #508 closed

[2020-07-28 13:22] norcalli opened #517 "Request to be added as maintainer on pynvim"
My pypi username is `ashkankiani`. I'm one of the core maintainers on Neovim. Previously, the `pynvim` releases were being maintained by `bfredl` (which is his username on Github and on pypi). Unfortunately, right now he's unavailable, and we'd like to publish a bugfix, but no one has publish rights. I wanted to see if I could be added as a maintainer, and then from there I could add other core de

[2020-07-28 13:35] jamadden commented on #517
The only official process in place for something like that is outlined in [PEP 541](https://www.python.org/dev/peps/pep-0541/). There's a separate issue template for that process. Note that it takes a minimum of 6 weeks to complete that process.

[2020-07-28 14:03] norcalli commented on #517
Understood, I see the conditions on there and I'll see about preparing it, but obviously getting in touch with the original maintainer would be preferred.

[2020-07-28 14:13] jamadden commented on #517
It would probably help organization efforts if you just refer to this issue from the new one, and close this one.

I've gone ahead and emailed the verified email address that PyPI has on file for @bfredl to get the clock started. I wasn't able to find any other contact information besides the github profile.

[2020-07-28 17:03] rsketine commented on #499
Thank you very much for the increase.

[2020-07-28 17:31] garrettwrong opened #518 "Limit Request: cufinufft - 122 MB"
**Project**
https://test.pypi.org/project/cufinufft/1.0/

**Size of release/project**

122 MB per wheel, I believe we have 6 manylinux2010 wheels at this time.

**Which indexes**

Both PyPI and Test PyPI

**Reasons for the request**

We are trying to deploy a manylinux2010 based distribution of CUDA C/C++ accelerated code.  Our CUDA library is approximately 50MB alone because it contains code for

[2020-07-29 10:22] jamadden commented on #518
The limit has been set on test.pypi.org, but you'll have to create the project on pypi.org before the limit can be set there.

[2020-07-29 11:13] garrettwrong commented on #518
Hi thanks! I've confirmed we can stage the wheels on the testing index after the change.

I've pushed an sdist to PyPI: https://pypi.org/project/cufinufftpy/1.0/

Can we increase that limit too? Thanks!

[2020-07-29 11:19] jamadden commented on #518
The limit has been increased on pypi.org.

[2020-07-29 11:19] #518 closed

[2020-07-29 19:40] LennyPhoenix opened #520 "PEP541 Request: Jank"
**Project to be claimed**

`jank`: https://pypi.org/project/jank

**Your PyPI username**

`DoAltPlusF4`: https://pypi.org/user/DoAltplusF4

**Reasons for the request**

The project has no description, no licence, and no functional release. It cannot be downloaded via PIP.
The author's email address is invalid (sam@keen.io, see below) and the github page (https://github.com/keenlabs/canteen) is als

[2020-07-29 20:05] DoAltPlusF4 commented on #520
@keenlabs Is the organisation that apparently owns the project, despite Sam Gammon not being listed with their members.

[2020-07-30 03:06] awsjoez opened #521 "Limit Request: tensorflow-neuron - 300 MB"
**Project**
tensorflow-neuron
https://pypi.org/manage/project/tensorflow-neuron

**Size of release/project**
300MB

**Which indexes**
PyPI

**Reasons for the request**
tensorflow-neuron is a TensorFlow version that supports the Amazon AWS Inferentia machine learning accelerator.
The package is bigger than the current PyPI limit.
We were not able to upload the initial release because of the size li

[2020-07-30 03:10] awsjoez opened #522 "Limit Request: mxnet-neuron - 200 MB"
**Project**
mxnet-neuron
https://pypi.org/project/mxnet-neuron/

**Size of release/project**
200MB

**Which indexes**
PyPI

**Reasons for the request**
mxnet-neuron is a MXNet version that supports the Amazon AWS Inferentia machine learning accelerator.
The package is bigger than the current PyPI limit.
We were not able to upload the initial release because of the size limit.
Could you please incr

[2020-07-30 11:44] pafonta opened #523 "Account recovery request"
Request for account recovery.

## PyPI Username

`pafonta`

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:

Hello there. I got a phone update which has reset my 2FA App and, due to the pandemic, I haven't generated recovery codes when it became available in March. Sorry for this chain of events and this situation. Thank you in advance for taking time to con

[2020-07-30 13:21] csalazar-rj opened #524 "Trying to register my package at pypi"
**Describe the bug**
I am trying to register my package with command below:

I inform the login and password, then:

Registering validador to https://upload.pypi.org/legacy/
Server response (500): <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)>

**Expected behavior**
Get my package registered

**To Reproduce**

**My Platform**

I have a MacBookPro 13"

**Add

[2020-07-30 15:40] di commented on #524
Hi @csalazar-rj, thanks for filing an issue. Can you tell us what tutorial/guide you're following? It seems to be fairly outdated.

I'd recommend following https://packaging.python.org/guides/distributing-packages-using-setuptools/ instead, specifically:

* You don't need to `register` a package anymore
* You should upload with https://pypi.org/project/twine/ instead.

[2020-07-30 16:41] di commented on #524
@csalazar-rj Can you try following the answer provided here? https://stackoverflow.com/questions/49768770/not-able-to-install-python-packages-ssl-tlsv1-alert-protocol-version

[2020-07-30 17:50] csalazar-rj commented on #524
Hi Did
I already figure it out. I had to use pip3 for my python 3

Thanks and Regras

[2020-07-30 19:39] UP929312 opened #525 "I had the package name Py2DF on the test division"
HTTPError: 400 Bad Request from https://test.pypi.org/legacy/
This filename has already been used, use a different version. See https://test.pypi.org/help/#file-name-reuse for more information.

But now, I can't upload anything, and I can't claim the repository either, anyway that you can reset the package so it's brand new and I can upload from fresh? (Py2DF - 0.0.1)

[2020-07-30 19:40] di commented on #524
Great, is it working now? If so please feel free to close this issue.

[2020-07-30 19:42] csalazar-rj commented on #524
Yes it is Di.
Thanks
I will close it now.

[2020-07-30 19:42] #524 closed

[2020-07-30 19:43] csalazar-rj commented on #524
The issue was happening because i was using an old statement to register and upload the package.

[2020-07-30 19:47] alex-birsan opened #526 "Security research packages removed"
Hello,

I noticed that all the packages uploaded by https://pypi.org/user/alexbirsan/ have been recently removed.

These packages were being used for legitimate security research, allowing me to uncover vulnerabilities in multiple organizations so far -- I can provide references if needed.

All of the organizations I am targeting have authorized the testing through their respective bug bounty prog

[2020-07-30 20:12] di commented on #526
Hi @alex-birsan, thanks for reaching out.

Your packages were removed because they were typosquatting on a number of prominent, legitimate packages. PyPI does not permit typosquatting for any purpose: even with the best intentions, these packages are often fairly scary/worrisome for the average PyPI user. Not every user has the ability to determine whether the package is malicious or not, especial

[2020-07-30 20:21] alex-birsan commented on #526
Thanks for the quick reply @di

I understand PyPI's policy on typosquatting, but none of the packages I am referring too were typo'd names. Some were indeed susceptible to being accidentally installed by some legitimate users (the tensorflow stuff), and I am perfectly fine with leaving those blocked.

But what about the others? Most of the package names I claimed later had no reason at all to be s

[2020-07-30 20:41] dr-dolittle opened #527 "Python pip: What are the ports and IP address ranges in use / that need to be allowed"
I have a Python Azure Function that is integrated in a subnet in a virtual network. Additionally there is a network security group associated to the subnet that controls inbound and outbound traffic to / from the subnet.

The requirement is to restrict traffic as much as possible what requires me to set rules that restrict the ports and destination addresses (for outbound traffic).

Network Securi

[2020-07-30 23:06] di commented on #526
I think this probably reason enough to not have these projects on PyPI. Ultimately PyPI is a tool for distributing valid Python projects. It's not intended to be a security research tool, and the burden that packages like this place on the 100% volunteer group of folks maintaining PyPI is not worth it.

To give you some insight: I've already spent about an hour of my time dealing with fallout as a

[2020-07-31 05:53] crwilcox commented on #527
Someone else may have an exact answer, but I think you will have a mix of addresses as PyPI is deployed to a number of services described at https://pypi.org/sponsors.

[fastly (CDN)](https://api.fastly.com/public-ip-list) is almost certainly needed to be allowed, but it is possible that, [aws (Compute)](https://docs.aws.amazon.com/general/latest/gr/aws-ip-ranges.html), and [google cloud (object s

[2020-07-31 06:10] alex-birsan commented on #526
The latter.

[2020-07-31 13:26] attardi commented on #510
I got no answer from AboSokar on https://github.com/attardi/wikiextractor/pull/180.
Please proceed to give me ownership of the wikiextractor project.

Thank you.

[2020-07-31 14:18] jamadden commented on #510
I have emailed @mAboshokor at the email address PyPI has on file. It was verified as of a year ago. However, the email immediately bounced.

I have no other way to contact this user. Accordingly, I will ask the admins to initiate the transfer.

[2020-07-31 21:16] zasdfgbnm opened #528 "Issue: clear all releases from test PyPI: torchani"
**Project**
https://test.pypi.org/project/torchani/

**Reason**
Hi, our project hits the size limit on testing PyPI, because we upload it often for testing. We don't need an increase in the project size, but could someone delete all existing releases so that there is room for future upload?

**Note**
This request is about testing PyPI, please don't touch the normal PyPI.

[2020-07-31 22:39] eulertour commented on #450
Do you have any estimate as to how long it will be before this is finished?

[2020-08-01 05:51] tekumara commented on #293
Thanks @jamadden for taking a look at this! I'll try and address your concerns.

Spark is a java application, and this distribution extends its capability to allow Spark to read/write from cloud object stores. Some of the java dependencies required by this new cloud functionality, conflict with the versions provided in the stock distribution. The only way I've found to provide a correct set of all

[2020-08-02 15:08] attardi commented on #510
Than you.

[2020-08-02 16:01] di commented on #528
Hi, you should be able to do this yourself as the project owner, is there a reason why you can't?

[2020-08-02 16:44] hroncok opened #529 "Please allow kliment to upload Printrun"
Hello, due to https://github.com/pypa/pypi-support/issues/355 the name Printrun is not allowed.

Could you please allow the user @kliment (also "kliment" on PyPI) to upload the project? They are the author of the software packaged in Fedora.

CCing @encukou for completes.

Thanks.

[2020-08-02 16:44] hroncok commented on #355
See also https://github.com/pypa/pypi-support/issues/529

[2020-08-02 16:53] di commented on #529
@encukou Can I get a 👍 ?

[2020-08-02 19:06] Marco-Sulla opened #530 "PEP 541 Request: frozendict"
**Project to be claimed**
`frozendict`: https://pypi.org/project/frozendict/

**Your PyPI username**
`Marco.Sulla`: https://pypi.org/user/Marco.Sulla

**Reasons for the request**
The project has no update by 4 years.

**Maintenance or replacement?**
Maintenance: https://github.com/Marco-Sulla/python-frozendict

**Contact and additional research**
I forked the project on Github and started to addre

[2020-08-02 19:11] zasdfgbnm commented on #528
@di I do have the permission to clear it, but there are so many releases, and it ask me to type the version for each delete...

[2020-08-02 19:22] di commented on #528
@zasdfgbnm You can delete the entire project, which will permanently remove all releases. This will require that you make a new upload immediately afterwards to regain ownership of it. Note that you will not be able to reuse previously published versions.

[2020-08-02 20:24] daggaz opened #531 "PEP 541 Request: PROJECT_NAME"
**Project to be claimed**

`json-stream`: https://pypi.org/project/json-stream

**Your PyPI username**

`daggaz`: https://pypi.org/user/daggaz

**Reasons for the request**

I received the following error when trying to upload:

The name in question doesn't seem to actually be used for any publicly available package.

**Maintenance or replacement?**

I intend to use the name (which appears entirely

[2020-08-02 20:42] encukou commented on #529
Yes, I trust Miro.

On August 2, 2020 6:53:58 PM GMT+02:00, Dustin Ingram <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-08-02 21:00] jamadden commented on #531
I believe that project is owned by @mitsuhiko.

It has not had a release, and that qualifies it as an invalid project, making it available for re-assignment.

We like to give the original owner a one-week courtesy period before requesting that the admins perform the transfer. Perhaps @mitsuhiko would be kind enough to perform the transfer directly.

[2020-08-02 21:25] di commented on #529
The project has been removed from the blocklist, please publish a release at soon as you are able.

[2020-08-02 21:25] #529 closed

[2020-08-02 23:07] blake commented on #449
I have actually corresponded with folks at Platform9 about this over the past few months. They requested I transfer the package to them, and my response was that I did not see a way to do that within PyPI.

I see it is possible to add collaborators to a project, however I have not been provided the name of an account to add so thus far I have been unable to exercise that option.

[2020-08-02 23:20] hroncok commented on #529
Thank You.

[2020-08-02 23:47] pshanbhag commented on #449
Hey @blake, can you add `pshanbhag` as an owner of the pypi project? Thanks.

[2020-08-03 01:57] PaulKGrimes opened #532 "Account recovery request"
Request for account recovery.

## PyPI Username

`paulkgrimes`

---

##  Reason for request

Reason:
Lost 2FA authentication app or security token due to phone factory reset following hardware failure.

[2020-08-03 02:00] PaulKGrimes opened #533 "Account recovery request"
Request for account recovery.

## PyPI Username

`paulkgrimes`

---

##  Reason for request

Reason: Lost 2FA authentication app or security token due to phone factory reset following hardware failure

[2020-08-03 21:33] ptvirgo opened #534 "PEP 541 request: dbfread"
**Project to be claimed**
`dbfread`: https://pypi.org/project/dbfread/

**Your PyPI username**
`CatalystCooperative`: https://pypi.org/user/CatalystCooperative

**Reasons for the request**

Hello!

My name is Pablo, I'm a software developer working with the (Catalyst
Cooperative)[https://catalyst.coop/] out of Philadelphia, PA.  We'd like to
take up maintenance of an abandoned project:
(DBFRead)[h

[2020-08-04 01:19] jheld opened #535 "PEP 541 Request: django-easy-audit"
**Project to be claimed**

`django-easy-audit`: https://pypi.org/project/django-easy-audit

**Your PyPI username**

`snoopy1497`: https://pypi.org/user/snoopy1497

**Reasons for the request**

I've been contributing for years and am now maintaining the project with permissions to merge as well as release to PyPI; I have released several versions. We haven't been able to communicate with the mainta

[2020-08-04 01:34] zasdfgbnm commented on #528
@di Yes, this approach works. Thanks for the suggestion. Closing now.

[2020-08-04 01:34] #528 closed

[2020-08-04 11:50] bsrdjan commented on #258
Hello @yeraydiazdiaz,

just curious if any updates here? PyRFC users relatively often install `pyrfc` by mistake, instead of `pynwrfc` and raise issues like: [PyRFC/#189](https://github.com/SAP/PyRFC/issues/189#issuecomment-667230809).
Thanks and regards, srdjan

[2020-08-04 20:10] webknjaz opened #536 "[PEP 541] Spam account detected"
**Reasons for the request**

I was looking at https://pypi.org/search/?c=Topic+%3A%3A+System+%3A%3A+Software+Distribution trying to figure out if this classifier fits the needs of my project by example.

And what I noticed is that the first page is literally flooded with `Reserve names for currrent development items until release` projects. 11 entries out of 20 are dummy empty projects. They all t

[2020-08-05 06:47] ToToL opened #537 "PEP 541 Request: prelude"
**Project to be claimed**
`prelude`: https://pypi.org/project/prelude/

**Your PyPI username**
`totol`: https://pypi.org/user/totol/

**Reasons for the request**
I wrote an email to Michel Alexandre Salim to ask him if the project is abandonned and if I can take over it.
His response was clear : "Certainly, I wouldn't want to hog the namespace unnecessarily."
Prelude is a SIEM (https://www.prelude

[2020-08-05 08:56] mattmezza opened #538 "PEP 541 Request: fun"
**Project to be claimed**

`fun`: https://pypi.org/project/fun

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/mattmezza

**Reasons for the request**

I believe this project is abandoned.

**Maintenance or replacement?**

I intend to publish a different one. It's a set of tools for functional programming in python that we want to open source at my company. We do not have a public repos

[2020-08-05 10:29] jamadden commented on #537
If you're in contact with the owner, can you ask the owner to perform the transfer (assign your account as an additional owner)? That's much faster than going through the PEP 541 process. Transfers that require admin action may take some time.

[2020-08-05 10:39] jamadden commented on #538
There's also an argument to be made that the project contains no functionality. It's only contents (in `fun.py`) are:
[code]

I'm emailed the address PyPI has on file for the project owner. That was the only means of contact I could find.

[2020-08-05 11:11] pradyunsg opened #539 "PEP 541 Request: elegant"
**Project to be claimed**

`elegant`: https://pypi.org/project/elegant

**Your PyPI username**

`pradyunsg`: https://pypi.org/user/pradyunsg

**Reasons for the request**

The project is an invalid project, as far as I can tell.

**Maintenance or replacement?**

Replacement, with a [Sphinx theme](https://github.com/pradyunsg/materialism) that I'm working on. Currently using the name "materialism" f

[2020-08-05 12:00] jamadden commented on #539
Hi @pradyunsg ! I concur that this project (along with many others published by that user) is invalid. As such, it can be transferred.

The moderators have a policy of trying to provide a one-week courtesy notification to the project owner before that happens. As such, I've emailed the verified address PyPI has on file for the project owner letting them know the project will be transferred on or a

[2020-08-05 12:16] pradyunsg commented on #539
Awesome! Thanks @jamadden! :)

[2020-08-05 14:08] daler-rahimov opened #540 "Cannot install any package with pip"
## My Platform

pip version:
  pip 20.2 from /home/daler/projects-local/lpav2/lpa-web/venv_py3/lib/python3.5/site-packages/pip (python 3.5)

OS is WSL:
  Distributor ID: Ubuntu
  Description:    Ubuntu 16.04.6 LTS
  Release:        16.04
  Codename:       xenial

PyPi:
  I can connect to PyPi with a web browser and download any packages

## Network telemetry

### DNS Resolution

[code]

[code]

[c

[2020-08-05 14:22] michel-slm commented on #537
I'm the current owner, I'll try and transfer the project now

[2020-08-05 17:24] rtibbles commented on #498
Anything I can do to help this process along? If it is easier, I could probably handle this account being deleted, so I can recreate the account on the same username and email address - I have checked that all the projects I maintain have other maintainers associated with them.

[2020-08-05 19:26] di commented on #540
Can you show us the `pip install` command that is failing as well?

[2020-08-05 19:48] di commented on #525
Sorry for the trouble! You'll need to publish a new version. Any version that you've previously used will be unavailable.

[2020-08-05 19:56] di commented on #526
Ultimately if you are interested in protecting users from this kind of attack, there are better ways to do it that protect the entire ecosystem, not just a specific set of organizations with bug bounties.

One idea that has been floated before is automatically blocking any new project name that currently have a non-trivial amount of 404 requests served by PyPI for it (or at least requiring approva

[2020-08-05 22:28] JoshKarpel commented on #483
@ewdurbin Sorry for the direct bump (it looks like you've handled account recoveries before), but would it be possible for someone to take a look at this?

[2020-08-06 05:48] daler-rahimov commented on #540
[code]

[code]

[2020-08-06 09:59] SkezzaB commented on #525
So I used version 0.0.1, but when I also use 0.0.2 it doesn't work, I can't
seem to change the version to anything and it still work?

On Wed, Aug 5, 2020 at 8:49 PM Dustin Ingram <notifications@github.com>
wrote:

[2020-08-06 14:57] di commented on #525
Did you rebuild your distribution after changing the version? Are you trying to upload a specific file, or doing something like `twine upload dist/*`? If so, the latter might be trying to upload old distributions, you should do `twine upload --skip-existing dist/*` instead.

[2020-08-06 21:07] zomGreg opened #541 "Account recovery request"
Request for account recovery.

## PyPI Username

`zomgreg`

---

##  Reason for request

Reason:

I think the email associated with the zomgreg username is tied to my old work account, which no longer exists, something like zomgreg@enstratus.com or zomgreg@enstratius.com is the most likely. Reset password will not work because those companies no longer exist (startups).

[2020-08-06 22:34] richard-scott opened #542 "Account recovery request"
Request for account recovery.

## PyPI Username

`sourcedefender`

---

##  Reason for request

Reason:  Lost 2FA authentication app and haven't created recovery codes.

[2020-08-07 16:51] hellock commented on #513
@di @jamadden Tens of thousands of users are expecting the package. Could you kindly help with this? Thanks for your time!

[2020-08-07 17:10] attardi commented on #510
Any progress on this?

[2020-08-07 17:35] jamadden commented on #513
I have emailed the address that PyPI has on file for 651juan. Note that PEP 541 allows up to 6 weeks to wait for a response.

[2020-08-08 02:35] hellock commented on #513
Thanks!

[2020-08-08 03:25] shwetaoj opened #543 "Limit Request: intel-tensorflow-avx512, 450 MB"
Project: intel-tensorflow-avx512

Size:  450MB on pypi.org and test.pypi.org

Which indexes: both

Reasons for the request: intel-tensorflow is intel optimized tensorflow, which has better performance on intel platform. We are trying to release 2.3 intel-tensorflow. Going forward along with avx whls(default) we would like to release avx512 whls which are for another hardware. Hence we created a ne

[2020-08-08 07:08] dev-11 commented on #485
It’s been more than a month now guys... @di @ewdurbin

[2020-08-08 16:47] ice1x opened #544 "instabot-py seems like abandoned"
**Project**
https://pypi.org/project/instabot-py/

**Size of release/project**
it's not mine

**Which indexes**
it's not mine

**Reasons for the request**
https://pypi.org/project/instabot-py/ seems like abandoned
No any worging link on the page

As well - it stop works because of "Bad request" and 400 http status code by login() command on code:
`                login = self.s.post(

[2020-08-09 19:44] Chandler commented on #362
@TylerGubala is the new increased limit of 150mb enough to upload your first set of wheels to pip? Or are you still trying to make them smaller.
The ones on drive, https://drive.google.com/drive/folders/1uSiTQLvlUxu7PDT2TCT4XIrwGwn1WWph

[2020-08-09 23:31] theceebee commented on #378
@yeraydiazdiaz have we satisfied the the requirements to claim the pyimgflip project?

[2020-08-10 02:04] zomGreg commented on #541
is this thing on?

[2020-08-10 04:26] daler-rahimov commented on #540
Any news on this issue or any workarounds. It's taking too much time to create wheelhouse on another machine every time I need to install anything.

[2020-08-10 07:25] renefritze opened #545 "PEP 541 Request: pymor (on test.pypi.org)"
`pymor`: https://test.pypi.org/project/pymor

**Your PyPI username**

`koshi`: https://test.pypi.org/user/koshi/

**Reasons for the request**
Being able to test our releases on test.pypi.org would greatly help with an automated release process.
We've been releasing pyMOR regularly on pypi.org proper since 2014: https://pypi.org/project/pymor/#history
The pymor project on test.pypi.org had one uplo

[2020-08-10 10:34] domdinicola commented on #463
does anyone know how much it take to get updates on these issues?

[2020-08-10 15:43] di commented on #540
Your `curl` command is definitely hanging at the point where it attempts to verify the certificate. Here's what I would expect to see instead:

[code]

This is likely an issue with your local certificate bundle or TLS/SSL library.

Can you show us the result of `openssl s_client -showcerts -connect pypi.org:443`?

[2020-08-10 16:40] pshanbhag commented on #449
Hey @blake, any updates on this?

[2020-08-10 17:11] lkagami commented on #506
Thanks for your response!  The Ambertools package cannot be installed via yum, apt or similar command.  It is necessary to add pre-builded binaries and assign environment variables.  I am trying to use the suggested methods.  I will contact you if I am unsuccessful.  Thank you!

[2020-08-10 17:59] leaguilar opened #546 "PEP 541 Request: easeml"
**Project to be claimed**

`easeml`: https://pypi.org/project/easeml

**Your PyPI username**

`easeml`: https://pypi.org/user/easeml

**Reasons for the request**

`Invalid project`
"Package name squatting" for the easeml package. Additionally, it fulfills the abandonment criteria (Owner not reachable, no releases during the past year, no activity in the listed homepage).

**Maintenance or replacem

[2020-08-11 06:50] daler-rahimov commented on #540
[code]
It says "CONNECTED" and hangs.

I don't think it's because of SSL. I did try a different virtual machine on the same network and I'm getting the same results. It looks like it's **related somehow to my Internet provider**. I tried **different network provider** (a cellular network) and everything is working just fine.

I'll close this issues since I got a workaround and probably this is rar

[2020-08-11 06:50] #540 closed

[2020-08-11 18:38] eriknw opened #547 "Limit Request: grblas - 200 MB"
**Project**
grblas
https://pypi.org/project/grblas/

**Size of release/project**
200MB

**Which indexes**
PyPI

**Reasons for the request**
`grblas` is a Python wrapper around [GraphBLAS](https://github.com/DrTimothyAldenDavis/GraphBLAS), which is a C library for doing sparse linear algebra and is well suited for graph algorithms.  The wheels we create that contain the GraphBLAS C library range be

[2020-08-12 02:39] zchrissirhcz opened #549 "pip install -r requirements.txt failed, none packages installed?"
Hi,

I've just write up a requirements.txt for several lines, and the last line with a typo, other lines correct. Once execute `pip install -r requirements.txt`, it report failed. After fixing that typo, and re-run `pip install -r requirements.txt`, I found it **none packages was installed, and all packages have to be downloaded and installed again**. Why is this? What I expected is, only the pack

[2020-08-12 14:52] rajeshisnepali opened #548 "Account recovery request"
Request for account recovery.

## PyPI Username

`rajeshisnepali`

---

##  Reason for request

Reason: I recently factory reset my phone. Unfortunately, there was no recovery codes saved in my password manager. Please disable my 2FA or provide some recovery codes for my account.

[2020-08-12 15:06] di commented on #549
Can you show us the output from the `pip install` command?

[2020-08-12 16:03] zchrissirhcz commented on #549
Hi, @di I've tried again on my another computer, and this time it uses cached files. I think it might be my fault that I didn't see that output message carefully. So sorry.

[2020-08-12 16:05] zchrissirhcz commented on #549
The output message is:

[code]

[2020-08-12 16:57] di commented on #549
That looks incomplete, is there more to it?

[2020-08-12 19:56] vidstige commented on #425
Hi @yeraydiazdiaz, what did the administrator say? What's the latest update on this issue?

[2020-08-13 10:52] srikapardhi opened #550 "Account recovery request"
Request for account recovery.

## PyPI Username

`srikapardhi`

---

##  Reason for request

Reason:
Lost 2FA authentication app after phone format. Not able to recover 2FA accounts after phone format.

[2020-08-13 14:39] zchrissirhcz commented on #549
[code]

[2020-08-13 17:29] RignonNoel opened #551 "PEP 541 Request: dry-rest-permissions"
**Project to be claimed**

`PROJECT_NAME`: https://pypi.org/project/dry-rest-permissions/

**Your PyPI username**

`USER_NAME`: https://pypi.org/user/RignonNoel/

**Reasons for the request**

The project is abandoned since January 2018

**Maintenance or replacement?**

We intend to continue the exact same package and just maintain it and enhance it with time.

**Contact and additional research**

[2020-08-13 19:06] ewdurbin commented on #512
transfer complete on basis of trademark and lack of functionality.

[2020-08-13 19:06] #512 closed

[2020-08-13 19:19] busunkim96 commented on #512
@ewdurbin Thank you!

[2020-08-14 00:57] TylerGubala commented on #362
@Chandler Sorry for the late reply.

I am still trying to make them smaller but the 150Mb is sufficient for the size they are currently.

The only issue is I cannot upload the linux ones since they are not `manylinux` compatible. More to come soon. Thanks all.

[2020-08-14 10:57] andersliland opened #552 "Account recovery request"
Request for account recovery.

## PyPI Username

`andersliland`

---

##  Reason for request

Reason:
  - Lost 2FA authentication app or security token

[2020-08-14 21:50] assaftibm commented on #514
Could you please provide a resolution on this?

[2020-08-15 14:55] pradyunsg commented on #539
@jamadden Did we get a response?

[2020-08-15 15:01] pradyunsg commented on #419
Sounds reasonable to me. Any thoughts @pypa/pypi-moderators?

[2020-08-15 15:58] ewdurbin commented on #419
Done, thanks for the legwork.

![5B33AC5D-4241-4065-9F9E-69AAB8ED3127](https://user-images.githubusercontent.com/1200832/90316192-8b5e0980-deee-11ea-8685-73498db218eb.jpeg)

[2020-08-15 15:58] #419 closed

[2020-08-15 17:28] kmaehashi opened #553 "Limit Request: cupy-cuda110 - 200MB"
**Project**
cupy-cuda110 - https://pypi.org/manage/project/cupy-cuda110/releases/

**Size of release/project**
200MB

**Which indexes**
PyPI

**Reasons for the request**
We're developing [CuPy](https://github.com/cupy/cupy), which provides an implementation of NumPy-compatible multi-dimensional array accelerated by CUDA. The limit increase is needed to include dependent libraries (NVIDIA NCCL, etc

[2020-08-15 17:53] filipetavares opened #554 "Account recovery request"
Request for account recovery.

## PyPI Username

`fmt`

---

##  Reason for request

Reason:
I lost my backup password from my 2FA application. Thus I'm restarting all my accounts. I don't have any packages in this account, so you can either delete or reset the account. I just want to be able use my email in a pypi account.

Thanks for your help.

[2020-08-16 03:29] seibert opened #555 "PEP 541 Request: llvm-lite"
**llvm-lite**
`PROJECT_NAME`: https://pypi.org/project/llvm-lite

**seibert**
`USER_NAME`: https://pypi.org/user/seibert

**Reasons for the request**

This project appears to be typo-squatting our project, `llvmlite`: https://pypi.org/project/llvmlite/
The contents of the `llvm-lite` 0.0.0 sdist appear to be a copy of the `llvmlite` source code from our 0.33.0 release.  (Notably, the package name

[2020-08-16 18:42] munshkr opened #556 "Account recovery request"
Request for account recovery.

## PyPI Username

`munshkr`

---

##  Reason for request

Reason: Lost both 2FA authentication app and recovery codes.

[2020-08-16 22:34] docyx opened #557 "User leesoar is name squatting 50+ packages"
[leesoar](https://pypi.org/user/leesoar/) seems to be name squatting 50+ 'common-word' packages (`employ`, `cert`, `adidas`, `ticket`, etc.) All the packages have the exact same "Develop soon" description and link to a website [leesoar.com](https://leesoar.com/).

cc @leesoar

[2020-08-17 14:33] Ilyushin opened #559 "Account recovery request"
Request for account recovery.

## PyPI Username

`ilyushin`

---

##  Reason for request

Reason: Lost 2FA authentication app or security token

[2020-08-17 17:22] MSeal commented on #484
@jamadden I believe it's been 6 weeks since the re-reach out. Have you received any responses on your end? I haven't on any of my attempts.

[2020-08-17 18:16] shwetaoj commented on #543
Hi @jamadden and @pradyunsg could you please look into this.? Very appreciated

[2020-08-17 19:20] SikoraWojciech opened #560 "Account recovery request"
Request for account recovery.

## PyPI Username

`SikoraWojciech`

---

##  Reason for request

Reason:
- Lost 2FA authentication app or security token

[2020-08-17 20:46] kuzn137 opened #561 "Account recovery request"
Request for account recovery.

## PyPI Username

`username`

---

##  Reason for request

Reason: I forgot My USERNAME!!!!

[2020-08-17 21:32] alfaro96 opened #562 "Account recovery request"
## PyPI Username

`alfaro96`

---

##  Reason for request

Lost 2FA authentication app and recovery codes.

[2020-08-17 23:27] #561 closed

[2020-08-18 01:06] amckenny opened #563 "Account recovery request"
Request for account recovery.

## PyPI Username

`amckenny`

---

##  Reason for request

Reason:
Had to factory reset my phone with the google authenticator app on it. Still have my pypi password and token if that's helpful/necessary.

[2020-08-18 02:34] Leesoar commented on #557
Thanks. We are a studio and these packages are coming soon.

[2020-08-18 02:43] Leesoar commented on #557
Our team wants to breathe more enercy into the Python community. So we came up with a lot of ideas, we've developed some libraries, and we're going to develop other soon.

[2020-08-18 02:48] docyx commented on #557
@Leesoar That's a pretty weak excuse. At least wait until you've got a basic prototype before claiming the name.

[2020-08-18 02:51] Leesoar commented on #557
Brother, people all want a good name for the idea they think, don't they?

It's true that there are a lot of malicious online squatters, but we are not, and you can look at the projects we have done.

[2020-08-18 04:46] kmaehashi commented on #553
@di Could you please take a look on this?

[2020-08-18 07:23] Kushal0189 opened #564 "FaceMasque - 161 MB"
**Project**

**Size of release/project**

**Which indexes**

**Reasons for the request**

[2020-08-18 07:26] Kushal0189 opened #565 "FaceMasque - 161 MB"
**Project**

**Size of release/project**

**Which indexes**

**Reasons for the request**

[2020-08-18 15:23] di commented on #565
Duplicate of https://github.com/pypa/pypi-support/issues/564.

[2020-08-18 15:23] #565 closed

[2020-08-18 15:23] di commented on #564
Hi, please fill out the fields above.

[2020-08-18 20:14] rsketine commented on #543
AVX512 packages are complementary to the regular Intel TensorFlow releases. These are required for a good user experience on all new releases of Intel HW. We would like to expand our package publishing to 2 types one default AVX and AVX512. Can you please help increase the size for these package publishing. @jamadden can you please check this out and also let us know if you have any questions.

[2020-08-19 05:41] Kushal0189 commented on #564
Project : FaceMasque - 1.0.0

Size of release/project - 250 MB

Which indexes - PyPi

Reasons for the request - My project unable for uploading to PyPi because of only 60 MB file size allowance by PyPi.

[2020-08-19 07:39] nekokatt opened #566 "Outlook.com email address becoming unverified and not receiving verification emails."
Looks like a dupe of #271 and #153, but both are closed and this issue has only just started occurring.

My outlook.com email address has been marked as unverified due to "too many delivery problems"; resending a verification email never results in one being received, so as of now I am unable to complete any deployments to PyPI.

Is there any way around this? I'd rather not have to make a whole ne

[2020-08-19 11:24] nekokatt commented on #566
Looks like it is working again now. Thanks.

[2020-08-19 11:24] #566 closed

[2020-08-19 11:41] Oftatkofta commented on #465
I'm still very much interested in an account recovery.

[2020-08-19 15:40] JosiasAurel opened #567 "Account recovery request"
Request for account recovery.

## PyPI Username

`JosiasAurel`

---

##  Reason for request

  - Lost 2FA authentication app or security token

Reason:

I had uninstalled by error my 2FA client on my phone and that caused me to lose my code

[2020-08-20 00:48] kumitatepazuru opened #568 "Issue: Limit Request: cszp - 169 MB"
**Project**
https://test.pypi.org/project/cszp/
https://pypi.org/project/cszp/

**Size of release/project**
169MB

**Which indexes**
PyPI and Test PyPI

**Reasons for the request**
Software that makes it easy to run robocup's 2D simulation league programs.
Because of the huge library that was created to add match binaries of opposing players.

[2020-08-20 02:24] bconstanzo opened #569 "Limit Request: phantom - 200MB"
**Project**

phantom (https://pypi.org/project/phantom/)

**Size of release/project**

Currently the .egg sits at 99Mb, but we're expecting larger releases along the way. **Edit:** I notice now that I misstyped 100Mb (runding up a bit since it's 99.7)  in the title and it figures as 200Mb.

**Which indexes**

PyPI.

**Reasons for the request**

phantom is a library for digital image forensics whic